<div class="field_settings_container">
  <form [formGroup]="form">
    <section>
      <sw-input-checkbox class="settings-field" formControlName="allowList">
        <span class="input_label">Allow List of Values</span>
      </sw-input-checkbox>
      <span class="hint">This will let the user enter separated items.</span>
    </section>
    <section>
      <div class="title">
        <sw-input-toggle formControlName="showDefaultValue">
          <span class="input_label">default value</span>
        </sw-input-toggle>
      </div>
      <sw-input-text *ngIf="form.get('showDefaultValue').value" class="settings-field" formControlName="defaultValue">
      </sw-input-text>
    </section>
    <section>
      <div class="title">
        <sw-input-toggle formControlName="showValidators">
          <span class="input_label">validate</span>
        </sw-input-toggle>
      </div>
      <ng-container *ngIf="form.get('showValidators').value" formGroupName="validators">
        <div class="row_container">
          <div class="row_container__input">
            <sw-dropdown-input formControlName="validator" [multiple]="false" [options]="validatorsOptions">
              <span class="input_label">Validate Criteria</span>
            </sw-dropdown-input>
          </div>
        </div>
        <div class="row_container">
          <div class="row_container__input">
            <sw-input-number formControlName="min">
              <span class="input_label">Min Character</span>
            </sw-input-number>
          </div>
          <div class="row_container__input">
            <sw-input-number formControlName="max">
              <span class="input_label">Max Character</span>
            </sw-input-number>
          </div>
        </div>
      </ng-container>
    </section>
  </form>
</div>