<div class="row" style="margin-right: 0; margin-left: 0;">
  <div class="col-3" style="padding-right: 0;padding-left: 0;">
    <div class="sidebar-wrap">
      <div class="d-flex flex-direction-row justify-content-between">
        <sw-button class="outline-btn" (click)="prevStep()">
          <i class="fas fa-arrow-left"></i>
        </sw-button>
        <div class="sidebar-title">
          List of Accounts
        </div>
      </div>

      <sw-input-button-group
        class="preview"
        [formControl]="previewType"
        [options]="buttonOptions"
        [(ngModel)]="formType"
      ></sw-input-button-group>

      <div class="search-wrap" data-e2e="search-wrap">
        <input
          class="search"
          data-e2e="search"
          [formControl]="filter"
          placeholder="Search"
          [ngClass]="{ 
            'disabled': !isPreviewByAccount,
            'search--disabled': !isPreviewByAccount
          }"
        />
        <i class="icon fas fa-search"></i>
      </div>

      <div
        class="filtered_list btn-group-vertical"
        [ngClass]="{ 'filtered_list--disabled': !isPreviewByAccount }"
      >
        <ng-container *ngFor="let groupItem of filteredRoundsList">
          <div
            class="filtered_list__group_title"
            *ngIf="groupItem.accounts.length > 0"
          >
            {{ groupItem.name | titlecase }} ({{ groupItem.accounts.length }}):
          </div>

          <button
            type="button"
            *ngFor="let accountItem of groupItem.accounts"
            class="btn btn-secondary filtered_list__item"
            [disabled]="!isPreviewByAccount"
            [ngClass]="{
              'disabled': !isPreviewByAccount,
              'filtered_list__item--selected': isSelectedAccount(accountItem)
            }"
            (click)="selectAccount(accountItem)"
          >
            {{ getAccountTitle(accountItem) }}
          </button>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-9" style="padding-right: 0;padding-left: 0;width: 100%;">
    <!-- <app-preview-form [formId]='id'></app-preview-form> -->
    <!-- {{ isPreviewByAccount ? "byAccount" : "generic (/view-form)" }} : -->
    <!-- {{ isPreviewByAccount ? getFamilyId() : "" }} -->
    <ng-container *ngIf="isPreviewByAccount && getFamilyId(); else onlineView">
      <sw-online-form
        [formId]="getFormId()"
        [accountId]="getFamilyId()"
        [isViewMode]="true"
        [isMenuShow]="true"
        [isReviewMode]="false"
        (goBack)="onBack($event)"
        (saveNext)="onSaveNext($event)"
      ></sw-online-form>
    </ng-container>
    <ng-template #onlineView>
      <sw-online-form
        [formId]="getFormId()"
        [isViewMode]="true"
        [isMenuShow]="true"
        [isReviewMode]="false"
        (goBack)="onBack($event)"
        (saveNext)="onSaveNext($event)"
      ></sw-online-form>
    </ng-template>
  </div>
</div>
