<div class="row" style="margin-right: 0; margin-left: 0;">
  <div class="col-3" style="padding-right: 0;padding-left: 0;">
    <div class="sidebar-wrap">
      <div class="sidebar-title">
        List of Accounts
      </div>
      <sw-input-button-group class="preview" [options]="buttonOptions" [(ngModel)]="formType"></sw-input-button-group>

      <div class="search-wrap" data-e2e="search-wrap">
        <input class="search" data-e2e="search" [formControl]="filter" placeholder="Search" />
        <i class="icon fas fa-search"></i>
      </div>

      <div class="filtered_list btn-group-vertical">
        <ng-container *ngFor="let groupItem of filteredAccountList">
          <div class="filtered_list__group_title" *ngIf="groupItem.data.length > 0">
            {{ groupItem.name | titlecase }} ({{ groupItem.data.length }}):
          </div>

          <button
            type="button"
            *ngFor="let personItem of groupItem.data"
            class="btn btn-secondary filtered_list__item"
            [class.filtered_list__item--selected]="isSelectedPerson(personItem)"
            (click)="selectPerson(personItem)"
          >
            {{ personItem.first_name }} {{personItem.last_name}}
          </button>
        </ng-container>
      </div>

    </div>
  </div>
  <div class="col-9" style="padding-right: 0;padding-left: 0;width: 100%;">
    <!-- <app-preview-form [formId]='id'></app-preview-form> -->
    {{getFamilyId()}}
    <ng-container *ngIf="getFamilyId()">
      <sw-online-form
        [formId]="'5d8ddc0e8ffb08460b4c2e02'"
        [accountId]="getFamilyId()"
        [isViewMode]="true"
        [isMenuShow]="true"
        [isReviewMode]="false"
        (goBack)="onBack($event)"
        (saveNext)="onSaveNext($event)"
      ></sw-online-form>
    </ng-container>
    <ng-container *ngIf="!getFamilyId()">
      <sw-online-form
        [formId]="'5d8ddc0e8ffb08460b4c2e02'"
        [isViewMode]="true"
        [isMenuShow]="true"
        [isReviewMode]="false"
        (goBack)="onBack($event)"
        (saveNext)="onSaveNext($event)"
      ></sw-online-form>
    </ng-container>
  </div>
</div>

