<div class="row no-gutters align-items-center">
  <div class="col-1 pb-2">
    <label class="app-checkbox-container">
      <input
        type="checkbox"
        [(ngModel)]="group.exist"
        (change)="onGroupToggle($event)"
      />
    <span class="app-checkbox-checkmark"></span>
  </label>
  </div>
  <div class="col-10 pb-1 row align-items-center no-gutters side-bar-item">
    <div class="col-2">
      <span class="v-eclipse-padding"><i class="fas fa-ellipsis-v dragable-i"></i></span>
      <span class="v-eclipse-padding"><i class="fas fa-ellipsis-v dragable-i"></i></span>
    </div>
    <div class="col">
      <span class="side-bar-item-font" >{{group.name | titlecase}}</span>
    </div>
    <div  class="col-1 mr-1">
      <button class="btn btn-sm" (click)="showNested = !showNested">
        <i class="fas dragable-i" [ngClass]="showNested ? 'fa-caret-up' : 'fa-caret-down'"></i>
      </button>
    </div>
  </div>
  <div
    class="col-10 offset-1 side-bar-item-modal rounded pb-2 ngx-dnd-container"
    direction="vertical"
    [copy]="true"
    [model]="group.fields"
    [hidden]="!showNested"
    ngxDroppable
  >
    <div
      class="my-1"
      *ngFor="let field of group.fields"
      [model]="field"
      [ngxDraggable]="idSectionForDragDrop"
    >
      <div *ngIf="field.type === 113" class="ml-2 border-open-setting">
        <app-side-bar-group
          [nestedLevel]="nestedLevel + 1"
          [group]="field"
          [idSectionForDragDrop]="idSectionForDragDrop"
          (fieldToggle)="onFieldToggle()"
        ></app-side-bar-group>
      </div>
      <div class="ml-2">
        <app-side-bar-field
          *ngIf="field.type !== 113"
          [nestedLevel]="nestedLevel"
          [field]="field"
          [style]="field.mapped === ''"
          (fieldToggle)="onFieldToggle()"
        ></app-side-bar-field>
      </div>
    </div>
  </div>
</div>

