<div
  class="app-select-multi-search-field"
  [ngClass]="{'app-select-multi-search-field-has-error': isInvalid}"
>
  <label
    class="app-select-multi-search-field-label"
    [for]="idElement"
  >
    {{labelTitle}}
  </label>
  <ng-select
    [ngClass]="{'app-select-multi-search-clear-btn': !showClearBtn}"
    [items]="items"
    labelForId={{idElement}}
    bindLabel={{bindLabel}}
    bindValue={{bindValue}}
    [(ngModel)]="defaultItemIndex"
    (change)="onChange($event)"
    multiple="true"
    (blur)="onTouched()"
  >
    <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
      <div class="ng-value" *ngFor="let item of items">
        <span class="ng-value-label">
          <div
            class="ng-value-label-image-container"
            [ngStyle]="{'background-image': item.avatar ? 'url(' + item.avatar + ')' : '' }">
          </div>

          {{item.name}}
        </span>
        <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
      </div>
    </ng-template>
  </ng-select>
</div>
