.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-sm-flex {
  @include media-breakpoint-up(sm) {
    display: flex;
  }
}

.d-md-flex {
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.d-lg-flex {
  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.d-xl-flex {
  @include media-breakpoint-up(xl) {
    display: flex;
  }
}
