@import '../variables/colors.scss';

%standart-btn {
  text-transform: capitalize;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0px;
}

%standart-scrollbar {
  &::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px $filter-color;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: $filter-color;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
}

%standart-checkbox {
  height: 28px;
  line-height: 28px;
  label {
    line-height: 20px;
    font-size: 12px;
    text-indent: 8px;
    font-weight: bold;
    &:before {
      width: 14px;
      height: 14px;
      border: 0px;
    }

    &:after {
      width: 8px;
      height: 5px;
    }
  }

  input[type="checkbox"]:checked + label::before,
  input[type="checkbox"]:checked + label::before {
    width: 14px;
    height: 14px;
    border: 0px;
  }
}

%standart-label{
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
}

sw-input-text,
sw-input-mask-text {
  span.icon {
    position: absolute;
    right: 0.85rem;
    top: 0.75rem;
    bottom: 0.5rem;
    i {
      color: $gray-color;
    }
  }
  .input_text {
    &__input {
      & + span {
        &.placeholder {
          pointer-events: none;
          position: absolute;
          top: 0.125rem;
          left: 0.75rem;
          font-size: 0.75rem;
          line-height: 0.75rem;
          color: $gray-color;
          transition: all 0.4s ease-in-out;
        }
      }
    }
    &.empty {
      .input_text__input {
        & + span {
          &.placeholder {
            font-size: 1rem;
            line-height: 1.5rem;
            top: 0.75rem;
            left: 1.25rem;
          }
        }
      }
    }
  }
  .errors {
    span {
      color: #E65757;
      font: 400 10px/13px $nunito-sans;
    }
  }
}

sw-input-text.settings-field,
sw-input-mask-text.settings-field{
  .input_text {
    &__input {
      padding: 6px 10px 4px 10px;
      & + span {
        &.placeholder {
          display: none;
        }
      }
    }
    &.empty {
      .input_text__input + span {
        &.placeholder {
          display: flex;
          top: 4px;
        }
      }
    }
  }
}

sw-input-toggle {
  span {
    &.label {
      font-family: "Nunito Sans";
      font-weight: bold;
      font-size: 12px;
      color: $black;
    }
  }
}

sw-input-button-group {
  .input_button_group {
    display: flex;
    align-items: center;
    .input_button {
      &:first-of-type {
        button {
          border-radius: 4px 0 0 4px!important;
        }
      }
      &:last-of-type {
        button {
          border-radius: 0 4px 4px 0!important;
        }
      }
    }
  }
}

sw-input-button-group.preview {
  .input_button_group {
    .input_button {
      background: $light-purple;
      border: 1px solid #CFD4EF;
      box-sizing: border-box;
      button {
        background-color: $light-purple !important;
        border: none !important;
        padding-top: 3px;
        padding-bottom: 3px;
      }
      &:first-of-type {
        border-radius: 100px 0 0 100px!important;
        border-right: none !important;
        button {
          border-radius: 100px 0 0 100px!important;
        }
      }
      &:last-of-type {
        border-radius: 0 100px 100px 0!important;
        border-left: none !important;
        button {
          border-radius: 0 100px 100px 0!important;
        }
      }
      &.active {
        button  {
          border-radius: 100px !important;
          background: $element-base-color !important;
          color: $white;
        }
      }
    }
  }
}

sw-select.empty {
  .container {
    &:not(:focus-within) {
      padding: 5px 10px;
      .label {
        position: absolute;
        top: 8px;
        font-size: 12px;
      }
    }
  }
}


sw-dropdown-input,
sw-select,
sw-input-phone-number,
sw-input-email,
sw-input-number {
  .phone_number,
  .email,
  .container,
  .input_number {
    span.content-text {
      font-style: normal;
      font-size: 12px;
      margin-top: 10px;
    }
    @extend %placeholder;
    &.empty {
      &:not(:focus-within) {
        padding: 5px 10px;
        .label {
          position: absolute;
          top: 8px;
          font-size: 12px;
        }
      }
    }
    .input_ico {
      position: absolute;
      top: 8px;
      right: 8px;
    }
  }
}

sw-dropdown-input.settings-field {
  .dropdown_input_container {
    .label {
      display: none;
      width: calc(100% - 28px);
      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    &.empty {
      &:not(:focus-within) {
        .label {
          display: flex;
          top: 2px;
        }
      }
    }
  }
}

sw-input-textarea {
  .input_textarea {
    @extend %placeholder;
    .label {
      position: absolute;
      top: 0;
      font-size: 12px;
    }
  }
}

.field_settings_container {
  padding: 10px;
  min-height: 150px;
  section {
    margin-bottom: 15px;
    .title {
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .hint {
      font: 400 10px/13px $nunito-sans;
      color: $icon-gray;
    }
    .row_container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
      &__input {
        width: 100%;
        &:not(:last-of-type) {
          margin-right: 5px;
        }
        &.small {
          width: 50%;
        }
      }
    }
    .options_container {
      .option {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;
        .controls {
          visibility: hidden;
          color: $icon-gray;
          margin-left: 5px;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          i {
            text-align: center;
            width: 16px;
            height: 16px;
            cursor: pointer;
            &:not(:last-of-type) {
              margin-right: 5px;
            }
          }
        }
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }
        &:hover {
          .controls {
            visibility: unset;
          }
        }
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

sw-send-preview {
  sw-online-form {

    @include media-breakpoint-up(lg) {
      .online_form_container {
        flex-direction: column !important;

        &__nav {
          width: 100% !important;
          padding: 0 !important;
        }

        &__wrapper {
          top: 0 !important;
        }
      }

      // General Information
      .field_width {

        &--full {
          flex-basis: 100% !important;
        }

        &--three-quarter {
          flex-basis: 100% !important;
        }

        &--half {
          flex-basis: 100% !important;
        }

        &--third {
          flex-basis: 50% !important;
        }

        &--quarter {
          flex-basis: 50% !important;
        }
      }

      .custom_table {
        &--mobile {
          display: grid !important;
        }

        &--lg {
          top: 1rem !important;
          display: none !important;
        }
      }

      // Additional Documents
      .document_container {
        max-width: 100% !important;
        min-height: 5rem !important;


        &__control {
          max-width: 100% !important;
          margin-top: 0 !important;
          margin-left: 0 !important;
        }

        &__file {
          &_information {
            align-items: center !important;
          }
        }
      }

      .containers_line {
        flex-direction: column !important;
        justify-content: flex-start !important;
      }

      // Online-form components
      .online_form_container {
        flex-direction: column !important;

        &__nav {
          width: auto !important;
          width: -webkit-fill-available !important;
          padding-right: 0 !important;

          &--lower {
            position: relative !important;
            top: 0 !important;
          }
        }

        &__wrapper {
          top: 1rem !important;

          &--no_move {
            top: 1rem !important;
          }
        }
      }

      // Signature
      .signature {

        &__inputs_container {
          grid-template-columns: 1fr !important;
        }
      }
    }
  }
}

.no-check {
  .checkbox-cont {
    display: none !important;
  }
}
.no-main-cont {
  display: none !important;
}

.drag-field-workarea.section-tree-node {
  width: 100%;
  .main_container {
    display: none;
  }
}

.children,.root-list {
  .drag-field-workarea.section-tree-node {
    .item {
      display: none !important;
    }
    .main_container {
      width: 100%;
      background: #50597A;
      display: flex !important;
      border-radius: 3px;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      .content {
        margin: 10px 0 10px 20px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
      }
      .drag-icon {
        margin-right: 20px;
      }
      .actions {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        .icon {
          margin-left: 15px;
          &.dragdrop {
            padding: 15px;
            border-left: 1px solid #C9CEEC;
          }
          &.active {
            color: #fff;
          }
        }
      }
      &.field {
        padding: 7px 20px;
      }
      sw-input-text,
      sw-input-mask-text {
        margin-right: 10px;
        width: 450px;
      }
      sw-select {
        min-width: 120px;
      }
      .dragdrop {
        color: #fff;
      }
    }
  }
}
.group-tree-node.cdk-drag-placeholder,.field-tree-node.cdk-drag-placeholder {
  width: 100%;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  .checkbox-cont {
    display: inline-block;
    width: 15px;
    height: 17px;
    position: relative;
    margin: 2px 0 0 10px;
    vertical-align: middle;
    input[type=checkbox] {
      border: 1px solid #4350A2;
      box-sizing: border-box;
      border-radius: 3px;
      outline: none;
      margin: 0;
      -webkit-appearance: initial;
      width: 15px;
      height: 15px;
      position: absolute;
      color: white;
      cursor: pointer;
      &:disabled {
        border-color: #4350A2;
        opacity: 1.0;
        cursor: default;
      }
      &:focus {
        border-color: #4350A2;
      }
    }
    input[type=checkbox]:checked,
    input[type=checkbox]:indeterminate {
      background: #4350A2;
    }
    input[type=checkbox]:checked:after {
      content: '';
      position: absolute;
      top: 1px;
      left: 4px;
      height: 10px;
      width: 5px;
      display: inline-block;
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      -webkit-transform: rotate(-50%, -50%);
      -moz-transform: rotate(-50%, -50%);
      -ms-transform: rotate(-50%, -50%);
      transform: rotate(45deg);
    }

    input[type=checkbox]:indeterminate:after {
      content: "\2022";
      color: transparent;
      background-color: #fff;
      width: 11px;
      height: 3px;
      font-family: iwp;
      position: absolute;
      left: 11%;
      top: 42%;
    }
  }
  .main_container {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-sizing: border-box;
    .input {
      display: none;
    }
    sw-select {
      display: none;
    }
    .content {
      margin: 10px 0 10px 10px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      .name-container {
        width: auto;
        .main-text {
          font-style: normal;
          font: 800 12px/15px "Nunito Sans";
        }
        .hint {
          display: none;
          font-style: normal;
          font: 400 10px/13px "Nunito Sans";
        }
      }
      .dragdrop {
        color: #A4A4A4;
      }
      &.active {
        box-sizing: border-box;
        border: 1px solid #4350A2;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    .drag-icon {
      margin-right: 10px;
    }
    .actions {
      // display: flex;
      display: none;
      align-items: center;
      flex-flow: row nowrap;
      .icon {
        margin-left: 15px;
        &.dragdrop {
          padding: 15px;
          border-left: 1px solid #C9CEEC;
        }
        &.active {
          color: #fff;
        }
      }
    }
    &.field {
      padding: 7px 20px;
    }

  }
}

.children {
  .no-main-cont {
    display: flex !important;
  }
  .cdk-drag-placeholder.group-tree-node {
    .item {
      display: none !important;
    }
    .checkbox-cont {
      display: none !important;
    }
    .main_container {
      display: flex !important;
      background: #EBEEFF !important;
      border: 1px solid rgba(67, 80, 162, 0.2);
      border-radius: 3px;
      .content {
        margin: 10px 0 10px 20px !important;
        .name-container {
          width: 250px;
        }
      }
      .hint {
        display: flex !important;
      }
      .actions {
        display: flex !important;
      }
    }
    .drag-icon {
      margin-right: 20px !important;
    }
  }
}

.children {
  .cdk-drag-placeholder.field-tree-node {
    .checkbox-cont {
      display: none !important;
    }
    sw-select {
      min-width: 120px !important;
      display: flex !important;
    }
    .main_container {
      border: 1px solid rgba(67, 80, 162, 0.2);
      border-radius: 3px;
      padding-right: 10px !important;
      .content {
        margin: 10px 0 10px 20px !important;
        .name-container {
          width: 300px !important;
        }
      }
      .hint {
        display: flex !important;
      }
      .actions {
        display: flex !important;
      }
      .input {
        display: flex !important;
        margin-left: 25px;
      }
    }
    .drag-icon {
      margin-right: 20px !important;
    }
  }
}

mwl-calendar-month-cell {
  &:hover {
    cursor: pointer;
  }
}

mwl-calendar-month-view-header {
  &:hover {
    cursor: default;
  }
}
