<ng-container *ngIf="forms !== undefined">
  <tr
    *ngFor="let item of forms; let isRowEven = even"
    class="tbody__tr"
    (click)="addSelectedIds(item.id)"
    [ngClass]="{
      'checked-row': isCheckedRow(item.id),
      'tbody__tr--even': isRowEven,
      'tbody__tr--odd': !isRowEven
    }"
  >
    <td class="tbody__td tbody__td--v_center">
      <div class="tbody__cell_container">
        <a class="app-ft-reset-link" [routerLink]="'v-form-info/' + item.id">
          <p class="tbody__form_name">{{ item.name }}</p>
        </a>
      </div>
    </td>

    <td class="tbody__td tbody__td--v_center">
      <div class="tbody__cell_container tbody__cell_container--column">
        <p class="tbody__type_title">{{ item.type }}</p>
        <p class="tbody__sub_type">
          {{ getStringPublishSettings(item.publish_settings) }}
        </p>
      </div>
    </td>

    <td class="tbody__td tbody__td--v_center">
      <div class="tbody__cell_container">
        <ng-container *ngIf="item.permissions?.length">
          <div class="user" *ngFor="let permission of item.permissions">
            <img
              class="user__avatar"
              src="assets/images/temp/person-foto-placeholder.png"
            />
            <p class="user__name">
              {{ permission.user.full_name }}
            </p>
          </div>
        </ng-container>
        <ng-container>
          <a
            class="invite"
            data-toggle="modal"
            data-target="#formAccess"
            (click)="setFormSelected(item.id)"
          >
            <span><i class="fas fa-plus invite__icon"></i></span>
            <span class="invite__text"> Invite Users</span>
          </a>
        </ng-container>
        <app-v-form-access-modal
          (resetFormSelectedEmitter)="resetFormSelected($event)"
          [formSelected]="formSelected"
        >
        </app-v-form-access-modal>
      </div>
    </td>

    <td class="tbody__td">
      <div class="tbody__cell_container">
        <div class="user">
          <img
            class="user__avatar"
            src="assets/images/temp/person-foto-placeholder.png"
          />
          <p class="user__name">
            {{ item.owner.full_name }}
          </p>
          <p class="user__role">
            {{ item.owner.role.role_name }}
          </p>
        </div>
      </div>
    </td>

    <td class="tbody__td" nowrap>
      <div class="tbody__cell_container nowrap">
        <span>{{ convertDate(item.updated_at) | date: "dd-MM-yyyy" }}</span>
        &nbsp;&nbsp;
        <span class="app-form-table-second-color">
          {{ convertDate(item.updated_at) | date: "shortTime" }}</span
        >
      </div>
    </td>

    <!--Change status button-->
    <td class="tbody__td">
      <div
        ngbDropdown
        class="tbody__cell_container tbody__cell_container--column"
      >
        <button
          type="button"
          class="btn app-btn-status app-dropdown-toggle status_button"
          *ngIf="item.status === templateStatuses.STATUS_CLOSED"
          [ngClass]="getClassByStatus(item.status)"
          appClickStopPropagation
        >
          <span
            *ngIf="item.status !== templateStatuses.STATUS_REVIEW"
            class="status_button__text status_button__text--inverted"
          >
            {{ item.status }}
          </span>
          <span class="status_button__text"
            ><i class="fas fa-caret-down"></i
          ></span>
        </button>

        <button
          type="button"
          class="btn app-btn-status app-dropdown-toggle status_button"
          *ngIf="item.status !== templateStatuses.STATUS_CLOSED"
          [ngClass]="getClassByStatus(item.status)"
          id="dropdownBasic1"
          ngbDropdownToggle
          appClickStopPropagation
        >
          <span
            *ngIf="item.status === templateStatuses.STATUS_REVIEW"
            class="status_button__text"
            >{{ "In " + item.status }}
          </span>
          <span
            *ngIf="item.status !== templateStatuses.STATUS_REVIEW"
            class="status_button__text"
            [ngClass]="{
              'status_button__text--inverted':
                item.status === templateStatuses.STATUS_DRAFT
            }"
            >{{ item.status }}
          </span>
          <span
            class="status_button__text"
            [ngClass]="{
              'status_button__text--inverted':
                item.status === templateStatuses.STATUS_DRAFT
            }"
            ><i class="fas fa-caret-down"></i
          ></span>
        </button>
        <div
          *ngIf="item.status === templateStatuses.STATUS_ACTIVE"
          class="active_fields"
        >
          <span class="active_fields__title">Round 2</span>
          &nbsp;
          <span class="active_fields__term">(Dec 10-15)</span>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngFor="let status of changedStatuses"
            (click)="changeStatus(item.id, status)"
            ngbDropdownItem
            appClickStopPropagation
          >
            {{ status | titlecase }}
          </button>
        </div>
      </div>
    </td>
    <!--End Change status button-->

    <td class="tbody__td tbody__td--v_center" nowrap>
      <div
        ngbDropdown
        class="tbody__cell_container tbody__cell_container--center tbody__cell_container--lx_nowrap"
      >
        <button
          type="button"
          class="btn 
            app-btn-primary
            control_button 
            control_button--left_rounded"
          routerLink="v-form-constructor/{{ item.mongo_id }}"
          routerLinkActive="active"
          appClickStopPropagation
        >
          <p class="status_button__text"><i class="fas fa-pen"></i> Edit</p>
        </button>

        <button
          type="button"
          class="btn 
            app-btn-primary 
            control_button 
            control_button--right_rounded"
          routerLink="online-form/{{ item.mongo_id }}"
          routerLinkActive="active"
          appClickStopPropagation
        >
          <span class="status_button__text"
            ><i class="far fa-eye"></i> View</span
          >
        </button>
        <div>
          <button
            appClickStopPropagation
            class="btn app-btn-sml mr-2 "
            placement="top"
            ngbPopover="This feature is under development"
            popoverTitle="Notice"
          >
            <span class="app-form-table-icon"
              ><i class="fas fa-share-alt"></i
            ></span>
          </button>

          <button
            appClickStopPropagation
            class="btn app-btn-sml mr-2 "
            placement="left"
            ngbPopover="This feature is under development"
            popoverTitle="Notice"
          >
            <span class="app-form-table-icon"
              ><i class="fas fa-share"></i
            ></span>
          </button>

          <button
            appClickStopPropagation
            class="btn app-btn-sml mr-2 "
            placement="left"
            ngbPopover="This feature is under development"
            popoverTitle="Notice"
          >
            <span class="app-form-table-icon"><i class="fas fa-copy"></i></span>
          </button>

          <button
            appClickStopPropagation
            class="btn app-btn-sml "
            placement="left"
            ngbPopover="This feature is under development"
            popoverTitle="Notice"
          >
            <span class="app-form-table-icon primary-color"
              ><i class="fas fa-ellipsis-v"></i
            ></span>
          </button>
        </div>
      </div>

      <!-- <button
        type="button"
        class="btn btn-outline-danger py-0 px-1 mr-2 "
        (click)="removeForm(item.mongo_id)"
        appClickStopPropagation
      >
        <span class="app-text-small font-weight-bold"
          ><i class="fas fa-trash-alt"></i> Delete</span
        >
      </button> -->
    </td>
  </tr>
</ng-container>
