<!--Title-->
<h2 class="content_section__article_title">
  Student(s) Information
</h2>

<!--SubTitle-->
<h3 class="content_section__article_sub_title">
  <i class="far fa-clock fa-sm mr-1"></i>
  ~15 minutes
</h3>

<div class="app-of-general-info-section px-3 py-4">
  <ng-container *ngFor="let familyMember of form.fields">
    <ng-container *ngIf="familyMember.prefix === 'student'">
      <!--Title-->
      <p
        class="content_section__article_title content_section__article_title--left"
      >
        Name: {{ familyMember.name }}
      </p>

      <!--General Fields-->
      <div class="row no-gutters">
        <ng-container *ngFor="let item of familyMember.fields">
          <div
            *ngIf="item.type !== 113"
            class="col-{{ item.options.size }} p-2"
          >
            <app-online-form-fields [field]="item"></app-online-form-fields>
          </div>

          <div class="row no-gutters col-12" *ngIf="item.type === 113">
            <div class="col-12">
              <p class="px-2 py-2 app-text-small app-text-extra-bold">
                {{ item.name | uppercase }}
              </p>
            </div>
            <ng-container *ngFor="let groupField of item.fields">
              <div class="col-{{ groupField.options.size }} px-2">
                <app-online-form-fields
                  [field]="groupField"
                ></app-online-form-fields>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>

  <!--General Fields-->
  <div class="row no-gutters">
    <div class="col-3 px-2">
      <div class="form-group app-input-container app-input-fill">
        <label for="firstName" class="app-input-label">First Name</label>
        <input
          type="text"
          class="app-input form-control"
          id="firstName"
          placeholder="First Name"
          value="Charlotte"
          [disabled]="true"
        />
      </div>
    </div>

    <div class="col-3 px-2">
      <div class="form-group app-input-container app-input-fill">
        <label for="lastName" class="app-input-label">Last Name</label>
        <input
          type="text"
          class="app-input form-control"
          id="lastName"
          placeholder="Last Name"
          value="Jennings"
          [disabled]="true"
        />
      </div>
    </div>

    <div class="col-3 px-2">
      <div class="form-group app-input-container app-input-fill">
        <label class="app-input-label" for="grade">Grade</label>
        <select class="app-input" id="grade" [disabled]="true">
          <option [value]="'Grade 1'" [selected]="true" [disabled]="true">
            {{ "Grade 1" }}
          </option>
        </select>
      </div>
    </div>

    <div class="col-3 px-2">
      <div class="row no-gutters">
        <div class="col-8">
          <div class="form-group app-input-container app-input-fill mb-0">
            <label for="photo" class="app-input-label">Photo (optional)</label>
            <input
              type="text"
              class="app-input form-control"
              id="photo"
              placeholder="Photo (optional)"
              value="Photo123871.jpg"
              [disabled]="true"
            />
          </div>
        </div>
        <div class="col-4 d-flex align-items-center">
          <button class="btn app-btn-primary h-100" [disabled]="true">
            Upload
          </button>
          <i class="fas fa-trash ml-2 app-text-second"></i>
        </div>
      </div>
    </div>
  </div>
  <!--End General Fields-->

  <!--MEDICAL INFO-->
  <p class="px-2 py-2 app-text-small app-text-extra-bold">
    MEDICAL INFORMATION
  </p>

  <!--END MEDICAL INFO-->

  <!--DOCTORS’S INFO-->
  <p class="px-2 py-2 app-text-small app-text-extra-bold">
    DOCTORS’S INFORMATION
  </p>

  <!--End DOCTORS’S INFO-->

  <!--DOCTOR’S ADDRESS-->
  <p class="px-2 py-2 app-text-small app-text-extra-bold">DOCTOR’S ADDRESS</p>

  <!--END DOCTOR’S ADDRESS-->
</div>
