<!--Section Header-->
<div class="app-section-wrapper app-section-header mt-2 mb-2 row align-items-center no-gutters">

  <div class="col-4 row align-items-center no-gutters">
    <div class="col-1 row align-items-center no-gutters">
          <span class="app-fb-section-icon-white">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
    </div>
    <div class="col-10 ml-3" [ngClass]="{'app-input-fill': sectionName}">
      <label class="app-input-label" for="section-name">Section Name</label>
      <input
        id="section-name"
        type="text"
        class="app-input"
        [(ngModel)]="sectionName"
        placeholder="Section Name">
    </div>
  </div>


  <div class="col-2 pl-4 app-input-container w-100" [ngClass]="{'app-input-fill': sectionWidth}">
    <label class="app-input-label" for="section-width">Section Width</label>
    <input
      id="section-width"
      type="text"
      class="app-input"
      [(ngModel)]="sectionWidth"
      placeholder="Section Name">
  </div>


  <div class="col-1 offset-5   row align-items-center no-gutters">
    <div class="col">
      <span class="app-fb-section-icon-white">
        <i class="fas fa-cog dragable-i pr-2"></i>
      </span>
    </div>
    <div class="col">
        <span class="app-fb-section-icon-white">
          <i class="fas  fa-caret-down dragable-y"></i>
        </span>
    </div>
  </div>

</div>
<!--End Section Header-->


<div class="app-section-wrapper">
  <div class="p-3">
    <p class="app-fb-section-title">
    <span class="app-fb-section-icon">
      <i class="fas fa-ellipsis-v"></i>
      <i class="fas fa-ellipsis-v"></i>
    </span>
      Contract Table Preview
    </p>
  </div>
  <div class="px-4 py-2">
    <p class="font-weight-bold">FEES CONTRACT</p>
    <div class="app-fb-tuition-table p-3">
      <app-v-tuition-split-fee *ngIf="tuitionContract.splitBy === 'fee'"
                               [tuitionContract]="tuitionContract">
      </app-v-tuition-split-fee>
      <app-v-tuition-split-student *ngIf="tuitionContract.splitBy === 'student'"
                                   [tuitionContract]="tuitionContract">
      </app-v-tuition-split-student>
    </div>
    <p class="font-weight-bold mt-5">CONTRACT TEXT <span class="app-fb-tuition-info">(Text that will be displayed to the parents)</span>
    </p>
    <div class="text-right">
      <a class="tuition-text-a" [ngClass]="isBold?'active':''" (click)="isBold=!isBold">
        <small>Bold</small>
      </a>
      <span><small> | </small></span>
      <a class="tuition-text-a" [ngClass]="isItalic?'active':''" (click)="isItalic=!isItalic">
        <small>Italic</small>
      </a>
    </div>
    <textarea class="app-fb-tuition-table w-100 pl-3" [ngClass]="[isBold?'bold-for-a':'',isItalic?'italic-for-a':'']" rows="8" placeholder="Text"
              [(ngModel)]="tuitionContract.text"></textarea>
    <div class="row mt-5" *ngIf="tuitionContract.signature.isRequire">
      <ng-container *ngIf="!tuitionContract.signature.isBothParents">
        <div class="col">
          <textarea class="app-fb-tuition-table w-100 pl-3" rows="2" placeholder="Parent's Signature"></textarea>
        </div>
        <div class="col">
        </div>
      </ng-container>
      <ng-container *ngIf="tuitionContract.signature.isBothParents">
        <div class="col">
          <textarea class="app-fb-tuition-table w-100 pl-3" rows="2" placeholder="Father's Signature"></textarea>
        </div>
        <div class="col">
          <textarea class="app-fb-tuition-table w-100 pl-3" rows="2" placeholder="Mother's Signature"></textarea>
        </div>
      </ng-container>
    </div>
  </div>
</div>

