<div class="row no-gutters app-family-card-header px-4 py-2 app-text-white">
  <div class="col-6 text-left app-text-large font-weight-bold">
    Medad Fishman
  </div>
  <div class="col-6 text-right">
    Paternal Grandfather
  </div>
</div>

<div class="p-3">
  <div class="row no-gutters border-bottom">
    <div class="col-3 pb-2">
      <img src="assets/images/temp/person-foto-placeholder.png" width="70%">
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Name:</span><span>Medad Daniel Fishman</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      ADDRESS
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Address:</span><span>Israil, Haifa,  High Road, 45</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">ZIP:</span><span>123456</span>
    </div>
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      CONTACTS
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Phone Number:</span><span>+1 234 567-89-00</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Email Address:</span><span>aaronn@gmial.com</span>
    </div>
  </div>
</div>

