<app-section-header [sectionName]="termsConditions.sectionName" [sectionWidth]="termsConditions.sectionWidth"
  [isExpand]="isExpand" (onChangeSectionName)="changeSectionName($event)"
  (onChangeSectionWidth)="changeSectionWidth($event)" (onToggleExpand)="toggleExpand()"></app-section-header>

<div *ngIf="isExpand" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="item" data-e2e="item" *ngFor="let item of termsConditions.termsConditionsItems" cdkDrag>
    <div class="bubbles" data-e2e="bubbles">
      <i class="fas fa-grip-vertical bubbles-ico"></i>
    </div>
    <div class="fields" data-e2e="fields">
      <div class="fields-name" data-e2e="fields-name">
        <sw-input-text [(ngModel)]="item.title">
          <span class="placeholder" data-e2e="placeholder">Document Name</span>
        </sw-input-text>
      </div>
      <div class="fields-text" data-e2e="fields-text">
        <sw-input-textarea [rows]="textarea.rows" [cols]="textarea.cols" [readonly]="!textarea.editable">
          <span class="label" data-e2e="input_label">Text</span>
        </sw-input-textarea>
      </div>
      <div *ngIf="item.checkbox.isActive" class="fields-checkbox-container" data-e2e="fields-checkbox-container">
        <div class="fields-checkbox" data-e2e="fields-checkbox">
          <sw-input-checkbox [(ngModel)]="item.checkbox.checked"></sw-input-checkbox>
        </div>
        <sw-input-text [(ngModel)]="item.checkbox.text">
          <span class="placeholder" data-e2e="checkbox_text">Checkbox Text</span>
        </sw-input-text>
      </div>
    </div>
  </div>
  <div class="item" *ngIf="termsConditions.signature.isRequire" style="padding-left: 50px;">
    <div *ngIf="termsConditions.signature.isBothParents" class="fields-signatures">
      <div class="fields-signature">
        <sw-input-textarea>
          <span class="label">Father's signature</span>
        </sw-input-textarea>
      </div>
      <div class="fields-signature">
        <sw-input-textarea>
          <span class="label">Mother's signature</span>
        </sw-input-textarea>
      </div>
    </div>
    <div *ngIf="!termsConditions.signature.isBothParents" class="fields-signatures">
      <div class="fields-signature">
        <sw-input-textarea>
          <span class="label">Parents's signature</span>
        </sw-input-textarea>
      </div>
    </div>
  </div>
</div>