<ng-container *ngIf="sideBar">
  <div class="ml-3" *ngFor="let node of sideBar">

      <div class="row align-items-center border-bottom" (click)="nodeAction(node)">
        <div class="col">        <span class="node-span" > {{ node.name }} </span>
<!--        <div class="col">        <span class="node-span" (click)="nodeAction(node)"> {{ node.name }} </span>-->
        </div>
        <div  class="col-1 p-0">
          <button class="btn btn-sm " >
<!--          <button class="btn btn-sm " (click)="nodeAction(node)">-->
            <i *ngIf="!node.isActive" class="fas  fa-caret-down dragable-i"></i>
            <i *ngIf="node.isActive" class="fas  fa-caret-up dragable-i"></i>
          </button>
        </div>
      </div>
<!--      <hr class="mt-1">-->
      <ng-container *ngIf="node.isActive&&node.type!=114">

        <app-fields-side-bar-node [sideBar]="node.fields"></app-fields-side-bar-node>

      </ng-container>

  </div>
</ng-container>


