@import '../../../../../../../../../styles/variables/colors';

.node-span{
  color: #151515;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  cursor: pointer;
}
.dragable-i{
  color: #9C9D9D;
  cursor: pointer;
}
.fa-caret-up{
  color: $element-base-color;

}
