<div class="canvas-wrap">

  <div id="layer1">

    <canvas
      #viewer
      (mousedown)="mouseDown($event)"
      (mouseup)="mouseUp($event)">
    </canvas>

  </div>

  <div class="test-c">
  <div
    [ngStyle]="styleObject(div)"
    *ngFor="let div of divs"
    (mouseover)="pickDiv()"
  class="div-inside"
  >

  </div>
  </div>

  <div id="layer3">

    <pdf-viewer

      [src]="pdfSrc"
      [render-text-mode]="0"
      (after-load-complete)="loadComplete($event)"
    >
    </pdf-viewer>

  </div>

</div>

