  <section class="documents_section">
    <div class="documents_section__header">
      <div class="documents_section__header_text">
        Documents
      </div>
      <div class="documents_section__header_controls">
        <i class="fas fa-plus-square" (click)="addItem('documents')"></i>
        <i class="fas fa-caret-down" *ngIf="!isOpenDocuments; else up" (click)="showDocuments()"></i>
        <ng-template #up>
          <i class="fas fa-caret-up" (click)="hideDocuments()"></i>
        </ng-template>
      </div>
    </div>
    <ng-container *ngIf="isOpenDocuments">
      <div class="documents_section__item" *ngFor="let document of lform.get('documents.documentsItems').value; let i = index">
        <div class="documents_section__item_header">
          <div class="documents_section__item_header_name">
            <sw-input-text class="no_styles" [(ngModel)]="document.name"></sw-input-text>
          </div>
          <div class="documents_section__item_header_controls">
            <i class="fas fa-trash" (click)="removeItem('documents', i)"></i>
          </div>
        </div>
        <div class="documents_section__item_content">
          <div class="documents_section__item_content_input">
            <sw-input-button-group [options]="documentBut" [(ngModel)]="document.isUpload">
            </sw-input-button-group>
          </div>
          <div class="documents_section__item_content_input">
            <sw-radio-group [options]="radioGroup" [(ngModel)]="isPerFamilyD[i]"
            (ngModelChange)="changeDocRadio($event, document)"></sw-radio-group>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
  <section class="forms_section">
    <div class="forms_section__header">
      <div class="forms_section__header_text">
        Forms
      </div>
      <div class="forms_section__header_controls">
        <i class="fas fa-plus-square" (click)="addItem('forms')"></i>
        <i class="fas fa-caret-down" *ngIf="!isOpenForms; else upF" (click)="showForms()"></i>
        <ng-template #upF>
          <i class="fas fa-caret-up" (click)="hideForms()"></i>
        </ng-template>
      </div>
    </div>
    <ng-container *ngIf="isOpenForms">
      <div class="forms_section__item" *ngFor="let form of lform.get('formsPDF.formsPDFItems').value; let i = index">
        <div class="forms_section__item_header">
          <div class="forms_section__item_header_name">
            <sw-input-text class="no_styles" [(ngModel)]="form.name"></sw-input-text>
          </div>
          <div class="forms_section__item_header_controls">
            <i class="fas fa-trash" (click)="removeItem('forms', i)"></i>
          </div>
        </div>
        <div class="forms_section__item_content">
          <div class="forms_section__item_content_input">
            <sw-input-button-group [options]="formBut" [(ngModel)]="form.isUpload"></sw-input-button-group>
          </div>
          <div class="forms_section__item_content_input">
            <sw-radio-group [options]="radioGroup" [(ngModel)]="isPerFamilyD[i]"
            (ngModelChange)="changeDocRadio($event, form)"></sw-radio-group>
          </div>
          <div class="forms_section__item_content_input">
            <sw-input-toggle [(ngModel)]="form.isFillableOnline">
              <span class="input_label">Fillable Online</span>
            </sw-input-toggle>
          </div>
          <div class="forms_section__item_content_input">
            <sw-input-toggle [(ngModel)]="form.isAllowDownloadUpload">
              <span class="input_label">Allow Download/Upload</span>
            </sw-input-toggle>
          </div>
        </div>
      </div>
    </ng-container>
  </section>