<section class="terms_conditions_section">
  <div class="terms_conditions_section__item"
    *ngFor="let item of lform?.get('termsConditionsItems').value; let i = index">
    <div class="terms_conditions_section__item_header">
      <div class="terms_conditions_section__item_header_name">
        <sw-input-text class="no_styles" [(ngModel)]="item.title"></sw-input-text>
      </div>
      <div class="terms_conditions_section__item_header_controls">
        <i class="fas fa-trash" (click)="removeItem(i)"></i>
      </div>
    </div>
    <div class="terms_conditions_section__item_content">
      <div class="terms_conditions_section__item_content_input">
        <sw-input-toggle [(ngModel)]="item.checkbox.isActive">
          <span class="label">Checkbox</span>
        </sw-input-toggle>
      </div>
    </div>
  </div>
</section>
<section class="terms_conditions_signature_section">
  <div class="terms_conditions_signature_section__title">
    Signature
  </div>
  <div class="terms_conditions_signature_section__content">
    <sw-input-button-group [options]="buttonOptions" [(ngModel)]="lform?.get('signature')?.value.isBothParents">
    </sw-input-button-group>
  </div>
</section>