<div class="container settings_container">
  <div class="row no-gutters settings_container__row">
    <div [class]="getClass('settings')" style="margin-right: 15px;">
      <div class="content_section__title_box">
      <div class="section_title">
        {{ title }}
      </div>
      <div class="field_setting_wrap">
        <!-- <ng-container [ngComponentOutlet]="component"></ng-container> -->
        <ng-template #container></ng-template>
        
      </div>
    </div>
    <div [class]="getClass('logic')">
      <div class="section_title">
        Logic Builder
      </div>
      <div class="field_setting_wrap">
        asd
      </div>
    </div>
  </div>
</div>