<div class="section_header">
  <div class="section_header__item">
    <label class="app-input-label" for="section-name">Automation Name</label>
    <input
      id="section-name"
      type="text"
      class="app-input"
      placeholder="Section Name"
    />
  </div>
  <div class="section_header__item">
    <label class="app-input-label" for="section-width">Automation Type</label>
    <input
      id="section-width"
      type="text"
      class="app-input"
      placeholder="Section Name"
    />
  </div>
  <div class="section_header__item">
    <label class="app-input-label" for="section-width">Created by</label>
    <input
      id="section-width"
      type="text"
      class="app-input"
      placeholder="Section Name"
    />
  </div>

  <div class="section_header__item">
    <label class="app-input-label" for="section-width">Lasted Updated by</label>
    <input
      id="section-width"
      type="text"
      class="app-input"
      placeholder="Section Name"
    />
  </div>

  <!-- trash -->
  <div class="section_header__control_item">
    <span class="app-fb-section-icon-white">
      <i class="fas fa-trash"></i>
    </span>
  </div>

  <!-- caret -->
  <div
    class="section_header__control_item section_header__control_item--border_left"
  >
    <span class="app-fb-section-icon-primary">
      <i class="fas fa-caret-up"></i>
    </span>
  </div>
</div>

<div class="section_content">
  <div class="section_content__row mb_125">
    <div class="section_content__template_title_box">
      <p class="section_content__template_title">
        Default Primary School Email Template
      </p>
    </div>
    <div class="section_content__template_button_box">
      <p class="section_content__template_button">
        Select Template
      </p>
    </div>
  </div>

  <div class="section_content__row">
    <div class="template_area">
      <div class="section_content__row template_area__controls">
        <div class="preview_title">Template Preview</div>
        <div class="page_status">Page 1 of 3</div>
        <div class="edit_icon">/</div>

      </div>
    </div>
    <div class="logic_area"></div>
  </div>
</div>
