<ng-container *ngIf="automation !== undefined">
  <ng-container
    *ngFor="let automationItem of automation['automation_list']"
  >
    <app-v-automation-header *ngIf="automationItem !== undefined"
      [automationItem]="automationItem"
      [typeList]="automation['type_list']"
    ></app-v-automation-header>

    <div class="section_content">
      <div class="section_content__row mb_125">
        <div class="section_content__template_title_box">
          <p class="section_content__template_title">
            {{ automationItem['template']['name'] }}
          </p>
        </div>
        <div class="section_content__template_button_box">
          <p class="section_content__template_button">
            Select Template
          </p>
        </div>
      </div>

      <div class="section_content__row">
        <app-v-automation-template-area
          [template]="automationItem['template']"
          class="section_content__template_area"
        ></app-v-automation-template-area>
        <app-v-automation-logic-area
          [logicList]="automationItem['logics']"
          class="section_content__logic_area"
        ></app-v-automation-logic-area>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="automation === undefined"> </ng-container>
