@import "../../../../../../styles/index.scss";

.section_content {
  background-color: $white;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 1.25rem;

  &__row {
    display: flex;
    flex-direction: row;
  }

  &__column {
    display: flex;
    flex-direction: column;
  } 

  &__template_title_box {
    align-items: center;
    background-color: $lightgray-color;
    display: flex;
    flex: 100;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 1.25rem;
    padding-bottom: 1rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
  }

  &__template_title {
    color: $darkgray-color;
    font-family: "NunitoSans-Regular", "Helvetica";
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1rem;
    margin: 0;
  }

  &__template_button_box {
    align-items: center;
    background-color: $element-base-color;
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    flex: 1 1 10rem;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  &__template_button {
    color: $white;
    font-family: "NunitoSans-Regular", "Helvetica";
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.1rem;
    margin: 0;
  }

  &__template_area {
    align-items: stretch;
    display: flex;
    flex: 22 22;
    justify-content: stretch;
  }

  &__logic_area {
    align-items: stretch;
    display: flex;
    flex: 15 15;
    justify-content: stretch;
  }
}

.mb_125 {
  margin-bottom: 1.25rem;
}

.preview_title {
  text-align: start;
  color: $darkgray-color;
  flex: 1;
  font-family: "NunitoSans-ExtraBold", "Helvetica";
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  line-height: 1.1rem;
  text-transform: uppercase;
}

.page_status {
  text-align: center;
  color: $gray-color;
  flex: 1;
  font-family: "NunitoSans-Regular", "Helvetica";
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  line-height: 1.1rem;
  text-transform: uppercase;
}

.edit_icon {
  text-align: end;
  color: $gray-color;
  flex: 1;
}
