<div class="row no-gutters pt-3">
  <div class="col-12 d-flex justify-content-between pb-1">
    <span class="app-text-second">Current grade:</span>
    <span>??</span>
  </div>
  <div class="col-12 d-flex justify-content-between pb-1">
    <span class="app-text-second">Start Grade:</span>
    <span>??</span>
  </div>
  <div class="col-12 d-flex justify-content-between pb-1">
    <span class="app-text-second">Current School:</span>
    <span>??</span>
  </div>
  <div class="col-12 d-flex justify-content-between pb-1">
    <span class="app-text-second">Previous School:</span>
    <span>??</span>
  </div>
  <div class="col-12 d-flex justify-content-between pb-1">
    <span class="app-text-second">Attended:</span>
    <span>??</span>
  </div>
</div>
