<div class="general-page">
  <div class="container h-100">
    <div class="row column">
      <div class="header">
        <div class="text gray">
          1. Basic Form Information
        </div>
        <div class="text">
          Good ‘[morning / afternoon / evening / night], I am the Form Set­up Wizard [name]. I will create your form
          with you in minutes
        </div>
        <div class="text">
          What would you like to call this form and what type of form do you need?
        </div>
      </div>
      <div class="content">
        <div class="inputs">
          <sw-input-text class="input">
            <span class="placeholder">Form Name</span>
          </sw-input-text>
          <sw-dropdown-input class="input">
            <span class="input_label">Form Type</span>
          </sw-dropdown-input>
        </div>
      </div>

    </div>
    <div class="row second no-m column">
      <div class="header">
        <div class="text">
          Choose the way you want to create your form
        </div>
      </div>
      <div class="content h-100">
        <sw-input-button-group [options]="buttonOptions"></sw-input-button-group>
        <div class="row w-100 h-100 no-m">
          <div class="col-3" style="padding-left: 8px; padding-right: 8px;">
            <div class="search-wrap">
              <input class="search" [formControl]="filter" #filter placeholder="Search" />
              <i class="icon fas fa-search"></i>
            </div>
            <cdk-virtual-scroll-viewport itemSize="50" class="forms-viewport">
              <div *cdkVirtualFor="let item of items" class="form-item">{{item}}</div>
            </cdk-virtual-scroll-viewport>
          </div>
          <div class="col-9" style="padding-left: 8px; padding-right: 8px;">
            <div class="form-preview">
              l
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

</div>

<div class="stepper-wrap">
  <sw-button class="outline-btn" style="margin-right: 10px;" (click)="prevStep()">
    Cancel
  </sw-button>
  <sw-button (click)="nextStep()">
    Save & Go Next Step
  </sw-button>
</div>