<div class="mb-3 app-text-second app-text-extra-bold crump" (click)="returnToTree()"><span>{{crumbs[section.prefix]}}</span></div>

<div class="row align-items-center no-gutters">
  <div class="col-1 pb-2">
    <label class="app-checkbox-container">
      <input
        type="checkbox" [ngModel]="section.exist" (ngModelChange)="onBeingChange($event)">
      <span class="app-checkbox-checkmark"></span>
    </label>
  </div>
  <div class="col">
    <span class="app-text-extra-bold">{{section.name}}</span>
  </div>
  <div  class="col-1">
    <button class="btn btn-sm " (click)="showNested=!showNested">
      <i *ngIf="showNested" class="fas  fa-caret-down dragable-i"></i>
      <i *ngIf="!showNested" class="fas  fa-caret-up dragable-i"></i>
    </button>
  </div>
</div>
<ng-container *ngIf="showNested">
<div  class="my-3  ml-3 " *ngFor="let field of section.fields ">
  <app-v-side-bar-group
    *ngIf="field.type==113"
    [group]="field"
    [form]="form"
    [section]="section"
  >

  </app-v-side-bar-group>
  <app-v-side-bar-field
    *ngIf="field.type!=113"
    [field]="field"
    [form]="form"
    [section]="section"
    [style]="field.mapped==''"
  >
  </app-v-side-bar-field>
</div>
</ng-container>
