@import "../../../../styles/variables/colors";

.app-of-menu-wrap {
    background-color: #ffffff;
    border: 1px solid #E7E9EF;
    border-radius: 3px;
}

.app-of-menu-i {
    display: inline-block;
    border-radius: 50%;
    padding: 0.6em 0.7em;
    background-color: #E4E7FF;
}

.app-of-menu-active {
    border-left: 3px solid $element-base-color;
}