<!--Title-->
<h2
  class="content_section__article_title content_section__article_title--left pt-3 pb-2"
>
  <span class="compact-caption"
    >{{ groupCaption }}
    <ng-container *ngIf="hasErrors()">
      <span
        error-hint
        [errorsList]="getErrorByNodeId(group._id, formErrors)"
        [fieldNameList]="fieldNameList"
        class="errors-bullet"
      ></span>
    </ng-container>
  </span>
</h2>

<div>
  <!-- Field -->
  <div class="section__fields">
    <ng-container *ngFor="let field of fields">
      <div class="field_width--{{ getWidth(field) }}">
        <sw-general-info-field
          [field]="field"
          [formErrors]="getFormErrorsById(field['_id'])"
          [isViewOnly]="isViewOnly"
        ></sw-general-info-field>
      </div>
    </ng-container>
  </div>

  <!-- Group -->
  <div class="section__groups">
    <ng-container *ngFor="let groupItem of groups">
      <sw-general-info-group
        [group]="groupItem"
        [groupCaption]="groupCaption"
        [formErrors]="getFormErrorsById(groupItem['_id'])"
        [fieldNameList]="fieldNameList"
        [fg]="fg"
        [isViewOnly]="isViewOnly"
      ></sw-general-info-group>
    </ng-container>
  </div>
</div>
