@import "../../styles/index.scss";

// .content_nav_container {
// }

.content_nav {
  font-family: "Nunito Sans", "Helvetica";
  font-weight: 400;

  &__errors-bullet {
    cursor: pointer;
    position: absolute;
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    top: 0;
    right: 0;
    display: block;
    border-radius: 9999px;
    background-color: #fd6969;
  }

  &__list {
    align-items: stretch;
    display: flex;
    flex-direction: row;

    list-style: none;
    margin: 0;
    padding: 0 1.5rem;
  }

  &__item {
    // border-bottom: 0.2rem solid transparent;
    cursor: pointer;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
    position: relative;
    transition: all 0.1s ease-in-out;

    &::after {
      background-color: $element-additional-color;
      border-radius: 0.05rem;
      bottom: 0;
      content: "";
      opacity: 0;
      display: block;
      height: 0.1rem;
      left: 0.5rem;
      position: absolute;
      transition: all 0.1s ease-in-out;
      width: 1.25rem;
    }

    &--active {
      // border-bottom: 0.2rem solid $element-additional-color;

      &::after {
        opacity: 1;
        transition: all 0.1s ease-in-out;
      }
    }
  }

  &__link {
    color: $icon-grey-color;
    font-family: "Nunito Sans", "Helvetica";
    font-weight: 400;
    font-weight: normal;
    transition: all 0.1s ease-in-out;

    &:hover {
      text-decoration: none;
    }

    &:focus {
      outline: transparent 0;
    }

    &--active {
      color: $element-additional-color;
      font-weight: bold;
    }
  }

  &__splitter {
    padding: 0.5rem 0.5rem;
  }

  //   &__icon_wrapper {
  //   }

  //   &__icon {
  //   }
}
