<div class="content_nav_container">
  <nav class="content_nav">
    <ul class="content_nav__list">
      <ng-container
        *ngFor="let tab of getTabs(); let i = index; let lastIndex = last"
      >
        <a
          class="content_nav__link"
          [ngClass]="{
            'content_nav__link--active': isActive(i)
          }"
          [tabindex]="tab._id"
          (click)="setActiveId(i)"
        >
          <li
            class="content_nav__item"
            [ngClass]="{
              'content_nav__item--active': isActive(i)
            }">
            {{ tab.name }}

            <ng-container *ngIf="hasErrors(tab._id)">
              <span
                error-hint
                [errorsList]="getErrorBySectionId(tab._id)"
                [fieldNameList]="fieldNameList"
                class="content_nav__errors-bullet"
                ></span>
            </ng-container>
          </li>
        </a>
        <ng-container *ngIf="!lastIndex">
          <li class="content_nav__splitter">
            <span class="content_nav__icon_wrapper">
              <!-- <i class="fas fa-chevron-right fa-sm content_nav__icon"></i> -->
            </span>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </nav>
</div>
