<div class="app-period-split-bar">
  <div class="app-period-split-bar__header">
    <app-input-editable-field
      [(ngModel)]="activePeriodSet.name"
      [inputStyle]="'header'"
      [inputColor]="getInputColor()"
    ></app-input-editable-field>
  </div>
  <!--<div-->
    <!--*ngIf="!!activePeriodSet.splits.length"-->
    <!--class="app-period-split-bar__scale"-->
    <!--cdkDropList-->
    <!--cdkDropListOrientation="horizontal"-->
    <!--(cdkDropListDropped)="dropItem($event)">-->
    <!--&lt;!&ndash;<div class="app-period-split&#45;&#45;label" [style.width]=getWidth()>&ndash;&gt;-->
      <!--&lt;!&ndash;<app-input-editable-field [(ngModel)]="period.name" (ngModelChange)="onChangeName($event)"></app-input-editable-field>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div *ngFor="let cellItem of periodScale.items; let i = index"-->
         <!--class="app-period-split-bar__scale&#45;&#45;cell"-->
         <!--cdkDrag-->
         <!--cdkDragLockAxis="x"-->
         <!--cdkDragBoundary=".app-period-split-bar__scale"-->
         <!--[cdkDragDisabled]="!(cellItem.isHighExtreme || cellItem.isLowExtreme)">-->
      <!--<div *ngIf="cellItem.label" class="app-period-split-bar__cell&#45;&#45;month">{{ cellItem.label }}</div>-->
      <!--<div *ngIf="cellItem.isSelected" class="app-period-split-bar__cell&#45;&#45;selected"></div>-->
      <!--<div-->
        <!--*ngIf="cellItem.isHighExtreme"-->
        <!--class="app-period-split-bar__cell&#45;&#45;high-extreme"-->
        <!--cdkDragHandle>-->
        <!--&lt;!&ndash;<app-carets></app-carets>&ndash;&gt;-->
      <!--</div>-->
      <!--<div-->
        <!--*ngIf="cellItem.isLowExtreme"-->
        <!--class="app-period-split-bar__cell&#45;&#45;low-extreme"-->
        <!--cdkDragHandle>-->
        <!--&lt;!&ndash;<app-carets></app-carets>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  {{ getSplitSetLength() }}
  <div
    *ngIf="activePeriodSet.splits && !!activePeriodSet.splits.length"
    class="app-period-split-bar__scale">
    <div *ngFor="let split of activePeriodSet.splits"> {{ split.name }}</div>
    <div class="app-period-split-bar__add_split" (click)="onAddSplit()">
      <i class="fa fa-plus app-period-split-bar__add_split--ico"></i>
    </div>
  </div>
  <div *ngIf="!activePeriodSet.splits || !activePeriodSet.splits.length" class="app-period-split-bar__add" (click)="onCreateSplit()">
    + Create first split
  </div>
</div>
