@import 'index';

:host{
  position: relative;
  min-height: 70px;
  height: 100%;

  .container {
    position: relative;
    padding: 0;
    overflow: scroll;
    max-width: 100vh;
    max-height: calc(100vh - 185px);
  }

  .controllers {
    position: fixed;
    display: flex;
    bottom: 47px;
    left: 60%;
    border-radius: 3px;
    overflow: hidden;

    &.full-size {
      left: 45%;
    }
  }

  .controllers-zoom,
  .controllers-rotate {
    display: flex;
    background: $dark-purple;
  }

  .controllers-zoom {
    position: relative;
  }

  .controllers-zoom:after {
    position: fixed;
    right: 0;
    content: '';
    width: 1px;
    height: 38px;
    background: $soft-purple;
  }

  .controllers-rotate-button {
    background: transparent;
    border: none;
  }

  .controllers-rotate-button:hover {
    opacity: 0.8;
  }


  .controllers-rotate-button:focus,
  .controllers-rotate-button:active {
    outline: none;
  }

  .image {
    display: block;
    margin: 0 auto;
  }

  .loading {
    position: relative;
    min-height: 70px;
  }

  .loading-spinner {
    margin: 25px auto;
  }

  .no-documents-header {
    text-align: center;
    margin: 25px 0;
  }

  .settings {
    width: 187px;
    position: fixed;
    top: 170px;
    right: 13px;
    border-radius: 3px;
    padding: 10px 10px 15px;
    background: #fff;

    .settings-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 0 0 25px;
      padding: 0 10px 0 5px;

      .settings-text {
        margin: 0;
        color: $element-base-color;
        font: 800 11px/15px $nunito-sans;
        text-transform: uppercase;
      }
    }

    .settings-header:after {
      position: absolute;
      content: '';
      bottom: -10px;
      width: 155px;
      height: 1px;
      background: $gray-color;
    }

    .settings-field {
      margin: 0 0 5px;
    }
  }
}
