<div *ngIf="document">
  <div [ngClass]="{'loading': isDocumentLoading}" class="container">
    <div *ngIf="isDocumentLoading" class="loading-spinner">
      <app-spinner></app-spinner>
    </div>
    <div
      *ngIf="document && document.content_type.includes('image')"
    >
      <img
        class="image"
        [src]="document.link"
        alt="document.entity_name"
        (load)="isLoaded()"
        [hidden]="isDocumentLoading"
      />
    </div>
    <div
      *ngIf="document && document.content_type.includes('pdf')"
      [ngStyle]="{opacity: isDocumentLoading ? 0 : 1}"
    >
      <pdf-viewer
        [src]="document.link"
        [render-text]="true"
        (after-load-complete)="isLoaded()"
        style="display: block;"
      ></pdf-viewer>
    </div>
    <div class="controllers" *ngIf="!isDocumentLoading">
      <div class="controllers-zoom">
        <sw-icon-button [icon]="icons.ZOOM_OUT" [size]="sizes.LARGE" (click)="clickZoomImg('out')"></sw-icon-button>
        <sw-icon-button [icon]="icons.ZOOM_IN" [size]="sizes.LARGE" (click)="clickZoomImg('in')"></sw-icon-button>
      </div>
      <div class="controllers-rotate">
        <button class="controllers-rotate-button" (click)="clickRotateImg('left')">
          <img
            class="controllers-rotate-icon"
            [src]="'./assets/images/icons/rotate-right.svg'"
          />
        </button>
        <button class="controllers-rotate-button" (click)="clickRotateImg('right')">
          <img
            class="controllers-rotate-icon"
            [src]="'./assets/images/icons/rotate-left.svg'"
          />
        </button>
      </div>
    </div>
    <form [formGroup]="form" class="settings">
      <div class="settings-header">
        <p class="settings-text">Document settings</p>
        <sw-icon-button
          [icon]="isSettingsOpen ? icons.CARET_DOWN : icons.CARET_UP"
          (click)="changeFormState()"
        ></sw-icon-button>
      </div>
      <div *ngIf="isSettingsOpen">
        <div class="settings-field">
          <app-select-field formControlName="type" [items]="documentTypes" [labelTitle]="'Document Type'">
          </app-select-field>
        </div>
        <div class="settings-field">
          <app-select-field formControlName="account" [items]="documentAccount" [labelTitle]="'Account'">
          </app-select-field>
        </div>
        <div class="settings-field">
          <app-select-field formControlName="student" [items]="documentStudent" [labelTitle]="'Student'">
          </app-select-field>
        </div>
      </div>
    </form>
  </div>
</div>
<div *ngIf="!document && !isDocumentLoading">
  <h3 class="no-documents-header">No Selected document</h3>
</div>



