<div *ngIf="document">
  <div [ngClass]="{'loading': isDocumentLoading}" class="container">
    <div *ngIf="isDocumentLoading" class="loading-spinner">
      <app-spinner></app-spinner>
    </div>
    <div
      *ngIf="document && document.content_type.includes('image')"
    >
      <img
        class="image"
        [src]="document.link"
        alt="document.entity_name"
        (load)="isLoaded()"
        [hidden]="isDocumentLoading"
      />
    </div>
    <div
      *ngIf="document && document.content_type.includes('pdf')"
      [ngStyle]="{opacity: isDocumentLoading ? 0 : 1}"
    >
      <pdf-viewer
        [src]="document.link"
        [render-text]="true"
        (after-load-complete)="isLoaded()"
        style="display: block;"
      ></pdf-viewer>
    </div>
    <div class="controllers" *ngIf="!isDocumentLoading">
      <div class="controllers-zoom">
        <sw-icon-button [icon]="icons.ZOOM_OUT" [size]="sizes.LARGE"></sw-icon-button>
        <sw-icon-button [icon]="icons.ZOOM_IN" [size]="sizes.LARGE"></sw-icon-button>
      </div>
      <div class="controllers-rotate">
        <button class="controllers-rotate-button">
          <img
            class="controllers-rotate-icon"
            [src]="'./assets/images/icons/rotate-right.svg'"
          />
        </button>
        <button class="controllers-rotate-button">
          <img
            class="controllers-rotate-icon"
            [src]="'./assets/images/icons/rotate-left.svg'"
          />
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!document && !isDocumentLoading">
  <h3 class="no-documents-header">No Selected document</h3>
</div>

<!--<form [formGroup]="form">-->
<!--  <h3>Document settings</h3>-->
<!--  <sw-input-text formControlName="type">-->
<!--    <span class="placeholder">Document Type</span>-->
<!--  </sw-input-text>-->
<!--  <sw-input-text formControlName="account">-->
<!--    <span class="placeholder">Account</span>-->
<!--  </sw-input-text>-->
<!--  <sw-input-text formControlName="student">-->
<!--    <span class="placeholder">Student</span>-->
<!--  </sw-input-text>-->
<!--</form>-->


