<div *ngIf="document">
  <div
    class="container"
    [ngClass]="{'loading': isDocumentLoading, 'full-size': !isSideBarShown}"
  >
    <div
      *ngIf="isDocumentLoading || rotatingPicture"
      [ngClass]="{'loading-spinner': isDocumentLoading, 'rotating-spinner': rotatingPicture}">
          <app-spinner></app-spinner>
          <sw-main-spinner></sw-main-spinner>
    </div>
    <div [ngClass]="{'rotating': rotatingPicture }">
      <div
        *ngIf="document && document.content_type && document.content_type.includes('image')"
      >
        <img
          class="image"
          [width]="imgDimension.width"
          [height]="imgDimension.height"
          [src]="document.link"
          [ngStyle]="{'transform' : 'rotate('+document.rotate+'deg)'}"
          [alt]="document.entity_name"
          (load)="isLoaded($event)"
          [hidden]="isDocumentLoading"
          #img
        />
      </div>
      <div
        *ngIf="document && document.content_type && document.content_type.includes('pdf')"
        [ngStyle]="{opacity: isDocumentLoading ? 0 : 1}"
      >
        <pdf-viewer
          [src]="document.link"
          [rotation]="angle"
          [render-text]="true"
          (after-load-complete)="isLoaded()"
          style="display: block;"
          [zoom]="zoom"
        ></pdf-viewer>
      </div>
    </div>
    <div class="controllers" *ngIf="!isDocumentLoading">
      <div class="controllers-zoom">
        <sw-icon-button [icon]="icons.ZOOM_OUT" [size]="sizes.LARGE" (click)="clickZoomImg('out')"></sw-icon-button>
        <sw-icon-button [icon]="icons.ZOOM_IN" [size]="sizes.LARGE" (click)="clickZoomImg('in')"></sw-icon-button>
      </div>
      <div class="controllers-rotate">
        <button class="controllers-rotate-button" (click)="clickRotateImg('left')">
          <img
            class="controllers-rotate-icon"
            [src]="'./assets/images/icons/rotate-right.svg'"
          />
        </button>
        <button class="controllers-rotate-button" (click)="clickRotateImg('right')">
          <img
            class="controllers-rotate-icon"
            [src]="'./assets/images/icons/rotate-left.svg'"
          />
        </button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!document && !isDocumentLoading">
  <h3 class="no-documents-header">No Selected document</h3>
</div>
