@import 'index';

:host{
  position: relative;
  min-height: 70px;
  height: 100%;

  .container {
    position: relative;
  }

  .controllers {
    position: absolute;
    display: flex;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .controllers-zoom,
  .controllers-rotate {
    display: flex;
    background: $dark-purple;
  }

  .controllers-rotate-button {
    background: transparent;
    border: none;
  }

  .controllers-rotate-button:hover {
    opacity: 0.8;
  }


  .controllers-rotate-button:focus,
  .controllers-rotate-button:active {
    outline: none;
  }

  .image {
    display: block;
    margin: 0 auto;
  }

  .loading {
    position: relative;
    min-height: 70px;
  }

  .loading-spinner {
    margin: 25px auto;
  }

  .no-documents-header {
    text-align: center;
    margin: 25px 0;
  }

}
