<div class="document-approval-bar" *ngIf="document">
  <div class="document-approval-bar__icon-container">
    <i class="fas fa-file document-approval-bar__icon"></i>
  </div>
  <div class="document-approval-bar__text">
    <p class="document-approval-bar__name">{{ document.person_name }}</p>
    <p class="document-approval-bar__document-name">{{ document.entity_name }}</p>
  </div>
  <div class="document-approval-bar__status">
    <sw-status-label [class]="uploadReviewFormService.getStatusColor(document.status)">
      {{ uploadReviewFormStatusesEnum[document.status] }}
    </sw-status-label>
  </div>
  <div class="document-approval-bar__buttons">
    <div class="document-approval-bar__button">
      <sw-button [style]="colors.WHITE" (click)="skipDocument.emit()">
        <i class="fas fa-step-forward button_ico"></i>Skip
      </sw-button>
    </div>
    <div class="document-approval-bar__button">
      <sw-button
        [style]="colors.WHITE"
        (click)="changeStatus.emit(statuses.need_further_review)">
        Need Further Review
      </sw-button>
    </div>
    <div class="document-approval-bar__button">
      <sw-button (click)="changeStatus.emit(statuses.rejected)">Reject</sw-button>
    </div>
    <div class="document-approval-bar__button">
      <sw-button (click)="changeStatus.emit(statuses.approved)">Approve</sw-button>
    </div>
    <div class="document-approval-bar__button">
      <sw-button [disabled]="true">Save</sw-button>
    </div>
  </div>
</div>
<div class="document-approval-bar" *ngIf="!document">
  <h3 class="document-approval-bar--empty">No selected document</h3>
</div>
