<div
  class="input-search"
  [class.input-search-has-error]="isInvalid"
  [class.input-search-controls]="type === 'controls'"
  [class.input-search-header]="type === 'header'"
>
  <input
    class="form-control"
    type="search"
    [ngClass]="{'input-search__value': value}"
    [placeholder]="placeholder"
    [id]="id"
    [value]="value"
    [disabled]="disabled"
    [(ngModel)]="value"
    (ngModelChange)="chaneInput()"
    (blur)="onTouched()"
  />
  <div class="input-search-icon"></div>
</div>
