<div
  class="input-search"
  [class.dropdown]="type === 'dropdown'"
  [class.has-control]="type === 'controls'"
  [class.has-error]="control.control.invalid"
>
  <input
    class="form-control"
    [attr.placeholder]="placeholder"
    [attr.id]="id"
    [formControl]="control.control"
    (input)="onInput()"
  />
  <div class="input-search-icon"></div>
  <div
    class="cross-icon"
    *ngIf="this.control.control && this.control.control.value && this.control.control.value.length"
  >
    <sw-icon-button [icon]="icons.CROSS" (click)="clear()"></sw-icon-button>
  </div>
</div>
