@import '../../../../styles/variables/colors';

.app-period-popup {
  position: relative;
  width: 100vw;
  height: 100vw;
  padding: 200px 0;
  background-color: rgba(0, 0, 0, 0.85);

  .app-period-popup__container {
    display: flex;
    width: 340px;
    height: 115px;
    margin: 0 auto;
    padding: 0 0 15px 15px;
    border-radius: 3px;
    background-color: white;

    .app-period-popup__content {
      width: 290px;
      padding: 15px 0 0 0;
      text-align: center;
    }

    .app-period-popup__buttons {
      display: flex;
      justify-content: space-around;
      width: 150px;
      margin: 0 0 0 95px;

      .app-period-popup__button {
        margin: 0 15px 0 0;
        font: 800 12px/15px 'NunitoSans-Bold';
        border-radius: 3px;
        border: 1px solid #4350A2;
        align-items: center;
        vertical-align: middle;
      }

      .app-period-popup__button--cancel {
        width: 80px;
        height: 30px;
        box-sizing: border-box;
        background-color: #E5E5E5;
        color: #4350A2;
      }

      .app-period-popup__button--cancel:hover {
        background-color: $soft-gray;
      }

      .app-period-popup__button--ok {
        width: 50px;
        height: 30px;
        background-color: #4350A2;
        color: white;
      }

      .app-period-popup__button--ok:hover {
        background-color: $hover-purple;
      }
    }

    .app-period-popup__cross {
      margin: 5px 0 0 15px;
    }

    .app-period-popup__cross:hover {
      cursor: pointer;
    }
  }

}
