<form [formGroup]="dropDownListSettingsForm">
  <p class="app-text-small app-text-extra-bold">FIELD SIZE</p>
  <div class="mb-3">
    <app-checkbox-field label="Full Width" [formControlName]="'isFullWidth'"></app-checkbox-field>
  </div>
  <div class="row no-gutters mb-4">
    <div class="col-6 pr-2">
      <app-input-field [formControlName]="'fieldWidth'"
                       label="Field Width"
                       type="number"
                       [min]="1"></app-input-field>
    </div>
    <div class="col-6 pl-2">
      <app-input-field [formControlName]="'fieldHeight'"
                       label="Field Height (in rows)"
                       type="number"
                       [min]="1"></app-input-field>
    </div>
  </div>

  <p class="app-text-small app-text-extra-bold">NUMBER OF SELECTION</p>
  <div class="row no-gutters mb-4">
    <div class="col">
      <label class="app-radio-container">One Selection
        <input type="radio" name="selection" [formControlName]="'selection'" value="one">
        <span class="app-radio-checkmark"></span>
      </label>
    </div>
    <div class="col">
      <label class="app-radio-container">Multiple Selection
        <input type="radio" name="selection" [formControlName]="'selection'" value="multiple">
        <span class="app-radio-checkmark"></span>
      </label>
    </div>
  </div>

  <p class="app-text-small app-text-extra-bold">OPTIONS</p>

  <p>List of Predef. Options</p>
  <div class="row no-gutters mb-3">
    <div class="col-8">
      <app-select-field [items]="['None']"
                        [value]="'None'"></app-select-field>
    </div>
    <div class="col-4 d-flex align-middle justify-content-end">
      <button class="btn app-btn-primary" placement="right"
              popoverTitle="Notice"
              ngbPopover="This feature is under development">
        <span class="app-text-small bold-text">EDIT LIST</span>
      </button>
    </div>
  </div>

  <div class="row align-items-center no-gutters mb-1"
       formArrayName="options"
       *ngFor="let item of options.controls; let i=index">
    <ng-container [formGroupName]="i">
      <div class="col-11 mb-2">
        <app-input-field class="" [formControlName]="'name'"></app-input-field>
      </div>
    </ng-container>
    <div class="col-1 text-center">
      <span>
        <i class="fas fa-trash app-text-second fa-xs pl-2 app-cursor-pointer"
           (click)="removeOption(i)">
        </i>
      </span>
    </div>
  </div>
  <div class="mb-2">
    <i class="fas fa-plus app-text-second fa-sm app-cursor-pointer"
       (click)="addOption()"> ADD OPTION
    </i>
  </div>
  <div>
    <app-toggle-checkbox-field>
      <span class="label">SELECTED BY DEFAULT</span>
      <input type="checkbox" formControlName="isSelectedDefault"/>
    </app-toggle-checkbox-field>
  </div>
  <div>
    <app-select-field [formControlName]="'selectedDefault'"
                      [items]="inputField.typeSettings.options"
                      labelTitle="Default Option"
                      [value]="inputField.typeSettings.selectedDefault.name"
                      bindLabel="name"
                      bindValue="name"></app-select-field>
  </div>
</form>
