<div class="p-3">
  <div class="row no-gutters border-bottom">
    <div class="col-3">
      <img src="assets/images/temp/person-foto-placeholder.png" width="70%">
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Name:</span>
          <span>{{fullNameWithMiddle | titlecase}}</span>
        </div>
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Hebrew Name:</span>
          <span>{{familyPerson.person.hebrew_full_name}}</span>
        </div>
        <div *ngIf="familyPerson.person_role === familyRoles.mother" class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Maiden name:</span>
          <span>{{familyPerson.person.maiden_name}}</span>
        </div>
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Number of children:</span>
          <span>
            {{familyPerson?.children?.length}}
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      JOB
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Occupation:</span>
      <span>{{familyPerson.person.occupation}}</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Address:</span>
      <span class="pl-5 text-right">{{familyPerson.person.address}}</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Work number:</span>
      <span>{{familyPerson.person.corporate_phone}}</span>
    </div>
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      CONTACTS
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Phone Number:</span>
      <span>{{familyPerson.person.contact_phone}}</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Email Address:</span>
      <span>{{familyPerson.person.contact_email}}</span>
    </div>
  </div>
</div>
