<div class="form-group app-input-container" [ngClass]="{'app-input-fill': groupPresets.value}">
  <label class="app-input-label" for="group-presets">Group Presets</label>
  <input #groupPresets
         [(ngModel)]="groupPreset"
         id="group-presets"
         type="text"
         class="app-input"
         placeholder="Group Presets">
</div>
<span class="app-gs-sub-title">GROUP OPTIONS</span>
<div class="row no-gutters pt-3">
  <div class="col">
    <label class="app-checkbox-container">
      Required
      <input type="checkbox">
      <span class="app-checkbox-checkmark"></span>
    </label>
  </div>
  <div class="col">
    <label class="app-checkbox-container">
      Read-Only
      <input type="checkbox">
      <span class="app-checkbox-checkmark"></span>
    </label>
  </div>
  <div class="col">
    <label class="app-checkbox-container">
      Unique
      <input type="checkbox">
      <span class="app-checkbox-checkmark"></span>
    </label>
  </div>
</div>
<div class="row no-gutters">
  <div class="col">
    <label class="app-checkbox-container">
      Hide Label
      <input type="checkbox">
      <span class="app-checkbox-checkmark"></span>
    </label>
  </div>
</div>
<div class="row no-gutters pt-3">
  <div class="col">
    <label class="app-switch mr-2">
      <input type="checkbox">
      <span class="app-slider app-round"></span>
    </label>
    <span class="app-gs-sub-title">SUPPORT TEXT</span>
  </div>
</div>
<div class="form-group app-input-container pt-2">
  <input type="text"
         [(ngModel)]="supportText"
         class="app-input">
</div>
<div class="row no-gutters pt-2">
  <div class="col">
    <label class="app-radio-container">Pop-up
      <input type="radio" name="support-text" value="popup">
      <span class="app-radio-checkmark"></span>
    </label>
  </div>
  <div class="col">
    <label class="app-radio-container">Directly Displayed
      <input type="radio" name="support-text" value="directly">
      <span class="app-radio-checkmark"></span>
    </label>
  </div>
</div>
