<form [formGroup]="groupSettingOptionsForm">
  <app-input-field label="Group Presets"
                   [formControlName]="'groupPreset'"></app-input-field>
  <p class="app-gs-sub-title mt-4 mb-0">GROUP OPTIONS</p>
  <div class="row no-gutters pt-3">
    <div class="col">
      <app-checkbox-field label="Required" [formControlName]="'required'"></app-checkbox-field>
    </div>
    <div class="col">
      <app-checkbox-field label="Read-Only" [formControlName]="'readonly'"></app-checkbox-field>
    </div>
    <div class="col">
      <app-checkbox-field label="Unique" [formControlName]="'unique'"></app-checkbox-field>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col">
      <app-checkbox-field label="Hide Label" [formControlName]="'hideLabel'"></app-checkbox-field>
    </div>
  </div>
  <div class="row no-gutters pt-3">
    <div class="col">
      <app-toggle-checkbox-field label="SUPPORT TEXT" [formControlName]="'isSupportText'"></app-toggle-checkbox-field>
    </div>
  </div>
  <div [hidden]="!groupSettingOptionsForm.get('isSupportText').value">
    <app-input-field [formControlName]="'supportText'"></app-input-field>
    <div class="row no-gutters pt-3">
      <div class="col">
        <label class="app-radio-container">Pop-up
          <input type="radio" name="supportTextDisplayed" [formControlName]="'supportTextDisplayed'" value="popup">
          <span class="app-radio-checkmark"></span>
        </label>
      </div>
      <div class="col">
        <label class="app-radio-container">Directly Displayed
          <input type="radio" name="supportTextDisplayed" [formControlName]="'supportTextDisplayed'" value="directly">
          <span class="app-radio-checkmark"></span>
        </label>
      </div>
    </div>
  </div>
</form>
