<div
  class="app-datepicker-field"
  [ngClass]="{'app-datepicker-field-has-error': isInvalid ,
   'app-datepicker-field--short': style === 'short',
   'app-datepicker-field--thead': style === 'thead',
   'app-datepicker-field--cell': style === 'cell'}"
  [ngStyle]="{'width': width}"
>
  <label
    *ngIf="label"
    (click)="input.focus()"
    [for]="id"
    class="app-datepicker-field-label"
    [ngClass]="{'app-datepicker-field-label__value': value}"
  >
    {{ label }}
  </label>
  <input
    #input
    type="text"
    class="form-control app-datepicker-field__input"
    [ngClass]="{'app-datepicker-field__value': value && label}"
    [id]="id"
    [disabled]="disabled"
    [(ngModel)]="value"
    (blur)="onTouched()"
    (ngModelChange)="onInput()"
    bsDatepicker
    [bsConfig]="bsConfig"
    #dp="bsDatepicker"
    placement="bottom"
  />
  <div
    *ngIf="dp.isOpen === false"
    class="app-datepicker-field-calendar">
    <button class="btn" (click)="dp.show()" type="button">
      <i class="fas fa-calendar app-datepicker-field-calendar__ico"></i>
    </button>
  </div>
  <div
    *ngIf="dp.isOpen === true"
    class="app-datepicker-field-chevron-down">
    <button class="btn" (click)="dp.show()" type="button">
      <i class="fas fa-chevron-down app-datepicker-field-chevron-down__ico"></i>
    </button>
  </div>
</div>
