@import '../../../../../styles/variables/colors';

.app-datepicker-field {

  border: none;
  border-radius: 0;
  color: #151515;
  padding: 0;
  min-height: 36px;
  max-height: 36px;
  width: auto;
  position: relative;

  .app-datepicker-field-label {
    position: absolute;
    color: #909090;
    transform-origin: 0 0;
    z-index: 1;
    top: 11px;
    left: 11px;
    font-size: 10px;
  }

  .app-datepicker-field-label__value {
    top: 1px;
  }

  .app-datepicker-field__input--long {
    padding: 10px 10px 0;
    min-height: 36px;
  }

  .app-datepicker-field__input {
    padding: 10px 10px 0;
    min-height: 36px;
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    width: 100%;
    font-size: 12px;

    &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
    }

    &.app-input-field__value {
      padding: 10px 10px 0;
    }

  }

  &.app-datepicker-field--short .app-datepicker-field__input{
    padding: 5px;
    min-height: 22px;
    max-height: 22px;
  }

  &.app-datepicker-field-has-error {

    .app-datepicker-field-label {
      color: #e65757;
    }

    .app-datepicker-field__input {
      border-color: #e65757;
    }

  }

  .app-datepicker-field-calendar,
  .app-datepicker-field-chevron-down {
    position: absolute;
  }

  .app-datepicker-field-calendar {
    top: 3px;
    right: 2px;
  }

  &.app-datepicker-field--short .app-datepicker-field-calendar {
    top: -6px;
    right: -7px;
  }

  .app-datepicker-field-chevron-down {
    top: 5px;
    right: 2px;
  }

  &.app-datepicker-field--short .app-datepicker-field-chevron-down {
    top: -6px;
    right: -7px;
  }

  &.app-datepicker-field--short .app-datepicker-field-calendar__ico,
  &.app-datepicker-field--short .app-datepicker-field-chevron-down__ico {
    font-size: 10px;
  }

}

::ng-deep .theme-blue {

  .bs-datepicker-container {
    padding: 20px 0 0;
  }

  .bs-datepicker-head {
    min-width: 180px;
    padding: 0 10px;
    height: 30px;
    background-color: inherit;

    button {
      color: black;
      border-radius: 0;
    }

    .current {
      font: 10px/11px 'NunitoSans-Bold';
      font-weight: bold;
    }

  }

  .bs-datepicker-body {

    min-height: 127px;
    min-width: 180px;
    border: none;

    .days {

      thead {

        margin: 0 0 10px;

        th {
          padding: 0 0 10px;
          color: black;
          font: 10px/11px 'NunitoSans-Bold';
          font-weight: bold;
          text-transform: uppercase;
        }
      }

      td {

        span {
          width: 24px;
          height: 24px;
          line-height: 24px;
          border-radius: 0;
        }

        span:not(.is-other-month) {
          color: black;
        }

        span.selected {
          color: white;
          background-color: $element-base-color;
        }

      }

    }

    .months {

      td {

        span {
          color: black;
          border-radius: 0;
        }

        span.selected {
          color: white;
          background-color: $element-base-color;
        }

      }

    }

    .years {

      td {

        span {
          border-radius: 0;
        }

        span {
          color: black;
          border-radius: 0;
        }

        span.selected {
          color: white;
          background-color: $element-base-color;
        }
      }

    }

  }

}
