@import "index";

.blue-label-link {
  position: relative;
  display: inline-flex;
  margin: 0 5px 0 0;
  padding: 2px 15px 2px 8px;
  border-radius: 3px;
  background: #E4E7FF;
  color: $button-color;

  .blue-label-link__text {
    margin: 0;
  }

  &:hover {
    cursor: pointer;
  }

}
