<div class="field" *ngIf="field && form" [class.active]="showSettings" [formGroup]="form">
  <div class="main-container" formGroupName="options">
    <div class="drag-icon">
      <i class="dragdrop fas fa-ellipsis-v" cdkDragHandle></i>
    </div>
    <div class="name-container">
      <div class="main-text">{{field.name}}</div>
      <div class="hint">Field Type - {{returnFieldTYpeName(field)}}</div>
    </div>
    <sw-dropdown-input style="margin-right: 10px;" formControlName="size" [options]="widthOptions" [selectValue]="size">
      <span class="label">Field Width</span>
    </sw-dropdown-input>
    <div class="input">
      <sw-input-checkbox formControlName="required">
        <span class="label">Required</span>
      </sw-input-checkbox>
    </div>
    <div class="input">
      <sw-input-checkbox formControlName="hideLabel">
        <span class="label">Hide Label</span>
      </sw-input-checkbox>
    </div>
    <div class="input">
      <sw-input-checkbox formControlName="readonly">
        <span class="label">Read–Only</span>
      </sw-input-checkbox>
    </div>
    <div class="input">
      <sw-input-checkbox formControlName="unique">
        <span class="label">Unique</span>
      </sw-input-checkbox>
    </div>
  </div>

  <div class="actions">
    <div class="icon">
      <sw-icon-button icon="fa-cog" class="field-creator blue" [class.active]="showSettings"
        (click)="showSettings=!showSettings">
      </sw-icon-button>
    </div>
    <div class="icon">
      <sw-icon-button icon="fa-times" class="field-creator blue" (click)="removeField(field)">
      </sw-icon-button>
    </div>
  </div>
</div>


<div *ngIf="field && showSettings">
  <app-form-field-settings [inputField]="field" [form]="form" [fieldTypeName]="returnFieldTYpeName(field)">
  </app-form-field-settings>
</div>
