@import '../../../../../styles/index';

:host {
    flex: none !important;
}

.flex{
    display: flex;
}

header {
    width: 100%;
    height: auto;
    flex: none !important;
    background-color: $header-background-color;
    border-bottom: 1px solid $subheader-background-color;
    display: flex;

    @media (max-width: 1170px) {
        flex-wrap: wrap;
    }

    .firstBlock {
        min-height: 60px;
        width: 100%;

        .menuSection {
            display: flex;
        
            .burger {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
        
                width: 60px;
                height: 60px;
                background-color: $header-logo-color;
                transition: all .2s ease;
                cursor: pointer;
            }
        
            .burger:hover {
                background-color: $header-logo-hover-color;
            }
        
            .burger:after {
                content: '';
                background-color: $header-logo-hover-color;
                position: absolute;
                top: 20%;
                right: 0;
                width: 1.5px;
                height: 60%;
            }
        
            .burger.isActive {
                background-color: $header-logo-hover-color;
            }
        
            //.appTitle {
            //    width: 230px;
            //    background-color: $subheader-background-color;
            //    cursor: pointer;
            //    display: flex;
            //    align-items: center;
            //    justify-content: center;
            //
            //    h2 {
            //        margin: auto;
            //        color: $white;
            //        font-size: 18px;
            //        font-weight: 600;
            //        letter-spacing: 0.54px;
            //        line-height: 18px;
            //    }
            //}
        }
    }

    .secondBlock {
        display: flex;
        align-items: center;
        min-height: 60px;

        @media (max-width: 1170px) {
           width: 100%;
        }
    }
}
