<div class="main_menu d-none d-md-flex">
    <ul class="navbar-nav flex-column main_menu__navbar_nav">
            
        <li class="nav-item main_menu__nav_item">
            <a class="nav-link main_menu__nav_link" routerLink="/" (click)="toggleMenu()" rel="noopener" name="Logo">
                <div class="main_menu__icon_box">
                    <span class="main_menu__icon_text">A</span>
                </div>
            </a>
        </li>

        <li class="nav-item main_menu__nav_item" 
            *ngFor="let item of this.menuItems; let i = index;">
            <a 
                class="nav-link main_menu__nav_link main_menu__nav_link--show_label" 
                routerLink={{item.route}} 
                rel="noopener" 
                name={{item.label}}>
                <i class="fas {{item.icon}} main_menu__icon"></i>
            </a>
        </li>
        
        <li class="nav-item main_menu__nav_item">
            <a
                class="nav-link main_menu__nav_link main_menu__nav_link--show_label" 
                routerLink="/" 
                (click)="logOut()" 
                rel="noopener" 
                name="Log Out">
                <i class="fas fa-sign-out-alt main_menu__icon"></i>
            </a>
        </li>

    </ul>
</div> <!-- .main_menu -->