<nav class="navbar navbar-default form-inline">
  <div class=" form-inline">
    <div class=" form-group col-md-2 ">
        <!--<button (click)="cancel()" class="btn btn-default navbar-btn " routerLink="/generalinfo">-->
        <button  class="btn btn-default navbar-btn " (click)="goBack()" >
          <span >Return</span>
        </button>
    </div>
    <div class="form-group col-md-2 col-md-offset-3">
     <h3 class="">Form builder</h3>
  </div>
    <div class=" form-group col-md-offset-4">
         <button class="btn  btn-default navbar-btn " (click)="sendForm()" >Save form
           <span></span>
         </button>
    </div>
  </div>
</nav>



<div [hidden]="(fieldId$ | async)" class="instruments col-md-3">
  <h2>Form Builder</h2>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#instruments">NEW FIELDS</a></li>
    <li><a data-toggle="tab" href="#existing">EXISTING FIELDS</a></li>
  </ul>
  <div class="tab-content">
  <div
    cdkDropList
    #basicFieldsList="cdkDropList"
    [cdkDropListData]="basicFields"
    [cdkDropListConnectedTo]="[workPlaceList]"
    class="example-list tab-pane fade in active"
    id="instruments">
    <!--(cdkDropListDropped)="drop($event)"-->
    <h3>Basic Fields</h3>
    <div class="example-box" *ngFor="let item of basicFields " cdkDrag>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">{{item.name}}</span>
      </div>

    </div>
  </div>


    <div
      cdkDropList
      #mappedFieldsList="cdkDropList"
      [cdkDropListData]="mappedFields"
      [cdkDropListConnectedTo]="[workPlaceList]"
      id="existing" class="tab-pane fade">
      <h3>EXISTING FIELDS</h3>
      <div class="example-box" *ngFor="let existing of mappedFields " cdkDrag>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">{{existing.name}}</span>
        </div>
    </div>
  </div>


</div>
</div>

<div [hidden]="!(fieldId$ | async)" class="instruments col-md-3">
  <h2> Field's settings</h2>
  <app-fields-settings></app-fields-settings>
</div>
<div class="workplace col-md-7 col-lg-offset-1">
  <h2>WorkPlace</h2>
  <form>
    <div
      cdkDropList
      cdkDropListOrientation="horizontal"
      #workPlaceList="cdkDropList"

      [cdkDropListData]="workPlace"
      [cdkDropListConnectedTo]="[basicFieldsList, mappedFieldsList]"
      class=" example-list container-fluid"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of workPlace  " cdkDrag>
          <app-form-conteiner class="col-md-{{item.options.size}}"    [field]="item"></app-form-conteiner>
      </div>
    </div>
  </form>

</div>






