
body{
  background-color: lightgray;
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

input{
  width: 100%;
}
.instruments,.workplace{


  border: 1px solid bisque;
  border-radius: 10px;

}

.instruments {
  height: 450px;
  text-align: center;
}

.workplace,.example-list{
  height: 1000px;
}
h3, h2{

  color: #BAB8B8;
  font-family: "Co Text Corp", Roboto, Arial, "Droid Sans", sans-serif;

}

h2{text-align: center;}

h6{
 color: #BAB8B8;
}
