:host {
  flex: 0.75;
  padding: 0 15px;
  .stepper-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    sw-button:nth-child(1) {
      margin-right: 10px;
    }
  }
}
