<ng-container [ngSwitch]="_workarea">
  <sw-form-creator-workarea-intro *ngSwitchCase="'intro'"></sw-form-creator-workarea-intro>
  <sw-form-creator-workarea-consent *ngSwitchCase="'consent'"></sw-form-creator-workarea-consent>
  <sw-form-creator-workarea-terms-and-conditions *ngSwitchCase="'tac'"></sw-form-creator-workarea-terms-and-conditions>
  <sw-form-creator-workarea-fields *ngSwitchCase="'fields'"></sw-form-creator-workarea-fields>
  <div *ngSwitchDefault>DEFAULT</div>
</ng-container>
<div class="stepper-buttons" data-e2e="stepper-buttons">
  <sw-button class="outline-btn" (click)="prevStep()">
    Back to Previous Step
  </sw-button>
  <sw-button (click)="nextStep()" [disabled]="true">
    Save & Go Next Step
  </sw-button>
</div>
