@import 'index';

.app-form-management {
  padding: 15px;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  top: 0;
  left: -55px;
}

.tabs {
  display: flex;
  margin: 0 0 15px 0;
}

.tabs-block {
  display: flex;
  justify-content: space-between;
  margin: 0 33% 0 0;
}

.tab {
  outline: none;
  margin: 0 25px 0 0;
  padding: 0;
  color: $gray-color;
  font: 700 12px/15px $nunito-sans;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  background: transparent;

  &:hover, &:focus, &:active {
    border-bottom: 2px solid $hover-purple;
    color: $hover-purple;
  }
}

.tab-activated {
  border-bottom: 2px solid $element-base-color;
  color: $element-base-color;
}

.app-form-management-block {
  padding: 15px;
  background: #fff;
}

.control-block {
  display: flex;
  align-items: center;
}

.assign {
  display: flex;
  margin: 0 10px 0 0;
  padding: 5px 5px 6px;
  background: $gray;
  border-radius: 3px;
  border: 1px solid $dark-grey;
  align-items: center;
}

.assign-text {
  margin: 0 5px 0 0;
  font: 500 10px/12px $nunito-sans;
}

.review {
  margin: 0 10px 0 0;
}

.actions-icon {
  margin: 0 0 0 26px;
}
