<sw-back-bar
  title="Forms"
  (onBackClick)="backPageClick()"
></sw-back-bar>
<div class="app-form-management">
  <div class="info" *ngIf="form">
    <sw-form-management-header
      [form]="form"
      (changeStatus)="changeFormStatus($event)"
      (copyLink)="copyLinkPopupOpen()"
      (exportPDF)="exportPDF()"
      (editForm)="editForm()"
    ></sw-form-management-header>
    <a [href]="download.url" [download]="download.filename" #link></a>
  </div>

  <div class="app-form-management-block">
    <div class="tabs-block">
      <div class="tabs">
        <button
          *ngFor="let tab of tabsArray"
          class="tab"
          [class.tab-activated]="activeTab === tab"
          (click)="activeTab = tab"
        >
          {{ tab }}
        </button>
      </div>
      <div class="control-block" *ngIf="activeTab === 'Submissions'">
        <div class="assign">
          <span class="assign-text">{{ formSubmissions?.cnt_unassigned }} Forms are unassigned</span>
          <sw-button
            class="small"
            [disabled]="!formSubmissions || !formSubmissions .cnt_unassigned || !formSubmissions.cnt_unassigned"
            [routerLink]="['/upload-review-form', activeIdForm]"
            [queryParams]="{status: 'unassigned'}"
          >
            Assign
          </sw-button>
        </div>
        <div class="review">
          <sw-button [routerLink]="['/upload-review-form', activeIdForm]">Upload & Review</sw-button>
        </div>
        <div class="actions">
          <sw-dropdown-select
              #bulk="dropdown"
              [options]="bulkOptions"
              (selected)="bulkAction($event)"
          >
            <sw-button class="secondary" [disabled]="!bulkActive">
              <span class="actions-bulk-btn-text">Bulk Actions</span>
              <span class="actions-icon">
                <i
                  class="fas fa-chevron-down"
                  [class.fa-chevron-down]="!bulk.isOpened"
                  [class.fa-chevron-up]="bulk.isOpened"
                ></i>
              </span>
            </sw-button>
          </sw-dropdown-select>
        </div>
      </div>
    </div>
    <ng-container [ngSwitch]="activeTab">
      <sw-form-management-submissions
        *ngSwitchCase="'Submissions'"
        [formId]="activeIdForm"
        (bulkActive)="changeBulkActive($event)"
      ></sw-form-management-submissions>
      <sw-form-management-logs *ngSwitchCase="'Log'" [formId]="activeIdForm"></sw-form-management-logs>
    </ng-container>
  </div>
</div>

<sw-dialog #dialog title="Copy" action="Copy" (closed)="popupClosed()">
  <sw-label>
    {{ copyLink }}
  </sw-label>
</sw-dialog>

<div *ngIf="isPopupOpen" class="overlay">
</div>
