@import 'index';

.form-history {
  background: #FFFFFF;
  padding: 15px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  color: #151515;
}

.top-bar {
  // display: flex;
}

.title {
  margin-right: auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
}

.search-bar {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.timeline {
  overflow: auto;
  white-space: nowrap;

  .bottom {

  }

  hr {
    border: 1px solid #C4C4C4;
  }
}