<nav class="nav_grid">
  <div class="nav_grid__title">
    <span class="nav_icon_brand" routerLink="/vertical-data-collection">
      <i class="fas fa-chevron-left fa-xs"></i>
    </span>
    <span class="nav_text_brand">
      NEW DATA COLLECTIONS FORM
    </span>
  </div>
  <div class="nav_grid__navbar">
    <div>
      <ul class="main_navbar">
        <li class="main_navbar__item">
          <a
            class="main_navbar__item_link"
            routerLink="general-information"
            [ngClass]="{
              'main_navbar__item_link--valid': isGeneralInfoValid,
              disabled_router: !isGeneralInfoValid || isSavingConstructor
            }"
            routerLinkActive="active main_navbar__item_link--active"
          >
            General Settings
            <i
              *ngIf="isGeneralInfoValid"
              class="fas fa-check-circle fa-xs pl-2"
            ></i>
            <i
              *ngIf="!isGeneralInfoValid"
              class="fas fa-spacer-non-icon fa-xs pl-2"
            ></i>
          </a>
          <i class="fa fa-chevron-right main_navbar__item_icon"></i>
        </li>
        <li class="main_navbar__item">
          <a
            class="main_navbar__item_link"
            [ngClass]="{
              disabled_router: !isGeneralInfoValid || isSavingConstructor
            }"
            routerLink="form-builder"
            routerLinkActive="active main_navbar__item_link--active"
          >
            Form Builder
          </a>
          <i class="fa fa-chevron-right main_navbar__item_icon"></i>
        </li>
        <li class="main_navbar__item">
          <a
            class="main_navbar__item_link"
            [ngClass]="{
              disabled_router: !isGeneralInfoValid || isSavingConstructor
            }"
            routerLink="publish-settings"
            routerLinkActive="active main_navbar__item_link--active"
          >
            Publish Settings
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nav_grid__controls">
    <button
      type="button"
      class="btn app-btn-outline-primary "
      (click)="saveForm()"
    >
      Save & Exit
    </button>
  </div>
</nav>

<div class="content-area">
  <div class="gray_container">
    <router-outlet></router-outlet>
  </div>
</div>
