@import '../../../../../styles/variables/colors';

.gray_container{
  background-color: #F3F2F3;
  padding-bottom: 20px;
}

.nav_text_custom{
  /*color: #BAB8B8;*/
  /*font-family:*/
    /*"Co Text Corp",*/
    /*Roboto,*/
    /*Arial,*/
    /*"Droid Sans",*/
    /*sans-serif;*/
}
.nav_text_brand{
  height: 15px;
  width: 182px;
  color: #535353;
  font-size: 15px;
  letter-spacing: 0.2px;
  line-height: 15px;
  cursor: w-resize;
}
.border-bottom{
  border-bottom-width: 2px!important;
  border-bottom-color: $element-base-color!important;
}

.app-text-extra-bold{
  color: #151515!important;
}


.navbar{
  padding: 0 1rem;
}
.nav-link.active{
  color: $element-base-color!important;
  font-weight: bold;
}
.nav-link{
font-size: 12px;
}

.app-general-info-valid {
  color: #3CA476 !important;
  font-weight: bold;
}
