<div class="section_header">
  <div class="section_header__group_box">
    <div class="section_header__grip_box">
      <span><i class="fas fa-grip-vertical section_header__grip"></i></span>
    </div>
    <div class="section_header__item_box section_header__item_box--x2_width">
      <div
        class="section_header__item"
        [ngClass]="{ 'app-input-fill': sectionName }"
      >
        <label class="app-input-label" for="section-name">Section Name</label>
        <input
          id="section-name"
          type="text"
          class="app-input"
          [value]="sectionName"
          (change)="changeSectionName($event.target.value)"
          placeholder="Section Name"
        />
      </div>
    </div>

    <div class="section_header__item app-input-fill">
      <select
        class="app-input"
        id="section-width"
        (input)="changeSectionWidth($event.target.value)"
      >
        <option
          *ngFor="let key of objectKeys(list)"
          [value]="list[key]['type']"
          [selected]="list[key]['type'] === sectionWidth"
        >
          {{ list[key]["label"] }}
        </option>
      </select>
      <label class="app-input-label" for="section-width">Section Width</label>
    </div>
  </div>

  <div class="section_header__group_box section_header__group_box--end">
      <div class="section_header__control_item"
           (click)="toggleSettings()">
        <span><i class="fas fa-cog section_header__control_icon"></i></span>
      </div>
      <div 
        class="section_header__control_item section_header__control_item--expander"
        (click)="toggleExpand()"
      >
        <span>
          <i 
            class="fas section_header__control_icon"
            [ngClass]="{
              'fa-caret-up': isExpand,
              'fa-caret-down': !isExpand
            }"
          ></i>
        </span>
      </div>
  </div>
</div>
