@import '../../../../../../../../styles/variables/colors';


.app-list-group-item-info {
  background-color: #EBEEFF;

}
.border-open-setting{
  border: 1px solid $element-base-color;
}
.list-group-item{border: none!important;}

/*.section-hr-div{*/
/*  width: 100%; height: 6px; border-bottom: 1px solid #535353; text-align: center;*/
/*}*/

/*.section-hr-span{*/
/* font-size: 12px;  padding: 0 3px;	font-weight: bold;*/
/*}*/

.hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1.5em;
  opacity: .5;
&:before {
   content: '';
 // use the linear-gradient for the fading effect
 // use a solid background color for a solid bar
 background: linear-gradient(to right, transparent, #818078, transparent);
   position: absolute;
   left: 0;
   top: 50%;
   width: 100%;
   height: 1px;
 }
&:after {
   content: attr(data-content);
   position: relative;
   display: inline-block;
   color: black;

   padding: 0 .5em;
   line-height: 1.5em;
 // this is really the only tricky part, you need to specify the background color of the container element...
 color: #818078;
   background-color: #F3F1F3;
 }


}
.fas{
  cursor: pointer;
}
.empty-section{	height: 115px;		border-radius: 0 0 5px 5px;	background-color: #FFFFFF;

}

.empty-section-text{
  color: #A4A8BE;		font-size: 10px;	font-weight: bold;	line-height: 11px;	text-align: center;
}

.ngx-dnd-box,
.ngx-dnd-item {
  transition: opacity 0.4s ease-in-out;
  border: 1px solid lightblue;
  display: block;

  &:not(.has-handle):not(.move-disabled),
  &.has-handle [ngxdraghandle],
  &.has-handle [ngxDragHandle] {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .ngx-dnd-content {
    user-select: none;
  }

  &:hover {
    border: 1px solid blue;
  }
}

.ngx-dnd-box {
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  float: left;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 499 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

