<!--Section Header-->
<app-section-header [sectionName]="section.name" [sectionWidth]="section.width" [isExpand]="isExpand"
  (onChangeSectionName)="changeSectionName($event)" (onChangeSectionWidth)="changeSectionWidth($event)"
  (onToggleExpand)="toggleExpand()" (onToggleSettings)="toggleSettings()" (onRemoveSection)="removeSection(section)">
</app-section-header>
<!--End Section Header-->


<div *ngIf="showSettings">
  <app-section-settings [section]="section"></app-section-settings>
</div>

<div [hidden]="!isExpand">

  <!--    <ngx-dnd-container-->
  <!--      [model]="section.fields">-->
  <!--    </ngx-dnd-container>-->
  <ul class="list-group ">
    <div class="ngx-dnd-container" cdkDropList [id]="section.path.join('|')" [cdkDropListData]="section.fields" (cdkDropListDropped)="drop($event)"
      direction="vertical">
      <li *ngIf="section.fields.length==0" class="list-group-item empty-section mb-3 py-0 ">
        <div class="text-center"> <span class="empty-section-text">Drag and Drop Fields Onto the Section</span>
        </div>
      </li>

      <li class="list-group-item mb-3 p-0 ngx-dnd-item" *ngFor="let field of section.fields; "
        [cdkDragData]="field" cdkDrag>

        <app-divider-container *ngIf="field.type==112" [inputDivider]="field" [form]="form"></app-divider-container>
        <app-group-container *ngIf="field.type==113" [inputGroup]="field" [nestedLevel]="nestedLevel+1"
          [idSectionForDragDrop]="idSectionForDragDrop" [form]="form" [sideBar]="sideBar" [customFields]="customFields">
        </app-group-container>
        <app-field-container *ngIf="field.type!=113&&field.type!=112" [customFields]="customFields" [sideBar]="sideBar"
          [inputField]="field" [form]="form"></app-field-container>
      </li>
    </div>
  </ul>
</div>


<div class="">
  <hr class="hr-text" [attr.data-content]="getEndOfSection()">

</div>
