<!--Section Header-->
<app-section-header *ngIf="_section" [sectionName]="_section.name" [sectionWidth]="_section.width" [isExpand]="isExpand"
  (onChangeSectionName)="changeSectionName($event)" (onChangeSectionWidth)="changeSectionWidth($event)"
  (onToggleExpand)="toggleExpand()" (onToggleSettings)="toggleSettings()" (onRemoveSection)="removeSection(_section)">
</app-section-header>
<!--End Section Header-->


<div style="margin: -11px 0 10px;" *ngIf="_section && showSettings">
  <app-section-settings [section]="_section"></app-section-settings>
</div>

<div *ngIf="_section && isExpand">

  <!--    <ngx-dnd-container-->
  <!--      [model]="section.fields">-->
  <!--    </ngx-dnd-container>-->
  <ul class="list-group " cdkDropList [cdkDropListData]="_section.fields" cdkDropListSortingDisabled
    [id]="_section.pathId" [cdkDropListConnectedTo]="getSectionPathIds()">
    <li *ngIf="_section.type === 114 && _section.fields.length==0" class="list-group-item empty-section mb-3 py-0 ">
      <div class="text-center"> <span class="empty-section-text">Drag and Drop Fields Onto the Section</span>
      </div>
    </li>

    <li class="list-group-item mb-3 p-0" *ngFor="let field of _section.fields; " cdkDrag (cdkDragDropped)="drop($event)"
      [cdkDragData]="field">
      <app-divider-container *ngIf="field.type==112" [inputDivider]="field" [form]="form"></app-divider-container>
      <ng-container *ngIf="field.type < 112">
        <app-field-container *cdkDragPreview [inputField]="field">
        </app-field-container>
        <app-field-container [customFields]="customFields" [sideBar]="sideBar" [inputField]="field" [form]="form">
        </app-field-container>
      </ng-container>
      <ng-container *ngIf="field.type === 113">
        <app-group-container *cdkDragPreview [inputGroup]="field" [nestedLevel]="nestedLevel+1" [hideNested]="true">
        </app-group-container>
        <app-group-container [inputGroup]="field" [nestedLevel]="nestedLevel+1" [hideNested]="field.hideNested">
        </app-group-container>
      </ng-container>


    </li>
  </ul>
</div>


<div class="" *ngIf="section">
  <hr class="hr-text" [attr.data-content]="getEndOfSection()">

</div>
