<div class="py-3" [ngClass]="{'app-setting-show': showGroupSettings}">
  <div class="row align-items-center no-gutters">

    <div class="col-3 ">

      <div class="row align-items-center no-gutters ml-2">

        <div class="col-3">
          <div class="row align-items-center no-gutters">
            <div cdkDragHandle>
<!--            <div *ngIf="inputGroup.isValidName" cdkDragHandle>-->
              <span><i class="fas fa-ellipsis-v dragable-i"></i></span>
              <span><i class="fas fa-ellipsis-v dragable-i"></i></span>
            </div>
<!--            <div *ngIf="!inputGroup.isValidName">-->
<!--                   <span aria-hidden="true" [title]="warningCheckExistingLabelString"><i-->
<!--                     class="fas fa-exclamation-triangle"></i></span>-->
<!--            </div>-->

            <div>
<!--            <div *ngIf="inputGroup.isValid">-->
              <span class="rectangle"><i class="fas fa-clone"></i></span>
            </div>
<!--            <div *ngIf="!inputGroup.isValid" class="ml-3">-->
<!--              <span aria-hidden="true" [title]="warningCheckUniqString"><i-->
<!--                class="fas fa-exclamation-circle"></i></span>-->
<!--            </div>-->

          </div>
        </div>

        <div class="col-9">
          <label class="has-float-label">
            <input class="form-control "
                   [disabled]="(inputGroup.mapped!=''&& inputGroup.hasOwnProperty('mapped'))||inputGroup.type==113"
                   [ngModel]="inputGroup.name">
            <span class="spanForLabel">Group Label</span>
          </label>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row align-items-center ">
        <div class="col-5 offset-1 pl-0">
          <label class="has-float-label">
            <select class="form-control" disabled>
              <option>{{inputGroup.name}}
              </option>
            </select>
            <span class="spanForLabel">Group Type</span>
          </label>
        </div>

        <div class="col-3">
          <label class="has-float-label">
            <select class="form-control" [(ngModel)]="inputGroup.options.size">
              <option *ngFor="let width of size" [value]="width"
                      [selected]="inputGroup.options.size==width">{{width}}
              </option>
            </select>
            <span class="spanForLabel">Field Width</span>
          </label>
        </div>
      </div>
    </div>
    <div class="col-md-3 row align-items-center no-gutters">
      <div class="col-2 offset-10">
        <div class="d-inline-block">
          <i (click)="onShowGroupSettings()" class="fas fa-cog dragable-i pr-2"></i>
          <span (click)="onShowNested()">
            <i *ngIf="showNested" class="fas  fa-caret-down dragable-y"></i>
            <i *ngIf="!showNested" class="fas  fa-caret-up dragable-y"></i>
          </span>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="!showNested"
       [cdkDropListConnectedTo]="['ExistingFieldsList', 'CustomFieldsList', 'workPlaceList']"
       [cdkDropListData]="inputGroup.fields"
       id="6372c882-3d14-486f-9c1f-52ae8ab928ef"
       (cdkDropListDropped)="drop($event)"
       class=""
       cdkDropList>
    <ul class="list-group">
      <li class="list-group-item ml-4 mb-3" *ngFor="let field of inputGroup.fields" cdkDrag>
        <app-v-field-container *ngIf="field.type!=113"
                               [inputField]="field"
                               [customFields]="customFields">
        </app-v-field-container>
      </li>
    </ul>
  </div>

  <div *ngIf="showGroupSettings">
    <app-v-group-settings [inputGroup] = "inputGroup"></app-v-group-settings>
  </div>

</div>

