@import 'index';

:host {
  .input_toggle {
    align-items: stretch;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
    min-height: 1.35rem;
    position: relative;

    input[type='checkbox'] {
      display: none;
      &:checked {
        & + .input_toggle__slider {
          background-color: $light-purple;
          &:before {
            background-color: $element-base-color;
            border: 1px solid $element-base-color;
            left: 1.36rem;
            right: -0.1rem;
          }
        }

        & ~ .input_toggle__span {
          font-weight: bold;
        }
      }
    }
    &__slider {
      background-color: $light-purple;
      border: 1px solid $medium-purple;
      box-sizing: border-box;
      cursor: pointer;
      display: inline-block;
      height: 1rem;
      margin-right: 0.85rem;
      position: relative;
      top: 0.1rem; // webkit visual bug fix for nested slider of label
      transition: all 0.4s ease-in-out;
      width: 2.5rem;
      &:before {
        content: '';
        border: 1px solid $medium-purple;
        background-color: $white;
        height: 1.15rem;
        left: -0.1rem;
        position: absolute;
        right: 1.36rem;
        top: -0.15rem;
        transition: all 0.4s ease-in-out;
        width: 1.15rem;
      }
      &.round {
        border-radius: 85rem;
        &:before {
          border-radius: 50%;
        }
      }
    }

    &__span {
      color: $black-text;
      display: flex;
      font-family: $nunito-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.25rem;
      transition: all 0.4s ease-in-out;
    }
  }
}
