@import 'index';

:host {
  .input_toggle {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin: 0;
    cursor: pointer;

    input[type='checkbox'] {
      display: none;
      &:checked {
        & + .input_toggle__slider {
          background-color: $light-purple;
          &:before {
            background-color: $element-base-color;
            border: 1px solid $element-base-color;
            transform: translateX(16px);
          }
        }
      }
    }
    &__slider {
      width: 30px;
      height: 12px;
      display: inline-block;
      position: relative;
      border: 1px solid $medium-purple;
      box-sizing: border-box;
      cursor: pointer;
      transition: 0.4s;
      margin-right: 10px;
      &:before {
        content: '';
        width: 14px;
        height: 14px;
        position: absolute;
        top: -2px;
        left: -1px;
        background-color: $white;
        border: 1px solid $medium-purple;
        transition: 0.4s;
      }
      &.round {
        border-radius: 100px;
        &:before {
          border-radius: 50%;
        }
      }
    }

    &__span {
      color: $black-text;
      display: flex;
      font-family: $nunito-sans;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.25rem;
      transition: all 0.4s ease-in-out;
    }
  }

  .input_toggle__input:checked ~ .input_toggle__span {
    font-weight: bold;
  }
}
