
@keyframes slowShow {
  0% {
      top: 0;
  }
  100% {
  }
}

@keyframes slowHide {
  0% {
      opacity: 1;
      top: 0;
  }
  50% {
      opacity: 0;
      top: 0;
  }
  100% {
      top: -10000vh;
  }
}

.openable_item {
  animation: slowShow 600ms ease-in-out;
  max-height: 99rem;
  opacity: 1;
  transition: all 600ms ease-in-out;
  top: 0;
  visibility: visible;

  &--close {
      animation: slowHide 900ms ease-in-out;
      max-height: 0;
      opacity: 0;
      position: relative;
      top: -10000vh;
      visibility: hidden;
  }
}