<div class="row no-gutters">
  <div class="col-6 p-3">
    <div class="app-form-table-block-wrapper p-3">
      <app-v-inside-account-communication></app-v-inside-account-communication>
    </div>
  </div>
  <div class="col-3 p-3">
    <div class="app-form-table-block-wrapper p-3">
      <app-v-inside-missing-fields></app-v-inside-missing-fields>
    </div>
  </div>
  <div class="col-3 p-3">
    <div class="app-form-table-block-wrapper p-3">
      <app-v-inside-form-history></app-v-inside-form-history>
    </div>
  </div>
</div>
<app-v-inside-form-documents></app-v-inside-form-documents>