@import "index";

:host {
  .dropdown_input_container {
    width: 100%;
    min-height: 35px;
    padding: 5px 10px;
    border: 1px solid $soft-gray;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;

    &.active {
      border-color: #4350A2;
      .dropdown_input_container__icon {
        &_up {
          display: flex;
        }
        &_down {
          display: none;
        }
      }
    }
    &__input {
      height: 13px;
      display: flex;
      align-items: center;
      .text {
        font-style: normal;
        font-size: 12px;
        line-height: 13px;
        margin-right: 4px;
      }
      i { display: none; }
      &.many {
        height: auto;
        padding: 3px 10px;
        border-radius: 12px;
        margin-top: 10px;
        background-color: #E6EFFF;
        .text {
          font-weight: bold;
          color: #004ED9;
        }
        i {
          font-size: 11px;
          display: inline-block;
          color: #979797;
        }
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
    &__icon {
      margin-left: auto;
      &_up {
        display: none;
        color: #4350A2;
      }
      &_down {
        display: flex;
        color: #909090;
      }
    }
  }
}

:host(.settings-field) {
  .dropdown_input_container {
    min-height: 25px;
    padding: 4px 10px;
  }
}

.dropdown_items_container__item:hover {
  cursor: pointer;
}

.dropdown_items_container {
  padding: 10px 0 25px;

  .dropdown_items_sub-container-item {
    width: 100%;
  }

  .dropdown_items_sub-container {
    position: relative;
    width: 100%;
    margin: 0 0 35px 0;

    .dropdown_items_sub-header {
      padding: 0 10px;
      margin: 0 0 20px;
      font: 800 9px/13px $nunito-sans;
      text-transform: uppercase;

      .dropdown_items_sub-header--count {
        font: 800 9px/13px $nunito-sans;
        text-transform: uppercase;
        color: $element-base-color;
      }

    }

    .dropdown_items_container__item {
      padding: 10px;
    }

    &:last-of-type {
      margin: 0;
    }

    &:after {
      position: absolute;
      content: '';
      width: 137px;
      height: 1px;
      bottom: -25px;
      left: 10px;
      background: $gray-color;
    }

    &:last-of-type:after {
      display: none;
    }
  }

  .text--count {
    color: $gray-color;
  }
}
