<div
  class="content_section__main content_section__main--center"
  [formGroup]="fg"
>
  <ng-container *ngFor="let item of consents; let consentIndex = index">
    <div *ngIf="isShowConsent(consentIndex)">
      <!--Title-->
      <h2 class="content_section__article_title">
        {{ item.title }}
      </h2>
      <!--SubTitle-->
      <h3 class="sub_title">
        <i class="far fa-clock fa-sm mr-1"></i>
        ~15 minutes
      </h3>

      <!--Text-->
      <article class="content_section__article">
        <div
          class="content_section__article_text"
          [innerHTML]="item.text.value"
        ></div>
      </article>

      <!--Checkbox-->
      <div
        *ngIf="item.checkbox.isActive"
        class="content_section__additional_fields"
      >
        <div class="content_section__inputs_container">
          <div class="content_section__checkbox_container p-0">
            <sw-input-checkbox [formControlName]="item._id + '_agree'">
              <span class="input_label"> {{ item.checkbox.text }}</span>
            </sw-input-checkbox>
          </div>
        </div>
      </div>

      <sw-online-form-signatures
        [fg]="fg"
        [sourcePage]="item._id"
        [signature]="item.signature"
      ></sw-online-form-signatures>
      <!--SIGNATURE-->
      <!-- <app-signatures
          [signature]="item.signature"
        ></app-signatures> -->
      <!--END SIGNATURE-->
    </div>
  </ng-container>
</div>
