<div
  class="form-group app-input-container"
  [ngClass]="{ 'app-input-fill': data.value && !data.options.hideLabel }"
>
  <label *ngIf="!data.options.hideLabel" class="app-input-label">{{
    data.name | titlecase
  }}</label>
  <input
    type="text"
    aria-describedby="basic-addon2"
    class="app-input form-control"
    pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
    [(ngModel)]="data.value"
    [readOnly]="isDisabled"
    [disabled]="isDisabled"
    [required]="data.options.required"
    [placeholder]="data.name | titlecase"
  />
</div>
