<ng-container *ngIf="true">
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': !field.options.hideLabel }"
  >
    <label *ngIf="!field.options.hideLabel" class="app-input-label">{{
      field.name | titlecase
    }}</label>
    <input
      [formControlName]="field._id"
      mdInput
      type="time"
      class="app-input form-control"
      [ngClass]="{ 
        validation_required: this.field.options.required && !this.field.options.readonly,
        validation_error: !!validationText
      }"
      [placeholder]="field.name | titlecase"
    />
    <span class="error_icon" [ngClass]="{ validation_error: !!validationText }" (click)="validationText = ''">
      <i class="fas fa-times fa-xs"></i>
    </span>

    <span class="validation_icon" [ngClass]="{ validation_required: this.field.options.required && !this.field.options.readonly }">
        <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
