@import "index";

:host {
  .paginator-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    &__dropdown {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      color: #909090;
      .fake-input {
        margin-left: 6px;
        display: flex;
        align-items: center;
        .text {
          color: #4350A2;
          font-weight: 800;
        }
        .icon {
          width: 15px;
          height: 15px;
          display: flex;
          justify-content: center;
        }
      }
    }
    &__spacer {
      width: 2px;
      height: 25px;
      background: #E3E3E3;
      margin: 0 20px;
    }
    &__paginator {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      .icon {
        color: #4350A2;
        &.disabled {
          color: #A4A4A4;
        }
      }
      .item {
        cursor: pointer;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .item:not(:last-of-type) {
        margin-right: 8px;
      }
      .item:first-of-type {
        margin-right: 14px;
      }
      .item:last-of-type {
        margin-left: 14px;
      }
      .page:hover {
        background: #EBEEFF;
        color: #4350A2;
      }
      .page.selected {
        background: #FFF3DD;
        border: 1px solid #F8BC45;
        box-sizing: border-box;
      }
    }
  }
}