<div class="paginator-container">
  <div class="paginator-container__dropdown">
    Show:
    <sw-dropdown-select [options]="sizeOptions" (selected)="changeSize($event)">
      <div class="fake-input">
        <div class="text">
          {{ limit }}
        </div>
        <div class="icon">
          <i class="fas fa-sort-down"></i>
        </div>
      </div>
    </sw-dropdown-select>

  </div>
  <div class="paginator-container__spacer"></div>
  <div class="paginator-container__paginator">
    <div class="item icon" (click)="selectPage(currentPage - 1)" [class.disabled]="currentPage === 1">
      <i class="fas fa-chevron-left"></i>
    </div>
    <div class="item page first-page" *ngIf="(currentPage - range) >= 2" (click)="selectPage(1)">
      1
    </div>
    <div class="item dots" *ngIf="(currentPage - range) > 2">
      ...
    </div>

    <div class="item page" [class.selected]="currentPage === page" *ngFor="let page of pages | async"
      (click)="selectPage(page)">
      {{ page }}
    </div>

    <div class="item dots" *ngIf="(totalPages - 1) > (currentPage + range)">
      ...
    </div>
    <div class="item page last-page" *ngIf="(totalPages - 1) >= (currentPage + range)" (click)="selectPage(totalPages)">
      {{ totalPages }}
    </div>
    <div class="item icon" (click)="selectPage(currentPage + 1)" [class.disabled]="currentPage === totalPages">
      <i class="fas fa-chevron-right"></i>
    </div>
  </div>
</div>