<div *ngIf="tableTitle !== undefined" class="table_title">
  <p class="table_title__text">{{ tableTitle }}</p>
</div>

<div class="fee_table">
  <div class="fee_table__row fee_table__row--bottom_effect">
    <div class="fee_table__column fee_table__column--left">
      <div class="fee_table__row">
        <p>Payment Fee Modify</p>
      </div>
    </div>
    <div class="fee_table__column fee_table__column--right">
      <div class="fee_table__row">
        <div class="fee_table__label position-relative">
          <app-checkbox-field
            label="Automatic approval of schedule changes up to "
            id="fee_table_automatic"
          >
          </app-checkbox-field>
          <input class="fee_table__input_terms" type="text" name="" id="" />
          <select class="fee_table__select_terms" name="" id="">
            <option value="day">days</option>
          </select>
          <span>past due date</span>
        </div>
      </div>
      <div class="fee_table__row">
        <div class="fee_table__label position-relative">
          <app-checkbox-field
            label="Payer is allowed to request a schedule change for approval when not
              automatically approved"
            id="fee_table_payer"
          >
          </app-checkbox-field>
        </div>
      </div>
    </div>
  </div>
  <div class="fee_table__row">
    <div class="fee_table__column fee_table__column--left">
      <p>Payment Options (3)</p>
    </div>
    <div class="fee_table__column fee_table__column--right">
      <app-payment-settings-table-school-custom-default
        [optionValues]="{}"
        [isSelected]="false"
      ></app-payment-settings-table-school-custom-default>
      <div class="fee_table__row"></div>
      <div class="fee_table__row"></div>
      <div class="fee_table__row"></div>
    </div>
  </div>
</div>
