@import '../../../../../styles/variables/colors';

.app-input-editable-field {
  width: auto;
  height: 14px;
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: auto;
  border: none;
  border-radius: 0;
  color: white;

  input {
    border: none;
    height: 14px;
    font-size: 12px;

    &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    &.app-input-field__value {
      padding-top: 10px;
    }
  }

  .app-input-editable-field__ico {
    width: 9px;
    height: 9px;
    margin: auto 0;
    color: white;
    font-size: 9px;
  }

  .app-input-editable-field__input {
    color: white;
    background-color: $dark-purple;
  }

  &.app-input-editable-field__header {
    justify-content: left;
    color: black;

    .app-input-editable-field__input {
      min-width: 10px;
      padding: 5px 0 0 0;
      margin: 0 5px 0 0;
      color: black;
      background-color: white;
      font: 11px/15px 'NunitoSans-Bold';
    }

    .app-input-editable-field__ico {
      width: 12px;
      height: 12px;
      margin: auto 0;
      color: grey;
      font-size: 12px;
    }

  }

}
