<div class="w-100">
  <nav class="navbar navbar-expand py-0">
    <div class="justify-content-left">
      <ul class="navbar-nav">
        <ng-container
          *ngFor="let item of content; let i = index; let lastIndex = last"
        >
          <li
            class="nav-item py-2 px-1"
            [ngClass]="{
              'app-text-primary app-of-nav-active-border': activeId === item.id
            }"
          >
            <a
              class="nav-link font-weight-bold app-cursor-pointer"
              (click)="setActiveId(item.id)"
            >
              {{ item.title }}
            </a>
          </li>
          <ng-container *ngIf="!lastIndex">
            <li class="nav-item py-2 px-1">
              <a class="nav-link">
                <i class="fas fa-chevron-right fa-sm app-text-second"></i>
              </a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </nav>
</div>
