<p class="app-text-extra-large font-weight-bold">Fishman Family</p>

<div class="row  no-gutters border-top border-bottom py-3 text-center">
  <div class="col-4 border-right px-4">
    <p class="app-text-large font-weight-bold mb-0">10</p>
    <p class="app-text-small mb-0">Number of siblings</p>
  </div>
  <div class="col-4 border-right px-4">
    <p class="app-text-large font-weight-bold mb-0">5</p>
    <p class="app-text-small mb-0">Children at home</p>
  </div>
  <div class="col-4 px-4">
    <p class="app-text-large font-weight-bold mb-0">2</p>
    <p class="app-text-small mb-0">Adopted children</p>
  </div>
</div>

<div class="row  no-gutters border-bottom py-3">
  <div class="col-12">
    <p class="font-weight-bold mb-2">CONTACTS</p>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Address:</p>
      <p class="align-self-end mb-2">High Road 45, New York, 123456</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Prefered Contact:</p>
      <p class="align-self-end mb-2">Atara Fishman</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Contact number:</p>
      <p class="align-self-end mb-2">+1-202-555-0181</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Home Phone Number:</p>
      <p class="align-self-end mb-2">+1-202-555-0181 </p>
    </div>
  </div>
</div>

<div class="row  no-gutters border-bottom py-3">
  <div class="col-12">
    <p class="font-weight-bold mb-2">ADDITIONAL INFORMATION</p>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Language Spoken at Home:</p>
      <p class="align-self-end mb-2">Hebrew</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Family Rabbi:</p>
      <p class="align-self-end mb-2">Avraham Saphira</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Family Rabbi Phone:</p>
      <p class="align-self-end mb-2">+1-202-555-0181</p>
    </div>
    <div class="d-flex justify-content-between">
      <p class="align-self-start app-text-second mb-2">Family Shul:</p>
      <p class="align-self-end mb-2">Chabad Downtown Jewish Center</p>
    </div>
  </div>
</div>

<div class="row text-right mt-4">
  <div class="col-12">
    <button class="btn app-btn-primary px-4">Edit</button>
  </div>
</div>