<!--Show profile info-->
<ng-container *ngIf="!isEditProfile">
  <p class="app-text-extra-large font-weight-bold">Fishman Family</p>

  <div class="row  no-gutters border-top border-bottom py-3 text-center">
    <div class="col-4 border-right px-4">
      <p class="app-text-large font-weight-bold mb-0">10</p>
      <p class="app-text-small mb-0">Number of siblings</p>
    </div>
    <div class="col-4 border-right px-4">
      <p class="app-text-large font-weight-bold mb-0">5</p>
      <p class="app-text-small mb-0">Children at home</p>
    </div>
    <div class="col-4 px-4">
      <p class="app-text-large font-weight-bold mb-0">2</p>
      <p class="app-text-small mb-0">Adopted children</p>
    </div>
  </div>

  <div class="row  no-gutters border-bottom py-3">
    <div class="col-12">
      <p class="font-weight-bold mb-2">CONTACTS</p>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Address:</p>
        <p class="align-self-end mb-2">High Road 45, New York, 123456</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Prefered Contact:</p>
        <p class="align-self-end mb-2">Atara Fishman</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Contact number:</p>
        <p class="align-self-end mb-2">+1-202-555-0181</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Home Phone Number:</p>
        <p class="align-self-end mb-2">+1-202-555-0181 </p>
      </div>
    </div>
  </div>

  <div class="row  no-gutters border-bottom py-3">
    <div class="col-12">
      <p class="font-weight-bold mb-2">ADDITIONAL INFORMATION</p>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Language Spoken at Home:</p>
        <p class="align-self-end mb-2">Hebrew</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Family Rabbi:</p>
        <p class="align-self-end mb-2">Avraham Saphira</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Family Rabbi Phone:</p>
        <p class="align-self-end mb-2">+1-202-555-0181</p>
      </div>
      <div class="d-flex justify-content-between">
        <p class="align-self-start app-text-second mb-2">Family Shul:</p>
        <p class="align-self-end mb-2">Chabad Downtown Jewish Center</p>
      </div>
    </div>
  </div>

  <div class="row text-right mt-4">
    <div class="col-12">
      <button class="btn app-btn-primary px-4" (click)="onEdit()">Edit</button>
    </div>
  </div>
</ng-container>
<!--End Show profile info-->

<!--Edit profile info-->
<ng-container *ngIf="isEditProfile">

  <!--Family Name-->
  <div class="row no-gutters">
    <div class="col-10">
      <p *ngIf="!isEditFamilyName" class="app-text-extra-large font-weight-bold mb-0">{{familyEditable.name}}</p>
      <input type="text"
             class="form-control w-75"
             autofocus
             *ngIf="isEditFamilyName"
             (blur)="isEditFamilyName = false"
             (keyup.enter)="isEditFamilyName = false"
             [(ngModel)]="familyEditable.name"
             placeholder="Family Name"
             required>
    </div>

    <div class="col-2 pt-1">
      <i class="fas fa-trash fa-sm app-text-second mr-4 app-cursor-pointer"></i>
      <i class="fas fa-pen fa-sm app-text-second app-cursor-pointer" (click)="isEditFamilyName = true"></i>
    </div>
  </div>
  <!--End Family Name-->

  <!--Address-->
  <p class="font-weight-bold app-text-small mt-3 mb-1">ADDRESS</p>
  <div class="row no-gutters app-family-profile-section p-3">

    <div class="col-12 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Home Address</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.address">
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">City</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.city">
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">State</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.state">
      </div>
    </div>

    <div class="col-4 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Zip Code</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.zip">
      </div>
    </div>

  </div>
  <!--End Address-->

  <!--Contacts-->
  <p class="font-weight-bold app-text-small mt-4 mb-1">CONTACTS</p>
  <div class="row no-gutters app-family-profile-section p-3">

    <div class="col-12 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Preferred Contact</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.preferred_contact">
      </div>
    </div>

    <div class="col-12 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Preferred Contact Method</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.preferred_contact_method">
      </div>
    </div>

    <div class="col-12 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Home Phone Number</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.home_phone_number">
      </div>
    </div>

  </div>
  <!--End Contacts-->

  <!--Custom Fields-->
  <p class="font-weight-bold app-text-small mt-4 mb-1">CUSTOM FIELDS</p>
  <div class="row no-gutters app-family-profile-section p-3">

    <div class="col-12 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Language Spoken at Home</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.language_spoken_at_home">
      </div>
    </div>

    <div class="col-6 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Number of Siblings</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.number_of_siblings">
      </div>
    </div>

    <div class="col-6 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Children at Home</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.children_at_home">
      </div>
    </div>

    <div class="col-6 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Family Rabbi</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.family_rabbi">
      </div>
    </div>

    <div class="col-6 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Rabbi Phone number</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.rabbi_phone_number">
      </div>
    </div>

    <div class="col-12 p-2">
      <div class="app-input-fill">
        <label class="app-input-label app-family-profile-input">Family Shul</label>
        <input
          type="text"
          class="app-input"
          [(ngModel)]="familyEditable.family_shul">
      </div>
    </div>

  </div>
  <!--End Custom Fields-->

  <div class="row text-right mt-4">
    <div class="col-12">
      <button class="btn app-btn-warning px-4" (click)="cancelEdit()">Cancel</button>
    </div>
    <div class="col-12">
      <button [disabled]="!familyEditable.name" class="btn app-btn-primary px-4" (click)="save()">Save</button>
    </div>
  </div>

</ng-container>
<!--End Edit profile info-->