<form [formGroup]="form">
  <section class="consent_section" formArrayName="items">
    <div class="consent_section__item" *ngFor="let item of items.controls; let i = index" [formGroupName]="i">
      <div class="consent_section__item_header">
        <div class="consent_section__item_header_name">
          <sw-input-text class="no_styles" formControlName="name"></sw-input-text>
        </div>
        <div class="consent_section__item_header_controls">
          <i class="fas fa-trash" (click)="removeItem(i)"></i>
          <i class="fas fa-caret-down blue" *ngIf="!isOpenItems[i]; else up" (click)="openItem(i)"></i>
          <ng-template #up>
            <i class="fas fa-caret-up blue" (click)="hideItem(i)"></i>
          </ng-template>
        </div>
      </div>
      <div class="consent_section__item_content" *ngIf="isOpenItems[i]">
        <div class="consent_section__item_content_input">
          <sw-input-toggle formControlName="checkbox">
            <span class="input_label">Checkbox</span>
          </sw-input-toggle>
        </div>
        <div class="consent_section__item_content_input">
          <sw-input-toggle formControlName="button">
            <span class="input_label">Button</span>
          </sw-input-toggle>
        </div>
        <div class="consent_section__item_content_input">
          <sw-input-toggle formControlName="requireSignature">
            <span class="input_label">Require Signature</span>
          </sw-input-toggle>
        </div>
        <div class="consent_section__item_content_input">
          <sw-input-button-group [options]="buttonOptions" formControlName="signature">
          </sw-input-button-group>
        </div>
      </div>
    </div>
  </section>
</form>