@import "index";

:host {
  .field-tree-node {
    background: #fff;
    border-radius: 5px;
    display: block;
    &__content {
      width: 100%;
      padding: 10px 0;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      box-shadow: inset 0px -1px 0px #E7E7E7;
    }
    .field-tree-node {
      padding-left: 15px;
    }
  }
  .drop-above {
    border-top: 10px solid #dddddd;
    margin-top: -10px;
  }

  .drop-below {
    border-bottom: 10px solid #dddddd;
    margin-bottom: -10px;
  }

  .drop-center {
    background-color: #dddddd;
  }
  .field-tree-invisible {
    display: none;
  }

}
