<cdk-tree [dataSource]="treeSource" [treeControl]="treeControl">

  <!-- This is the tree node template for leaf nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node" cdkTreeNodePadding cdkTreeNodePaddingIndent="15px"
    [style.display]="shouldRender(node) ? 'flex' : 'none'" class="field-tree-node">
    <div class="field-tree-node__content">
      <sw-input-checkbox [(ngModel)]="node.exist">
        <i class="dragdrop fas fa-ellipsis-v"></i>
        <span class="input_label">{{node.name}}</span>
      </sw-input-checkbox>
    </div>
    <!-- use a disabled button to provide padding for tree leaf -->
  </cdk-tree-node>

  <!-- This is the tree node template for expandable nodes -->
  <cdk-tree-node *cdkTreeNodeDef="let node; when: hasChild" cdkTreeNodePadding cdkTreeNodePaddingIndent="15px"
    [style.display]="shouldRender(node) ? 'flex' : 'none'" class="field-tree-node">
    <div class="field-tree-node__content">
      <sw-input-checkbox [(ngModel)]="node.exist">
        <i class="dragdrop fas fa-ellipsis-v"></i>
        <span class="input_label">{{node.name}}</span>
      </sw-input-checkbox>
      <sw-icon-button [icon]="getIcon(node.expanded)" cdkTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename"
      (click)="node.expanded = !node.expanded" [style.visibility]="node.expandable ? 'visible' : 'hidden'">
          
      </sw-icon-button>
      <!-- <button cdkTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename" (click)="node.expanded = !node.expanded"
        [style.visibility]="node.expandable ? 'visible' : 'hidden'">
        expand
      </button> -->
    </div>


  </cdk-tree-node>
</cdk-tree>