@import "index";

:host {
  flex: 0.25;
  
  div.header {
    display: flex;
    flex-flow: row nowrap;
  }
  div.content {
    display: none;
    &.expanded {
      display: flex;
    }
  }
  div.sidebar_section {
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px; 
    &__header {
      display: flex;
      flex-flow: row nowrap;
      opacity: 0.6;
      text-transform: uppercase;
      font: 800 13px/15px $nunito-sans;
    }
    &__content {
      .search-wrap {
        width: 100%;
        position: relative;
        margin-bottom: 15px;
        .search {
          width: 100%;
          border-radius: 100px;
          height: 30px;
          padding: 8px 22px 8px 27px;
          border: 1px solid #CACACA;
          box-sizing: border-box;
          &:focus {
            border-color: #4350A2;
          }
        }
        .icon {
          width: 24px;
          height: 24px;
          position: absolute;
          left: 4px;
          top: 3px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #A4A4A4;
          font-size: 14px;
        }
      }
      display: none;
      flex-flow: column nowrap;
      width: 100%;
      margin-top: 20px;
      .title {
        margin-bottom: 15px;
        font: 800 14px/20px $nunito-sans;
      }
    }
    &.expanded {
      .sidebar_section__header {
        opacity: 1;
      }
      .sidebar_section__content {
        display: flex;
      }
    }
  }
  
  
}
