<div class="app-period-general-settings">
  <div class="app-period-general-settings__container">
    <div class="app-period-general-settings__header">
      <h2 class="app-period-general-settings__header-text">Period Schedule</h2>
      <button  *ngIf="this.splitSet" class="app-period-general-settings__header-button" (click)="onAddSplit()">
        Create New Split Type
      </button>
    </div>
    <app-period-bar></app-period-bar>
    <div *ngIf="this.splitSet" class="app-period-general-settings__split-sets">
      <div *ngFor="let set of splitSet; let i = index" class="app-period-general-settings__split-set">
        <app-period-split-bar [splitSetId]="splitSet[i].id" [viewId]="i"></app-period-split-bar>
      </div>
    </div>
  </div>

  <div class="app-period-general-settings__container">
    <div *ngIf="this.splitSet">
      <div *ngFor="let set of splitSet; let i = index" class="app-period-general-settings__split-set-info">
        <app-period-split-information [splitSetId]="splitSet[i].id" [viewId]="i"></app-period-split-information>
      </div>
    </div>
  </div>

  <div class="app-period-general-settings__buttons">
    <button class="app-period-general-settings__button--cancel" (click)="onCancel()">Cancel</button>
    <button class="app-period-general-settings__button--create" (click)="onModify()">
      {{ mode === 'create' ? 'Create Period' : 'Update Period' }}
    </button>
  </div>
  <div class="app-period-general-settings-popup">
    <app-period-popup
      *ngIf="isPopupShown"
      [text]="'Are you sure you want to get out of this period? All data will be lost.'"
      (cancel)="isPopupShown = !isPopupShown"
      (accept)="goToPeriodPage()"
    ></app-period-popup>
  </div>
</div>
