<div class="app-period-general-settings">
  <div class="app-period-general-settings__container">
    <app-period-bar></app-period-bar>
    <div *ngIf="this.splitSet" class="app-period-general-settings__split-sets">
      <div *ngFor="let set of splitSet; let i = index" class="app-period-general-settings__split-set">
        <app-period-split-bar [splitSetId]="splitSet[i].split_set_id" [viewId]="i"></app-period-split-bar>
      </div>
    </div>
    <div class="app-period-general-settings__add" (click)="onAddSplit()">
      + Add new split type
    </div>
  </div>
</div>
