@import '../../../../styles/variables/colors';

.app-period-general-settings {

   .app-period-general-settings__container {
     padding: 20px 15px;
     background-color: white;
   }

  .app-period-general-settings__add {
    font: 10px/11px 'NunitoSans-Bold';
    color: $element-base-color;
    cursor: pointer;
  }

  .app-period-general-settings__add:hover {
    opacity: 0.6;
  }

}
