<app-modal
  title="Create Payer Account"
>
  <div
    сlass="create-payer-account"
  >
    <div class="create-payer-account-members">
      <app-select-multi-search
        labelTitle="Members"
        [items]="companies"
        bindLabel="name"
      >
      </app-select-multi-search>
    </div>
    <div class="create-payer-account-label">
      Account
    </div>
    <div class="app-form-row">
      <div class="create-payer-account-account-name">
        <app-input>
          <!--[formControl]="form.controls['name']"-->
        <!--&gt;-->

        </app-input>
      </div>
      <app-select
        class="create-payer-account-account-type"
        labelTitle="Type"
        [items]="types"
      >
      </app-select>
    </div>
    <button
      type="submit"
    >
      Create
    </button>
  </div>
</app-modal>
