@import 'index';

:host {
  min-width: 503px;
  min-height: 830px;
  .form-pdf-section {
    background: #D7D7D7;
    margin: 0 -15px -10px -45px;
    border-radius: 0px 0px 3px 3px;
    padding: 20px 15%;
    position: relative;
    .pdf-wrap {
      padding: 20px;
      background: #fff;
    }
    .signature-div{
      height: auto;
      width: 279px;
      border: 1px solid #F6F6F6;
      border-radius: 3px;
    }
  }
  .edit-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    .edit-fields {
      display: none;
      padding: 15px;
      background: #36405F;
      box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.18);
      border-radius: 3px;
      .title {
        font: 800 11px/15px $nunito-sans;
        font-style: normal;
        letter-spacing: 0.37px;
        text-transform: uppercase;
        color: #FFF;
        margin-left: 5px;
        margin-bottom: 15px;
      }
      .fields {
        display: flex;
        flex-flow: column nowrap;
        margin-bottom: 25px;
      }
      .fields,
      .actions {
        .item {
          margin-bottom: 10px;
          &:last-of-type {
            margin-bottom: 0;
          }
          sw-button.yellow {
            .text{
              color: #000;
            }
          }
          .text {
            font: 800 10px/13px $nunito-sans;
            color: #fff;
          }
        }
      }
    }
    &.open {
      right: 0;
      .edit-toggle {
        display: none;
      }
      .edit-fields {
        display: flex;
        flex-flow: column nowrap;
      }
    }
  }
  .signature-div{
    height: auto;
    width: 279px;
    border: 1px solid #F6F6F6;
    border-radius: 3px;
    padding: 10px;
    .title {
      font: 800 12px/15px $nunito-sans;
      font-style: normal;
      letter-spacing: 0.2px;
      text-transform: uppercase;
      color: #151515;
      margin-bottom: 10px;
    }
  }
  .temporary-div{
    // height: 300px;
    width: 280px;
    border: 1px solid #F6F6F6;
    border-radius: 3px;
    padding: 10px;
    .wrap {
      border: 1px solid #B6B6B6;
      box-sizing: border-box;
      border-radius: 3px;
      .main-cont {
        position: relative;
        height: 30px;
        display: flex;
        align-items: center;
        .lable {
          position: absolute;
          font: 400 10px/13px $nunito-sans;
          color: #909090;
          top: 2px;
          left: 10px;
          width: 100%;
          height: 13px;
        }
        .text {
          color: #151515;
          font: 400 12px/15px $nunito-sans;
          position: absolute;
          bottom: 2px;
          left: 10px;
        }
        .icon {
          margin-left: auto;
          margin-right: 10px;
          &_up {
            display: none;
            color: #4350A2;
          }
          &_down {
            display: flex;
            color: #909090;
          }
        }
      }
      &.active {
        border-color: #4350A2;
        .main-cont {
          .icon {
            width: 15px;
            height: 15px;
            &_up {
              display: flex;
            }
            &_down {
              display: none;
            }
          }
        }
        
        .drop-cont {
          display: flex;
        }
      }
      .drop-cont {
        display: none;
        flex-flow: column nowrap;
      }
      // padding: 2px;
      
      .search-wrap {
        // width: 100%;
        margin: 5px 10px 0 10px;
        position: relative;
        // margin-top: 5px;
        .search {
          width: 100%;
          padding: 8px 10px 6px 10px;
          font: 400 12px/16px $nunito-sans;
          border: none;
          background: #F6F6F6;
          border-radius: 3px;
        }
        .icon {
          position: absolute;
          top: 5px;
          right: 5px;
          width: 20px;
          height: 20px;
          color: #909090;
          display: flex;
          align-items: center;
          justify-content: center;
          i {
            font-size: 13px;
          }
        }
      }
      .add-wrap {
        margin: 0 10px;
        .add-btn {
          color: #4350A2;
          font: 800 12px/13px $nunito-sans;
          font-style: normal;
        }
        .input-wrap {
          display: flex;
          align-items: center;
          flex-flow: row nowrap;
          border-bottom: 1px solid #E3E3E3;
          .add-input {
            font: 400 12px/16px $nunito-sans;
            border: none;
          }
          .actions {
            display: flex;
            align-items: center;
            flex-flow: row nowrap;
            margin-left: auto;
            sw-button:not(:last-of-type) {
              margin-right: 5px;
            }
            i {
              width: 10px;
              height: 10px;
              font-size: 9px;
            }
            i.gray {
              color: #909090;
            }
            i.green {
              color: #3CA476;
            }
          }
        }
       
      }
      .list-wrap {
        .list-ul {
          margin: 0;
          list-style: none;
          padding: 0;
          margin-top: 7px;
          .list-ul-item {
            padding: 8px 10px;
            color: #151515;
            font: 400 12px/15px $nunito-sans;
            &.active {
              font-weight: 800;
              background: #EBEEFF;
            }
            &:hover {
              background: #EBEEFF;
            }
          }
        }
      }
    }
  }
}
canvas {
  cursor: crosshair;
  // border: 1px solid #000000;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.3;
  z-index: 7;
  width: 100%;
  height: 100%;
  min-width: 503px;
  min-height: 830px;
  // width: 816px;
  // height: 1056px;
}
.canvas-wrap{
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 503px;
  min-height: 830px;
  .canvas-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
}
.displaynone {
  z-index: -1 !important;
}

.loading-wrap {
  flex-direction: column;
}
.loading-font {
  font: 800 14px/20px $nunito-sans;
  font-style: normal;
  text-align: center;
  color: #151515;
}

canvas { position:absolute;
  top:0; left:0;
  z-index:5}
.test-c{
  position:absolute;
  top:0;
  left:0;
  bottom: 0;
  right: 0;
  // width: 100%;
  // height: 100%;
  // width: 816px;
  // height: 1056px;

}
.app-signature {
  background-color: #F6F6F6;
}


.app-btn-signature {
  background: #E0E6FF;
  border-color: white !important;
  color: $element-base-color;
  cursor: pointer;
}

label.btn.app-btn-signature.active {
  background: #FFB915;
  color: #FFFFFF;
}

//.app-btn-signature{
//  border-color: $element-base-color!important;
//}
.div-inside-wrap{
  z-index: 9900;
  // margin-top: -20px!important;

  //position: absolute;
}

p {
  height: 100%;
  line-height: 1;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0;
}

.div-inside-field-name{
  z-index: 9900;
  margin-bottom: -30px!important;

  //position: absolute;
}
.list-group-item{
  cursor: pointer;
  z-index: 499;
  height: 27px;	width: 238px;
}
.temporary-div, .signature-div{
  z-index: 499;

}
.div-inside{
  border: 2px solid #000000;
  background-color: white;
  position: absolute;
  z-index: 9900;
  font-size: 0.5rem!important;
}
.div-inside-active{
  background-color: #EBEEFF;
  position: absolute;
  z-index: 450;
  &:first-of-type {
    z-index: 460;
  }
}

.div-active-type, .div-inside-active{
  border: 2px solid #4350A2;
}

.dropdown-toggle::after {
  display:none;
}
.fa-pen, .fa-trash{
  //color: $icon-grey-color;
  color: black;

}

.fa-pen:hover{
  //display: block;
}
#layer3 { z-index: 1; }

.app-consent-section {
  background-color: #9FA6CB;
  /*height: 60px;*/
}

.badge-success{
  background-color: #3CA476;
}
a, .fas {
  cursor: pointer;
}

a.active {
  color: #4350A2;
  font-weight: bold;

}

.bold-for-a {
  font-weight: bold;
}

.italic-for-a {
  font-style: italic;
}
.app-consent-table{
  width: 96.3%;

}
a.active{
  color: #4350A2;
  font-weight: bold;

}
.bold-for-a{
  font-weight: bold;
}

.italic-for-a{
  font-style: italic;
}

.m-con{
  margin-left: 68px;
}

.d-u-button{
  background-color: $element-base-color;
  color: white;
}


.do-not-active{
  height: 27px;	width: 238px;
  border-radius: 3px;	background-color: #F6F6F6;	box-shadow: 0 4px 8px 0 rgba(153,162,215,0.22);
}

.div-list-field{
  height: 300px;	width: 280px;	border: 1px solid #F6F6F6;	border-radius: 3px;
  overflow:auto;
}

.row-button{
  width: 280px;
}

::ng-deep.pagination .page-link{
  color: $element-base-color;
}
::ng-deep.pagination .page-item.active .page-link{
  background-color: $element-base-color;
  color: white;
}

.overlay{
  background: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  z-index: 5;
  //z-index: 9999;
  position: absolute
}

.draw-div{
  height: 56px;	width: 600px;	border: 2px solid #F6F6F6;	border-radius: 3px;
  margin-top: -60px!important;

}
.btn-sm{
  font-weight: bold;
  font-size: .7rem;
  vertical-align: middle;
}
.btn-outline-primary {
  color: $element-base-color;
  border-color: $element-base-color

}

.app-btn-outline-primary.active {

    color: #FFFFFF;
    background-color: $element-base-color;
    border: 1px solid $element-base-color;

}

.btn-sm{
  cursor: pointer;
}
