<!-- <ng-container> -->
<div class="workspace" *ngIf="_form" cdkDropList [cdkDropListData]="_form.workspace"
  [cdkDropListConnectedTo]="getConnectedPathIds()" id="root-list" style="height: calc(100% - 25px);">
  <!--  <div   cdkDropList-->
  <!--       [cdkDropListData]="form.fields"-->
  <!--       (cdkDropListDropped)="drop($event)">-->
  <div class="" *ngFor="let item of fields" cdkDrag [cdkDragData]="item" (cdkDragDropped)="drop($event)"
    (cdkDragStarted)="start($event)">
    <ng-container *ngIf="item.type === 114">
      <app-section-header *cdkDragPreview [sectionName]="item.name" [isExpanded]="false">
      </app-section-header>
      <app-section-container [section]="item" [form]="_form" [customFields]="customFields">
      </app-section-container>
    </ng-container>



    <li class="list-group-item mb-3 p-0" *ngIf="item.type===112">
      <app-divider-container *ngIf="item.type===112" [form]="_form" [inputDivider]="item"></app-divider-container>
    </li>
  </div>

</div>
<!-- </ng-container> -->
