.circle {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 40px;
  color: #fff;
  text-align: center;
  background: #4350a2;
  cursor: pointer;
}

.position_wrapper {
  position: relative;
  min-height: 0;
}

.custom-circle-wrapper {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: -25px;
}

.fields-wrapper {
  z-index: 1;
  position: relative;
}

.dropdown-add-menu {
  height: 319px;
  width: 206px;
  border-radius: 3px;
  background-color: #50597a;
}
.dropdown-toggle::after {
  display: none;
}

.menu-dropdown-header {
  height: 40px;
  width: 206px;
  border-radius: 5px 5px 0 0;
  background-color: #36405f;
}

.menu-dropdown-item {
  height: 27px;
  width: 176px;
  border-radius: 3px;
  background-color: #ebeeff;
  box-shadow: 0 4px 8px 0 rgba(153, 162, 215, 0.22);
  cursor: pointer;
}

.menu-hr {
  background-color: #818aac;
}
.span-zero-m-t {
  margin-top: 0 !important;
}

.dr-menu-item-span {
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

//.modal-content{
//  height: 212px!important;	width: 623px!important;	border-radius: 8px;	background-color: #FFFFFF;
//}
//.has-error {
//  .form-control { @extend .is-invalid; }
//}
.without-section {
  background-color: red !important;
}

.invalid-feedback {
  display: block;
  opacity: 0;
}

.form-control.is-invalid~.invalid-feedback, .form-control.is-invalid~.invalid-tooltip, .was-validated .form-control:invalid~.invalid-feedback, .was-validated .form-control:invalid~.invalid-tooltip {
  opacity: 1;
}


.ngx-dnd-box,
.ngx-dnd-item {
  transition: opacity 0.4s ease-in-out;
  display: block;

  &:not(.has-handle):not(.move-disabled),
  &.has-handle [ngxdraghandle],
  &.has-handle [ngxDragHandle] {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  .ngx-dnd-content {
    user-select: none;
  }

  //&:hover {
  //  border: 1px solid blue;
  //}
}

.ngx-dnd-box {
  height: 40px;
  width: 40px;
  line-height: 20px;
  text-align: center;
  float: left;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 100 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


.ngx-dnd-container {
  background-color: #F2F2F2!important;


  &.gu-empty {
    border: 2px dotted red;
  }

  &:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.2);
  }

  .ex-moved {
    background-color: #e74c3c;
  }

  .ex-over {
    background-color: rgba(255, 255, 255, 0.3);
  }

  .handle {
    padding: 0 5px;
    margin-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: move;
  }
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.clearfix::after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.close {
  outline: none;
}
