@import "../../shared/styles/index.scss";

.document_container {
  align-items: center;
  border-radius: 3px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1rem;

  &__icon_container {
    flex: initial;
  }

  &__pdf_icon {
    color: $icon-dark-gray-color;
  }

  &__file_information {
    color: $element-base-color;
    cursor: pointer;
    display: flex;
    flex: auto;
    flex-direction: column;
    font-weight: bold;
    padding: 0 1rem;
  }

  &__load {
    flex: initial;
  }

  &__file_details {
    color: $gray-color;
    font-family: "NunitoSans-Regular";
    font-size: 0.85rem;
  }
}

.app-btn-primary {
  color: white;
  outline: 0 solid transparent;

  &:hover,
  &:focus,
  &:active {
    background-color: $element-base-color;
  }
}
