<ng-container *ngIf="true">
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': !field.options.hideLabel }"
  >
    <label *ngIf="!field.options.hideLabel" class="app-input-label">
      {{ field.name | titlecase }}
    </label>
    <!-- <sw-input-phone-number
      [formControlName]="field._id"
      [ngClass]="{
        validation_required: this.field.options.required && !this.field.options.readonly,
        validation_error: !!validationText
      }"
    >
      <span *ngIf="!field.options.hideLabel" class="placeholder">{{ field.name | titlecase }}</span>
    </sw-input-phone-number> -->
    <input
      [formControlName]="field._id"
      mdInput
      type="phone"
      aria-describedby="basic-addon2"
      class="app-input form-control"
      [ngClass]="{
        validation_required: this.field.options.required && !this.field.options.readonly,
        validation_error: !!validationText
      }"
      [placeholder]="field.name | titlecase"
    />
    <span
      class="error_icon"
      [ngClass]="{ validation_error: !!validationText }"
      (click)="validationText = ''"
    >
      <i class="fas fa-times fa-xs"> </i>
    </span>

    <span
      class="validation_icon"
      [ngClass]="{ validation_required: this.field.options.required && !this.field.options.readonly }"
    >
      <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
