<div #holder class="dropdown_input_container" data-e2e="dropdown_input_container" [class.active]="active" [class.empty]="isEmpty()" (click)="showPopup()">
  <ng-content select="span"></ng-content>
  <div class="dropdown_input_container__input" data-e2e="dropdown_input_container_input" *ngFor="let item of value" [class.many]="_multiple">
    <span class="text"> {{ item.title }} </span>
    <i class="fas fa-times" (click)="remove(item, $event)"></i>
  </div>
  <div class="dropdown_input_container__icon">
    <div class="dropdown_input_container__icon_up">
      <i class="fas fa-caret-up"></i>
    </div>
    <div class="dropdown_input_container__icon_down">
      <i class="fas fa-caret-down"></i>
    </div>
  </div>
</div>

<ng-template #droplist>
  <div class="dropdown_items_container" data-e2e="dropdown_items_container">
    <div class="dropdown_items_container__item" data-e2e="dropdown_items_container_item" *ngFor="let item of dropdownList" [class.selected]="isSelected(item)"
      (click)="select(item)">
      <div class="checkbox_container" data-e2e="checkbox_container" *ngIf="_multiple" [class.selected]="isSelected(item)">
      </div>
      <span class="text">{{item.title}}</span>
    </div>
  </div>
</ng-template>
