@import "index";

:host {
  .dropdown_input_container {
    width: 100%;
    min-height: 35px;
    padding: 15px 10px 5px 10px;
    border: 1px solid $soft-gray;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    background-color: #fff;
    display: flex;
    align-items: center;
    &.active {
      border-color: #4350A2;
    }
    &__input {
      height: 13px;
      display: flex;
      align-items: center;
      .text {
        font-style: normal;
        font-size: 12px;
        line-height: 13px;
        margin-right: 4px;
      }
      i { display: none; }
      &.many {
        height: auto;
        padding: 3px 10px;
        border-radius: 12px;
        margin-top: 10px;
        background-color: #E6EFFF;
        .text {
          font-weight: bold;
          color: #004ED9;
        }
        i {
          font-size: 11px;
          display: inline-block;
          color: #979797;
        }
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
  }
}