@import "index";

:host {
  .container {
    width: 100%;
    min-height: 35px;
    padding: 5px 10px;
    border: 1px solid $soft-gray;
    box-sizing: border-box;
    border-radius: 3px;
    position: relative;
    background: #fff;
    display: flex;
    align-items: center;

    .label {
      pointer-events: none;
      z-index: 3;
      position: absolute;
      top: 2px;
      left: 10px;
      font-size: 10px;
      color: $gray-color;
      transition: all 0.2s ease-in-out;
    }

    &.empty {
      &:not(:focus-within) {
        padding: 5px 10px;
        span.label {
          position: absolute;
          top: 8px;
          font-size: 12px;
        }
      }
    }

    .input_ico {
      position: absolute;
      top: 8px;
      right: 8px;
    }

    &.active {
      border-color: $element-base-color;

      .container__icon {
        &_up {
          display: flex;
        }

        &_down {
          display: none;
        }
      }
    }

    .container__row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    &__input {
      display: flex;
      align-items: center;

      .text {
        font-style: normal;
        font-size: 12px;
        line-height: 13px;
        margin-right: 4px;
        margin-top: 12px;
      }

      i {
        display: none;
      }

      &.many {
        background: $lightblue-color;
        padding: 10px;
        margin: 10px 0 0 0;
        border-radius: 3px;
        color: $element-base-color;
        display: flex;
        align-items: center;

        .text {
          font: 10px "NunitoSans-Bold";
          margin: 0 6px 0 0;
          color: $element-base-color;
        }

        i {
          font-size: 11px;
          display: inline-block;
          color: #979797;
        }
      }
    }

    &__icon {
      margin-left: auto;

      &_up {
        display: none;
        color: $element-base-color;
      }

      &_down {
        display: flex;
        color: $gray-color;
      }
    }

    &.table-header {
      min-height: 25px;
      padding: 5px 10px 5px 19px;
      border: none;

      .item-purpure {
        &.many {
          margin: 2px;
        }
      }
    }

    &.outline {
      margin: 0;
      min-height: 20px;
      border: none;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background: $gray-hover;
      }

      .container__input {
        .text {
          margin: 0;
          font: 800 14px/18px $nunito-sans;
        }
      }
    }

    &.outline {
      margin: 0;
      min-height: 20px;
      border: none;
      padding: 5px;

      &:hover {
        cursor: pointer;
        background: $gray-hover;
      }

      .container__input {
        .text {
          margin: 0;
          font: 800 14px/18px $nunito-sans;
        }
      }
    }
  }

  .container__icon {
    display: flex;
  }

  .container__icon--clear {
    margin: 0 2px 0 0;
    color: $icon-gray;

    &:hover {
      cursor: pointer;
    }
  }

  .disabled {
    background: $gray;
  }

  .item-purpure {
    &.many {
      padding: 0 0 0 7px;
      margin: 10px 2px 0;

      .text {
        font: 500 10px $nunito-sans;
        padding: 5px 0;
      }

      i {
        color: $icon-dark-gray-color;
      }

      .remove-btn:hover {
        opacity: 0.7;
      }
    }
  }

  .fa-search {
    color: $icon-gray;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0.75rem;
    left: 5px;

    @media (min-width: 1280px) {
      top: 0.6rem;
    }
  }
}

:host(.settings-field) {
  .container {
    min-height: 25px;
    padding: 4px 10px;

    .text {
      margin: 0;
    }
  }
}

:host(.online_form) {
  .container {
    min-height: 3rem;

    &.empty:not(:focus-within) {
      & .label {
        top: .75rem;
        font-size: 1.5rem;
      }
    }

    &__row {
      padding-top: 0.5rem;
    }

    &__input {
      & .text {
        margin-top: 0;
        font-size: 1rem;
      }

      &.many {
        border-radius: 0.25rem;
        margin-right: 0.25rem;
        margin-top: 0.25rem;
      }
    }

    & .span {
      left: 1.25rem;
      right: 1.25rem;
      font-size: 1.5rem;
    }
  }
}

:host(.short) {
  .container {
    padding: 0.25rem 0.5rem;
    min-height: 1.75rem;

    .container__row {
      .container__input {
        .text {
          line-height: 13px;
          margin-top: 0;
        }
      }
    }
  }
}

:host(.ng-dirty.ng-invalid) {
  .container {
    border: 1px solid $error-color;
  }
}

:host(.online_form.read_only) {
  .container {
    background-color: #eee;

    &__item {
      background-color: #eee;
    }
  }

  .dropdown_items_container {
    background-color: #eee;

    &__item {
      background-color: #eee;
    }

  }
}

.dropdown_items_container__item:hover {
  cursor: pointer;
}

.dropdown_items_sub-header-container {
  padding: 10px 0 0;

  .dropdown_items_sub-container-item {
    width: 100%;
    position: relative;
  }

  .dropdown_items_sub-container {
    position: relative;
    width: 100%;
    margin: 0 0 25px;

    &:last-of-type {
      margin: 0;
    }

    &:after {
      position: absolute;
      content: '';
      width: calc(100% - 20px);
      height: 1px;
      bottom: -15px;
      left: 10px;
      background: $gray-color;
    }

    &:last-of-type:after {
      display: none;
    }

    .dropdown_items_sub-header {
      padding: 0 10px;
      margin: 0 0 10px;
      font: 800 9px/13px $nunito-sans;
      text-transform: uppercase;

      .dropdown_items_sub-header--count {
        font: 800 9px/13px $nunito-sans;
        text-transform: uppercase;
        color: $element-base-color;
      }
    }

    .dropdown_items_container__item {
      padding: 10px;
      font: 500 9px/13px $nunito-sans;
      text-transform: none;
    }
  }

  .text--count {
    color: $gray-color;
  }
}

.remove-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100%;
  border: none;
  background: transparent;
  border-left: 1px solid $soft-gray;
  color: $element-base-color;

  &:hover {
    cursor: pointer;
  }
}

.input-sum {
  background: $lightblue-color;
  border: 3px;
}

.input-sum-text {
  font: 800 10px/13px $nunito-sans;
  padding: 1px 5px;
  color: $element-base-color;
}

.dropdown-search {
  height: 36px;
  margin: 5px 10px 0;
}
