<h2 class="content_section__section_title">
  {{ tableTitle }}
</h2>
<!-- Mobile First -->
<form [formGroup]="fg">
  <div class="custom_table custom_table--mobile">
    <ng-container *ngFor="let people of table.people; let i = index">
      <div class="custom_table__header">
        <div class="custom_table__text custom_table__caption">
          {{ people.title }}
        </div>
      </div>
      <div class="custom_table__body">
        <ng-container *ngFor="let subject of table.subjects">
          <div
            class="custom_table__row"
            [ngClass]="{ 'custom_table__row--error': isError(i) }"
          >
            <div
              class="custom_table__text custom_table__label"
              [ngClass]="{ 'custom_table__text--error': isError(i) }"
            >
              {{ subject.title }}
            </div>
            <div class="custom_table__field">
              <sw-input-checkbox
                [formControlName]="people.id + '__' + subject.id"
              >
                <!-- [isActive]="isActive(item)" -->
                <!-- <span class="label"></span> -->
              </sw-input-checkbox>
            </div>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <!-- Large Version -->
  <div class="custom_table custom_table--lg">
    <div class="custom_table__header">
      <div class="custom_table__text custom_table__caption"></div>
      <div
        class="custom_table__text custom_table__caption"
        *ngFor="let subject of table.subjects"
      >
        {{ subject.title }}
      </div>
    </div>
    <div class="custom_table__body">
      <ng-container *ngFor="let people of table.people; let i = index">
        <div
          class="custom_table__row"
          [ngClass]="{ 'custom_table__row--error': isError(i) }"
        >
          <div
            class="custom_table__text custom_table__label"
            [ngClass]="{ 'custom_table__text--error': isError(i) }"
          >
            {{ people.title }}
          </div>
          <div
            class="custom_table__field"
            *ngFor="let subject of table.subjects"
          >
            <sw-input-checkbox
              [formControlName]="people.id + '__' + subject.id"
            >
              <span class="label"></span>
            </sw-input-checkbox>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</form>
