@import '../../../../../../../../styles/variables/colors';

.group-bc{
  background-color: #EBEEFF;
  border: 1px solid rgba(0,0,0,.125);
}

.nested-bc{
  background-color: #F2F2F2;
}

.margin-for-nested{
  margin-left: 40px;
}
.app-element-color {
  color: $element-base-color;
}
.dragable-i{
  color: #9C9D9D;
  cursor: pointer;
}
.dragable-y{
  color: #9C9D9D;
  cursor: pointer;
  font-size: 1.5rem;
}
.rectangle{
  margin-left: 13px;
  color: #4050A8  ;
  height: 6px;
  width: 15px;
}
.dropdown-toggle::after {
  display:none;
}

.app-setting-show {
  border: 1px solid $element-base-color;
  border-radius: 5px;
}


.empty-group{	height: 115px;		border-radius: 0 0 5px 5px;	background-color: #FFFFFF;

}

.empty-group-text{
  color: #A4A8BE;		font-size: 10px;	font-weight: bold;	line-height: 11px;	text-align: center;
}
.fa-times{
  color: #9C9D9D;
  cursor: pointer
}
