<form [formGroup]="settingsForm">
  <p class="app-text-small app-text-extra-bold">GENERAL</p>
  <div class="mb-3">
    <app-input-field [formControlName]="'label'" label="Field Label"></app-input-field>
  </div>
  <div class="mb-3">
    <app-input-field [formControlName]="'placeholder'" label="Default Placeholder"></app-input-field>
  </div>
  <div class="mb-1">
    <app-select-field class="app-text-capitalize"
                      [formControlName]="'language'"
                      [items]="lenguage"
                      labelTitle="Field Language"></app-select-field>
  </div>
  <div>
    <app-v-fields-setting-support-text [parentForm]="settingsForm"></app-v-fields-setting-support-text>
  </div>
</form>
