@import "index";

.input_number {
  width: 100%;
  position: relative;
  margin: 0;
  &__input {
    width: 100%;
    height: 35px;
    background: $white;
    font-size: 12px;
    line-height: 15px;
    border: 1px solid $soft-gray;
    box-sizing: border-box;
    border-radius: 3px;
    padding: 15px 10px 5px 10px;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      border: 1px solid $purple;
    }
  }
  &_icon {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 12px;
    font-style: inherit;
    font-weight: bold;
  }
}

:host(.ng-invalid) {
  .input_number {
    &__input {
      border: 1px solid $error-color;
    }
  }
}
