<!--Title-->
<h2
  class="content_section__article_title content_section__article_title--left pt-3 pb-2"
>
  {{ groupCaption }}
</h2>
<!-- <div class="pl-3"> -->
<div>
  <div class="section__fields">
    <ng-container *ngFor="let field of fields">
      <div class="field_width--{{ field.width }}">
        <app-general-info-field [field]="field"></app-general-info-field>
      </div>
    </ng-container>
  </div>

  <div class="section__groups">
    <ng-container *ngFor="let group of groups">
      <app-general-info-group
        [group]="group"
        [groupCaption]="groupCaption"
      ></app-general-info-group>
    </ng-container>
  </div>
</div>
