.app-select {
  position: relative;

  .app-select-label {
    position: absolute;
    z-index: 1002;
    color: #999;
    font-size: 11px;
    top: 3px;
    left: 10px;
  }

  .ng-select::ng-deep {

    .ng-select-container {

      .ng-value-container {

        .ng-value {

          .ng-value-label {
            font-family: 'NunitoSans-Bold';
            font-size: 12px;
            position: absolute;
            bottom: 1px;
          }
        }
      }
    }
  }

  .ng-select.ng-select-opened::ng-deep {

    .ng-select-container {
      border-color: #4350A2;
    }

    .ng-dropdown-panel::ng-deep {
      border-color: #4350A2;
      border-top: none;

      .ng-dropdown-panel-items {
        font-size: 12px;

        .ng-option.ng-option-selected,
        .ng-option.ng-option-selected.ng-option-marked {
          color: #4350a2;
          background: #ebeeff;
        }
      }
    }

    .ng-select-container .ng-arrow {
      border-color: #4350a2 transparent transparent;
      border-style: solid;
      border-width: 5px 5px 2.5px;
      top: 0;
    }
  }

  .app-select-remove-clear-btn.ng-select::ng-deep {
    .ng-clear-wrapper {
      display: none;
    }
  }
}
