<div class="py-3" >
  <div class="row align-items-center no-gutters">

    <div class="col-3 ">
      <div class="row align-items-center no-gutters ml-2">
        <div class="col-3">
          <div class="row align-items-center no-gutters" cdkDragHandle>
            <div>
              <span><i class="fas fa-ellipsis-v app-text-second"></i></span>
              <span><i class="fas fa-ellipsis-v app-text-second"></i></span>
            </div>
            <div  class="ml-2 ">
              <span><i class="fas  fa-paint-brush"></i></span>

            </div>
          </div>
        </div>

        <div class="col-9  justify-content-center ">

          <div><span class="app-text-extra-bold align-self-center">{{inputDivider.name}}</span></div>
          <div><span>Divider</span></div>
        </div>
      </div>
    </div>

    <div class="col-5 row align-items-center">
      <div class="col-5 row align-items-center no-gutters ml-2 border-right">

        <div class= "col app-input-container "
             [ngClass]="{'app-input-fill': true}" >
          <label for="space" class="app-input-label">Space</label>
          <select class="app-input form-control"
                  id="space"
                  [(ngModel)]="inputDivider.options.space"
          >
            <option *ngFor="let item of space" [value]="item" [selected]="item==inputDivider.options.space"
            >{{item}} px</option>
          </select>
        </div>
      </div>
      <div class="col-6">
        <div class="text-center text-uppercase pb-1"><span  class=" shape-stroke">Shape Stroke</span></div>
        <div class="row no-gutters justify-content-center align-items-center pb-2">

            <select class="rectangle mr-1" name="shapeStrokeValue"
                    [(ngModel)]="inputDivider.options.shapeStrokeValue"
          >
            <option *ngFor="let item of shapeStrokeValueSelector"
            >{{item}}</option>
          </select>

            <select class="rectangle ml-1"
                    [(ngModel)]="inputDivider.options.shapeStrokeColor"
                    [style.background-color]="inputDivider.options.shapeStrokeColor"
            >
              <option class=""
                *ngFor="let item of colorsDivider"
                [selected]="item.name==inputDivider.options.shapeStrokeColor"
                [value]="item.name" [style.background-color]="item.colorAttr"
              ></option>
            </select>


        </div>

      </div>
    </div>
    <div class="col-2 app-input-container"
         [ngClass]="{'app-input-fill': true}">
      <label for="style" class="app-input-label">Style</label>
      <select class="app-input form-control"
              id="style"

              [(ngModel)]="inputDivider.options.dividerStyle"
      >
        <option class="select-hr"
          *ngFor="let item of dividerStyle" [value]="item.type" [selected]="item.type==inputDivider.options.dividerStyle"
        >
          {{item.name}}</option>
      </select>
    </div>
    <div class="col-1 offset-1 row align-items-center justify-content-end no-gutters">


      <div class="col-1 ">
<!--        <div  class="d-inline-block ml-2" >-->
<!--          <i class="fas fa-cog dragable-i" (click)="showSettings=!showSettings"></i>-->
<!--        </div>-->
        <div  class="d-inline-block " >
          <i class="fas fa-times app-text-second" (click)="removeField(inputDivider)"></i>
        </div>
      </div>
    </div>

  </div>
<!--  <div *ngIf="showSettings">-->
<!--    <app-v-form-field-settings [inputDivider] = "inputDivider"></app-v-form-field-settings>-->
<!--  </div>-->
</div>
