<div class="header">
  <h2 class="header-text">{{ text }}</h2>
  <div class="dropdown">
    <sw-dropdown-select
      #period="dropdown"
      [options]="options"
      (selected)="changePeriod($event)"
    >
      <sw-button color="transparent-gray">
        <p class="select-option">
          <span class="select-option-text">{{ option }}</span>
          <i
            class="fas fa-caret-down"
            [class.fa-caret-up]="period.isOpened"
          ></i>
        </p>
      </sw-button>
    </sw-dropdown-select>
  </div>
</div>
