<div class="header-line">
  <div class="text">
    Release
  </div>
</div>

<!--  Periods select section -->
<section class="section-wrap">
  <div class="section-title">1. Period</div>
  <div class="section-main-text">
    What period is this for? You may select more than one
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 lists-wrap">
        <div class="col-6 list-wrap">
          <div class="list-title">
            List of Periods
          </div>
          <div class="search-wrap" data-e2e="search-wrap">
            <input class="search" data-e2e="search" [formControl]="periodsFilter" placeholder="Search" />
            <i class="icon fas fa-search"></i>
          </div>
          <div class="period-title">
            recent periods {{ getPeriodsLength() }}
          </div>
          <cdk-virtual-scroll-viewport itemSize="50" class="list-viewport" data-e2e="forms-viewport">
            <div *cdkVirtualFor="let item of periodsList" class="list-item" data-e2e="form-item"
              [class.selected]="isSelectedPeriod(item?.id)">
              <div class="item-title">
                <sw-input-checkbox [check]="isSelectedPeriod(item?.id)" (checked)="checkboxAction(item, $event)">
                  <span class="label">{{ item.name }}</span>
                </sw-input-checkbox>
              </div>
              <div class="splits">
                {{ getSplits(item) }}
              </div>
            </div>
          </cdk-virtual-scroll-viewport>
        </div>
        <div class="col-6 list-wrap">
          <div class="list-title">
            Chosen Periods
          </div>
          <div class="list-viewport" data-e2e="forms-viewport">
            <div *ngFor="let item of selectedPeriods" class="list-item" data-e2e="form-item">
              <div class="item-title">
                {{ item.name }}
                <div class="action" (click)="checkboxAction(item, false)">
                  <i class="fas fa-times"></i>
                </div>
              </div>
              <div class="splits">
                {{ getSplits(item) }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Rounds table section -->
<section class="section-wrap">
  <div class="section-title">2. Rounds</div>
  <div class="section-main-text">
    What release rounds do you want to include in this form?
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-10 round-body">
        <div class="add-button-wrap">
          <sw-button (click)="addRound()" style="margin-left: auto;margin-bottom: 10px;">Add Release Round</sw-button>
        </div>
        <div class="table-wrap">
          <table class="rounds-table">
            <thead class="table-head">
              <th >
                <!-- (click)="sort('name')" -->
                <div class="text">
                  RELEASE NAME
                </div>
                <!-- <div class="sort-icon">
                  <i class="fas fa-angle-down"></i>
                  <i class="fas fa-angle-up"></i>
                </div> -->
              </th>
              <th >
                  <!-- (click)="sort('start_date')" -->
                <div class="text">
                  start date
                </div>
              </th>
              <th >
                  <!-- (click)="sort('end_date')" -->
                <div class="text">
                  end date
                </div>
              </th>
              <th >
                  <!-- (click)="sort('release_type')" -->
                <div class="text">
                  Release types
                </div>
              </th>
              <th></th>
            </thead>
            <tbody class="table-body">
              <tr class="round-item" *ngFor="let item of roundsList">
                <td> {{ item.name }} </td>
                <td> {{ item.start_date }} </td>
                <td> {{ item.end_date }} </td>
                <td> {{ getReleaseType(item) }} </td>
                <td class="table_actions">
                  <i class="fas fa-pen" (click)="editRound(item)"></i>
                  <i class="fas fa-trash" (click)="deleteRound(item)"></i>
                </td>
              </tr>
              <tr class="form-table-row" *ngIf="showForm">
                <td class="form-wrap" colspan="5">
                  <ng-container [formGroup]="form">
                    <section class="general-info">
                      <div class="section-title">
                        1. General Information
                      </div>
                      <div class="section-content">
                        <div class="inputs-wrap">

                          <div class="row">
                            <div class="col-6 input-m-r">
                              <sw-input-text formControlName="name">
                                <span class="placeholder">
                                  Release Name
                                </span>
                              </sw-input-text>
                            </div>
                            <div class="col-6 input-m-l">
                              <div class="row">
                                <div class="col-6 input-m-r">
                                  <sw-input-english-datepicker formControlName="start_date">
                                  </sw-input-english-datepicker>
                                </div>
                                <div class="col-6 input-m-l">
                                  <sw-input-english-datepicker formControlName="end_date">
                                  </sw-input-english-datepicker>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </section>
                    <section class="release-type">
                      <div class="section-title">
                        2. Release type
                      </div>
                      <div class="section-content">

                        <div class="row" formGroupName="types">
                          <div class="col-6 input-m-r">
                            <div class="type-wrap" formGroupName="email"
                              [class.selected]="form.get('types').get('email').get('selected').value">
                              <sw-input-checkbox class="circle" formControlName="selected"></sw-input-checkbox>
                              <div class="icon-wrap">
                                <img [src]="getTypes('email')" alt="types-email">
                              </div>
                              <div class="section-title">
                                Email
                              </div>
                              <div class="content-mail">
                                <sw-input-text style="margin-bottom: 5px;" formControlName="subject">
                                  <span class="placeholder">
                                    Email Subject
                                  </span>
                                </sw-input-text>
                                <sw-input-textarea formControlName="body">
                                  <span class="label">
                                    Email Body
                                  </span>
                                </sw-input-textarea>
                                <sw-input-text [style]="'button_type'"></sw-input-text>
                              </div>
                            </div>
                          </div>
                          <div class="col-6 input-m-l">
                            <div class="type-wrap" formGroupName="mailing"
                              [class.selected]="form.get('types').get('mailing').get('selected').value">
                              <sw-input-checkbox class="circle" formControlName="selected"></sw-input-checkbox>
                              <div class="icon-wrap">
                                <img [src]="getTypes('mailing')" alt="types-mailing">
                              </div>
                              <div class="section-title">
                                Mailing
                              </div>
                              <div class="content-mail">
                                <sw-radio-group class="flex-row" [options]="mailingOptions"
                                  formControlName="is_self_mail" style="margin-bottom: 10px;"></sw-radio-group>
                                <ng-container
                                  *ngIf="form.get('types').get('mailing').get('is_self_mail').value !== 'Self-mail'; else loadButoon">
                                  <sw-dropdown-input style="width: 50%; margin-bottom: 25px;"
                                    formControlName="mailing_house_id">
                                    <span class="label">Mailing House Name</span>
                                  </sw-dropdown-input>
                                </ng-container>
                                <ng-template #loadButoon>
                                  <sw-button style="margin-left: auto; margin-bottom: 25px;" (click)="onExportZIP()">
                                    Download Forms
                                  </sw-button>
                                  <a [href]="download.url" [download]="download.filename" #link></a>
                                </ng-template>
                                <sw-input-checkbox>
                                  <span class="label">
                                    Delay the mailing after the email send by
                                    <select class="select" formControlName="is_delay_days">
                                      <option *ngFor="let item of selectOptions">{{ item }}</option>
                                    </select>
                                    <i class="fas fa-caret-down select-icon"></i>
                                    days
                                  </span>
                                </sw-input-checkbox>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="accounts">
                      <div class="section-title">
                        3. accounts
                      </div>
                      <div class="section-content">
                        <div class="row">
                          <div class="col-12 lists-wrap">
                            <div class="container">
                              <div class="row">
                                <div class="col-6 list-wrap">
                                  <div class="list-title">
                                    List of Accounts
                                  </div>
                                  <div class="search-wrap" data-e2e="search-wrap">
                                    <input class="search" data-e2e="search" placeholder="Search" />
                                    <!-- [formControl]="filter" -->
                                    <i class="icon fas fa-search"></i>
                                  </div>
                                  <div class="accounts-list">
                                    <div class="account" *ngFor="let item of accountsList">
                                      <div class="item">
                                        <sw-input-checkbox [check]="allChildrenSelected(item)"
                                          [isIndeterminate]="someChildrenSelected(item)"
                                          (checked)="toggleAccount(item, $event)">
                                          <span class="label">
                                            {{ item.name }} <p class="count">({{ item.data.length }})</p>
                                          </span>
                                        </sw-input-checkbox>
                                        <sw-icon-button [icon]="getIcon(item.isExpanded)"
                                          (click)="item.isExpanded = !item.isExpanded">
                                        </sw-icon-button>
                                      </div>
                                      <div class="nested" *ngIf="item.isExpanded">
                                        <div class="item" *ngFor="let i of item.data">
                                          <div class="label">
                                            <sw-input-checkbox [check]="isSelectedAccount(i)"
                                              (checked)="toggleAccount(i, $event)">
                                              <span class="label">
                                                {{ i.first_name }} {{ i.last_name }}
                                              </span>
                                            </sw-input-checkbox>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-6 list-wrap">
                                  <div class="list-title">
                                    Chosen Accounts
                                  </div>
                                  <div itemSize="50" class="list-viewport" data-e2e="forms-viewport">
                                    <ng-container *ngFor="let item of selectedAccountsList">
                                      <div class=" list-item" data-e2e="form-item">
                                        <div class="item-title">
                                          {{ item.first_name }} {{ item.last_name }}
                                          <div class="action" (click)="toggleAccount(item, false)">
                                            <i class="fas fa-trash"></i>
                                          </div>
                                        </div>
                                        <div class="splits">
                                        </div>
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                    <section class="actions-section">
                      <sw-button class="outline-btn" style="margin-right: 10px;" (click)="cancelRound()">Cancel
                      </sw-button>
                      <sw-button (click)="saveRound()">Save</sw-button>
                    </section>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="stepper-buttons" data-e2e="stepper-buttons">
  <sw-button class="outline-btn" (click)="prevStep()">
    Back to Previous Step
  </sw-button>
  <sw-button (click)="nextStep()">
    Save & Go Next Step
  </sw-button>
</div>
