<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="resetFormSelected()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="modalLabel">Access Settings</h4>
      </div>
      <div class="modal-body">
        <app-v-form-access *ngIf="formSelected" [formId] = "formSelected"></app-v-form-access>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" (click)="saveFormPermissions()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="resetFormSelected()">Close</button>
      </div>
    </div>
  </div>
</div>
