<div class="row py-3">
  <div class="col-sm-6">
    <span class="h5">FORMS</span>
  </div>
  <div class="col-sm-6 text-right">
    <div class="row">
      <div class="col-sm-6">
        <button type="button"
                class="btn btn-primary app-btn-primary btn-sm"
                routerLink="v-form-constructor"
                routerLinkActive="active">
          Create New Form
        </button>
        <div ngbDropdown class="d-inline-block ml-2">
          <button class="btn btn-outline-primary app-btn-outline-primary btn-sm" id="dropdownBasic1" ngbDropdownToggle>
            Bulk
            Actions
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button disabled ngbDropdownItem (click)="bulkAction('share')">Share</button>
            <button disabled ngbDropdownItem (click)="bulkAction('pdfexport')">Export PDF</button>
            <button ngbDropdownItem (click)="bulkAction('archive')">Archive</button>
            <button ngbDropdownItem (click)="bulkAction('delete')">Delete</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group">
          <input class="form-control form-control-sm mr-2" type="search" placeholder="Search">
          <button type="button" class="btn btn-primary app-btn-primary btn-sm">
            <i class="fas fa-sliders-h"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
