@import '../../shared/styles/index.scss';

.adaptive_behavior_reverse {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include media-breakpoint-up(lg) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
}

.form_nav {
  &__container {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem 0;

    @include media-breakpoint-up(lg) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__controls {
    @extend .adaptive_behavior_reverse;
  }

  &__buttons {
    @extend .adaptive_behavior_reverse;
  }

  &__button_box {
    @extend .adaptive_behavior_reverse;
  }

  &__button {
    @extend .adaptive_behavior_reverse;
    margin: 0.25rem 0;

    @include media-breakpoint-up(lg) {
      margin: 0.25rem 0.25rem;
    }
  }

  &__search_box {
    @extend .adaptive_behavior_reverse;
    margin: 0.25rem 0;

    @include media-breakpoint-up(lg) {
      margin: 0.25rem 0.25rem;
    }
  }
}