<div class="justify-content-md-center mb-3 text-center">
  <span class="pt-4 app-step-title">2. PERIOD</span>
</div>
<div class="justify-content-md-center mb-3 text-center">
  <h4 class="pt-3 text-center font-weight-bold">What period is this for? You may select more than one</h4>
</div>
<div [formGroup]="generalInfoForm">
  <div *ngIf="periods?.length" formGroupName="periodCheckboxGroup" class="form-group pl-5 ml-5">

    <div class="row justify-content-between pt-3 mt-4 mx-5">
      <div class="form-group col-6" *ngFor="let period of periods">
        <app-checkbox-field-container [isInvalid]="isInvalidCheckboxGroup('periodCheckboxGroup')">
          <span class="label">{{period.name}} ({{period.date_from}} - {{period.date_to}})</span>
          <input type="checkbox" [id]="period.id" [formControlName]="period.id">
        </app-checkbox-field-container>
      </div>
    </div>
    <div
      class="text-center text-danger
              {{addHiddenClass(!isInvalidCheckboxGroup('periodCheckboxGroup'))}}
              ">
      <small>At least one checkbox is required to check</small>
    </div>
  </div>
</div>