@import "index";

:host {
  .input_text {
    width: 100%;
    position: relative;
    &__input {
      width: 100%;
      height: 35px;
      background: $white;
      font-size: 12px;
      line-height: 15px;
      color: $black;
      border: 1px solid $soft-gray;
      box-sizing: border-box;
      border-radius: 3px;
      outline: none;
      &:focus {
        border: 1px solid $element-base-color;
      }
    }
    &__error {
      &_icon {
        width: 13px;
        height: 13px;
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        border-radius: 50%;
        background-color: $error-color;
        &:before,
        &:after {
          content: "";
          width: 7px;
          height: 2px;
          border-radius: 2px;
          position: absolute;
          left: 3px;
          top: 5.5px;
          background-color: $white;
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }
}

:host(.ng-invalid) {
  &:not(.ng-pristine) {
    .input_text {
      &__input {
        border: 1px solid $error-color;
      }

      &__error_icon {
        display: block;
      }
    }
  }
}

:host(.active) {
  .input_text .input_text__input {
    border: 1px solid #4350A2;
  }
}

:host(.settings-field,.filter-field) {
  .input_text__input {
    height: 25px;
    padding: 5px 10px;
  }
  .input_text__error_icon {
    top: 6px;
    right: 6px;
  }
}

:host(.no_styles) {
  .input_text__input {
    border: none;
    background-color: inherit;
    height: 100%;
    padding: 0;
    font: 800 14px/20px $nunito-sans;
  }

}
