<div class="row py-4">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
      <div class="collapse justify-content-left navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link app-ft-nav-link"
              [ngClass]="{
                'app-ft-nav-link-active': activeFilterTab == 'submission'
              }"
              (click)="onActiveTab('submission')"
            >
              Submission
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link app-ft-nav-link"
              [ngClass]="{
                'app-ft-nav-link-active': activeFilterTab == 'schedule'
              }"
              (click)="onActiveTab('schedule')"
            >
              Form Schedule
            </a>
          </li>
          <li class="nav-item ">
            <a
              class="nav-link app-ft-nav-link"
              [ngClass]="{
                'app-ft-nav-link-active': activeFilterTab == 'automations'
              }"
              (click)="onActiveTab('automations')"
            >
              Automations
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link app-ft-nav-link"
              [ngClass]="{ 'app-ft-nav-link-active': activeFilterTab == 'log' }"
              (click)="onActiveTab('log')"
            >
              Log
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="col-sm-7 text-right">
    <div class="row">
      <div class="col-sm-6">
        <a class="btn app-btn-outline-primary" 
          tabindex="0"
          [routerLink]="'/vertical-data-collection/' + 'v-form-review/' + formId"
          routerLinkActive="active"
        >
          Review the form
        </a>
        &nbsp;
        <button type="button" class="btn app-btn-outline-primary">
          Upload Forms
        </button>
        <div ngbDropdown class="d-inline-block ml-2">
          <button
            class="btn app-btn-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Bulk Actions
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="bulkAction('download')">
              Download documents
            </button>
            <button ngbDropdownItem (click)="bulkAction('export')">
              Export submissions
            </button>
            <button ngbDropdownItem (click)="bulkAction('view')">
              View data
            </button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="input-group app-input-search-container">
          <i class="fas fa-search app-input-search-icon"></i>
          <input
            [(ngModel)]="searchValue"
            (ngModelChange)="onSearchValue()"
            class="form-control app-input-search app-input-search-grey"
            type="search"
            placeholder="Search"
          />
          <button type="button" class="btn app-btn-primary">
            <i class="fas fa-sliders-h"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
