<form [formGroup]="lform">
  <div class="header">
    <div class="bubbles">
      <i class="fas fa-grip-vertical bubbles-ico"></i>
    </div>
    <div class="sections">
      <div class="section-name">
        <sw-input-text formControlName="sectionName">
          <span class="placeholder">Section Name</span>
        </sw-input-text>
      </div>
    </div>
    <div class="controls">
      <div class="controls-arrow-container">
        <div class="controls-arrow">
          <sw-icon-button *ngIf="isContentShown" color="white" [icon]="icons.CARET_DOWN" (click)="changeIsContentShown()">
          </sw-icon-button>
          <sw-icon-button *ngIf="!isContentShown" color="white" [icon]="icons.CARET_UP" (click)="changeIsContentShown()">
          </sw-icon-button>
        </div>
      </div>
    </div>
  
  
  </div>
  <div *ngIf="isContentShown" cdkDropList (cdkDropListDropped)="drop($event)" formArrayName="consents">
    <div class="consent-item" *ngFor="let item of consents.controls; let i = index" cdkDrag [formGroupName]="i">
      <div class="consent-item__bubbles">
        <i class="fas fa-grip-vertical consent-item__bubbles-ico" cdkDragHandle></i>
      </div>
      <div class="consent-item__fields">
        <div class="consent-item__fields-name">
          <sw-input-text formControlName="title">
            <span class="placeholder">Consent Name</span>
          </sw-input-text>
        </div>
        <div class="consent-item__fields-text" formGroupName="text">
          <sw-input-textarea formControlName="value" [rows]="textarea.rows" [cols]="textarea.cols"
            [readonly]="!textarea.editable">
            <span class="label">Text</span>
          </sw-input-textarea>
        </div>
        <div *ngIf="item?.value?.checkbox?.isActive" class="consent-item__fields-checkbox-container" formGroupName="checkbox">
          <div class="consent-item__fields-checkbox">
            <sw-input-checkbox formControlName="checked"></sw-input-checkbox>
          </div>
          <sw-input-text formControlName="text">
            <span class="placeholder">Checkbox Text</span>
          </sw-input-text>
        </div>
        <div *ngIf="item?.value?.signature?.isRequire && item?.value?.signature?.isBothParents" class="consent-item__fields-signatures">
          <div class="consent-item__fields-signature">
            <sw-input-textarea [rows]="textarea.rows" [cols]="textarea.cols" [readonly]="!textarea.editable">
              <span class="label">Father's signature</span>
            </sw-input-textarea>
          </div>
          <div class="consent-item__fields-signature">
            <sw-input-textarea [rows]="textarea.rows" [cols]="textarea.cols" [readonly]="!textarea.editable">
              <span class="label">Mother's signature</span>
            </sw-input-textarea>
          </div>
        </div>
        <div *ngIf="item?.value?.signature?.isRequire && !item?.value?.signature?.isBothParents" class="consent-item__fields-signatures">
          <div class="consent-item__fields-signature">
            <sw-input-textarea [rows]="textarea.rows" [cols]="textarea.cols" [readonly]="!textarea.editable">
              <span class="label">Parents's signature</span>
            </sw-input-textarea>
          </div>
        </div>
        <div *ngIf="item?.value?.button?.isActive" class="consent-item__fields-button" formGroupName="button">
          <sw-input-text formControlName="text" [style]="'button_type'"></sw-input-text>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- <sw-form-creator-workarea-footer></sw-form-creator-workarea-footer> -->