<form [formGroup]="lform">
  <div class="header" formGroupName="documents">
    <div class="bubbles">
      <i class="fas fa-grip-vertical bubbles-ico"></i>
    </div>
    <div class="sections">
      <div class="section-name">
        <sw-input-text formControlName="sectionName">
          <span class="placeholder">Section Name</span>
        </sw-input-text>
      </div>
    </div>
    <div class="controls">
      <div class="controls-arrow-container">
        <div class="controls-arrow">
          <sw-icon-button *ngIf="isContentShown" color="white" [icon]="icons.CARET_DOWN"
            (click)="changeIsContentShown()">
          </sw-icon-button>
          <sw-icon-button *ngIf="!isContentShown" color="white" [icon]="icons.CARET_UP"
            (click)="changeIsContentShown()">
          </sw-icon-button>
        </div>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="rootForm">
  <div class="app-div-animation app-div-hide" [ngClass]="{
    'app-div-show': isContentShown,
    'app-div-hide': !isContentShown
  }" formArrayName="documents">

    <div class="documents-item" *ngFor="let document of documents.controls; let i = index;" [formGroupName]="i">
      <div class="row item-row justify-content-between">
        <div class="document-info align-items-center">
          <div class="document-name">
            <sw-input-text formControlName="name">
              <span class="placeholder">Document Name</span>
            </sw-input-text>
          </div>
          <div class="lable green" *ngIf="document.value.isPerFamily">
            Family
          </div>
          <div class="lable blue" *ngIf="!document.value.isPerFamily">
            Student
          </div>
        </div>
        <sw-button class="outline-btn">Add Specific Criteria</sw-button>
      </div>
      <div class="row item-row" formGroupName="accompanyingText">
        <sw-input-textarea formControlName="data">
          <span class="label">Text</span>
        </sw-input-textarea>
      </div>
      <div class="row item-row">
        <div class="file" *ngIf="!document?.value?.isUpload">
          <div class="input">
            <span class="file-name">
              {{ getAttachments(document?.value?.data) }}
            </span>
            <div class="actions" style="margin-left: auto; width: fit-content;">
              <sw-icon-button (click)="openForPreview(document?.value)" icon="fa-eye"></sw-icon-button>
              <sw-icon-button (click)="deleteAttachment(i)" icon="fa-trash"></sw-icon-button>
            </div>
            <input #fileInput type="file" accept=".pdf,.doc,.docx,.jpg" (change)="fileChange($event, i)" hidden />
          </div>
          <sw-button class="icon-btn full rigth" style="width: 35px;" (click)="focusInput(fileInput)">
            <i class="fas fa-sliders-h"></i>
          </sw-button>
        </div>
        <div class="actions" style="margin-left: auto;">
          <sw-button *ngIf="!document?.value?.isUpload; else uploadDocument">
            Download Document
          </sw-button>
          <ng-template #uploadDocument>
            <sw-button>
              Upload Document
            </sw-button>
            <sw-icon-button icon="fa-file-alt" (click)="openFormatsPop(document.value)"></sw-icon-button>
          </ng-template>
        </div>
      </div>
    </div>


  </div>
</form>
<ng-template #formatsOptions>
  <div class="dialog_container">
    <div class="dialog_container__header">
      <span class="text">Delete Confirmation Required</span>
      <div class="icon" (click)="closePop()">
        <i class="fas fa-times"></i>
      </div>
    </div>
    <div class="dialog_container__body">
      <div class="item row">
        <div class="col-4 lable">
          <sw-input-toggle [(ngModel)]="docs">
            <span class="label">Documents</span>
          </sw-input-toggle>
        </div>
        <div class="col-8 inputs" *ngIf="docs">
          <div class="col-3 input" *ngFor="let item of documentsFormats">
            <sw-input-checkbox [(ngModel)]="item.value" (ngModelChange)="formatChange(item.title, item.value)">
              <span class="label">{{item.title}}</span>
            </sw-input-checkbox>
          </div>
        </div>
      </div>
      <div class="item row">
        <div class="col-4 lable">
          <sw-input-toggle [(ngModel)]="images">
            <span class="label">Images</span>
          </sw-input-toggle>
        </div>
        <div class="col-8 inputs" *ngIf="images">
          <div class="col-3 input" *ngFor="let item of imgFormats">
            <sw-input-checkbox [(ngModel)]="item.value" (ngModelChange)="formatChange(item.title, item.value)">
              <span class="label">{{item.title}}</span>
            </sw-input-checkbox>
          </div>
        </div>
      </div>
      <div class="item row">
        <div class="col-4 lable">
          <sw-input-toggle [(ngModel)]="audio">
            <span class="label">Audio/Video</span>
          </sw-input-toggle>
        </div>
        <div class="col-8 inputs" *ngIf="audio">
          <div class="col-3 input" *ngFor="let item of audiovideoFormats">
            <sw-input-checkbox [(ngModel)]="item.value" (ngModelChange)="formatChange(item.title, item.value)">
              <span class="label">{{item.title}}</span>
            </sw-input-checkbox>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-template>





<!-- FORMS STRAT -->

<form [formGroup]="lform">
  <div class="header" formGroupName="formsPDF">
    <div class="bubbles">
      <i class="fas fa-grip-vertical bubbles-ico"></i>
    </div>
    <div class="sections">
      <div class="section-name">
        <sw-input-text formControlName="sectionName">
          <span class="placeholder">Section Name</span>
        </sw-input-text>
      </div>
    </div>
    <div class="controls">
      <div class="controls-arrow-container">
        <div class="controls-arrow">
          <sw-icon-button *ngIf="isContentFShown" color="white" [icon]="icons.CARET_DOWN"
            (click)="changeIsContentFShown()">
          </sw-icon-button>
          <sw-icon-button *ngIf="!isContentFShown" color="white" [icon]="icons.CARET_UP"
            (click)="changeIsContentFShown()">
          </sw-icon-button>
        </div>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="rootForm">
  <div class="app-div-animation app-div-hide" [ngClass]="{
    'app-div-show': isContentFShown,
    'app-div-hide': !isContentFShown
  }" formArrayName="forms">

    <div class="documents-item" *ngFor="let form of forms.controls; let i = index;" [formGroupName]="i">
      <div class="row item-row justify-content-between">
        <div class="document-info align-items-center">
          <div class="document-name">
            <sw-input-text formControlName="name">
              <span class="placeholder">Form Name</span>
            </sw-input-text>
          </div>

          <div class="lable green" *ngIf="form?.value?.isPerFamily">
            Family
          </div>
          <div class="lable blue" *ngIf="!form?.value?.isPerFamily">
            Student
          </div>
        </div>

        <sw-button class="outline-btn">Add Specific Criteria</sw-button>

      </div>
      <div class="row item-row" formGroupName="accompanyingText">
        <sw-input-textarea formControlName="data">
          <span class="label">Text</span>
        </sw-input-textarea>
      </div>
      <div class="row item-row form-actions">
        <ng-container formGroupName="form">
          <sw-dropdown-input style="width: 20%; margin-right: 10px;">
            <span class="label">Fillable Form Type</span>
          </sw-dropdown-input>
          <sw-input-text formControlName="name" style="width: 20%; margin-right: 10px;">
            <span class="placeholder">Fillable Form Name</span>
          </sw-input-text>
          <!-- [(ngModel)]="uploadedForm"
                (ngModelChange)="upladedFileChange(form)" -->
          <sw-dropdown-input style="width: 45%; margin-right: 10px;" *ngIf="!form?.value?.isNew; else new"
            [options]="existingFormsPDF">
            <span class="label">Uploaded Form</span>
          </sw-dropdown-input>
          <ng-template #new>
            <div class="file" style="width: 40%;">
              <div class="input">
                <span class="file-name">{{form?.value?.form?.name}}</span>
                <div class="actions" style="margin-left: auto; width: fit-content;">
                  <sw-icon-button style="height: 15px;" (click)="form.form = null" icon="fa-trash"></sw-icon-button>
                </div>
                <input #uploader type="file" accept=".pdf" (change)="formChange($event, i)" hidden />
              </div>
              <sw-button class="full rigth" (click)="uploader.click()">
                Upload
              </sw-button>
            </div>
          </ng-template>
        </ng-container>


        <sw-input-checkbox formControlName="isPublicly">
          <span class="label">Share Publicly</span>
        </sw-input-checkbox>

      </div>

      <!-- <sw-form-drawing [sideBar]="sideBar" [form]="form" [existingFields]="existingFields"
        *ngIf="forms?.form && forms?.form?.name" [pages]="forms.form.numberOfPages" [formsPDF]="forms">
      </sw-form-drawing> -->

    </div>

  </div>
</form>