<form [formGroup]="lform">
  <div class="header">
    <div class="bubbles">
      <i class="fas fa-grip-vertical bubbles-ico"></i>
    </div>
    <div class="sections">
      <div class="section-name">
        <sw-input-text formControlName="sectionName">
          <span class="placeholder">Section Name</span>
        </sw-input-text>
      </div>
    </div>
    <div class="controls">
      <div class="controls-arrow-container">
        <div class="controls-arrow">
          <sw-icon-button *ngIf="isContentShown" color="white" [icon]="icons.CARET_DOWN" (click)="changeIsContentShown()">
          </sw-icon-button>
          <sw-icon-button *ngIf="!isContentShown" color="white" [icon]="icons.CARET_UP" (click)="changeIsContentShown()">
          </sw-icon-button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div *ngIf="isContentShown" cdkDropList (cdkDropListDropped)="drop($event)" formArrayName="termsConditionsItems">
    <div class="item" *ngFor="let item of termsConditionsItems.controls; let i = index" cdkDrag [formGroupName]="i">
      <div class="bubbles">
        <i class="fas fa-grip-vertical bubbles-ico" cdkDragHandle></i>
      </div>
      <div class="fields">
        <div class="fields-name">
          <sw-input-text formControlName="title">
            <span class="placeholder">Terms And Conditions Name</span>
          </sw-input-text>
        </div>
        <div class="fields-text">
          <sw-input-textarea [rows]="textarea.rows" [cols]="textarea.cols" [readonly]="!textarea.editable" formControlName="text">
            <span class="label">Text</span>
          </sw-input-textarea>
        </div>
        <div *ngIf="item?.value?.checkbox?.isActive" class="fields-checkbox-container" formGroupName="checkbox">
          <div class="fields-checkbox">
            <sw-input-checkbox formControlName="checked"></sw-input-checkbox>
          </div>
          <sw-input-text formControlName="text">
            <span class="placeholder">Checkbox Text</span>
          </sw-input-text>
        </div>
      </div>
    </div>
    <div class="item" style="padding-left: 50px;">
      <div *ngIf="lform?.get('signature')?.value.isBothParents" style="display: flex;" class="fields-signatures">
        <div class="fields-signature" style="margin-right: 10px;">
          <sw-input-textarea>
            <span class="label">Father's signature</span>
          </sw-input-textarea>
        </div>
        <div class="fields-signature">
          <sw-input-textarea>
            <span class="label">Mother's signature</span>
          </sw-input-textarea>
        </div>
      </div>
      <div *ngIf="!lform?.get('signature')?.value.isBothParents" class="fields-signatures">
        <div class="fields-signature">
          <sw-input-textarea>
            <span class="label">Parents's signature</span>
          </sw-input-textarea>
        </div>
      </div>
    </div>
  </div>
</form>
