<app-family-view-documents-nav [familyName]="familyName"></app-family-view-documents-nav>
<div class="mt-4">
  <app-data-table [cols]="cols" tableType='table-striped'
                  (searchQueryEmitter)="onSearchQuery($event)">
    <tbody *ngIf="attachments?.length">
    <tr *ngFor="let attacment of attachments">
      <td nowrap>{{attacment.title}}</td>
      <td nowrap>{{attacment.type}}</td>
      <td>{{attacment.format | uppercase}}</td>
      <td>{{ convertDate(attacment.created_at) | date: "dd-MM-yyyy" }}</td>
      <td>{{attacment.fileable.person.first_name}} {{attacment.fileable.person.last_name}}</td>
      <td class="text-right">
        <i class="fas fa-download app-text-second app-cursor-pointer mr-4"></i>
        <i class="fas fa-pen app-text-second app-cursor-pointer mr-5"></i>
      </td>
    </tr>
    </tbody>
  </app-data-table>
</div>
