<div class="row align-bottom">
  <!--Title-->
  <div class="col-6 d-flex align-items-end">
    <p class="font-weight-bold mb-0">{{familyName | uppercase}} DOCUMENTS</p>
  </div>
  <!--Search Filter-->
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10 d-flex justify-content-end">
        <app-search-field [ngModel]="queryParams.query" (ngModelChange)="setSearchQuery($event)" type="gray" class="mr-3"></app-search-field>
        <app-search-filter-btn class="mr-3"></app-search-filter-btn>
      </div>
    </div>
  </div>
</div>
