<h1 class="content_section__page_title">
  Documents & Forms
</h1>
<!-- Content Nav -->
<div class="content_section__nav">
  <app-content-nav
    [content]="navContent"
    (activeEmitter)="onActive($event)"
  ></app-content-nav>
</div>
<div class="app-of-wrap content_section__main">
  <div>
    <app-online-documents
      *ngIf="activeId == 'documents'"
      [form]="form"
    ></app-online-documents>
    <app-online-pdf-forms
      *ngIf="activeId == 'pdf-forms'"
      [form]="form"
    ></app-online-pdf-forms>
  </div>
</div>
