<app-modal [title]="'Add Family'" [width]="'30%'"  (closeModal)="onCloseFamilyModal()">
  <div class="row">
    <div class="col-12 text-left">
      <app-input-field [(ngModel)]="familyName" [label]="'Family Name'"></app-input-field>
    </div>
  </div>
  <div class="row text-right pt-4">
    <div class="col-12">
      <button class="btn app-btn-warning mr-2" (click)="onCloseFamilyModal()">Cancel</button>
      <button [disabled]="!familyName" class="btn app-btn-primary" (click)="save()">Save</button>
    </div>
  </div>
</app-modal>