
<!--SIGNATURE-->
<div *ngIf="signature?.isRequire" class="content_section__additional_fields" [formGroup]="fg">
  <!--E-SIGN SIGNATURE-->
  <ng-container *ngIf="signature.type === SIGNATURE_TYPES.ESIGN">
    <!--EXTERNAL SIGNATURE-->
    <ng-container *ngIf="signature.eType === E_SIGNATURE_TYPES.EXTERNAL">
      <div
        class="content_section__inputs_container"
        *ngIf="!signature.isBothParents"
      >
        <textarea
          class="app-input form-control content_section__textarea"
          rows="2"
          [formControlName]="sourcePage + '_external_parent'"
          [placeholder]="placeholderText['parent']"
          [disabled]="isDisabled"
        ></textarea>
      </div>

      <div
        class="content_section__inputs_container"
        *ngIf="signature.isBothParents"
      >
        <textarea
          class="app-input form-control content_section__textarea"
          rows="2"
          [formControlName]="sourcePage + '_external_father'"
          [placeholder]="placeholderText['father']"
          [disabled]="isDisabled"
        ></textarea>
        <textarea
          class="app-input form-control content_section__textarea"
          rows="2"
          [formControlName]="sourcePage + '_external_mother'"
          [placeholder]="placeholderText['mother']"
          [disabled]="isDisabled"
        ></textarea>
      </div>

      <div class="content_section__controls_container">
        <button
          class="btn app-btn-primary content_section__button"
          [disabled]="isDisabled"
        >
          Accept
        </button>
      </div>
    </ng-container>

    <!--SYSTEM SIGNATURE-->
    <ng-container *ngIf="signature.eType === E_SIGNATURE_TYPES.SYSTEM">
      <div class="content_section__inputs_container">
        <ng-container *ngIf="!signature.isBothParents">
          <div class="content_section__checkbox_container">
            
            <sw-input-checkbox [formControlName]="sourcePage + '_system_parent'">
              <span class="input_label"> {{ placeholderText['parent'] }}</span>
            </sw-input-checkbox>
        
          </div>
          <!-- /.content_section__checkbox_container -->
        </ng-container>

        <ng-container *ngIf="signature.isBothParents">
          <div class="content_section__checkbox_container">
            <sw-input-checkbox [formControlName]="sourcePage + '_system_father'">
              <span class="input_label"> {{ placeholderText['father'] }}</span>
            </sw-input-checkbox>
          </div>
          <!-- /.content_section__checkbox_container -->

          <div class="content_section__checkbox_container">
            <sw-input-checkbox [formControlName]="sourcePage + '_system_mother'">
              <span class="input_label"> {{ placeholderText['mother'] }}</span>
            </sw-input-checkbox>
          </div>
          <!-- /.content_section__checkbox_container -->
        </ng-container>
      </div>
      <!-- /.content_section__inputs_container -->

      <div class="content_section__controls_container">
        <button
          class="btn app-btn-primary content_section__button"
          [disabled]="isDisabled"
        >
          Accept
        </button>
      </div>
    </ng-container>
  </ng-container>

  <!--WET SIGNATURE-->
  <ng-container *ngIf="signature.type === 'SIGNATURE_TYPES.WET'">
    <div
      class="content_section__inputs_container p-0"
      *ngIf="!signature.isBothParents"
    >
      <textarea
        class="app-input form-control content_section__textarea"
        rows="2"
        [formControlName]="sourcePage + '_wet_parent'"
        [placeholder]="placeholderText['parent']"
        [disabled]="isDisabled"
      ></textarea>
    </div>

    <div
      class="content_section__inputs_container p-0"
      *ngIf="signature.isBothParents"
    >
      <textarea
        class="app-input form-control content_section__textarea"
        rows="2"
        [formControlName]="sourcePage + '_wet_father'"
        [placeholder]="placeholderText['father']"
        [disabled]="isDisabled"
      ></textarea>

      <textarea
        class="app-input form-control content_section__textarea"
        rows="2"
        [formControlName]="sourcePage + '_wet_mother'"
        [placeholder]="placeholderText['mother']"
        [disabled]="isDisabled"
      ></textarea>
    </div>

    <div class="content_section__controls_container">
      <button
        class="btn app-btn-primary content_section__button"
        [disabled]="isDisabled"
      >
        Accept
      </button>
    </div>
  </ng-container>
</div>
<!--END SIGNATURE-->
