<div *ngFor="let document of form.documents" class="mb-3">
<!--  {{document | json}}-->
  <div class="">
    <span class="app-text-extra-bold">{{document.name | uppercase}}</span>
  </div>
  <div class="my-2" [innerHTML]="document.accompanyingText.data"></div>
  <div class="col-6  mx-2 document-cont-div row no-gutters align-items-center" >
<!--    {{document | json}}-->
    <div class="col-1 py-2 mx-0">
      <i class="far fa-file-pdf fa-3x app-fb-section-icon"></i>
    </div>
    <div class="col-7 py-2"><span class="span-download" (click)="openForPreview(document)">{{form.attachments[document.data].name}}</span></div>
    <div class="col-4" (click)="openForPreview(document)" ><button class="btn app-btn-primary form-control">Download Document</button> </div>
  </div>
  <hr>
</div>
