<div
  #holder
  class="container"
  [class.active]="active"
  [class.disabled]="disabled"
  [class.empty]="isEmpty()"
  (click)="showPopup($event)"
>

  <ng-content select="span" class="span"></ng-content>

  <ng-template #droplist>
    <div class="dropdown-buttons">
      <sw-button [color]="colors.GRAY_PURPLE" [size]="size.MEDIUM" (click)="clickPreviousYears()">
        <i class="fas fa-chevron-left"></i>
        <span>Previous</span>
      </sw-button>
      <sw-button [color]="colors.GRAY_PURPLE" [size]="size.MEDIUM" (click)="clickNextYears()" [disabled]="isNextYearsMoreNowYear()">
        <span>Next</span>
        <i class="fas fa-chevron-right"></i>
      </sw-button>
    </div>
    <div>
      <div class="dropdown_items_container">
        <div
          class="dropdown_items_container__item"
          *ngFor="let item of dropdownList"
          [class.selected]="isSelected(item)"
          [class.disabled-year]="isYearMoreNowYear(item)"
          (click)="select(item)"
        >
          <span class="text">{{ item }}</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
