<div
  #holder
  class="container"
  [class.active]="active"
  [class.disabled]="disabled"
  [class.empty]="isEmpty()"
  (click)="showPopup($event)"
>

  <ng-content select="span" class="span"></ng-content>

  <ng-template #droplist>
    <div class="dropdown-buttons">
      <sw-button
        class="middle quaternary left-icn"
        [ngClass]="colors.GRAY_PURPLE + ' ' + size.MEDIUM"
        [icon]="chevronLeft"
        (click)="clickPreviousYears()"
      >
       Previous
      </sw-button>
      <sw-button
        class="middle quaternary right-icn"
        [ngClass]="colors.GRAY_PURPLE + ' ' + size.MEDIUM"
        [disabled]="isNextYearsMoreNowYear()"
        [icon]="chevronRight"
        (click)="clickNextYears()"
      >
        Next
      </sw-button>
    </div>
    <div>
      <div class="dropdown_items_container">
        <div
          class="dropdown_items_container__item"
          *ngFor="let item of dropdownList"
          [class.selected]="isSelected(item)"
          [class.disabled-year]="isYearMoreNowYear(item)"
          (click)="select(item)"
        >
          <span class="text">{{ item }}</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
