<app-family-page-header [titleHeader]="'FAMILIES LIST'"></app-family-page-header>

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-12 text-right">
      <button class="btn app-btn-primary" (click)="showFamilyAddModal()">Create New</button>
      <app-family-create-modal *ngIf="showModal"
                               (closeFamilyModal)=onCloseFamilyAddModal($event)>
      </app-family-create-modal>
    </div>
  </div>
  <div class="row mt-3 app-of-wrap py-5">
    <div class="col-12">
      <app-data-table [cols]="cols" tableType='table-striped'
                      (searchQueryEmitter)="onSearchQuery($event)">
        <tbody>
        <tr *ngFor="let item of familyList$ | async; index as i">
          <td nowrap class="font-weight-bold">{{ item.name }}</td>
          <td>
            <div class="d-flex justify-content-start flex-wrap">
              <ng-container *ngFor="let familyPerson of item.family_persons">
                <ng-container
                  *ngIf="familyPerson.person_role === familyRoles.mother || familyPerson.person_role === familyRoles.father">
                  <app-family-person-container [familyPerson]="familyPerson"></app-family-person-container>
                </ng-container>
              </ng-container>
            </div>
          </td>
          <td>
            <div class="d-flex justify-content-start flex-wrap">
              <ng-container *ngFor="let familyPerson of item.family_persons">
                <ng-container *ngIf="familyPerson.person_role === familyRoles.student">
                  <app-family-person-container [familyPerson]="familyPerson"></app-family-person-container>
                </ng-container>
              </ng-container>
            </div>
          </td>
          <td nowrap class="text-right">
            <button class="btn app-btn-primary px-2 py-0 mr-2" [routerLink]="'profile/'+ item.family_id">Edit</button>
            <button class="btn btn-danger px-2 py-0" (click)="deleteFamily(item.family_id)">Delete</button>
          </td>
        </tr>
        </tbody>
      </app-data-table>
      <app-spinner *ngIf="loader$ | async"></app-spinner>
    </div>
  </div>
</div>
