<div class="field" *ngIf="group">
  <!-- [class.active]="node.showSettings" *ngIf="node.isActive" -->
  <div class="main-container">
    <div class="drag-icon">
      <i class="dragdrop fas fa-ellipsis-v" cdkDragHandle></i>
    </div>
    <div class="name-container">
      <div class="main-text">{{group.name | titlecase}}</div>
      <div class="hint">Group Type -</div>
    </div>
    <sw-dropdown-input style="margin-right: 10px;" [(ngModel)]="width" (ngModelChange)="widthChanged($event)"
      [options]="widthOptions">
      <span class="label">Section Width</span>
    </sw-dropdown-input>
  </div>

  <div class="actions">
    <div class="icon">
      <sw-icon-button icon="fa-cog" class="field-creator blue" [class.active]="showGroupSettings"
        (click)="showGroupSettings=!showGroupSettings">
      </sw-icon-button>
    </div>
    <div class="icon">
      <sw-icon-button icon="fa-times" class="field-creator blue" (click)="removeGroup(group)">

      </sw-icon-button>
    </div>
    <div class="icon dragdrop">
      <sw-icon-button class="blue" (click)="showNested=!showNested" [icon]="getIcon()">
      </sw-icon-button>
    </div>
  </div>
</div>

<div [hidden]="!(group && showGroupSettings)">
  <app-group-settings [inputGroup]="group"></app-group-settings>
</div>


<div *ngIf="group && showNested">
  <ul class="list-group" cdkDropList [id]="group.pathId" [cdkDropListData]="group"
    [cdkDropListConnectedTo]="getConnectedIds()" cdkDropListSortingDisabled="false">
    <li *ngIf="group.type === 113 && group.fields.length==0" class="list-group-item empty-group p-0 "
      [ngClass]="nestedLevel==1?'margin-for-nested':''">
      <div class="text-center"> <span class="empty-group-text">Drag and Drop Fields Onto the Group</span>
      </div>
    </li>
    <li class="list-group-item p-0" [class.margin-for-nested]="nestedLevel>0" [cdkDragData]="field" cdkDrag
      (cdkDragDropped)="drop($event)" *ngFor="let field of group.fields">
      <ng-container *ngIf="field.type !== 113">
        <app-field-container *cdkDragPreview [inputField]="field" [form]="form" [customFields]="customFields"
          [sideBar]="sideBar">
        </app-field-container>
        <app-field-container [inputField]="field" [form]="form" [customFields]="customFields" [sideBar]="sideBar">
        </app-field-container>
      </ng-container>
      <ng-container *ngIf="field.type === 113">
        <app-group-container *cdkDragPreview [inputGroup]="field" [form]="form" [customFields]="customFields"
          [sideBar]="sideBar">
        </app-group-container>
        <app-group-container [inputGroup]="field" [form]="form" [customFields]="customFields" [sideBar]="sideBar">
        </app-group-container>
      </ng-container>
      <app-divider-container *ngIf="field.type==112" [inputDivider]="field" [form]="form"></app-divider-container>
    </li>
  </ul>
</div>
