<!--<div class="py-3" [ngClass]="{'app-setting-show': showGroupSettings}" >-->
<!--  <div class="row align-items-center no-gutters">-->

<!--    <div class="col-3 ">-->

<!--      <div class="row align-items-center no-gutters ml-2">-->

<!--        <div class="col-3">-->
<!--          <div class="row align-items-center no-gutters">-->
<!--            <div cdkDragHandle>-->
<!--&lt;!&ndash;            <div *ngIf="inputGroup.isValidName" cdkDragHandle>&ndash;&gt;-->
<!--              <span><i class="fas fa-ellipsis-v dragable-i"></i></span>-->
<!--              <span><i class="fas fa-ellipsis-v dragable-i"></i></span>-->
<!--            </div>-->
<!--            <div *ngIf="!inputGroup.isValidName">-->
<!--                   <span aria-hidden="true" [title]="warningCheckExistingLabelString"><i-->
<!--                     class="fas fa-exclamation-triangle"></i></span>-->
<!--            </div>-->

<!--            <div>-->
<!--&lt;!&ndash;            <div *ngIf="inputGroup.isValid">&ndash;&gt;-->
<!--              <span class="rectangle"><i class="fas fa-clone"></i></span>-->
<!--            </div>-->
<!--&lt;!&ndash;            <div *ngIf="!inputGroup.isValid" class="ml-3">&ndash;&gt;-->
<!--&lt;!&ndash;              <span aria-hidden="true" [title]="warningCheckUniqString"><i&ndash;&gt;-->
<!--&lt;!&ndash;                class="fas fa-exclamation-circle"></i></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-9">-->
<!--          <label class="has-float-label">-->
<!--            <input class="form-control "-->
<!--                   [disabled]="(inputGroup.mapped!=''&& inputGroup.hasOwnProperty('mapped'))||inputGroup.type==113"-->
<!--                   [ngModel]="inputGroup.name">-->
<!--            <span class="spanForLabel">Group Label</span>-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-6">-->
<!--      <div class="row align-items-center ">-->
<!--        <div class="col-5 offset-1 pl-0">-->
<!--          <label class="has-float-label">-->
<!--            <select class="form-control" disabled>-->
<!--              <option>{{inputGroup.name}}-->
<!--              </option>-->
<!--            </select>-->
<!--            <span class="spanForLabel">Group Type</span>-->
<!--          </label>-->
<!--        </div>-->

<!--        <div class="col-3">-->
<!--          <label class="has-float-label">-->
<!--            <select class="form-control" [(ngModel)]="inputGroup.options.size">-->
<!--              <option *ngFor="let width of size" [value]="width"-->
<!--                      [selected]="inputGroup.options.size==width">{{width}}-->
<!--              </option>-->
<!--            </select>-->
<!--            <span class="spanForLabel">Field Width</span>-->
<!--          </label>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-3 row align-items-center no-gutters">-->
<!--      <div class="col-3 offset-9">-->
<!--        <div class="d-inline-block">-->
<!--          <i (click)="onShowGroupSettings()" class="fas fa-cog dragable-i mr-1 pr-2"></i>-->
<!--          <span (click)="onShowNested()" class="mr-2 ">-->
<!--            <i *ngIf="showNested" class="fas  fa-caret-down dragable-y"></i>-->
<!--            <i *ngIf="!showNested" class="fas  fa-caret-up dragable-y"></i>-->
<!--          </span>-->
<!--          <span class="" (click)="removeGroup(inputGroup)">-->
<!--          <i class="fas  fa-times  "></i>-->
<!--        </span>-->
<!--        </div>-->
<!--&lt;!&ndash;        <div class="col" >&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->

<!--  <div [hidden]="!showNested"-->
<!--       [cdkDropListConnectedTo]="idSectionForDragDrop"-->
<!--       [cdkDropListData]="inputGroup.fields"-->
<!--       [id]='inputGroup._id'-->
<!--       (cdkDropListDropped)="drop($event)"-->
<!--       class=""-->
<!--       cdkDropList>-->
<!--    <ul class="list-group">-->
<!--      <li *ngIf="inputGroup.fields.length==0" class="list-group-item empty-group">-->
<!--        <div class="text-center">        <span class="empty-group-text">Drag and Drop Fields Onto the Group</span>-->
<!--        </div>-->
<!--      </li>-->
<!--      <li class="list-group-item ml-4 mb-3" *ngFor="let field of inputGroup.fields" cdkDrag>-->
<!--        <app-v-field-container *ngIf="field.type!=113"-->
<!--                               [inputField]="field"-->
<!--                               [form]="form"-->
<!--                               [customFields]="customFields"-->
<!--                               [sideBar]="sideBar">-->
<!--        </app-v-field-container>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--  <div *ngIf="showGroupSettings">-->
<!--    <app-v-group-settings [inputGroup] = "inputGroup"></app-v-group-settings>-->
<!--  </div>-->

<!--</div>-->

<div class="py-3 group-bc" [ngClass]="{'app-setting-show': showGroupSettings}" xmlns="http://www.w3.org/1999/html">
  <div class="row align-items-center no-gutters">
    <div class="col-3 ">
      <div class="row align-items-center no-gutters ml-2">
        <div class="col-3">
          <div class="row align-items-center no-gutters" cdkDragHandle>
            <div>
              <span><i class="fas fa-ellipsis-v dragable-i"></i></span>
              <span><i class="fas fa-ellipsis-v dragable-i"></i></span>
            </div>
            <div class="ml-2">
              <span class="rectangle">
                <i class="fas fa-clone"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="col-9 justify-content-center" >
          <div class="">
            <span class="app-text-extra-bold align-self-center">
              {{inputGroup.name | titlecase}}
            </span>
          </div>
          <div class="">
            <span class="field-type-span mb-2">Field Group</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 ">
      <div class="row align-items-center ">
        <div class="col-6">
          <div class="  app-input-container"
               [ngClass]="{'app-input-fill': sizeID.value}" >
            <label for="groupWidth" class="app-input-label">Group Width</label>
            <select
              class="app-input form-control"
              #sizeID
              id="groupWidth"
              [(ngModel)]="inputGroup.width"
            >
              <option
                *ngFor="let key of objectKeys(list)"
                [value]="list[key]['type']"
                [selected]="list[key]['type'] === inputGroup.width"
              >
                {{ list[key]["label"] }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2  row align-items-center offset-4">
      <div  class=" col d-flex justify-content-end" >
        <i class="fas fa-cog dragable-i" (click)="showGroupSettings = !showGroupSettings"></i>
      </div>
      <div class=" col d-flex justify-content-end" >
        <i class="fas fa-times dragable-i" (click)="removeGroup(inputGroup)"></i>
      </div>
      <div  class="border-left col d-flex " (click)="showNested = !showNested">
        <i *ngIf="showNested" class="fas  fa-caret-down dragable-y"></i>
        <i *ngIf="!showNested" class="fas  fa-caret-up dragable-y"></i>
      </div>
    </div>
  </div>
  <div *ngIf="showGroupSettings">
    <app-group-settings [form]="form" [inputGroup]="inputGroup"></app-group-settings>
  </div>
</div>
  <div [hidden]="!showNested">
    <ul
      class="list-group ngx-dnd-container drop-zone"
      [ngxDroppable]="inputGroup._id"
      [model]="inputGroup.fields"
      (drop)="dropAdd($event)"
      direction="vertical"
    >
      <li
        *ngIf="inputGroup.fields.length === 0"
        class="list-group-item empty-group p-0 "
        [ngClass]="nestedLevel === 1 ? 'margin-for-nested' : ''"
      >
        <div class="text-center">
          <span class="empty-group-text">Drag and Drop Fields Onto the Group</span>
        </div>
      </li>
      <li class="list-group-item p-0 ngx-dnd-item"
          [ngClass]="nestedLevel === 1 ? 'margin-for-nested' : ''"
          [model]="field"
          *ngFor="let field of inputGroup.fields"
          [ngxDraggable]="idSectionForDragDrop">
        <app-field-container
          *ngIf="field.type !== 113"
          [inputField]="field"
          [form]="form"
          [customFields]="customFields"
          [sideBar]="sideBar"
        ></app-field-container>
        <app-divider-container
          *ngIf="field.type === 112"
          [inputDivider]="field"
          [form]="form"
        ></app-divider-container>
        <app-group-container
          *ngIf="field.type === 113"
          [inputGroup]="field"
          [nestedLevel]="nestedLevel + 1"
          [idSectionForDragDrop]="idSectionForDragDrop"
          [form]="form"
          [sideBar]="sideBar"
          [customFields]="customFields"
        ></app-group-container>
      </li>
    </ul>
  </div>
