<div class="row no-gutters app-family-card-header px-4 py-2 app-text-white">
  <div class="col-6 text-left app-text-large font-weight-bold">
    {{fullName | titlecase}}
  </div>
  <div class="col-6 text-right">
    Child
  </div>
</div>

<div class="p-3">
  <div class="row no-gutters border-bottom">
    <div class="col-3">
      <img src="assets/images/temp/person-foto-placeholder.png" width="70%">
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Name:</span><span>{{fullNameWithMiddle | titlecase}}</span>
        </div>
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Legal Name:</span><span>{{familyPerson.person.legal_name}}</span>
        </div>
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Full Hebrew Name:</span><span>{{familyPerson.person.hebrew_full_name}}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      PARENTS
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Father:</span><span>??</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Mother:</span><span>??</span>
    </div>
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      DATE OF BIRTH
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Date of Birth:</span><span>{{familyPerson.person.dob}}</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Hebrew Date of Birth:</span><span>??</span>
    </div>
  </div>
</div>

