<div class="p-3 mt-3 app-field-settings-section">


  <div class="row mb-2 mt-1">
    <div class="col-sm-4">
      <span class="app-text-extra-bold app-text-large">Setting</span>
    </div>
    <div class="col-sm-4">
      <span class="app-text-extra-bold app-text-large">Logic Builder</span>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4" style="padding-right: 0;">
      <div class="settings-div h-100">

        <ng-container [ngSwitch]="inputField.type">
          <app-short-text-settings *ngSwitchCase="fieldTypes.shortTextField" [inputField]="inputField">
          </app-short-text-settings>
          <app-long-text-settings *ngSwitchCase="fieldTypes.longTextField" [inputField]="inputField">
          </app-long-text-settings>
          <app-drop-down-list-settings *ngSwitchCase="fieldTypes.dropDownListField" [inputField]="inputField">
          </app-drop-down-list-settings>
          <app-email-settings *ngSwitchCase="fieldTypes.emailField" [inputField]="inputField"></app-email-settings>
          <app-phone-number-settings *ngSwitchCase="fieldTypes.phoneNumberField" [inputField]="inputField">
          </app-phone-number-settings>
          <app-number-settings *ngSwitchCase="fieldTypes.numberTextField" [inputField]="inputField">
          </app-number-settings>
          <app-date-settings *ngSwitchCase="fieldTypes.dateTimeField" [inputField]="inputField"></app-date-settings>
          <app-checkbox-settings *ngSwitchCase="fieldTypes.checkbox" [inputField]="inputField"></app-checkbox-settings>
        </ng-container>

      </div>
    </div>


    <div class="col-sm-8">
      <div class="settings-div row no-gutters h-100">
        <div class="col p-3">
          <sw-button>Add Logic Builder</sw-button>
        </div>
      </div>
    </div>


  </div>


  <!-- <div class="settings-wrapper p-3">
    <div class="row" *ngIf="tab === 'general'">
      <div class="col-sm-4 app-border-right pt-2">
        <app-general-settings [inputField]="inputField"></app-general-settings>
      </div>
    </div>
    <div class="row" *ngIf="tab === 'settings'">
      <div class="col-sm-4 app-border-right pt-2">
        <app-field-type-settings-container [inputField]="inputField"></app-field-type-settings-container>
      </div>
      <div class="col-sm-4 app-border-right">
        <app-field-validation [inputField]="inputField"></app-field-validation>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row" *ngIf="tab === 'conditional'">
      <div class="col-sm-4 app-border-right">
        <app-fields-conditional-logic [form]="form" [inputField]="inputField"></app-fields-conditional-logic>
      </div>
    </div>
  </div> -->


</div>