<!--Section Header-->
<div class="app-section-wrapper app-section-header mt-2 mb-2 row align-items-center no-gutters">

  <div class="col-4 row align-items-center no-gutters">
    <div class="col-1 row align-items-center no-gutters">
          <span class="app-fb-section-icon-white">
            <i class="fas fa-ellipsis-v"></i>
            <i class="fas fa-ellipsis-v"></i>
          </span>
    </div>
    <div class="col-10 ml-3" [ngClass]="{'app-input-fill': section.name}">
      <label class="app-input-label" for="section-name">Section Name</label>
      <input
        id="section-name"
        type="text"
        class="app-input"
        [(ngModel)]="section.name"
        placeholder="Section Name">
    </div>
  </div>


  <div class="col-2 pl-4 app-input-container w-100" [ngClass]="{'app-input-fill': sectionWidth}">
    <label class="app-input-label" for="section-width">Section Width</label>
    <input
      id="section-width"
      type="text"
      class="app-input"
      [(ngModel)]="sectionWidth"
      placeholder="Section Name">
  </div>


  <div class="col-1 offset-4   row align-items-center no-gutters justify-content-end">
    <div class="col" appClickStopPropagation placement="left"
         ngbPopover="This feature is under developing"
         popoverTitle="Notice">
      <span class="app-fb-section-icon-white">
        <i class="fas fa-cog dragable-i pr-2"></i>
      </span>
    </div>
    <div class="col" appClickStopPropagation placement="left"
         ngbPopover="This feature is under developing"
         popoverTitle="Notice">
        <span class="app-fb-section-icon-white">
          <i class="fas  fa-caret-down dragable-y"></i>
        </span>
    </div>
    <div class="col" (click)="removeSection(section)">
        <span class="app-fb-section-icon-white">
          <i class="fas  fa-times dragable-y"></i>
        </span>
    </div>
  </div>

</div>
<!--End Section Header-->
<div
    cdkDropList
    [id]="section._id"
    [cdkDropListData]="section.fields"
    [cdkDropListConnectedTo]="idSectionForDragDrop"
    (cdkDropListDropped)="drop($event)">
  <ul class="list-group" >
    <li *ngIf="section.fields.length==0" class="list-group-item mb-3 py-0"></li>
    <li class="list-group-item mb-3 py-0" *ngFor="let field of section.fields; " cdkDrag
        cdkDragLockAxis="y"
        [ngClass]="[ field.type==113?'app-list-group-item-info':'']">
<!--        [ngClass]="[!field.isValidName||!field.isValid?'list-group-item-warning':'', field.type==113?'app-list-group-item-info':'']">-->
      <app-v-group-container
        *ngIf="field.type==113"
        [inputGroup]="field"
        [idSectionForDragDrop]="idSectionForDragDrop"
        [form]="form"
        [sideBar]="sideBar"
        [customFields]="customFields"
      ></app-v-group-container>
      <app-v-field-container
        *ngIf="field.type!=113"
        [customFields]="customFields"
        [sideBar]="sideBar"
        [inputField]="field"
        [form]="form"
      ></app-v-field-container>
    </li>

  </ul>
</div>
<div class="">
    <hr class="hr-text" [attr.data-content]="getEndOfSection()">

</div>
