@import 'index';

:host {
  .button {
    border-radius: 3px;
    background: $button-color;
    outline: none;
    border: none;
    color: #fff;
    padding: 7px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    &--gray {
      padding: 6px 16px;
      background: $background-color;
      color: $button-color;
      border: 1px solid $button-color;
    }

    &--white {
      padding: 6px 16px;
      background: #fff;
      color: $button-color;
      border: 1px solid $button-color;
    }

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

:host(.btn-with-icon) {
  .button {
    padding: 3px 3px 3px 20px;
    span {
      margin-right: 3px;
    }
    @extend %icon-for-button;
  }
}

:host(.outline-btn) {
  .button {
    background-color: inherit;
    border: 1px solid $button-color;
    box-sizing: border-box;
    color: $button-color;
  }
}

:host(.icon-btn) {
  .button {
    padding: 3px;
    @extend %icon-for-button;
  }
}

:host(.input_button) {
  .button {
    font-size: 12px;
    color: $black;
    background: $dark-grey;
    border: 1px solid $soft-gray;
    border-radius: 0;
    margin-left: -1px;
  }
  &.active {
    .button {
      position: relative;
      background-color: $light-yellow;
      border: 1px solid $header-logo-color;
      z-index: 2;
    }
  }
}

:host(.full_width)  {
  width: 100%;
  .button {
    width: 100%;
  }
}

:host {
  button:disabled {
    background: $gray;
    padding: 6px 16px;
    border: 1px solid $icon-gray;
    color: $icon-gray;
  }
}
