<div class="button-container" [class.full]="expand === expands.FULL">
  <button
    class="button"
    data-e2e="button"
    type="button"
    [class.gray]="color === colors.GRAY"
    [class.green]="color === colors.GREEN"
    [class.light-blue]="color === colors.LIGHT_BLUE"
    [class.transparent]="color === colors.TRANSPARENT"
    [class.yellow]="color === colors.YELLOW"
    [class.white]="color === colors.WHITE"
    [class.purple]="color === colors.PURPLE"
    [class.gray-purple]="color === colors.GRAY_PURPLE"
    [class.outline-purpure]="fill === 'outline'"
    [class.small]="size === sizes.SMALL"
    [class.medium]="size === sizes.MEDIUM"
    [class.round]='isRound'
    [attr.disabled]="disabled"
    [attr.name]="name"
    [attr.title]="title"
    [attr.value]="value"
  >
    <ng-content></ng-content>
  </button>
</div>
