<app-modal [width]="'45%'"
           [title]=""
           (closeModal)="onCloseEditFamilyMemberModal()">
  <app-family-edit-parent
    *ngIf="familyPerson.person_role === FAMILY_ROLES.father || familyPerson.person_role === FAMILY_ROLES.mother"
    [familyPerson]="familyPerson"
    (closeModalEditFamilyMember)="onCloseEditFamilyMemberModal()">
  </app-family-edit-parent>

  <app-family-edit-child
    *ngIf="familyPerson.person_role === FAMILY_ROLES.child || familyPerson.person_role === FAMILY_ROLES.student"
    [familyPerson]="familyPerson"
    (closeModalEditFamilyMember)="onCloseEditFamilyMemberModal()">
  </app-family-edit-child>

  <app-family-edit-grandparent
    *ngIf="familyPerson.person_role === FAMILY_ROLES.grandfather || familyPerson.person_role === FAMILY_ROLES.grandmother"
    [familyPerson]="familyPerson"
    (closeModalEditFamilyMember)="onCloseEditFamilyMemberModal()">
  </app-family-edit-grandparent>
</app-modal>
