@import 'index';
@import 'variables/index';
.app_layout_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .main_menu {
        top:0;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100vh;
        min-width: $main-menu-width;

        &__navbar_nav {
            align-items: center;
            background-color: $background-color-main-menu;
            border-right: 1px solid rgba(182,182,182,0.3);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            min-height: 100vh;
            min-width: $main-menu-width;
        }

        &__nav_item {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
        }

        &__nav_link {
            align-items: center;
            border-radius: 5px;
            box-sizing: content-box;
            color: $element-base-color;
            display: flex;
            justify-content: center;
            margin: 5px;
            padding: 10px;
            position: relative;
            text-decoration: none;
            &:focus {
                outline: 0 transparent solid;
            }

            &:hover {
                color: $element-second-color;
                text-decoration: none;
            }

            &--show_label {
                &:after {
                    background: $background-color-menu-label;
                    border-radius: 3px;
                    color: $header-splitter-color;
                    content: attr(name);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    left: $main-menu-width;
                    max-height: 200px;
                    opacity: 0;
                    padding: .4em;
                    position: absolute;
                    transition: 600ms ease-in-out;
                    top: 5px;
                    white-space: nowrap;
                    z-index: -1;
                }

                &:hover:after {
                    top: 10px;
                    opacity: 1;
                    left: ($main-menu-width + 2px);
                    z-index: 100;
                }
            }

            &--active_page {
                background-color: #ddd;
            }

        }

        &__icon_box {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: content-box;
            width: 26px;
            height: 26px;
            border-radius: 50%;
            background: $header-logo-color;

            &:hover {
                background: $header-logo-hover-color;
            }
        }

        &__icon_text {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: 900;
            font-size: 22px;
            line-height: 22px;
            color: $white;
            transform: translateY(-2px);
        }

        &__icon {
            font-size: 18px;
        }

    }
}

@media (min-width: 768px) {
    .app_layout_container {
        flex-direction: row;
        justify-content: flex-start;

    }
}

.main-container {
    flex-grow: 1;
    box-sizing: border-box;
    margin-left: 55px;
    width: 100%;
    .top_menu {
        display: flex;
        flex-direction: row;
        min-height: $top-menu-height;
        align-items: stretch;
        justify-content: space-between;
        background-color: $background-color-main-menu;
        box-shadow: inset 0 1px 0 0 $header-shadow-inset-color, 0 $top-menu-height 0 -21px $header-shadow-color;

        &__nav_line {
            align-items: stretch;
            border-bottom: 1px solid $header-splitter-color;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            justify-content: flex-end;
            min-height: $top-menu-height;
            width: inherit;
        }

        &__navbar {
            align-items: stretch;
            justify-content: flex-end;
            padding: 0 1rem 0 0;
            width: 100%;
            width: -webkit-fill-available;
        }

        &__navbar_nav {
            display: flex;
            flex-direction: column;
        }

        &__navbar_button {
            align-items: center;
            color: $element-base-color;
            border: none;
            border-radius: 0;
            border-left: 1px solid $header-splitter-color;
            display: flex;
            justify-content: center;
            min-width: 40px;
            position: relative;

            &:focus {
                outline: 0 transparent solid;
            }

            &:hover {
                color: $element-second-color;
                text-decoration: none;
            }

            &--show_label {
                &:after {
                    background: $background-color-menu-label;
                    border-radius: 3px;
                    color: $header-splitter-color;
                    content: attr(name);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    font-size: 13px;
                    font-weight: 500;
                    max-height: 10em;
                    max-width: 10em;
                    opacity: 0;
                    padding: .4em;
                    position: absolute;
                    right: 5px;
                    transition: 600ms ease-in-out;
                    top: $top-menu-height;
                    white-space: nowrap;
                    z-index: -1;
                }

                &:hover:after {
                    opacity: 1;
                    top: ($top-menu-height + 5px);
                    right: 0px;
                    z-index: 100;
                }
            }

        }

        &__navbar_icon {
            font-size: 17px;
            line-height: 19px;
            min-height: 17px;
            min-width: 14px;
        }

        &__navbar_user_image {
            align-items: center;
            color: $white;
            background-color: $element-base-color;
            border: 2px solid $white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            height: 30px;
            width: 30px;
        }

        &__nav_item {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 16px;
            font-weight: 500;
            border-bottom: 1px $header-splitter-color solid;
        }

        &__nav_link {
            padding: 13px;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &:focus {
                outline: 0 transparent solid;
            }
        }

        &__nav_link_text {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 14px;
            font-weight: 500;
        }
        &__control {
            display: flex;
        }
        &__user_bar {
            display: flex;
        }
    .collapse {
        display: none;
    }

    }

    .top_bar {
        background-color: $white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 40px;
    }

}

.main-container .content-area {
    align-items: stretch;
    z-index: 1;
    padding: 0;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    flex: 1;
    // min-height: calc(100vh - 40px);
}
