<div class="table">
  <form [formGroup]="filterForm">
    <table #table cdk-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="account">
        <th cdk-header-cell *cdkHeaderCellDef>
          <div class="header_container" data-e2e="formaccount">
            <div
              class="header_container__title"
              data-e2e="formaccounttitle"
              (click)="sortBy('account')"
            >
              Accounts
              <div class="header_container__title_icons">
                <i
                  class="fas icon"
                  [ngClass]="{
                    'up': sort[0] === 'account' && sort[1] === false,
                    'down': sort[0] === 'account' && sort[1] === true
                  }"
                ></i>
              </div>
            </div>
            <div class="header_container__filter">
              <sw-input-text
                class="filter-field"
                formControlName="account"
              ></sw-input-text>
            </div>
          </div>
        </th>
        <td cdk-cell *cdkCellDef="let form">
          <span class="text">{{ form.account }}</span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="students">
        <th cdk-header-cell *cdkHeaderCellDef>
          <div class="header_container" data-e2e="studentsname">
            <div
              class="header_container__title"
              data-e2e="studentsnametitle"
              (click)="sortBy('students')"
            >
              Students
              <div class="header_container__title_icons">
                <i
                  class="fas icon"
                  [ngClass]="{
                    'up': sort[0] === 'students' && sort[1] === false,
                    'down': sort[0] === 'students' && sort[1] === true
                  }"
                ></i>
              </div>
            </div>
            <div class="header_container__filter">
              <sw-input-text
                class="filter-field"
                formControlName="students"
              ></sw-input-text>
            </div>
          </div>
        </th>
        <td cdk-cell *cdkCellDef="let form">
          <sw-user-item
            *ngIf="form.students.length"
            [userItem]="getStudentInfo(form.students)"
          ></sw-user-item>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="last_updated">
        <th cdk-header-cell *cdkHeaderCellDef>
          <div class="header_container" data-e2e="last_updatedname">
            <div
              class="header_container__title"
              data-e2e="last_updatedtitle"
              (click)="sortBy('last_updated')"
            >
              Last Updated Date
              <div class="header_container__title_icons">
                <i
                  class="fas icon"
                  [ngClass]="{
                    'up': sort[0] === 'last_updated' && sort[1] === false,
                    'down': sort[0] === 'last_updated' && sort[1] === true
                  }"
                ></i>
              </div>
            </div>
            <div class="header_container__filter">
              <sw-input-text
                class="filter-field"
                formControlName="last_updated"
              ></sw-input-text>
            </div>
          </div>
        </th>
        <td class="datetime" cdk-cell *cdkCellDef="let form">
          <span class="date">{{ getDate(form.last_updated) }}</span
          >&nbsp;
          <span class="time">{{ getTime(form.last_updated) }}</span>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="completion_percentage">
        <th cdk-header-cell *cdkHeaderCellDef>
          <div class="header_container" data-e2e="completion_percentagename">
            <div
              class="header_container__title"
              data-e2e="completion_percentagetitle"
              (click)="sortBy('completion_percentage')"
            >
              Completion
              <div class="header_container__title_icons">
                <i
                  class="fas icon"
                  [ngClass]="{
                    'up':
                      sort[0] === 'completion_percentage' && sort[1] === false,
                    'down':
                      sort[0] === 'completion_percentage' && sort[1] === true
                  }"
                ></i>
              </div>
            </div>
            <div class="header_container__filter">
              <sw-input-text
                class="filter-field"
                formControlName="completion_percentage"
              ></sw-input-text>
            </div>
          </div>
        </th>
        <td cdk-cell *cdkCellDef="let form">
          <sw-progress-line-bar
            [value]="form.completion_percentage"
          ></sw-progress-line-bar>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="online_submission">
        <th cdk-header-cell *cdkHeaderCellDef>
          <div class="header_container" data-e2e="online_submissionname">
            <div
              class="header_container__title"
              data-e2e="online_submissiontitle"
              (click)="sortBy('online_submission')"
            >
              Online Submission
              <div class="header_container__title_icons">
                <i
                  class="fas icon"
                  [ngClass]="{
                    'up': sort[0] === 'online_submission' && sort[1] === false,
                    'down': sort[0] === 'online_submission' && sort[1] === true
                  }"
                ></i>
              </div>
            </div>
            <div class="header_container__filter">
              <sw-input-text
                class="filter-field"
                formControlName="online_submission"
              ></sw-input-text>
            </div>
          </div>
        </th>
        <td cdk-cell *cdkCellDef="let form" class="centered">
          <svg
            *ngIf="form.online_submission; else elseNotOnlineSubmission"
            class="checkmark"
            width="13"
            height="11"
            viewBox="0 0 13 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.656 0.705067L4.13132 8.20507L1.33658 5.48508L0 6.83104L4.13132 10.9996L13 2.05103L11.656 0.705067Z"
              fill="#3CA476"
            />
          </svg>
          <ng-template #elseNotOnlineSubmission>
            <svg
              class="exmark"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 1.20857L10.7914 0L6 4.79143L1.20857 0L0 1.20857L4.79143 6L0 10.7914L1.20857 12L6 7.20857L10.7914 12L12 10.7914L7.20857 6L12 1.20857Z"
                fill="#A4A4A4"
              />
            </svg>
          </ng-template>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="pdf_submission">
        <th cdk-header-cell *cdkHeaderCellDef>
          <div class="header_container" data-e2e="pdf_submissionname">
            <div
              class="header_container__title"
              data-e2e="pdf_submissiontitle"
              (click)="sortBy('pdf_submission')"
            >
              PDF Submission
              <div class="header_container__title_icons">
                <i
                  class="fas icon"
                  [ngClass]="{
                    'up': sort[0] === 'pdf_submission' && sort[1] === false,
                    'down': sort[0] === 'pdf_submission' && sort[1] === true
                  }"
                ></i>
              </div>
            </div>
            <div class="header_container__filter">
              <sw-input-text
                class="filter-field"
                formControlName="pdf_submission"
              ></sw-input-text>
            </div>
          </div>
        </th>
        <td cdk-cell *cdkCellDef="let form" class="centered">
          <svg
            *ngIf="form.pdf_submission; else elseNotPDFSubmission"
            class="checkmark"
            width="13"
            height="11"
            viewBox="0 0 13 11"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M11.656 0.705067L4.13132 8.20507L1.33658 5.48508L0 6.83104L4.13132 10.9996L13 2.05103L11.656 0.705067Z"
              fill="#3CA476"
            />
          </svg>
          <ng-template #elseNotPDFSubmission>
            <svg
              class="exmark"
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M12 1.20857L10.7914 0L6 4.79143L1.20857 0L0 1.20857L4.79143 6L0 10.7914L1.20857 12L6 7.20857L10.7914 12L12 10.7914L7.20857 6L12 1.20857Z"
                fill="#A4A4A4"
              />
            </svg>
          </ng-template>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <th cdk-header-cell *cdkHeaderCellDef>
          <div class="header_container" data-e2e="statusname">
            <div
              class="header_container__title"
              data-e2e="statusnametitle"
              (click)="sortBy('status')"
            >
              Form Status
              <div class="header_container__title_icons">
                <i
                  class="fas icon"
                  [ngClass]="{
                    'up': sort[0] === 'status' && sort[1] === false,
                    'down': sort[0] === 'status' && sort[1] === true
                  }"
                ></i>
              </div>
            </div>
            <div class="header_container__filter">
              <sw-input-suggest
                class="filter-field"
                formControlName="status"
                [options]="statusesOptions"
              >
              </sw-input-suggest>
            </div>
          </div>
        </th>
        <td cdk-cell *cdkCellDef="let form">
          <sw-dropdown-select
            [options]="statusesFriendlyNames"
            #bulk="dropdown"
            (selected)="onChangeStatus($event, [form.id])"
          >
            <sw-small-button
              [ngClass]="{ 'icon-end': true }"
              [class]="getStatusColor(form.status)"
              [text]="getStatusTitle(form.status)"
              [icon]="icons.CARET_DOWN"
            ></sw-small-button>
          </sw-dropdown-select>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="actions">
        <th cdk-header-cell *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let form">
          <div *ngFor="let icon of getIcons(form)" class="item" data-e2e="Downloadbutton">
            <sw-icon-button
              [icon]="icon.icon"
              (click)="icon.action(form)"
            >
            </sw-icon-button>
          </div>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="expand">
        <th cdk-header-cell *cdkHeaderCellDef></th>
        <td cdk-cell *cdkCellDef="let form">
          <div class="item" data-e2e="Expandbutton">
            <sw-icon-button
              [icon]="icons.CARET_DOWN"
              (click)="toggleExpand(form)"
            ></sw-icon-button>
          </div>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="paginator">
        <td
          cdk-footer-cell
          *cdkFooterCellDef
          [attr.colspan]="displayedColumns.length"
        >
          <div class="wrapper" data-e2e="paginatorname">
            <sw-paginator
              [index]="currentPage"
              [size]="totalItems"
              (pageChange)="changePage($event)"
            ></sw-paginator>
          </div>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="spinner">
        <td
          cdk-footer-cell
          *cdkFooterCellDef
          [attr.colspan]="displayedColumns.length"
        >
          <div class="app_loading">
            <div class="app_loading__logo">i!</div>
            <svg class="app_loading__spinner" viewBox="25 25 50 50">
              <circle
                class="app_loading__path"
                cx="50"
                cy="50"
                r="20"
                fill="none"
                stroke-width="2"
                stroke-miterlimit="10"
              />
            </svg>
          </div>
        </td>
      </ng-container>

      <tr
        cdk-header-row
        class="filters-row"
        *cdkHeaderRowDef="displayedColumns"
      ></tr>
      <tr
        cdk-row
        class="table-row"
        [class.selected]="rowSelected(form)"
        #data
        *cdkRowDef="let form; columns: displayedColumns"
        [hidden]="showSpinner"
        (click)="selectRow(form, $event)"
        [cdkDetailRow]="form" [cdkDetailRowTpl]="tpl"
        [cdkDetailExpand]="shouldExpand(form.id)"
      ></tr>
      <tr
        cdk-footer-row
        *cdkFooterRowDef="['spinner']"
        [hidden]="!showSpinner"
      ></tr>
      <tr cdk-footer-row *cdkFooterRowDef="['paginator']"></tr>
    </table>
  </form>
</div>

<a [href]="download.url" [download]="download.filename" #link></a>

<ng-template #tpl let-form>
    <tr class="expanded-row">
        <td [attr.colspan]="displayedColumns.length">
            <app-online-form-view
                [formID]="form.id"
            ></app-online-form-view>
        </td>
    </tr>
</ng-template>