<ng-container *ngIf="formNavigationState">
  <div class="online_form_menu">
    <ul class="online_form_menu__group">
      <ng-container *ngFor="let item of menuItems">
        <ng-container *ngIf="isShowMenuItem(item.name)">
          <li
            class="online_form_menu__group_item"
            [ngClass]="[
              isActivePage(item.name)
                ? 'online_form_menu__group_item--active'
                : ''
            ]"
            (click)="setActiveMenuItem(item.name)"
            (mouseenter)="setHovered(item.name)"
            (mouseleave)="unsetHovered(item.name)"
          >
            <div class="online_form_item">
              <div class="online_form_item__start">
                <div class="online_form_item__icon">
                  <img
                    [src]="
                      pathIconsFolder +
                      item.icon +
                      (isActivePage(item.name) || isHovered(item.name)
                        ? '-active'
                        : '-inactive') +
                      '.svg'
                    "
                  />
                </div>
                <div class="online_form_item__text_area">
                  <p
                    class="online_form_item__title"
                    [ngClass]="[
                      isActivePage(item.name)
                        ? 'online_form_item__title--active'
                        : '',
                      isHovered(item.name)
                        ? 'online_form_item__title--hover'
                        : ''
                    ]"
                  >
                    {{ item.title }}
                  </p>
                  <p class="sub_title">~{{ item.time }} minutes</p>
                </div>
              </div>

              <div class="online_form_item__end">
                <div class="online_form_item__status">
                  <sw-progress-bar
                    [processPercent]="getPercentByPageName(item.name)"
                  ></sw-progress-bar>
                </div>
              </div>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</ng-container>
