<ng-template #sectionsTemplate let-sections>
    <div cdkDropList id="cdk-drop-list-root" [cdkDropListData]="sections" cdkDropListOrientation="horizontal" #rootList="cdkDropList" class="root" [cdkDropListConnectedTo]="getListsIds()">
      <ng-container *ngFor="let section of sections;">
        <ng-container *ngTemplateOutlet="sectionTemplate; context: {$implicit: section}"></ng-container>

      </ng-container> 
    </div>
</ng-template>

<ng-template #sectionTemplate let-section let-list="list">
  <div cdkDrag [cdkDragData]="section" class="section-tree-node">
    <div class="main_container">
      <div class="content">
        <div class="drag-icon">
          <i class="dragdrop fas fa-ellipsis-v" cdkDragHandle></i>
        </div>
        <sw-input-text [formControl]="section.get('name')" style="margin-right: 10px; width: 450px;">
          <span class="placeholder">Section Name</span>
        </sw-input-text>
        <sw-dropdown-input style="margin-right: 10px;" [formControl]="section.get('options.size')" [options]="sizeOptions">
          <span class="label">Section Width</span>
        </sw-dropdown-input>
      </div>
      <div class="actions">
        <div class="icon">
          <sw-icon-button icon="fa-cog" class="field-creator" [class.active]="section.value.showSettings" (click)="settingsToggle(section)">
          </sw-icon-button>
        </div>
        <div class="icon">
          <sw-icon-button icon="fa-times" class="field-creator" (click)="closeNode(section)">
          </sw-icon-button>
        </div>
        <div class="icon dragdrop">
          <sw-icon-button [icon]="getIcon(section.value.isExpanded)" (click)="toggleExpanded(section)" [attr.aria-label]="'toggle ' + section.value.name">
          </sw-icon-button>
        </div>
      </div>
    </div>

    <div class="settings" *ngIf="section.value.showSettings">
      <sw-settings [field]="section"></sw-settings>
    </div>
    <div class="drag-field-workarea section-tree-node" *cdkDragPreview>
      <div class="main_container">
        <div class="content">
          <div class="drag-icon">
            <i class="dragdrop fas fa-ellipsis-v"></i>
          </div>
          <sw-input-text [formControl]="section.get('name')" style="margin-right: 10px; width: 450px;">
            <span class="placeholder">Section Name</span>
          </sw-input-text>
          <sw-dropdown-input style="margin-right: 10px;" [formControl]="section.get('options.size')" [options]="sizeOptions">
            <span class="input_label">Section Width</span>
          </sw-dropdown-input>
        </div>
        <div class="actions">
          <div class="icon">
            <sw-icon-button icon="fa-cog" class="field-creator" [class.active]="section.value.showSettings" (click)="settingsToggle(section)">
            </sw-icon-button>
          </div>
          <div class="icon">
            <sw-icon-button icon="fa-times" class="field-creator" (click)="closeNode(section)">
            </sw-icon-button>
          </div>
          <div class="icon dragdrop">
            <sw-icon-button [icon]="getIcon(section.value.isExpanded)" (click)="toggleExpanded(section)" [attr.aria-label]="'toggle ' + section.value.name">
            </sw-icon-button>
          </div>
        </div>
      </div>
    </div>
     
    <ng-container *ngIf="!!section.get('fields') && section.value.isExpanded">
      <div cdkDropList [cdkDropListData]="section.get('fields').controls" #rootList="cdkDropList" [id]="getListId(section)" [cdkDropListConnectedTo]="getListsIds()" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let child of section.get('fields').controls">
          <ng-container [ngSwitch]="child.get('type').value">
            <ng-container *ngSwitchCase="114" [ngTemplateOutlet]="sectionTemplate" [ngTemplateOutletContext]="{$implicit: child}"></ng-container>
            <ng-container *ngSwitchCase="113" [ngTemplateOutlet]="groupTemplate"  [ngTemplateOutletContext]="{$implicit: child}"></ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-template>

<ng-template #groupTemplate let-group>
  <div cdkDrag [cdkDragData]="group" class="group-tree-node">
    <div class="main_container">
      <div class="content">
        <div class="drag-icon">
          <i class="dragdrop fas fa-ellipsis-v" cdkDragHandle></i>
        </div>
        <div class="name-container">
          <div class="main-text">{{ group.value.name }}</div>
          <div class="hint" *ngIf="group.get('textType')">Group Type - {{ group.get('textType').value }}</div>
        </div>
      </div>
      <div class="actions">
        <div class="icon">
          <sw-icon-button icon="fa-cog" class="field-creator blue" [class.active]="group.value.showSettings" (click)="settingsToggle(group)">
          </sw-icon-button>
        </div>
        <div class="icon">
          <sw-icon-button icon="fa-times" class="field-creator blue" (click)="closeNode(group)">
          </sw-icon-button>
        </div>
        <div class="icon dragdrop">
          <sw-icon-button [icon]="getIcon(group.value.isExpanded)" class="blue" (click)="toggleExpanded(group)" [attr.aria-label]="'toggle ' + group.value.name">
          </sw-icon-button>
        </div>
      </div>
    </div>
    <div class="drag-field-workarea group-tree-node" *cdkDragPreview>
      <div class="main_container">
        <div class="content">
          <div class="drag-icon">
            <i class="dragdrop fas fa-ellipsis-v"></i>
          </div>
          <div class="name-container">
            <div class="main-text">{{ group.value.name }}</div>
            <div class="hint" *ngIf="group.get('textType')">Group Type - {{ group.get('textType').value }}</div>
          </div>
        </div>
        <div class="actions">
          <div class="icon">
            <sw-icon-button icon="fa-cog" class="field-creator blue" [class.active]="group.value.showSettings" (click)="settingsToggle(group)">
            </sw-icon-button>
          </div>
          <div class="icon">
            <sw-icon-button icon="fa-times" class="field-creator blue" (click)="closeNode(group)">
            </sw-icon-button>
          </div>
          <div class="icon dragdrop">
            <sw-icon-button [icon]="getIcon(group.value.isExpanded)" class="blue" (click)="toggleExpanded(group)" [attr.aria-label]="'toggle ' + group.value.name">
            </sw-icon-button>
          </div>
        </div>
      </div>
    </div>
      

    <div class="settings" *ngIf="group.value.showSettings">
      <sw-settings [field]="group"></sw-settings>
    </div>

    <ng-container *ngIf="!!group.get('fields') && group.value.isExpanded">
      <div cdkDropList [cdkDropListData]="group.get('fields').controls" #rootList="cdkDropList" [id]="getListId(group)" [cdkDropListConnectedTo]="getListsIds()" (cdkDropListDropped)="drop($event)">
        <ng-container *ngFor="let child of group.get('fields').controls">
          <ng-container [ngSwitch]="child.get('type').value">
            <ng-container *ngSwitchCase="114" [ngTemplateOutlet]="sectionTemplate"  [ngTemplateOutletContext]="{$implicit: child}"></ng-container>
            <ng-container *ngSwitchCase="113" [ngTemplateOutlet]="groupTemplate"  [ngTemplateOutletContext]="{$implicit: child}"></ng-container>
            <ng-container *ngSwitchDefault [ngTemplateOutlet]="fieldTemplate" [ngTemplateOutletContext]="{$implicit: child}"></ng-container>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>

  </div>
</ng-template>

<ng-template #fieldTemplate let-field>
    <div cdkDrag [cdkDragData]="field" class="field-tree-node">
      <div class="main_container">
        <div class="content">
          <div class="drag-icon">
            <i class="dragdrop fas fa-ellipsis-v" cdkDragHandle></i>
          </div>
          <div class="name-container">
            <div class="main-text">{{ field.value.name }}</div>
            <div class="hint" *ngIf="field.get('textType')">Field Type - {{ field.get('textType').value }}</div>
          </div>
          <sw-dropdown-input style="margin-right: 25px;" [formControl]="field.get('options.size')" [options]="sizeOptions">
            <span class="label">Field Width</span>
          </sw-dropdown-input>
          <div class="input">
            <sw-input-checkbox [formControl]="field.get('options.required')"
              (checked)="setParent(field, 'required', $event)">
              <span class="label">Required</span>
            </sw-input-checkbox>
          </div>
          <div class="input">
            <sw-input-checkbox [formControl]="field.get('options.hideLabel')"
              (checked)="setParent(field, 'hideLabel', $event)">
              <span class="label">Hide Label</span>
            </sw-input-checkbox>
          </div>
          <div class="input">
            <sw-input-checkbox [formControl]="field.get('options.readonly')">
              <span class="label">Read–Only</span>
            </sw-input-checkbox>
          </div>
          <div class="input">
            <sw-input-checkbox [formControl]="field.get('options.unique')">
              <span class="label">Unique</span>
            </sw-input-checkbox>
          </div>
          <div class="actions">
            <div class="icon">
              <sw-icon-button icon="fa-cog" class="field-creator blue" [class.active]="field.value.showSettings" (click)="settingsToggle(field)">
              </sw-icon-button>
            </div>
            <div class="icon">
              <sw-icon-button icon="fa-times" class="field-creator blue" (click)="closeNode(field)">
              </sw-icon-button>
            </div>
          </div>
        </div>
      </div>
        <div class="settings" *ngIf="field.value.showSettings">
          <sw-settings [field]="field"></sw-settings>
        </div>
      </div>
</ng-template>

<!-- <div  cdkDropListGroup> -->
<!-- {{treeSource.nodes}} -->
  <ng-container [ngTemplateOutlet]="sectionsTemplate" [ngTemplateOutletContext]="{$implicit: treeSource.data}"></ng-container>
  <!-- <div #root cdkDropList id="cdk-drop-list-1" [cdkDropListConnectedTo]="getListsIds()" [cdkDropListData]="treeSource.data" [cdkDropListEnterPredicate]="isSection">

    <ng-container *ngFor="let field of treeSource.data" [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{field: field}">
    </ng-container>
   </div> --> 

<!-- </div> -->