@import '../../../../styles/variables/colors';

.block-wrapper {
    background-color: white;
    border-radius: 5px;
}

.checked-row {
    background-color: #EAEAFF;
}

.app-invite-btn {
    border-radius: 2px;
    background-color: #EAEAFF;
}