<div class="container-fluid mt-3">
  <h4 class="font-weight-bold">Form Builder</h4>
  <app-v-form-statistic></app-v-form-statistic>
  <div class="col-sm-12 block-wrapper mt-3">
    <app-v-form-nav (bulkActionEmitter)="doBulkAction($event)"
                    (searchValueEmitter)="setSearchValue($event)"
                    (filterStatusEmitter)="filterStatus($event)">
    </app-v-form-nav>

    <table class="table">
      <thead app-v-form-table-header [cols]="cols" (searchDataEmitter)="setSearch($event)"></thead>
      <tbody *ngIf="forms?.length!=0">
      <tr *ngFor="let item of forms" (click)="addSelectedIds(item.id)"
          [ngClass]="{'checked-row': isCheckedRow(item.id)}">
        <td>
          <a class="app-ft-reset-link" [routerLink]="'v-form-info/' + item.id">
            <span class="font-weight-bold">{{item.name}}</span>
          </a>
        </td>
        <td><span class="app-text-primary font-weight-bold">{{item.type | titlecase}}</span></td>
        <td style="max-width: 300px">
          <ng-container *ngIf="item.permissions?.length">
            <span class="mr-2" *ngFor="let permission of item.permissions">
              <img class="img-responsive mr-1" width="7%" src="assets/images/temp/person-foto-placeholder.png">
              <p class="app-text-small d-inline-block mb-0 font-weight-bold">{{permission.user.full_name}}</p>
            </span>
          </ng-container>
          <button type="button"
                  class="btn app-invite-btn app-text-small py-0 px-1"
                  data-toggle="modal"
                  data-target="#formAccess"
                  (click)="formSelected = item.id">
            <span class="app-text-primary app-text-small font-weight-bold">+ Invite Users</span>
          </button>
          <app-v-form-access-modal (resetFormSelectedEmitter)="resetFormSelected($event)"
                                   [formSelected]="formSelected">
          </app-v-form-access-modal>
        </td>
        <td style="max-width: 250px">
          <p class="font-weight-bold app-text-small mb-0">
            <img class="img-responsive mr-1" width="9%" src="assets/images/temp/person-foto-placeholder.png">
            {{item.owner.full_name}}
            <span class="app-text-second app-text-small">
            {{ item.owner.role.role_name}}
          </span>
          </p>
        </td>
        <td nowrap>{{convertDate(item.updated_at) | date:'dd-MM-yyyy'}}
          <span class="app-form-table-second-color"> {{convertDate(item.updated_at) | date:'shortTime'}}</span>
        </td>
        <td>
          <div ngbDropdown class="d-inline-block">

            <button type="button" class="btn app-btn-status px-1 py-0 app-dropdown-toggle"
                    [ngClass]="getClassByStatus(item.status)"
                    id="dropdownBasic1"
                    ngbDropdownToggle
                    appClickStopPropagation>
              <ng-template [ngIf]="item.status === STATUS_REVIEW" [ngIfElse]="chevron">
              <span class="font-weight-bold app-text-small">{{'In ' + item.status | titlecase}}
                <i class="fas fa-hourglass-start"></i>
              </span>
              </ng-template>
              <ng-template #chevron>
              <span class="font-weight-bold app-text-small">{{item.status | titlecase}}
                <i class="fas fa-chevron-down"></i>
              </span>
              </ng-template>
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button *ngFor="let status of statuses"
                      (click)="changeStatus(item.id, status)"
                      ngbDropdownItem
                      appClickStopPropagation>
                {{status | titlecase}}
              </button>
            </div>
          </div>
        </td>
        <td nowrap>
          <button type="button"
                  class="btn app-btn-primary py-0 px-1 mr-2 p"
                  routerLink="v-form-constructor/{{item.mongo_id}}"
                  routerLinkActive="active"
                  appClickStopPropagation>
            <span class="app-text-small font-weight-bold"><i class="fas fa-pen"></i> Edit</span>
          </button>
          <button type="button"
                  class="btn app-btn-primary py-0 px-1 mr-2 "
                  routerLink="onlineform/{{item.mongo_id}}"
                  routerLinkActive="active"
                  appClickStopPropagation>
            <span class="app-text-small font-weight-bold"><i class="far fa-eye"></i> View</span>
          </button>
          <button type="button"
                  class="btn btn-outline-danger py-0 px-1 mr-2 "
                  (click)="removeForm(item.mongo_id)"
                  appClickStopPropagation>
            <span class="app-text-small font-weight-bold"><i class="fas fa-trash-alt"></i> Delete</span>
          </button>
          <button appClickStopPropagation
                  class="btn app-btn-sml mr-2 ">
            <span class="app-form-table-icon"><i class="fas fa-share-alt"></i></span>
          </button>
          <button appClickStopPropagation
                  class="btn app-btn-sml mr-2 ">
            <span class="app-form-table-icon"><i class="fas fa-share"></i></span>
          </button>
          <button appClickStopPropagation
                  class="btn app-btn-sml mr-2 ">
            <span class="app-form-table-icon"><i class="fas fa-copy"></i></span>
          </button>
          <button appClickStopPropagation
                  class="btn app-btn-sml ">
            <span class="app-form-table-icon"><i class="fas fa-ellipsis-v"></i></span>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

