<div class="container-fluid mt-3">
  <h4><b>Form Builder</b></h4>
  <div class="row justify-content-between">
    <div class="col-sm-4">
      <img src="../../../../assets/images/temp/img1.png" width="100%">
    </div>
    <div class="col-sm-4">
      <img src="../../../../assets/images/temp/img2.png" width="100%">
    </div>
    <div class="col-sm-4">
      <img src="../../../../assets/images/temp/img2.png" width="100%">
    </div>
  </div>
  <div class="col-sm-12 block-wrapper mt-3">
    <app-v-form-nav></app-v-form-nav>
    <div *ngIf="forms?.length!=0">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">
            <span>FORM NAME</span>
            <i class="fas fa-caret-up"></i>
            <i class="fas fa-caret-down"></i>
            <input class="form-control form-control-sm" type="search">
          </th>
          <th scope="col">
            <span>TYPE</span>
            <i class="fas fa-caret-up"></i>
            <i class="fas fa-caret-down"></i>
            <input class="form-control form-control-sm" type="search">
          </th>
          <th scope="col">
            <span>ACCESS</span>
            <i class="fas fa-caret-up"></i>
            <i class="fas fa-caret-down"></i>
            <input class="form-control form-control-sm" type="search"></th>
          <th scope="col">
            <span>CREATED BY</span>
            <i class="fas fa-caret-up"></i>
            <i class="fas fa-caret-down"></i>
            <input class="form-control form-control-sm" type="search">
          </th>
          <th scope="col">
            <span>UPDATED DATA</span>
            <i class="fas fa-caret-up"></i>
            <i class="fas fa-caret-down"></i>
            <input class="form-control form-control-sm" type="date">
          </th>
          <th scope="col">
            <span>STATUS</span>
            <i class="fas fa-caret-up"></i>
            <i class="fas fa-caret-down"></i>
            <input class="form-control form-control-sm" type="search">
          </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of forms">
          <td>{{item.name}}</td>
          <td><span class="app-text-primary">{{item.type | titlecase}}</span></td>
          <td>
            <button type="button"
                    class="btn app-invite-btn"
                    data-toggle="modal"
                    data-target="#flipFlop"
                    (click)="formSelected = item.mongo_id">
              <span class="app-text-primary">+ Invite Users</span>
            </button>
            <app-v-form-access-modal (resetFormSelectedEmitter)="resetFormSelected($event)"
                                     [formSelected]="formSelected">
            </app-v-form-access-modal>
          </td>
          <td>{{item.owner_id}}</td>
          <td>{{item.updated_at}}</td>
          <td>{{item.status}}</td>
          <td>
            <button type="button"
                    class="btn btn-secondary app-btn-primary app-btn-sml mr-2 "
                    routerLink="v-form-constructor/{{item.mongo_id}}"
                    routerLinkActive="active">
              <span><i class="fas fa-pen"></i> Edit</span>
            </button>
            <button type="button"
                    class="btn btn-secondary app-btn-primary app-btn-sml mr-2 "
                    routerLink="onlineform/{{item.mongo_id}}"
                    routerLinkActive="active">
              <span><i class="far fa-eye"></i> View</span>
            </button>
            <button type="button"
                    class="btn btn-outline-danger app-btn-sml mr-2 "
                    (click)="removeForm(item.mongo_id)">
              <span><i class="fas fa-trash-alt"></i> Delete</span>
            </button>
            <button
              class="btn app-btn-sml mr-2 ">
              <i class="fas fa-share-alt"></i>
            </button>
            <button
              class="btn app-btn-sml mr-2 ">
              <i class="fas fa-share"></i>
            </button>
            <button
              class="btn app-btn-sml mr-2 ">
              <i class="fas fa-copy"></i>
            </button>
            <button
              class="btn app-btn-sml ">
              <i class="fas fa-ellipsis-v"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

