<br />
<form class="form-inline">
  <!-- <button type="button" class="btn btn-outline-secondary text-uppercase form-control" (click)="goBack()">Back</button> -->
  <!--<div *ngIf="formName.length>3" class="justify-content-end">-->
  <!-- <div class="justify-content-end">
    <button type="button" class="btn btn-outline-secondary text-uppercase " (click)="saveForm()">Save</button>
  </div> -->
  <div *ngIf="warningVisible" class="alert alert-warning alert-dismissible col-md-4 col-md-offset-1">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="disableWarning()">&times;</a>
    <strong>Warning! </strong>{{ showWarningMessage }}
  </div>
</form>
<br />

<!-- Form builder -->
<div class="row no-gutters" *ngIf="form !== undefined && !isDataSaving">
  <div class="col-3">
    <!-- FORM FIELDS -->
    <div class="sidebar_section" data-e2e="sidebar_section" [class.expanded]="1">
      <div class="sidebar_section__header" data-e2e="sidebar_section__header">
        <!-- (click)="onClick('intro', $event)" -->
        <sw-input-toggle [ngModel]="activeSections?.packetIntroduction.isActive"
          (ngModelChange)="activeSections?.packetIntroduction.isActive = activeSections?.packetIntroduction.showSideInfo = $event">
        </sw-input-toggle>
        <span>Packet Introduction</span>
      </div>
    </div>

    <div class="sidebar_section" data-e2e="sidebar_section" [class.expanded]="1"
      [class.open]="activeSections.formFields.showSideInfo">
      <!-- (click)="onClick('consent', $event)" -->
      <div class="sidebar_section__header" data-e2e="sidebar_section__header">
        <sw-input-toggle [ngModel]="activeSections.formFields.isActive" (ngModelChange)="
        activeSections.formFields.isActive = activeSections.formFields.showSideInfo = $event
      ">
        </sw-input-toggle>
        <span>FORM FIELDS</span>
        <div class="actions" data-e2e="actions">
          <sw-icon-button [class.blue]="activeSections.formFields.showSideInfo"
            [icon]="getIcon(activeSections.formFields.showSideInfo)"
            (click)="activeSections.formFields.showSideInfo = !activeSections.formFields.showSideInfo">
          </sw-icon-button>
        </div>
      </div>
      <div class="sidebar_section__content" *ngIf="activeSections.formFields.showSideInfo"
        data-e2e="sidebar_section__content">
        <app-fields-side-bar [sideBar]="newSideBar" [idSectionForDragDrop]="idSectionForDragDrop" [form]="form">
        </app-fields-side-bar>
      </div>
    </div>

    <!-- <div class="row justify-content-center pb-2">
      <div class="col-10 bg-white ">
        <div class="row no-gutters slider-item align-items-center">
          <div class="col-auto mr-2">
            <label class="app-switch">
              <input type="checkbox" [ngModel]="activeSections.formFields.isActive" (ngModelChange)="
                  activeSections.formFields.isActive = activeSections.formFields.showSideInfo = $event
                " />
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col" (click)="
              activeSections.formFields.showSideInfo = !activeSections
                .formFields.showSideInfo
            ">
            <span class="font-weight-bold side-bar-toggle">FORM FIELDS</span>
            <i class="fas float-right app-plus-i" [ngClass]="{
                'fa-sort-down': !activeSections.formFields.showSideInfo,
                'fa-sort-up': activeSections.formFields.showSideInfo
              }"></i>
          </div>
        </div>
        <div *ngIf="activeSections.formFields.showSideInfo" class="bg-white rounded mb-3">
          <app-fields-side-bar [sideBar]="newSideBar" [idSectionForDragDrop]="idSectionForDragDrop" [form]="form">
          </app-fields-side-bar>
        </div>
      </div>
    </div> -->

    <!-- END FORM FIELDS -->

    <!--    DOCUMENTS & FORMS-->
    <div class="sidebar_section" data-e2e="sidebar_section" [class.expanded]="1"
      [class.open]="activeSections.documentsForms.showSideInfo">
      <!-- (click)="onClick('consent', $event)" -->
      <div class="sidebar_section__header" data-e2e="sidebar_section__header">
        <sw-input-toggle [ngModel]="activeSections.documentsForms.isActive" (ngModelChange)="
        activeSections.documentsForms.isActive = activeSections.documentsForms.showSideInfo = $event
      ">
        </sw-input-toggle>
        <span>DOCUMENTS & FORMS</span>
        <div class="actions" data-e2e="actions">
          <sw-icon-button [class.blue]="activeSections.documentsForms.showSideInfo"
            [icon]="getIcon(activeSections.documentsForms.showSideInfo)"
            (click)="activeSections.documentsForms.showSideInfo = !activeSections.documentsForms.showSideInfo">
          </sw-icon-button>
        </div>
      </div>
      <div class="sidebar_section__content" *ngIf="activeSections.documentsForms.showSideInfo"
        data-e2e="sidebar_section__content">
        <section class="documents_section">
          <div class="documents_section__header">
            <div class="documents_section__header_text">
              Documents
            </div>
            <div class="documents_section__header_controls">
              <i class="fas fa-plus-square" (click)="addDocumentItem()"></i>
              <i class="fas fa-caret-down" *ngIf="isDocumentsForms.isDocuments; else up" (click)="
              isDocumentsForms.isDocuments = !isDocumentsForms.isDocuments
            "></i>
              <ng-template #up>
                <i class="fas fa-caret-up" (click)="
                isDocumentsForms.isDocuments = !isDocumentsForms.isDocuments
              "></i>
              </ng-template>
            </div>
          </div>
          <ng-container *ngIf="isDocumentsForms.isDocuments">
            <div class="documents_section__item" *ngFor="let document of documents; let i = index">
              <div class="documents_section__item_header">
                <div class="documents_section__item_header_name">
                  <sw-input-text class="no_styles" [(ngModel)]="document.name"></sw-input-text>
                </div>
                <div class="documents_section__item_header_controls">
                  <i class="fas fa-trash" (click)="removeDocument(document.id)"></i>
                </div>
              </div>
              <div class="documents_section__item_content">
                <div class="documents_section__item_content_input">
                  <sw-input-button-group [options]="documentBut" [(ngModel)]="document.isUpload">
                  </sw-input-button-group>
                </div>
                <div class="documents_section__item_content_input">
                  <sw-radio-group [options]="radioGroup" [(ngModel)]="isPerFamilyD[i]"
                    (ngModelChange)="changeDocRadio($event, document)"></sw-radio-group>
                </div>
              </div>
            </div>
          </ng-container>
        </section>
        <section class="forms_section">
          <div class="forms_section__header">
            <div class="forms_section__header_text">
              Forms
            </div>
            <div class="forms_section__header_controls">
              <i class="fas fa-plus-square" (click)="addFormPDF()"></i>
              <i class="fas fa-caret-down" *ngIf="isDocumentsForms.isForms; else upF"
                (click)="isDocumentsForms.isForms = !isDocumentsForms.isForms"></i>
              <ng-template #upF>
                <i class="fas fa-caret-up" (click)="isDocumentsForms.isForms = !isDocumentsForms.isForms"></i>
              </ng-template>
            </div>
          </div>
          <ng-container *ngIf="isDocumentsForms.isForms">
            <div class="forms_section__item" *ngFor="let forms of formsPDF; let i = index">
              <div class="forms_section__item_header">
                <div class="forms_section__item_header_name">
                  <sw-input-text class="no_styles" [(ngModel)]="forms.name"></sw-input-text>
                </div>
                <div class="forms_section__item_header_controls">
                  <i class="fas fa-trash" (click)="removeFormsPDF(forms.id)"></i>
                </div>
              </div>
              <div class="forms_section__item_content">
                <div class="forms_section__item_content_input">
                  <sw-input-button-group [options]="formBut" [(ngModel)]="forms.isNew"></sw-input-button-group>
                </div>
                <div class="forms_section__item_content_input">
                  <sw-radio-group [options]="radioGroup" [(ngModel)]="isPerFamilyF[i]"
                    (ngModelChange)="changeDocRadio($event, forms)"></sw-radio-group>
                </div>
                <div class="forms_section__item_content_input">
                  <sw-input-toggle [(ngModel)]="forms.isFillableOnline">
                    <span class="input_label">Fillable Online</span>
                  </sw-input-toggle>
                </div>
                <div class="forms_section__item_content_input">
                  <sw-input-toggle [(ngModel)]="forms.isAllowDownloadUpload">
                    <span class="input_label">Allow Download/Upload</span>
                  </sw-input-toggle>
                </div>
              </div>
            </div>
          </ng-container>
        </section>
      </div>
    </div>

    <!-- <div class="row justify-content-center pb-2">
      <div class="col-10 bg-white ">
        <div class="row no-gutters slider-item align-items-center">
          <div class="col-auto mr-2">
            <label class="app-switch">
              <input type="checkbox" [ngModel]="activeSections.documentsForms.isActive" (ngModelChange)="
                        activeSections.documentsForms.isActive = activeSections.documentsForms.showSideInfo = $event
                      " />
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col" (click)="
                    activeSections.documentsForms.showSideInfo = !activeSections
                      .documentsForms.showSideInfo
                  ">
            <span class="font-weight-bold side-bar-toggle">DOCUMENTS & FORMS</span>
            <i class="fas float-right app-plus-i" [ngClass]="{
                      'fa-sort-down': !activeSections.documentsForms.showSideInfo,
                      'fa-sort-up': activeSections.documentsForms.showSideInfo
                    }"></i>
          </div>
        </div>
        <div *ngIf="activeSections.documentsForms.showSideInfo" class="bg-white rounded mb-3 ">
          <section class="documents_section">
            <div class="documents_section__header">
              <div class="documents_section__header_text">
                Documents
              </div>
              <div class="documents_section__header_controls">
                <i class="fas fa-plus-square" (click)="addDocumentItem()"></i>
                <i class="fas fa-caret-down" *ngIf="isDocumentsForms.isDocuments; else up" (click)="
              isDocumentsForms.isDocuments = !isDocumentsForms.isDocuments
            "></i>
                <ng-template #up>
                  <i class="fas fa-caret-up" (click)="
                isDocumentsForms.isDocuments = !isDocumentsForms.isDocuments
              "></i>
                </ng-template>
              </div>
            </div>
            <ng-container *ngIf="isDocumentsForms.isDocuments">
              <div class="documents_section__item" *ngFor="let document of documents; let i = index">
                <div class="documents_section__item_header">
                  <div class="documents_section__item_header_name">
                    <sw-input-text class="no_styles" [(ngModel)]="document.name"></sw-input-text>
                  </div>
                  <div class="documents_section__item_header_controls">
                    <i class="fas fa-trash" (click)="removeDocument(document.id)"></i>
                  </div>
                </div>
                <div class="documents_section__item_content">
                  <div class="documents_section__item_content_input">
                    <sw-input-button-group [options]="documentBut" [(ngModel)]="document.isUpload">
                    </sw-input-button-group>
                  </div>
                  <div class="documents_section__item_content_input">
                    <sw-radio-group [options]="radioGroup" [(ngModel)]="isPerFamilyD[i]"
                      (ngModelChange)="changeDocRadio($event, document)"></sw-radio-group>
                  </div>
                </div>
              </div>
            </ng-container>
          </section>
          <section class="forms_section">
            <div class="forms_section__header">
              <div class="forms_section__header_text">
                Forms
              </div>
              <div class="forms_section__header_controls">
                <i class="fas fa-plus-square" (click)="addFormPDF()"></i>
                <i class="fas fa-caret-down" *ngIf="isDocumentsForms.isForms; else upF"
                  (click)="isDocumentsForms.isForms = !isDocumentsForms.isForms"></i>
                <ng-template #upF>
                  <i class="fas fa-caret-up" (click)="isDocumentsForms.isForms = !isDocumentsForms.isForms"></i>
                </ng-template>
              </div>
            </div>
            <ng-container *ngIf="isDocumentsForms.isForms">
              <div class="forms_section__item" *ngFor="let forms of formsPDF; let i = index">
                <div class="forms_section__item_header">
                  <div class="forms_section__item_header_name">
                    <sw-input-text class="no_styles" [(ngModel)]="forms.name"></sw-input-text>
                  </div>
                  <div class="forms_section__item_header_controls">
                    <i class="fas fa-trash" (click)="removeFormsPDF(forms.id)"></i>
                  </div>
                </div>
                <div class="forms_section__item_content">
                  <div class="forms_section__item_content_input">
                    <sw-input-button-group [options]="formBut" [(ngModel)]="forms.isNew"></sw-input-button-group>
                  </div>
                  <div class="forms_section__item_content_input">
                    <sw-radio-group [options]="radioGroup" [(ngModel)]="isPerFamilyF[i]"
                      (ngModelChange)="changeDocRadio($event, forms)"></sw-radio-group>
                  </div>
                  <div class="forms_section__item_content_input">
                    <sw-input-toggle [(ngModel)]="forms.isFillableOnline">
                      <span class="input_label">Fillable Online</span>
                    </sw-input-toggle>
                  </div>
                  <div class="forms_section__item_content_input">
                    <sw-input-toggle [(ngModel)]="forms.isAllowDownloadUpload">
                      <span class="input_label">Allow Download/Upload</span>
                    </sw-input-toggle>
                  </div>
                </div>
              </div>
            </ng-container>
          </section>
        </div>
      </div>
    </div> -->

    <!--  END  DOCUMENTS & FORMS-->

    <!--CONSENT-->
    <div class="sidebar_section" data-e2e="sidebar_section" [class.expanded]="1"
      [class.open]="activeSections.consent.showSideInfo">
      <!-- (click)="onClick('consent', $event)" -->
      <div class="sidebar_section__header" data-e2e="sidebar_section__header">
        <sw-input-toggle [ngModel]="activeSections.consent.isActive"
          (ngModelChange)="activeSections.consent.isActive = activeSections.consent.showSideInfo = $event">
        </sw-input-toggle>
        <span>CONSENT</span>
        <div class="actions" data-e2e="actions">
          <sw-icon-button [class.blue]="activeSections.consent.showSideInfo"
            [icon]="getIcon(activeSections.consent.showSideInfo)"
            (click)="activeSections.consent.showSideInfo = !activeSections.consent.showSideInfo">
          </sw-icon-button>
        </div>
      </div>
      <div class="sidebar_section__content" *ngIf="activeSections.consent.showSideInfo"
        data-e2e="sidebar_section__content">
        <!-- <ng-container *ngComponentOutlet="components.consent"></ng-container> -->
        <div class="col" *ngIf="activeSections.consent.showSideInfo">
          <i (click)="addConsentItem()" class="fas fa-plus-square float-right app-plus-i"></i>
        </div>
        <section class="consent_section">
          <div class="consent_section__item" *ngFor="let item of consentInfo.consents; let i = index">
            <div class="consent_section__item_header">
              <div class="consent_section__item_header_name">
                <sw-input-text class="no_styles" [(ngModel)]="item.title"></sw-input-text>
              </div>
              <div class="consent_section__item_header_controls">
                <i class="fas fa-trash" (click)="removeConsentItem(i)"></i>
                <i class="fas fa-caret-down blue" *ngIf="!item.isOpen; else up"
                  (click)="item.isOpen = !item.isOpen"></i>
                <ng-template #up>
                  <i class="fas fa-caret-up blue" (click)="item.isOpen = !item.isOpen"></i>
                </ng-template>
              </div>
            </div>
            <div class="consent_section__item_content" *ngIf="item['isOpen']">
              <div class="consent_section__item_content_input">
                <sw-input-toggle [(ngModel)]="item.checkbox.isActive">
                  <span class="input_label">Checkbox</span>
                </sw-input-toggle>
              </div>
              <div class="consent_section__item_content_input">
                <sw-input-toggle [(ngModel)]="item.button.isActive">
                  <span class="input_label">Button</span>
                </sw-input-toggle>
              </div>
              <div class="consent_section__item_content_input">
                <sw-input-toggle [(ngModel)]="item.signature.isRequire">
                  <span class="input_label">Require Signature</span>
                </sw-input-toggle>
              </div>
              <div class="consent_section__item_content_input" *ngIf="item.signature.isRequire">
                <sw-input-button-group [(ngModel)]="item.signature.isBothParents" [options]="consentButtonOptions">
                </sw-input-button-group>
              </div>
            </div>
          </div>
        </section>

      </div>
    </div>
    <!--END CONSENT-->

    <!-- <app-tuition-contract-sidebar></app-tuition-contract-sidebar> -->

    <!--PAYMENT SETTINGS-->
    <!-- <div class="row justify-content-center pb-2">
      <div class="col-10 sidebar_item">
        <div class="row no-gutters align-items-center">
          <div class="col-auto mr-2">
            <label class="app-switch">
              <input type="checkbox" [ngModel]="activeSections.paymentSettings.isActive" (ngModelChange)="
                  activeSections.paymentSettings.isActive = activeSections.paymentSettings.showSideInfo = $event
                " />
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col" (click)="
              activeSections.paymentSettings.showSideInfo = !activeSections
                .paymentSettings.showSideInfo
            ">
            <span class="font-weight-bold side-bar-toggle">PAYMENT SETTINGS</span>
            <i class="fas float-right app-plus-i" [ngClass]="{
                'fa-sort-down': !activeSections.paymentSettings.showSideInfo,
                'fa-sort-up': activeSections.paymentSettings.showSideInfo
              }"></i>
          </div>
        </div>
        <div *ngIf="activeSections.paymentSettings.showSideInfo" class="bg-white rounded mb-3 ">
          <div class="app-consent-item p-3 mt-3" *ngFor="
              let item of paymentSettings?.paymentSettingsItems;
              let i = index
            ">
            <div class="row no-gutters mb-2">
              <div class="col-10">
                <span class="app-consent-item-title" *ngIf="isEditPaymentSettingsName !== item.id"
                  (click)="isEditPaymentSettingsName = item.id">
                  {{ item.title }}
                </span>
                <input type="text" class="form-control app-consent-name-input" autofocus
                  *ngIf="isEditPaymentSettingsName === item.id || !item.title"
                  (input)="isEditPaymentSettingsName = item.id" (blur)="isEditPaymentSettingsName = null"
                  (keyup.enter)="isEditPaymentSettingsName = null" [(ngModel)]="item.title" placeholder="Title" />
              </div>
              <div class="col-2 text-right pt-2">
                <span (click)="removePaymentSettingsItems(item.id)" class="app-fb-trash mr-3"><i
                    class="fas fa-trash"></i></span>
              </div>
            </div>

            <div class="row no-gutters align-items-center pt-3">
              <div class="col-auto mr-2">
                <label class="app-switch">
                  <input type="checkbox" [(ngModel)]="item.checkbox.isActive" />
                  <span class="app-slider app-round"></span>
                </label>
              </div>
              <div class="col">
                <span class="font-weight-bold ">CHECKBOX</span>
              </div>
            </div>
          </div>

          <hr />

          <div class="row no-gutters align-items-center pt-1">
            <div class="col-auto mr-2">
              <label class="app-switch">
                <input type="checkbox" [(ngModel)]="paymentSettings.signature.isRequire" />
                <span class="app-slider app-round"></span>
              </label>
            </div>
            <div class="col">
              <span class="font-weight-bold ">REQUIRE SIGNATURE</span>
            </div>
          </div>

          <ng-container *ngIf="paymentSettings.signature.isRequire">
            <div class="row no-gutters">
              <div class="btn-group btn-group-toggle w-100 mt-2" ngbRadioGroup name="paymentSettingsSignature"
                [(ngModel)]="paymentSettings.signature.type" [ngModelOptions]="{ standalone: true }">
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" [value]="SIGNATURE_TYPES.ESIGN" />
                  E-signature
                </label>
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" [value]="SIGNATURE_TYPES.WET" />
                  Wet Signature
                </label>
              </div>
            </div>

            <div *ngIf="paymentSettings.signature.type === SIGNATURE_TYPES.ESIGN"
              class="row no-gutters app-consent-signature px-3 py-3">
              <div class="col">
                <label class="app-radio-container">System
                  <input type="radio" name="eSignatureType" [value]="E_SIGNATURE_TYPES.SYSTEM"
                    [(ngModel)]="paymentSettings.signature.eType" />
                  <span class="app-radio-checkmark"></span>
                </label>
              </div>
              <div class="col">
                <label class="app-radio-container">External
                  <span class="pl-2"><i class="fas fa-cog app-fb-gear"></i></span>
                  <input type="radio" name="eSignatureType" [value]="E_SIGNATURE_TYPES.EXTERNAL"
                    [(ngModel)]="paymentSettings.signature.eType" />
                  <span class="app-radio-checkmark"></span>
                </label>
              </div>
            </div>

            <div class="row px-4 pt-3">
              <label class="app-checkbox-container">
                Both Parents' Signature (when applicable)
                <input type="checkbox" [(ngModel)]="paymentSettings.signature.isBothParents" />
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
          </ng-container>
        </div>
      </div>
    </div> -->
    <!--END PAYMENT SETTINGS-->

    <!--TERMS AND CONDITIONS-->
    <div class="sidebar_section" data-e2e="sidebar_section" [class.expanded]="1"
      [class.open]="activeSections.termsConditionals.showSideInfo">
      <div class="sidebar_section__header" data-e2e="sidebar_section__header">
        <sw-input-toggle [ngModel]="activeSections.termsConditionals.isActive" (ngModelChange)="
          activeSections.termsConditionals.isActive = activeSections.termsConditionals.showSideInfo = $event">
        </sw-input-toggle>
        <span>TERMS AND CONDITIONS</span>
        <div class="actions" data-e2e="actions">
          <sw-icon-button class="blue" style="margin-right: 5px;" icon="fa-plus-square"
            *ngIf="activeSections.termsConditionals.showSideInfo" (click)="addTermsConditionsItem()">
          </sw-icon-button>
          <sw-icon-button [class.blue]="activeSections.termsConditionals.showSideInfo"
            [icon]="getIcon(activeSections.termsConditionals.showSideInfo)"
            (click)="activeSections.termsConditionals.showSideInfo = !activeSections.termsConditionals.showSideInfo">
          </sw-icon-button>
        </div>
      </div>

      <div class="sidebar_section__content" data-e2e="sidebar_section__content">

        <section class="terms_conditions_section">
          <div class="terms_conditions_section__item"
            *ngFor="let item of termsConditions?.termsConditionsItems; let i = index">
            <div class="terms_conditions_section__item_header">
              <div class="terms_conditions_section__item_header_name">
                <sw-input-text class="no_styles" [(ngModel)]="item.title"></sw-input-text>
              </div>
              <div class="terms_conditions_section__item_header_controls">
                <i class="fas fa-trash" (click)="removeTermsConditionsItem(item.id)"></i>
              </div>
            </div>
            <div class="terms_conditions_section__item_content">
              <div class="terms_conditions_section__item_content_input">
                <sw-input-toggle [(ngModel)]="item.checkbox.isActive">
                  <span class="input_label">Checkbox</span>
                </sw-input-toggle>
              </div>
            </div>
          </div>
        </section>
        <section class="terms_conditions_signature_section">
          <div class="terms_conditions_signature_section__title">
            <sw-input-checkbox [(ngModel)]="termsConditions.signature.isRequire">
              <span class="label">Signature</span>
            </sw-input-checkbox>
          </div>
          <div class="terms_conditions_signature_section__content">
            <sw-input-button-group [options]="consentButtonOptions"
              [(ngModel)]="termsConditions.signature.isBothParents">
            </sw-input-button-group>
          </div>
        </section>
        <!-- <ng-container *ngIf="termsConditions.signature.isRequire">
            <div class="row no-gutters">
              <div class="btn-group btn-group-toggle w-100 mt-2" ngbRadioGroup name="termsConditionsSignature"
                [(ngModel)]="termsConditions.signature.type" [ngModelOptions]="{ standalone: true }">
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" [value]="SIGNATURE_TYPES.ESIGN" />
                  E-signature
                </label>
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" [value]="SIGNATURE_TYPES.WET" />
                  Wet Signature
                </label>
              </div>
            </div>

            <div *ngIf="termsConditions.signature.type === SIGNATURE_TYPES.ESIGN"
              class="row no-gutters app-consent-signature px-3 py-3">
              <div class="col">
                <label class="app-radio-container">System
                  <input type="radio" name="eSignatureType" [value]="E_SIGNATURE_TYPES.SYSTEM"
                    [(ngModel)]="termsConditions.signature.eType" />
                  <span class="app-radio-checkmark"></span>
                </label>
              </div>
              <div class="col">
                <label class="app-radio-container">External
                  <span class="pl-2"><i class="fas fa-cog app-fb-gear"></i></span>
                  <input type="radio" name="eSignatureType" [value]="E_SIGNATURE_TYPES.EXTERNAL"
                    [(ngModel)]="termsConditions.signature.eType" />
                  <span class="app-radio-checkmark"></span>
                </label>
              </div>
            </div>

            <div class="row px-4 pt-3">
              <label class="app-checkbox-container">
                Both Parents' Signature (when applicable)
                <input type="checkbox" [(ngModel)]="termsConditions.signature.isBothParents" />
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
          </ng-container> -->

      </div>
    </div>

    <!--END TERMS AND CONDITIONS-->

    <!--    FORM PAYMENT-->
    <!-- <div class="row justify-content-center pb-2">
      <div class="col-10 bg-white ">
        <div class="row no-gutters slider-item align-items-center">
          <div class="col-auto mr-2">
            <label class="app-switch">
              <input type="checkbox" [ngModel]="activeSections.formPayment.isActive" (ngModelChange)="
                  activeSections.formPayment.isActive = activeSections.formPayment.showSideInfo = $event
                " />
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col" (click)="
              activeSections.formPayment.showSideInfo = !activeSections
                .formPayment.showSideInfo
            ">
            <span class="font-weight-bold side-bar-toggle">FORM PAYMENT</span>
            <i class="fas float-right app-plus-i" [ngClass]="{
                'fa-sort-down': !activeSections.formPayment.showSideInfo,
                'fa-sort-up': activeSections.formPayment.showSideInfo
              }"></i>
          </div>
        </div>
        <div *ngIf="activeSections.formPayment.showSideInfo" class="bg-white rounded mb-3 ">
          <div class="row no-gutters pt-2 align-items-center" *ngFor="let item of formPaymentSideBar">
            <div class="col-1">
              <label class="app-checkbox-container">
                <input type="checkbox" [(ngModel)]="item.isActive" />
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
            <div class="col ">
              <span class="form-payment-side-bar-text">{{ item.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>

  <!--  END  FORM PAYMENT-->

  <div class="col-9">
    <div>
      <!--      cdkDropList-->
      <!--      id="workPlaceList"-->
      <!--      [cdkDropListData]="fields"-->
      <!--      [cdkDropListConnectedTo]="['ExistingFieldsList', 'CustomFieldsList', '6372c882-3d14-486f-9c1f-52ae8ab928ef']"-->
      <!--      (cdkDropListDropped)="drop($event)">-->
      <!--      <ul class="list-group" *ngIf="sections.formFieldsWorkspace">-->
      <!--        <li class="list-group-item mb-3 py-0" *ngFor="let field of fields; trackBy: trackByFn" cdkDrag-->
      <!--            cdkDragLockAxis="y"-->
      <!--            [ngClass]="[!field.isValidName||!field.isValid?'list-group-item-warning':'', field.type==113?'app-list-group-item-info':'']">-->
      <!--          <app-group-container *ngIf="field.type==113" [inputGroup]="field"-->
      <!--                                 [customFields]="customFields"></app-group-container>-->
      <!--          <app-field-container *ngIf="field.type!=113"-->
      <!--                                 [customFields]="customFields"-->
      <!--                                 [inputField]="field"-->
      <!--                                 (onChange)="onChange($event, field)"-->
      <!--                                 (onUniq)="onUniq($event)"-->
      <!--                                 (onDelete)="onDelete($event)">-->
      <!--          </app-field-container>-->
      <!--        </li>-->

      <!--      </ul>-->
      <app-packet-intro *ngIf="activeSections.packetIntroduction.isActive" [packetIntro]="packetIntro">
      </app-packet-intro>
      <app-fields-workspace *ngIf="activeSections.formFields.isActive" [form]="form"></app-fields-workspace>
      <!--  documents-forms-->
      <app-documents-forms *ngIf="activeSections.documentsForms.isActive" [sideBar]="newSideBar" [form]="form"
        [isDocumentsForms]="isDocumentsForms" [documentsForms]="documentsForms" [documents]="documents"
        [formsPDF]="formsPDF" [attachments]="attachments" [formId]="formId" [existingFields]="existingFields">
      </app-documents-forms>
      <!--  end  documents-forms-->

      <!--  consent-->
      <app-consent *ngIf="activeSections.consent.isActive" [consentInfo]="consentInfo"></app-consent>
      <!--  end consent-->

      <!--  tuition-contract-->
      <app-tuition-contract-content></app-tuition-contract-content>
      <!--  end tuition-contract-->

      <!--  app-payment-settings s-->
      <app-payment-settings *ngIf="activeSections.paymentSettings.isActive" [paymentSettings]="paymentSettings">
      </app-payment-settings>
      <!--  end terms and conditions-->

      <!--  terms and conditions-->
      <app-terms-conditions *ngIf="activeSections.termsConditionals.isActive" [termsConditions]="termsConditions">
      </app-terms-conditions>
      <!--  end terms and conditions-->

      <!--  form-payment -->
      <div class="app-section-wrapper" *ngIf="activeSections.formPayment.isActive">
        <app-form-payment [formPaymentSideBar]="formPaymentSideBar">
        </app-form-payment>
      </div>
      <!--  end form-payment-->


    </div>
    <div class="stepper-wrap" data-e2e="stepper-wrap">
      <sw-button class="outline-btn" style="margin-right: 10px;" (click)="prevStep()">
        Back to Previous Step
      </sw-button>
      <sw-button (click)="nextStep()">
        Save & Go Next Step
      </sw-button>
    </div>
  </div>
</div>

<!-- Loading spinner -->
<div class="spinner" *ngIf="form === undefined || isDataSaving">
  <main-spinner [spinnerText]="spinnerText"></main-spinner>
</div>
