@import "index";

:host {
  width: 100%;
  .documents_section,
  .forms_section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
    &__header {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      &_text {
        text-transform: uppercase;
        font: 800 12px/15px $nunito-sans;
      }
      &_controls {
        color: #4350A2;
        i {
          font-size: 16px;
          margin-left: 10px;
        }
      }
    }
    &__item {
      background-color: #F3F3F3;
      border: 1px solid #E3E3E3;
      border-radius: 3px;
      padding: 10px;
      &_header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &_name {
          font: 800 14px/20px $nunito-sans;
        }
        &_controls {
          color: #909090;
          i {
            font-size: 12px;
            margin-left: 10px;
          }
        }
      }
      &_content_input {
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }
  .documents_section:after {
    content: '';
    width: 100%;
    height: 1px;
    margin: 15px 0;
    background: #E1E1E1;
  }
  .forms_section {
    margin: 0;
  }
  .spinner {
    position: fixed;
    top: 25%;
    left: 50%;
  }
  .stepper-wrap {
    display: flex;
    width: fit-content;
    margin-left: auto;
  }
  .terms_conditions_section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
    &__item {
      background-color: #F3F3F3;
      border: 1px solid #E3E3E3;
      border-radius: 3px;
      padding: 10px;
      &_header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &_name {
          font: 800 14px/20px $nunito-sans;
        }
        &_controls {
          color: #909090;
          i {
            font-size: 12px;
            margin-left: 10px;
            &.blue {
              color: #4350A2;
            }
          }
        }
      }
      &_content_input {
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
    &:after {
      content: '';
      width: 100%;
      height: 1px;
      margin: 20px 0px 10px 0px;
      background: #E1E1E1;
    }
  }
  .terms_conditions_signature_section {
    &__title {
      margin-bottom: 5px;
      span.label {
        font: 800 14px/20px $nunito-sans;
      }
    }
  }
  .consent_section {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    margin-top: 15px;
    &__item {
      background-color: #F3F3F3;
      border: 1px solid #E3E3E3;
      border-radius: 3px;
      padding: 10px;
      &_header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        &_name {
          font: 800 14px/20px $nunito-sans;
        }
        &_controls {
          color: #909090;
          i {
            font-size: 12px;
            margin-left: 10px;
            &.blue {
              color: #4350A2;
            }
          }
        }
      }
      &_content_input {
        &:not(:last-of-type) {
          margin-bottom: 10px;
        }
      }
      &:not(:last-of-type) {
        margin-bottom: 10px;
      }
    }
  }

  div.sidebar_section {
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    background-color: #fff;
    // margin-bottom: 15px;
    margin: 0 10px 10px;
    border-radius: 5px; 
    &__header {
      display: flex;
      flex-flow: row nowrap;
      opacity: 0.6;
      text-transform: uppercase;
      font: 800 13px/15px $nunito-sans;
      .actions {
        display: none;
        margin-left: auto;
      }
    }
    &__content {
      display: none;
      flex-flow: column nowrap;
      width: 100%;
      margin-top: 20px;
    }
    &.expanded {
      .sidebar_section__header {
        opacity: 1;
        .actions {
          display: flex;
        }
      }
    }
    &.expanded.open {
      .sidebar_section__content {
        display: flex;
      }
    }
  }
}

.col-center-block {
  float: none;
  display: block;
  margin: 0 auto;
}

.formBuilderItem {
  margin-bottom: 5%;
  padding-bottom: 3%;
}

.bg-gray {
  background-color: #ebebeb;
}

.text_small {
  font-size: 80%;
}

.add-input.form-control {
  height: 27px;
}

.btn.btn-outline-primary.form-control {
  height: 27px;
}

.btn-outline-primary {
  color: #4050A8;
  border-color: #4050A8;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:hover {
  color: #4050A8;
  background-color: #4050A8;
  border-color: #4050A8
}

.cdk-drag-placeholder {
  opacity: 0;
}

.search-input {
  background-color: #F6F6F6;
  border-radius: 3px;
}


body {
  background-color: #f4f4f4;
}

#workPlaceList {
  height: 1500px;
}

.list-group-item {
  padding-left: 0;
  padding-right: 0;
}

input {
  padding: 0.2em;
  box-sizing: border-box;
  width: 100%
}

.slider-item {
  height: 46px;
  border-radius: 5px;
}

.app-list-group-item-info {
  background-color: #EBEEFF;

}

.list-group-item, .app-list-group-item-inf {
  border-radius: 0.5rem;
}

//.cdk-drop-list-dragging .cdk-drag {
//  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
//}
//
///* Animate an item that has been dropped. */
//.cdk-drag-animating {
//  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
//}

.app-section-wrapper {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 0.5rem;
  box-shadow: inset 0 -1px 0 0 #d8d8d8;
  margin-bottom: 1rem;
  padding: 1.75rem;
}

.app-btn-signature {
  background: #E0E6FF;
  border-color: white !important;
  color: $element-base-color;
  cursor: pointer;
}

label.btn.app-btn-signature.active {
  background: #FFB915;
  color: $white;
}

.app-tuition-signature {
  background-color: #F6F6F6;
}

.app-consent-signature {
  background-color: $white;
}

.app-fb-trash, .app-fb-gear{
  color: #999999;
}

.app-fb-caret-up {
  color: $element-base-color;
}

.form-payment-side-bar-text{
  color: #151515;
  font-size: 0.8em;
  font-family: "NunitoSans-ExtraBold";
}
.fa-plus-square, .fa-caret-up,.fa-caret-down{
  color: $element-base-color;
}
.fa-question-circle{
  color: $icon-grey-color;
}
.app-radio-container{
  margin-bottom: 0;
}

//Consent
.app-consent-item {
  border-radius: 3px;
  background-color: #F6F6F6;
}

.app-consent-item-title {
  font-family: "NunitoSans-ExtraBold";
  font-size: 1.2em;
  line-height: 2em;
}

.app-plus-i {
  font-size: 1.3em;
  color: $element-base-color;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  vertical-align: middle;
}

.fa-trash{
  color: $icon-grey-color;
  //size: 3px;
  //height: 22px;
  //width: 22px;
}
.fas{
  cursor: pointer;
}

.app-consent-name-input {
  border-radius: 0.25rem;
}

.side-bar-toggle{
  cursor: pointer;
}

.sidebar_item {
  background-color: $white;
  border-radius: 0.5rem;
  padding: 1.25rem;

  &__content {
    display: flex;
    flex-direction: column;
  }
}
