/* Palette */
$white: #FFFFFF !default;
$black: #0D0D0D !default;
$black-2: #2D2D2D !default;
$purple: #4350A2 !default;
$purple-bg: #EBEEFF !default;
$grey-98: #FAFAFA !default;
$grey-95: #F3F3F3 !default;
$grey-91: #E3E3E3 !default;
$grey: #909090 !default;

$gray-98: $grey-98;
$gray-95: $grey-95;
$gray-91: $grey-91;
$gray: $grey;

/* Aliases */
$primary-color: $purple;