.create-payer-account {
  .create-payer-account-container {
    position: relative;
  }

  .create-payer-account-members {
    margin: 0 0 20px;
  }

  .create-payer-account-label {
    color: #151515;
    font: 800 12px/15px 'NunitoSans-Bold';
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin: 0 0 12px;
  }

  .create-payer-account-account-name {
    width: 80%;
    margin: 0 10px 0 0;
  }

  .create-payer-account-account-type {
    width: 60%;
  }

  .create-payer-account-submit {
    text-align: right;
  }

  .create-payer-account-cancel {
    bottom: 0;
    position: absolute;
    right: 100px;
  }
}
