<p class="text-center app-text-extra-large app-text-extra-bold">
  Consent
</p>

<div class="app-of-wrap">

  <div class="row no-gutters align-items-center">
    <div class="col-12 app-of-nav-wrap">
      <app-consent-nav [consents]="form.consentInfo.consents"
                       (activeConsentEmitter)="onActiveConsent($event)"></app-consent-nav>
    </div>
  </div>

  <ng-container *ngFor="let item of consents">
    <div *ngIf="item.id === activeConsentId">

      <!--Title-->
      <div class="row no-gutters align-items-center pt-4">
        <div class="col-12 text-center">
          <p class="app-text-extra-bold mb-0">
            {{item.title | uppercase}}
          </p>
          <p class="app-text-second app-text-small mb-0">
            <i class="far fa-clock fa-sm mr-1"></i>
            ~15 minutes
          </p>
        </div>
      </div>

      <!--Text-->
      <div class="row no-gutters pt-4">
        <div class="col-2"></div>
        <div class="col-8" [innerHTML]="item.text.value"></div>
        <div class="col-2"></div>
      </div>

      <!--Checkbox-->
      <div *ngIf="item.checkbox.isActive" class="row no-gutters pt-4">
        <div class="col-2"></div>
        <div class="col-8">
          <label class="app-checkbox-container"><span class="font-weight-bold">{{item.checkbox.text}}</span>
            <input type="checkbox" [(ngModel)]="item.checkbox.checked">
            <span class="app-checkbox-checkmark"></span>
          </label>
        </div>
        <div class="col-2"></div>
      </div>

      <!--SIGNATURE-->
      <div *ngIf="item.signature.isRequire" class="mt-3">

        <!--E-SIGN SIGNATURE-->
        <ng-container *ngIf="item.signature.type === SIGNATURE_TYPES.ESIGN">

          <!--EXTERNAL SIGNATURE-->
          <ng-container *ngIf="item.signature.eType === E_SIGNATURE_TYPES.EXTERNAL">

            <div class="row no-gutters pt-3" *ngIf="!item.signature.isBothParents">
              <div class="col-2"></div>
              <div class="col-8 app-consent-text">
                <div class="row">
                  <div class="col-6">
                    <textarea class="app-consent-table w-100 pl-3"
                              rows="2"
                              placeholder="Parent's Signature"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-2"></div>
            </div>

            <div class="row no-gutters pt-3" *ngIf="item.signature.isBothParents">
              <div class="col-2"></div>
              <div class="col-8 app-consent-text">
                <div class="row">
                  <div class="col-6">
          <textarea class="app-consent-table w-100 pl-3"
                    rows="2"
                    placeholder="Father's Signature"></textarea>
                  </div>
                  <div class="col-6">
          <textarea class="app-consent-table w-100 pl-3"
                    rows="2"
                    placeholder="Mother's Signature"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-2"></div>
            </div>

            <div class="row no-gutters p-4">
              <div class="col-12 text-right">
                <button class="btn app-btn-primary py-2 px-4">Accept</button>
              </div>
            </div>

          </ng-container>

          <!--SYSTEM SIGNATURE-->
          <ng-container *ngIf="item.signature.eType === E_SIGNATURE_TYPES.SYSTEM">

            <div class="row no-gutters pt-3" *ngIf="!item.signature.isBothParents">
              <div class="col-2"></div>
              <div class="col-8">
                <div class="row">
                  <div class="col-6">
                    <label class="app-checkbox-container">Parent's Signature
                      <input type="checkbox"
                             [(ngModel)]="item.signature.signed.parents"
                      [disabled]="isDisabledSign('parents', item.id)">
                      <span class="app-checkbox-checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-2"></div>
            </div>

            <div class="row no-gutters pt-3" *ngIf="item.signature.isBothParents">
              <div class="col-2"></div>
              <div class="col-8">
                <div class="row">
                  <div class="col-6">
                    <label class="app-checkbox-container">Father's Signature
                      <input type="checkbox"
                             [(ngModel)]="item.signature.signed.fathers"
                             [disabled]="isDisabledSign('fathers', item.id)">
                      <span class="app-checkbox-checkmark"></span>
                    </label>
                  </div>
                  <div class="col-6">
                    <label class="app-checkbox-container">Mother's Signature
                      <input type="checkbox"
                             [(ngModel)]="item.signature.signed.mothers"
                             [disabled]="isDisabledSign('mothers', item.id)">
                      <span class="app-checkbox-checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-2"></div>
            </div>

            <div class="row no-gutters p-4">
              <div class="col-12 text-right">
                <button class="btn app-btn-primary py-2 px-4"
                        (click)="onSystemSign(item.id)">Accept
                </button>
              </div>
            </div>

          </ng-container>

        </ng-container>

        <!--WET SIGNATURE-->
        <ng-container *ngIf="item.signature.type === SIGNATURE_TYPES.WET">

          <div class="row no-gutters pt-3" *ngIf="!item.signature.isBothParents">
            <div class="col-2"></div>
            <div class="col-8 app-consent-text">
              <div class="row">
                <div class="col-6">
                  <textarea class="app-consent-table w-100 pl-3"
                            rows="2"
                            placeholder="Parent's Signature"></textarea>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>

          <div class="row no-gutters pt-3" *ngIf="item.signature.isBothParents">
            <div class="col-2"></div>
            <div class="col-8 app-consent-text">
              <div class="row">
                <div class="col-6">
                  <textarea class="app-consent-table w-100 pl-3"
                            rows="2"
                            placeholder="Father's Signature"></textarea>
                </div>
                <div class="col-6">
                  <textarea class="app-consent-table w-100 pl-3"
                            rows="2"
                            placeholder="Mother's Signature"></textarea>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>

          <div class="row no-gutters p-4">
            <div class="col-12 text-right">
              <button class="btn app-btn-primary py-2 px-4">Accept</button>
            </div>
          </div>

        </ng-container>

      </div>
      <!--END SIGNATURE-->

    </div>
  </ng-container>
</div>

<div class="row no-gutters mt-4">
  <div class="col-12 text-right">
    <button class="btn app-btn-outline-primary py-2 px-4 mr-3">Cancel</button>
    <button class="btn app-btn-primary py-2 px-4">Save & Go Next Step</button>
  </div>
</div>