<div class="content_section__container_page_title">
  <h1 class="content_section__page_title">
    Tuition Contract
  </h1>

  <!--SubTitle-->
  <h3 class="sub_title">
    <!-- <i class="far fa-clock fa-sm mr-1"></i> -->
    ~{{ getTime() }} minutes
  </h3>
</div>

<!-- Content -->
<div class="content_section__main_container">
  <div class="content_section__main">
    <div>
      <!--Title-->
      <h2 class="content_section__article_title">
        FEES CONTRACT
      </h2>

      <!--Table-->
      <article
        class="app-fb-tuition-table content_section__article"
        *ngIf="
          form.tuitionContract.splitBy === TUITION_CONTRACT_SPLIT_TYPES.STUDENT
        "
      >
        <app-tuition-contract-by-student
          [tuitionContract]="form.tuitionContract"
        ></app-tuition-contract-by-student>
      </article>
      <article
        class="content_section__article"
        *ngIf="
          form.tuitionContract.splitBy === TUITION_CONTRACT_SPLIT_TYPES.FEE
        "
      >
        <div>
          <app-tuition-contract-by-fee
            [tuitionContract]="form.tuitionContract"
          ></app-tuition-contract-by-fee>
        </div>
      </article>

      <!--Text-->
      <h2 class="content_section__article_title">CONTRACT TEXT:</h2>
      <article class="content_section__article">
        <div
          class="content_section__article_text"
          [innerHTML]="form.tuitionContract.text"
        ></div>
      </article>

      <app-online-form-signatures
        [signature]="signature"
      ></app-online-form-signatures>
    </div>
  </div>
</div>
