<div class="row no-gutters py-4" *ngIf="form">

  <div class="col">
    <h4 class="font-weight-bold d-inline-block pr-3">{{form?.name | titlecase}}</h4>

    <div *ngIf="form?.status" ngbDropdown class="d-inline-block">

      <button type="button" class="btn app-btn-status px-1 py-0 app-dropdown-toggle"
              *ngIf="form.status === templateStatuses.STATUS_CLOSED"
              [ngClass]="getClassByStatus(form.status)"
              appClickStopPropagation>
              <span *ngIf="form.status !== templateStatuses.STATUS_REVIEW" class="font-weight-bold app-text-small">
                {{form.status | titlecase}}
              </span>
      </button>

      <button type="button" class="btn app-btn-status px-1 py-0 app-dropdown-toggle"
              *ngIf="form.status !== templateStatuses.STATUS_CLOSED"
              [ngClass]="getClassByStatus(form.status)"
              id="dropdownBasic1"
              ngbDropdownToggle
              appClickStopPropagation>
              <span *ngIf="form.status === templateStatuses.STATUS_REVIEW" class="font-weight-bold app-text-small">{{'In ' + form.status | titlecase}}
                <i class="fas fa-hourglass-start"></i>
              </span>
        <span *ngIf="form.status !== templateStatuses.STATUS_REVIEW" class="font-weight-bold app-text-small">{{form.status | titlecase}}
                <i class="fas fa-chevron-down"></i>
              </span>
      </button>

      <div *ngIf="form.status !== templateStatuses.STATUS_CLOSED" ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button *ngFor="let status of changedStatuses"
                (click)="changeStatus(form.id, status)"
                ngbDropdownItem
                appClickStopPropagation>
          {{status | titlecase}}
        </button>
      </div>

    </div>


    <!--<div *ngIf="form?.status" ngbDropdown class="d-inline-block">-->
      <!--<button type="button" class="btn app-btn-status px-1 py-0 app-dropdown-toggle"-->
              <!--[ngClass]="getClassByStatus(form.status)"-->
              <!--id="dropdownBasic1"-->
              <!--ngbDropdownToggle-->
              <!--appClickStopPropagation>-->
        <!--<ng-template [ngIf]="form.status === STATUS_REVIEW" [ngIfElse]="chevron">-->
              <!--<span>{{'In ' + form.status | titlecase}}-->
                <!--<i class="fas fa-hourglass-start"></i>-->
              <!--</span>-->
        <!--</ng-template>-->
        <!--<ng-template #chevron>-->
              <!--<span>{{form.status | titlecase}}-->
                <!--<i class="fas fa-chevron-down"></i>-->
              <!--</span>-->
        <!--</ng-template>-->
      <!--</button>-->
      <!--<div ngbDropdownMenu aria-labelledby="dropdownBasic1">-->
        <!--<button *ngFor="let status of statuses"-->
                <!--(click)="changeStatus(form.id, status)"-->
                <!--ngbDropdownItem-->
                <!--appClickStopPropagation>-->
          <!--{{status | titlecase}}-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->
  </div>

  <div class="col text-right">

    <span class="app-fi-header-action mr-3"><i class="fas fa-share-alt fa-sm app-fi-header-icon mr-2"></i>SHARE</span>
    <span class="app-fi-header-action mr-3"><i class="fas fa-share fa-sm app-fi-header-icon mr-2"></i>EXPORT PDF</span>
    <span class="app-fi-header-action mr-5"><i class="fas fa-plus fa-sm app-fi-header-icon mr-2"></i>INVITE ACCOUNTS</span>

    <button type="button" class="btn app-btn-primary mr-3">
      <i class="fas fa-align-center" data-fa-transform="rotate-180"></i>
    </button>
    <button class="btn app-btn-outline-primary mr-3">
      Preview Form
    </button>
    <button class="btn app-btn-primary"
            routerLink="/data-collection/form-constructor/{{form.mongo_id}}"
            routerLinkActive="active">
      Edit Form
    </button>
  </div>
</div>
