<div class="field_settings_container" *ngIf="form">
  <form [formGroup]="form">
    <section>
      <div class="title">
        <sw-input-toggle formControlName="showDefaultValue">
          <span class="label">default value</span>
        </sw-input-toggle>
      </div>
      <sw-input-text *ngIf="form.get('showDefaultValue').value" class="settings-field" formControlName="default">
      </sw-input-text>
    </section>
    <section>
      <div class="title">
        Textarea size
      </div>
      <div class="row_container">
        <div class="row_container__input">
          <sw-input-number formControlName="columnWidth">
            <span class="label">Column Wide</span>
          </sw-input-number>
        </div>
        <div class="row_container__input">
          <sw-input-number formControlName="rowHeigth">
            <span class="label">Row Height</span>
          </sw-input-number>
        </div>
      </div>
    </section>
    <section>
      <div class="title">
        <sw-input-toggle formControlName="showValidators">
          <span class="label">validate</span>
        </sw-input-toggle>
      </div>
      <ng-container *ngIf="form.get('showValidators').value" formGroupName="validators">
        <div class="row_container">
          <div class="row_container__input">
            <sw-dropdown-input formControlName="criteria" [multiple]="false" [options]="validatorsOptions">
              <span class="label">Validate Criteria</span>
            </sw-dropdown-input>
          </div>
        </div>
        <div class="row_container">
          <div class="row_container__input">
            <sw-input-number formControlName="minLength">
              <span class="label">Min Character</span>
            </sw-input-number>
          </div>
          <div class="row_container__input">
            <sw-input-number formControlName="maxLength">
              <span class="label">Max Character</span>
            </sw-input-number>
          </div>
        </div>
      </ng-container>
    </section>
  </form>
</div>