<form [formGroup]="familyChildForm" (ngSubmit)="addFamilyChild()">
  <p class="app-text-small font-weight-bold mb-1">PERSONAL {{role | uppercase}} INFO</p>
  <div class="row no-gutters app-family-card-body p-3">
    <div class="col-3"><img src="assets/images/temp/person-foto-placeholder.png" width="70%"></div>
    <div class="col-9 mt-3">

      <div class="row no-gutters px-1">
        <div class="col-12 text-right" style="position: absolute">
          <app-checkbox-field
            label="Adopted"
            id="adopted"
            formControlName="adopted"
            [isInvalid]="familyChildForm.get('adopted').invalid && familyChildForm.get('adopted').touched"
          >
          </app-checkbox-field>
        </div>
      </div>

      <div class="row no-gutters mt-3 px-1" *ngIf="persons.length">
        <div class="col-12">
          <app-select-multi-search-field
            bindValue="id"
            bindLabel="name"
            [formControlName]="'parents'"
            labelTitle="Parents"
            [isInvalid]="familyChildForm.get('parents').invalid && familyChildForm.get('parents').touched"
            [items]="persons"
          >
          </app-select-multi-search-field>
        </div>
      </div>

      <div class="row no-gutters mt-3">
        <div class="col-4 px-1">
          <app-input-field [formControlName]="'first_name'" id='first_name' label="First Name"></app-input-field>
          <div class="field-has-error"
               *ngIf="familyChildForm.get('first_name').invalid && familyChildForm.get('first_name').touched && familyChildForm.get('first_name')['errors']['required']"
          >
            First Name is required
          </div>
        </div>
        <div class="col-4 px-1">
          <app-input-field [formControlName]="'middle_name'" id='middle_name' label="Middle Name"></app-input-field>
        </div>
        <div class="col-4 px-1">
          <app-input-field [formControlName]="'last_name'" id='last_name' label="Last Name"></app-input-field>
        </div>
      </div>
      <div class="row no-gutters pt-2">
        <div class="col-4 px-1">
          <app-input-field [formControlName]="'legal_name'" id='legal_name' label="Legal Name"></app-input-field>
        </div>
        <div class="col-4 px-1">
          <app-input-field [formControlName]="'dob'" id='dob' label="Date of Birth"></app-input-field>
        </div>
        <div class="col-4 px-1">
          <app-input-field [formControlName]="'hebrew_dob'" id='hebrew_dob' label="Hebrew Date of Birth"></app-input-field>
        </div>
      </div>
      <div class="row no-gutters pt-2">
        <div class="col-4 px-1">
          <app-input-field [formControlName]="'full_hebrew_name'" id='full_hebrew_name'
                           label="Full Hebrew Name"></app-input-field>
        </div>
        <div class="col-4 d-flex justify-content-between align-items-center">
          <label class="app-radio-container ml-1 mb-0">Son
            <input type="radio"
                   [name]="'gender'"
                   [value]="GENDER.MALE"
                   [formControlName]="'gender'">
            <span class="app-radio-checkmark"></span>
          </label>
          <label class="app-radio-container ml-1 mb-0">Daughter
            <input type="radio"
                   [name]="'gender'"
                   [value]="GENDER.FEMALE"
                   [formControlName]="'gender'">
            <span class="app-radio-checkmark"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <!--<p class="app-text-small font-weight-bold mb-1 mt-3">JOB</p>-->
  <!--<div class="row no-gutters app-family-card-body p-3">-->
  <!--<div class="col-3 px-1">-->
  <!--<app-input-field [formControlName]="'occupation'" id='occupation' label="Occupation"></app-input-field>-->
  <!--</div>-->
  <!--<div class="col-3 px-1">-->
  <!--<app-input-field [formControlName]="'address'" id='address' label="Work Address"></app-input-field>-->
  <!--</div>-->
  <!--<div class="col-6 px-1">-->
  <!--<app-input-field [formControlName]="'corporate_phone'" id='corporate_phone'-->
  <!--label="Work Phone number"></app-input-field>-->
  <!--</div>-->
  <!--</div>-->

  <!--<p class="app-text-small font-weight-bold mb-1 mt-3">CONTACTS</p>-->
  <!--<div class="row no-gutters app-family-card-body p-3">-->
  <!--<div class="col-6 px-1">-->
  <!--<app-input-field [formControlName]="'contact_phone'" id='contact_phone' label="Phone number"></app-input-field>-->
  <!--</div>-->
  <!--<div class="col-6 px-1">-->
  <!--<app-input-field [formControlName]="'contact_email'" type='email' id='contact_email'-->
  <!--label="Email"></app-input-field>-->
  <!--</div>-->
  <!--</div>-->

  <div class="row pt-3">
    <div class="col-12 text-right">
      <button (click)="onCloseAddFamilyMemberModal()" class="btn app-btn-outline-primary mr-2">
        Cancel
      </button>
      <button type="submit" class="btn app-btn-primary" [disabled]="familyChildForm.invalid">
        Add Account
      </button>
    </div>
  </div>
</form>

