@import 'index';

:host {
  width: 100%;
  .header-line {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .text {
      font-style: normal;
      font: 800 18px/20px $nunito-sans;
    }
  }
  .search-wrap {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    .search {
      width: 100%;
      border-radius: 100px;
      height: 30px;
      padding: 8px 22px 8px 27px;
      border: 1px solid #CACACA;
      box-sizing: border-box;
      &:focus {
        border-color: #4350A2;
      }
    }
    .icon {
      width: 24px;
      height: 24px;
      position: absolute;
      left: 4px;
      top: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #A4A4A4;
      font-size: 14px;
    }
  }
  .section-wrap {
    padding: 25px;
    background-color: #fff;
    border-radius: 3px;
    margin-bottom: 10px;
    .section-title {
      text-align: center;
      letter-spacing: 0.22px;
      text-transform: uppercase;
      color: #909090;
      font: 400 13px/15px $nunito-sans;
      margin-bottom: 15px;
    }
    .section-main-text {
      text-align: center;
      font: 800 18px/20px $nunito-sans;
      margin-bottom: 30px;
    }
  }
  div.list-viewport {
    overflow: auto;
  }
  .list-viewport {
    width: 100%;
    min-height: 250px;
    max-height: 380px;
    border-radius: 3px;
    .list-item {
      padding: 10px;
      font: 800 12px/15px $nunito-sans;
      cursor: pointer;
      color: #0D0D0D;
      background: #FFFFFF;
      box-shadow: inset 0px -1px 0px rgba(67, 80, 162, 0.4);
      .item-title {
        display: flex;
        .action {
          margin-left: auto;
          i {
            color: #A4A4A4;
          }
        }
      }
      .splits {
        margin-top: 3px;
        font: 400 10px/13px $nunito-sans;
        color: #909090;
      }
      &:nth-child(odd) {
        background: #FAFAFA;
      }
      &.selected {
        background: #EBEEFF !important;
      }
    }
  }

  .lists-wrap {
    display: flex;
    padding: 15px 0;
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 3px;
    background: #fff;
    .list-wrap {
      &:not(:last-of-type) {
        border-right: 1px solid #CACACA;
      }
      .list-title {
        font: 800 11px/15px $nunito-sans;
        letter-spacing: 0.37px;
        text-transform: uppercase;
        margin-bottom: 10px;
      }
      .period-title {
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font: 800 9px/13px $nunito-sans;
        color: #0D0D0D;
        margin-bottom: 5px;
      }
    }
  }
  round-body {
    padding: 0;
    .add-button-wrap {
      margin-bottom: 10px;
      // display: flex;
      // flex-direction: row-reverse;
      // justify-content: flex-end;
    }
  }
  .rounds-table {
    width: 100%;
    .table-head {
      background: #E3E3E3;
      border-radius: 2px;
      th {
        padding: 10px;
        .text {
          text-transform: uppercase;
          font: 400 9px/13px $nunito-sans;
          letter-spacing: 0.3px;
          margin-right: 5px;
        }
      }
    }
    .table-body {
      .form-table-row {
        background: #FFF3DD;
        box-shadow: inset 0px -1px 0px rgba(67, 80, 162, 0.3);
        .form-wrap {
          padding: 25px;
          .section-title {
            color: #000;
            font: 800 11px/15px $nunito-sans;
            letter-spacing: 0.37px;
            text-transform: uppercase;
          }
          .section-content {
            margin-bottom: 25px;
            .input-m {
              padding-left: 5px;
              padding-right: 5px;
            }
            .input-m-r {
              padding-right: 5px;
            }
            .input-m-l {
              padding-left: 5px;
            }
            .type-wrap {
              border: 1px solid #E3E3E3;
              background: #fff;
              box-sizing: border-box;
              border-radius: 3px;
              padding: 15px;
              text-align: center;
              .icon-wrap {
                margin-bottom: 5px;
              }
              .content-mail {
                display: none;
                flex-flow: column nowrap;
                span.label {
                  text-align: start;
                }
                .select {
                  border: none;
                  background: inherit;
                  color: #4350A2;
                  font: 800 12px/15px $nunito-sans;
                  // pointer-events: none;
                }
                .select-icon {
                  color: #A4A4A4;
                }
              }
              &.selected {
                background: #F4F6FE;
                border: 1px solid #4350A2;
                min-height: 100%;
                .content-mail {
                  display: flex;
                }
              }
            }
          }
        }
      }
    }
  }
  .actions-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }





}