<ng-container *ngIf="true">
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
  >
    <input
      [formControlName]="field._id"
      mdInput
      type="text"
      class="app-input form-control"
      [ngClass]="{
        validation_required: isRequired(),
        validation_error: !!validationText,
        online_form: true,
        read_only: !isActive()
      }"
      [placeholder]="getLabel()"
    />
    <span
      class="error_icon"
      [ngClass]="{ validation_error: !!validationText }"
      (click)="validationText = ''"
    >
      <i class="fas fa-times fa-xs"></i>
    </span>

    <span
      class="validation_icon"
      [ngClass]="{
        validation_required: isRequired()
      }"
    >
      <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
