<div class="row no-gutters">
  <div class="col-6 p-3">
    <div class="app-form-table-block-wrapper p-3 h-100">
      <app-inside-account-communication></app-inside-account-communication>
    </div>
  </div>
  <div class="col-3 p-3">
    <div class="app-form-table-block-wrapper p-3 h-100">
      <app-inside-missing-fields></app-inside-missing-fields>
    </div>
  </div>
  <div class="col-3 p-3">
    <div class="app-form-table-block-wrapper p-3 h-100">
      <app-inside-form-history></app-inside-form-history>
    </div>
  </div>
</div>
<app-inside-form-documents></app-inside-form-documents>