<div class="upload-document-controls">
  <form class="upload-document-form" [formGroup]="formUpload">
    <div class="upload-document-form-button">
      <sw-input-file
        formControlName="upload"
        #file="upload"
        [data]="uploadDocumentData"
        preupload="/proxy/upload-reviews-form/upload/{{activeIdForm}}"
      >
        <sw-button (click)="file.openDialog()" [size]="sizeButton.FULL">Upload Document</sw-button>
      </sw-input-file>
    </div>
    <sw-dropdown-select [options]="documentTypes">
      <span>{{ this.uploadDocumentData.document_type }}</span>
    </sw-dropdown-select>
    <sw-dropdown-select [options]="documentStudent">
      <span>{{ this.uploadDocumentData.person_id }}</span>
    </sw-dropdown-select>
    <sw-dropdown-select [options]="documentAccount">
      <span>{{ this.uploadDocumentData.family_id }}</span>
    </sw-dropdown-select>
<!--    <div class="items-control">-->
<!--      <sw-button [style]="colors.WHITE">Bulk Download</sw-button>-->
<!--    </div>-->
  </form>
</div>
