<ng-container *ngIf="isBegan()">

  <div 
    class="d-flex flex-column app-div-animation"
    [ngClass]="{
      'app-div-show app-div-show--static': !isCompleted(),
      'app-div-hide app-div-hide--static': isCompleted()
    }"
  >
    <svg class="radial_progress" [attr.width]="cx * 2" [attr.height]="cy * 2">
      <circle class="incomplete" [attr.cx]="cx" [attr.cy]="cy" [attr.r]="radius"></circle>
      <circle class="complete" [attr.cx]="cx" [attr.cy]="cy" [attr.r]="radius" [style.strokeDashoffset]="dashoffset"></circle>
    </svg>
    <p class="percent_text">{{processPercent}}%</p>
  </div>
  
  <div 
    class="d-flex flex-column app-div-animation"
    [ngClass]="{
      'app-div-show app-div-show--static': isCompleted(),
      'app-div-hide app-div-hide--static': !isCompleted()
    }"
  >
    <i class="fas fa-check-circle status_icon"></i>
  </div>
    
</ng-container>
