<!--Section Header-->
<app-section-header [sectionName]="documentsForms.documents.sectionName"
  [sectionWidth]="documentsForms.documents.sectionWidth" [isExpand]="isExpand"
  (onChangeSectionName)="changeSectionName($event)" (onChangeSectionWidth)="changeSectionWidth($event)"
  (onToggleExpand)="toggleExpand()"></app-section-header>
<!--End Section Header-->

<!-- Section body -->
<div class="app-div-animation app-div-hide" [ngClass]="{
    'app-div-show': isExpand,
    'app-div-hide': !isExpand
  }">

  <div class="documents-item" *ngFor="let document of documents">
    <div class="row item-row justify-content-between">
      <div class="document-info align-items-center">
        <div class="document-name">
          <sw-input-text [(ngModel)]="document.name">
            <span class="placeholder">Document Name</span>
          </sw-input-text>
        </div>
        <div class="lable green" *ngIf="document.isPerFamily">
          Family
        </div>
        <div class="lable blue" *ngIf="!document.isPerFamily">
          Student
        </div>
      </div>
      <sw-button class="outline-btn">Add Specific Criteria</sw-button>
    </div>
    <div class="row item-row">
      <sw-input-textarea [(ngModel)]="document.accompanyingText.data">
        <span class="label">Text</span>
      </sw-input-textarea>
    </div>
    <div class="row item-row">
      <div class="file" *ngIf="!document?.isUpload">
        <div class="input">
          <span class="file-name">{{attachments[document.data]?.name}}</span>
          <div class="actions" style="margin-left: auto; width: fit-content;">
            <sw-icon-button (click)="openForPreview(document)" icon="fa-eye"></sw-icon-button>
            <sw-icon-button (click)="deleteAttachment(document)" icon="fa-trash"></sw-icon-button>
          </div>
          <input #fileInput type="file" accept=".pdf,.doc,.docx,.jpg" (change)="fileChange($event, document)" hidden />
        </div>
        <sw-button class="icon-btn full rigth" (click)="focusInput(fileInput)">
          <i class="fas fa-sliders-h"></i>
        </sw-button>
      </div>
      <div class="actions" style="margin-left: auto;">
        <sw-button *ngIf="!document?.isUpload; else uploadDocument">
          Download Document
        </sw-button>
        <ng-template #uploadDocument>
          <sw-button>
            Upload Document
          </sw-button>
          <sw-icon-button icon="fa-file-alt" (click)="openFormatsPop(document)"></sw-icon-button>
        </ng-template>
      </div>
    </div>
  </div>

  <ng-template #formatsOptions>

    <div class="dialog_container">
      <div class="dialog_container__header">
        <span class="text">Delete Confirmation Required</span>
        <div class="icon" (click)="closePop()">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="dialog_container__body">
        <div class="item row">
          <div class="col-4 lable">
            <sw-input-toggle [(ngModel)]="docs">
              <span class="label">Documents</span>
            </sw-input-toggle>
          </div>
          <div class="col-8 inputs" *ngIf="docs">
            <div class="col-3 input" *ngFor="let item of documentsFormats">
              <sw-input-checkbox [(ngModel)]="item.value" (ngModelChange)="formatChange(item.title, item.value)">
                <span class="label">{{item.title}}</span>
              </sw-input-checkbox>
            </div>
          </div>
        </div>
        <div class="item row">
          <div class="col-4 lable">
            <sw-input-toggle [(ngModel)]="images">
              <span class="label">Images</span>
            </sw-input-toggle>
          </div>
          <div class="col-8 inputs" *ngIf="images">
            <div class="col-3 input" *ngFor="let item of imgFormats">
              <sw-input-checkbox [(ngModel)]="item.value" (ngModelChange)="formatChange(item.title, item.value)">
                <span class="label">{{item.title}}</span>
              </sw-input-checkbox>
            </div>
          </div>
        </div>
        <div class="item row">
          <div class="col-4 lable">
            <sw-input-toggle [(ngModel)]="audio">
              <span class="label">Audio/Video</span>
            </sw-input-toggle>
          </div>
          <div class="col-8 inputs" *ngIf="audio">
            <div class="col-3 input" *ngFor="let item of audiovideoFormats">
              <sw-input-checkbox [(ngModel)]="item.value" (ngModelChange)="formatChange(item.title, item.value)">
                <span class="label">{{item.title}}</span>
              </sw-input-checkbox>
            </div>

          </div>
        </div>
      </div>
    </div>

  </ng-template>


</div>