@import 'index';

:host {
  .documents-item {
    border-radius: 3px;
    background: #FFFFFF;
    padding: 15px 15px 10px 45px;
    margin-bottom: 10px;
    &:last-of-type {
      margin-bottom: 30px;
    }
    .item-row {
      margin: 0 0 10px;
      .document-info {
        display: flex;
        width: 60%;
        .document-name {
          width: 80%;
          margin-right: 15px;
        }
        .lable {
          border-radius: 100px;
          padding: 1px 10px;
          font: 800 10px/13px $nunito-sans;
          text-align: center;
          &.green {
            background: #D0F1E3;
            color: #3CA476;
          }
          &.blue {
            background: #DAEEFE;
            color: #45ABF8;
          }
        }
      }
      sw-input-textarea {
        width: 100%;
      }
      .file {
        width: 75%;        
        display: flex;
        flex-flow: row nowrap;
        .input {
          width: 100%;
          height: 100%;
          display: flex;
          flex-flow: row nowrap;
          padding: 10px 15px 10px 10px;
          background: #F3F3F3;
          border: 1px solid #E3E3E3;
          box-sizing: border-box;
          border-radius: 3px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          .file-name {
            color: #151515;
            font: 800 12px/15px $nunito-sans;
          }
        }
        sw-button {
          height: 100%;
          width: 35px;
        }
      }
      .actions {
        margin-left: auto;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        sw-icon-button {
          margin-left: 10px;
        }
      }
    }
    .form-actions {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.dialog_container {
  width: 570px;
  padding: 20px;
  &__header {
    display: flex;
    margin-bottom: 20px;
    position: relative;
    .text {
      font: 800 18px/20px $nunito-sans;
    }
    .icon {
      position: absolute;
      top: -3px;
      right: 0;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #909090;
      i { font-size: 20px; }
    }
  }
  &__body {
    .item {
      margin: 0;
      padding: 15px;
      background: #F3F3F3;
      border: 1px solid #E3E3E3;
      box-sizing: border-box;
      border-radius: 3px;
      &:not(:last-of-type) { margin-bottom: 5px; }
      .lable {
        padding-left: 0;
        border-right: 1px solid #CACACA;
      }
      .inputs {
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        margin: -10px 0;
        .input {
          margin: 10px 0;
          justify-content: flex-start;
        }
      }
    }
    .text {
      font: 400 12px/15px $nunito-sans;
      text-align: center;
      margin-bottom: 20px;
      .field-name {
        margin: 0;
        color: #4350A2;
        text-transform: uppercase;
        font-weight: 800;
      }
    }
    .chips {
      font: 800 12px/15px $nunito-sans;
      margin-bottom: 20px;
    }
    .confirm-text {
      font: 400 12px/15px $nunito-sans;
      text-align: center;
      margin-bottom: 20px;
      .field-name {
        margin: 0;
        color: rgb(255, 153, 37);
        text-transform: uppercase;
        font-weight: 800;
      }
    }
    .input {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
      sw-input-text { width: 50%; }
    }
  }
}


a, .fas {
  cursor: pointer;
}

a.active {
  color: #4350A2;
  font-weight: bold;

}

.bold-for-a {
  font-weight: bold;
}

.italic-for-a {
  font-style: italic;
}
textarea.app-consent-table{
  width: 96.3%;
}
.app-consent-table {
  border: 1px solid #B6B6B6;
  border-radius: 5px;
}

.app-consent-text {
  padding: 0 5.3em;
}

.app-btn-accept {
  height: 30px;
  width: 117px;
  border-radius: 3px;
  background-color: #4350A2;
}

.app-consent-section {
  background-color: #9FA6CB;
  /*height: 60px;*/
}

.app-consent-icon {
  color: white;
  cursor: pointer;
}
.badge-success{
  background-color: #3CA476;
}
.download-div{
  background-color: #F2F2F2;
  //height: 31px;
}
a{
  color: #151515;
  font-weight: bold;
}
.fa-trash,.fa-eye{
  color: $icon-grey-color;
}
.fa-paperclip{
  color: white;
}
.download-paperclip-div{
  background-color: #4350A2;
  //height: 31px;

}
.d-u-button{
  background-color: $element-base-color;
  color: white;
}
.fa-upload{
  color: $element-base-color;
}

.dropdown-menu{
    height: 156px;
    width: 654px;
    border: 2px solid #F6F6F6;
    border-radius: 3px;
  box-shadow: inset 0 -1px 0 0 #D8D8D8;
}

.dropdown-toggle::after {
  display:none;
}
.dropdown-div{
  height: 140px;

}
a.active{
  color: #4350A2;
  font-weight: bold;

}
.bold-for-a{
  font-weight: bold;
}

.italic-for-a{
  font-style: italic;
}
