.app-period {

  padding: 30px;

  .app-period-header {
    color: #151515;
    font: 800 17px/20px 'NunitoSans-Bold';
    letter-spacing: 0.2px;
    text-transform: uppercase;
  }

  .app-period-container {
    display: flex;
    justify-content: space-between;
  }

  .app-period-left-panel {
    width: 320px;
  }

}
