<div class="app-period">
  <app-period-page-header
    [titleHeader]="'Period Management'"
    [link]="'/period/create'"
    [isBackArrowEnable]="false"
    [buttonText]="'Add Period'"
  ></app-period-page-header>

  <h1>Periods</h1>

  <button routerLink="/period/create">Create Period</button>

  <div class="app-period__content">
    <div class="app-period__header">
      <h2 class="app-period__header--text">List of Periods</h2>
      <div class="app-period__header--search">Search</div>
    </div>
    <app-period-table [periods]="periods"></app-period-table>
  </div>
</div>
