@import '../../../styles/variables/colors';

.app-period {
  margin: 0 15px;

  .app-period__header-page {
    height: 60px;
    display: flex;

    .app-period__header-page--text {
      margin: auto 0;
      font: 800 18px/20px 'NunitoSans-Bold';
    }

    .app-period__header-page__button-container {
      display: flex;
      justify-content: flex-end;
      flex-grow: 1;

      .app-period__header-page__button {
        width: 118px;
        height: 30px;
        margin: auto 0;
        font: 800 12px/15px 'NunitoSans-Bold';
        background-color: $purple;
        color: white;
        border-radius: 3px;
        align-items: center;
        vertical-align: middle;
      }

      .app-period__header-page__button:hover {
        background-color: $hover-purple;
      }
    }
  }

  .app-period__content {
    padding: 15px;
    background-color: white;
  }

  .app-period__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px 0;

    .app-period__header--text {
      font: 800 13px/15px 'NunitoSans-Bold';
      text-transform: uppercase;
      margin: 0;
    }
  }

  .app-period__table {
    width: 100%;

    .app-period__cell--name {
      width: 20%;
    }

    .app-period__cell--date,
    .app-period__cell--duration {
      width: 8%;
    }

    .app-period__cell--type {
      width: 26%;
    }

    .app-period__cell--edit {
      width: 30%;
    }

    .app-period__cell--split-sets {

    }
  }
}
