<div class="app-period">
  <div class="app-period__header-page">
    <h2 class="app-period__header-page--text">Period Management</h2>
    <div class="app-period__header-page__button-container">
      <button class="app-period__header-page__button" type="button" (click)="onAddPeriod()">
        Create Period
      </button>
    </div>
  </div>

  <div class="app-period__content">
    <div class="app-period__header">
      <h2 class="app-period__header--text">List of Periods</h2>
      <div class="app-period__header--search">Search</div>
    </div>
    <app-period-table [periods]="periods"></app-period-table>
  </div>
</div>
