@import "index";

:host {
  .consent-item {
    display: flex;
    min-height: 226px;
    padding: 15px 15px 15px 0;
    margin: 0 0 10px;
    background: #fff;
    border-radius: 3px;

    &:nth-last-of-type(1) {
      margin: 0 0 20px;
    }

    &__bubbles {
      display: flex;
      width: 50px;
      padding: 8px 0 0;
    }

    &__bubbles-ico {
      margin: 0 auto;
      color: $status-gray;
      font-size: 18px;
    }

    &__fields {
      flex-grow: 2;
    }

    &__fields-name {
      width: 45%;
      margin: 0 0 10px;
    }

    &__fields-text {
      width: 100%;
      margin: 0 0 5px;
    }

    &__fields-signatures {
      display: flex;
    }

    &__fields-signature {
      width: 23%;
      margin: 0 10px 0 0;
    }

    &__fields-button {
      display: flex;
      justify-content: flex-end;
    }

    &__fields-checkbox-container {
      position: relative;
      margin: 0 0 10px;
    }

    &__fields-checkbox {
      position: absolute;
      left: -31px;
      top: 10px;
    }
  }

}

a {
  cursor: pointer;
}

a.active {
  color: #4350A2;
  font-weight: bold;

}

.bold-for-a {
  font-weight: bold;
}

.italic-for-a {
  font-style: italic;
}

.app-consent-table {
  border: 1px solid #B6B6B6;
  border-radius: 5px;
}

.app-consent-text {
  padding: 0 5.3em;
}

.app-btn-accept {
  background-color: $element-base-color;
  color: #ffffff;
  border-radius: 3px;
}
/** 
FIXME:
*/
.app-consent-dropdown-var {
  background-color: $element-base-color;
  border-radius: 50%;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.app-consent-dropdown-var:after {
  display: none;
}

.app-consent-dropdown-var-item {
  border-radius: 3px;
  background-color: #EBEEFF;
  cursor: pointer;
}

.app-consent-var-item {
  //border-radius: 3px;
  //background-color: red;
  color: red;
}
.command_arrows {
  color: $white;
  background-color: $element-base-color;
  border-radius: 50%;
}

/**/