<!--Section Header-->
<app-section-header [sectionName]="consentInfo.sectionName" [sectionWidth]="consentInfo.sectionWidth"
  [isExpand]="isExpand" (onChangeSectionName)="changeSectionName($event)"
  (onChangeSectionWidth)="changeSectionWidth($event)" (onToggleExpand)="toggleExpand()"></app-section-header>
<!--End Section Header-->

<div *ngIf="isExpand" cdkDropList (cdkDropListDropped)="drop($event)">

  <div class="consent-item" *ngFor="let item of consentInfo.consents; let i = index" cdkDrag>
    <div class="consent-item__bubbles">
      <i class="fas fa-grip-vertical consent-item__bubbles-ico"></i>
    </div>
    <div class="consent-item__fields">
      <div class="consent-item__fields-name">
        <sw-input-text [(ngModel)]="item.title">
          <span class="placeholder">Title</span>
        </sw-input-text>
      </div>
      <div class="consent-item__fields-text">
        <sw-input-textarea [(ngModel)]="item.text.value">
          <span class="label">Text</span>
        </sw-input-textarea>
      </div>
      <div *ngIf="item.checkbox.isActive" class="consent-item__fields-checkbox-container">
        <div class="consent-item__fields-checkbox">
          <sw-input-checkbox [(ngModel)]="item.checkbox.checked"></sw-input-checkbox>
        </div>
        <sw-input-text [(ngModel)]="item.checkbox.text">
          <span class="placeholder">Checkbox Text</span>
        </sw-input-text>
      </div>
      <ng-container *ngIf="item.signature.isRequire">
        <div *ngIf="item.signature.isBothParents" class="consent-item__fields-signatures">
          <div class="consent-item__fields-signature">
            <sw-input-textarea>
              <span class="label">Father's signature</span>
            </sw-input-textarea>
          </div>
          <div class="consent-item__fields-signature">
            <sw-input-textarea>
              <span class="label">Mother's signature</span>
            </sw-input-textarea>
          </div>
        </div>
        <div *ngIf="!item.signature.isBothParents" class="consent-item__fields-signatures">
          <div class="consent-item__fields-signature">
            <sw-input-textarea>
              <span class="label">Parents's signature</span>
            </sw-input-textarea>
          </div>
        </div>
      </ng-container>

      <div *ngIf="item.button.isActive" class="consent-item__fields-button">
        <sw-input-text [(ngModel)]="item.button.text" [style]="'button_type'"></sw-input-text>
      </div>
    </div>
  </div>
</div>
