<nav class="navbar navbar-default form-inline">
  <div class=" form-inline">
    <div class=" form-group col-md-2 ">
      <!--<button (click)="cancel()" class="btn btn-default navbar-btn " routerLink="/generalinfo">-->
      <button  class="btn btn-default navbar-btn " (click)="goBack()"><<
        <span>Return</span>
      </button>
    </div>
    <div class="form-group col-md-2 col-md-offset-3">
      <h3 class="">Form viewer</h3>
    </div>
    <div class=" form-group col-md-offset-4">
      <button class="btn  btn-default navbar-btn " (click)="sendForm()" >Save form
        <span></span>
      </button>
    </div>
  </div>
</nav>





<div class="workplace col-md-7 col-lg-offset-3">
  <h2>{{name}}</h2>
  <form>
    <div
      class=" example-list container-fluid view-form">
      <div *ngFor="let item of fields  " >
          <app-form-view-conteiner class="col-md-{{item.options.size}}"    [field]="item"></app-form-view-conteiner>
      </div>
    </div>
  </form>

</div>
