
<nav class="navbar navbar-light bg-white">
  <form class="form-inline">

    <button  type="button" class="btn btn-secondary text-uppercase form-control" (click)="goBack()">Back </button>
    <!--<span class="navbar-brand-light form-control "> Form Builder</span>-->
    <div  class="justify-content-end">
      <button  type="button" class="btn btn-success text-uppercase "  (click)="sendForm()" >Save form</button>
    </div>
  </form>
  <div class="justify-content-center">
    <h3 class="">Form viewer</h3>
  </div>
</nav>




<div class="workplace container">
  <form>
    <div
      class=" example-list container-fluid view-form">
      <h2>{{name}}</h2>
      <div class="row">
      <div *ngFor="let item of fields  " class="col-{{item.options.size}}" >
          <app-form-view-conteiner    [field]="item"></app-form-view-conteiner>
      </div>
    </div>
    </div>
  </form>

</div>
