@import "../../../../../../styles/variables/colors";
.app-form-publish-menu-item {
  cursor: pointer;
  color: #909090;
}

.app-form-publish-menu-item-active {
  color: $element-base-color;
  background-color: #ebeeff;
  font-family: "NunitoSans-ExtraBold";
}

.switch_label {
  margin-bottom: 0;
  cursor: pointer;
}
