<ng-container *ngIf="true">
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
  >
    <!-- TODO: after Long-text will be -->
    <!-- sw-input-textarea -->
    <!-- <sw-input-textarea
      class="online_form"
      [ngClass]="{
        validation_error: !!validationText
      }"
      [formControlName]="field._id"
      [rows]="getRows()"
      [cols]="getCols()"
    >
      <span class="input_label">{{ getLabel() }}</span>
    </sw-input-textarea> -->
    <sw-input-text
      class="online_form"
      [ngClass]="{
        validation_error: !!validationText
      }"
      [formControlName]="field._id"
    >
      <span class="placeholder">{{ getLabel() }}</span>
    </sw-input-text>

    <span
      class="error_icon"
      [ngClass]="{ validation_error: !!validationText }"
      (click)="validationText = ''"
    >
      <i class="fas fa-times fa-xs"></i>
    </span>

    <span
      class="validation_icon"
      [ngClass]="{
        validation_required: isRequired()
      }"
    >
      <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
