<div *ngIf="showModal">
  <app-family-add-member-modal (closeModalAddFamilyMember)="onCloseAddFamilyMemberModal($event)">
  </app-family-add-member-modal>
</div>

<div class="row align-bottom">
  <!--Title-->
  <div class="col-6 d-flex align-items-end">
    <p class="font-weight-bold mb-0">{{familyName | uppercase}} MEMBERS</p>
  </div>
  <!--Search Filter-->
  <div class="col-sm-6">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10 d-flex justify-content-end">
        <app-search-field [ngModel]="searchQuery" (ngModelChange)="setSearchQuery($event)" type="gray" class="mr-3"></app-search-field>
        <app-search-filter-btn class="mr-3"></app-search-filter-btn>
        <button class="btn app-btn-primary" (click)="onShowAddFamilyMemberModal()">Add Member</button>
      </div>
    </div>
  </div>
</div>

<!--Tabs-->
<div class="row pt-2">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light bg-white p-0">
      <div class="collapse justify-content-left navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item" *ngFor="let item of familyViewGeneralTabs">
            <a class="nav-link app-nav-link"
               [ngClass]="{'app-nav-link-active' : activeTab===item.name}"
               (click)="setActiveTab(item.name)">
              {{item.name | titlecase}}
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>




