@import 'index';

.upload-review-form-footer {
  display: flex;
  justify-content: space-between;
  height: 42px;
  padding: 6px 15px;
  background: $table-row-odd-background-color;
}

.prev,
.next {
  display: flex;
  width: 50%;

  .container {
    display: flex;
    padding: 0;

    .text-row {
      margin: auto 0;
      max-width: 350px;
      white-space: nowrap;
      overflow: hidden;

      .text-row-container {
        display: flex;
      }

      .name {
        min-height: 15px;
        margin: 0 0 1px;
        font: 800 12px/15px $nunito-sans;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .document-name {
        margin: auto 6px auto 0;
        font: 800 10px/13px $nunito-sans;
        color: $gray-color;
        text-overflow: ellipsis;
        overflow: hidden;
      }

    }
  }

  .button-container {
    display: flex;
  }

  .button {
    margin: auto;
  }
}

.next {
  .container {
    justify-content: flex-end;
    margin: 0 10px 0 0;
  }
}

.prev {
  .button-container {
    margin: 0 10px 0 0;
  }
}

.button-icon::ng-deep button.button {
  padding: 3px 8px;
}

.button-icon-size {
  font-size: 16px;
}
