<ng-container *ngIf="true">
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': !field.options.hideLabel }"
  >
    <label *ngIf="!field.options.hideLabel" class="app-input-label">
      {{ field.name | titlecase }}
    </label>

    <select
      [formControlName]="field._id"
      class="app-input form-control"
      [ngClass]="{ validation_error: !!validationText }"
    >
      <option [ngValue]="undefined" selected>{{ field.name }}</option>
      <option *ngFor="let item of field.options.items || list" [ngValue]="item">
        {{ item }}
      </option>
    </select>
    <span class="error_icon" [ngClass]="{ validation_error: !!validationText }">
      <i class="fas fa-times fa-xs"> </i>
    </span>

    <app-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></app-error-list>
  </div>
</ng-container>
