<ng-container *ngIf="field._id; else isHasNotId">
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': value && !field.options.hideLabel }"
  >
    <label *ngIf="!field.options.hideLabel" class="app-input-label">
      {{ field.name | titlecase }}
    </label>

    <select
      [formControlName]="field._id"
      class="app-input form-control"
      [ngClass]="{ validation_error: !!validationText }"
    >
      <option [selected]="value === field.name || value === ''" [ngValue]="field.name">{{ field.name }}</option>
      <option
        *ngFor="let item of field.options.items || list"
        [ngValue]="item"
      >
        {{ item }}
      </option>
    </select>
    <span class="error_icon" [ngClass]="{ validation_error: !!validationText }">
      <i class="fas fa-times fa-xs"> </i>
    </span>

    <app-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></app-error-list>
  </div>
</ng-container>

<ng-template #isHasNotId>
  <p>Drop Down List Field has not '_id'</p>
  <pre>{{ field | json }}</pre>
</ng-template>
