<div class="app-section-settings-section p-3">

  <div class="row mb-2 mt-1">
    <div class="col-sm-4">
      <span class="app-text-extra-bold app-text-large">Section Setting</span>
    </div>
    <div class="col-sm-4">
      <span class="app-text-extra-bold app-text-large">Section Conditional Logic</span>
    </div>
    <div class="col-sm-4 text-right">
      <button class="btn app-btn-outline-primary">
        Save Section Settings as a Preset
      </button>
    </div>
  </div>


  <div class="row">
    <div class="col-4">
      <div class="settings-div p-3 pt-4 h-100">
        <app-v-section-setting-options [section]="section"></app-v-section-setting-options>
      </div>
    </div>


    <div class="col-8">
      <div class="settings-div row no-gutters h-100">
        <div class="col border-right p-3">
          <div class="row  mb-2 align-items-center">
            <div class="col">
              <span class="span-text  app-text-extra-bold ">CONDITIONAL LOGIC</span>
            </div>
            <div class="col-3 ">
              <span class=""><i class="fas fa-plus-square fa-xs"></i></span>

              <span><i class="fas fa-trash app-text-second fa-xs pl-2 "></i></span>
            </div>
          </div>

          <div class="row align-items-center">
            <div class="col-7">
              <app-select-field [items]="conditLogic"></app-select-field>
            </div>
            <div class="col"><span>this field when</span></div>
          </div>
          <div class="row align-items-center mt-2">
            <div class="col-4">
              <app-input-field></app-input-field>
            </div>
            <div class="col j"><span>of the following rules match</span></div>
          </div>
          <div class="row align-items-center no-gutters mt-2">
            <div class="col-10  bg-white p-2">
              <app-select-field [items]="customFieldsName" class=""></app-select-field>

            </div>
            <div class="col-1 offset-1">
              <span><i class="fas fa-trash app-text-second fa-xs pl-2 "></i></span>

            </div>
          </div>
          <div class="row align-items-center no-gutters">
            <div class="col-5  bg-white p-2">
              <app-input-field class=""></app-input-field>

            </div>
            <div class="col-5  bg-white p-2">
              <app-input-field class=""></app-input-field>

            </div>
            <div class="col-1 offset-1">
              <span><i class="fas fa-plus app-text-second fa-xs pl-2 "></i></span>

            </div>
          </div>
        </div>
        <div class="col p-3">
          <button class=" btn app-btn-primary form-control mt-2">Add Logic Builder</button>
        </div>
      </div>
    </div>


  </div>

</div>
