<div class="app-section-settings-section">
  <div class="row">
  <div class="col-4">
     <div class="mt-4 mb-1 ">
       <span class="app-text-extra-bold">Section Setting</span>
     </div>
    <div class="settings-div">
      <div class="p-3">
        <app-input-field [label]="settingsLabel"></app-input-field>
        <app-toggle-checkbox-field [label]="settingsLabel"></app-toggle-checkbox-field>
      </div>
    </div>
  </div>



  <div class="col-8">
    <div class="mt-4 mb-1">
      <span class="app-text-extra-bold">Section Conditional Logic</span>
    </div>
  </div>


  </div>

</div>
