@import '../../../../../../../../../styles/variables/colors';

.app-section-settings-section {
  background-color: white;
  height: 339px;
  border: 1px solid $element-base-color;
  border-radius: 0 0 5px 5px;
}


.settings-div{
  height: 272px;		border-radius: 3px;	background-color: #F6F6F6;
}
