@import "./root-styles.scss";

.app-div-animation {
  transition: all 0.5s ease-in-out;
  position: relative;
}

@keyframes prettyShow {
  0% {
    display: flex;
    top: 0;
    opacity: 0;
    max-height: 0;
  }
  80% {
    max-height: 70rem;
  }
  100% {
    opacity: 1;
  }
}

@keyframes prettyHide {
  0% {
    display: flex;
    opacity: 1;
    top: 0;
    max-height: 1000rem;
  }
  20% {
    max-height: 70rem;
  }
  50% {
    opacity: 0;
    top: 0;
    max-height: 0;
  }
  99% {
    display: flex;
  }
  100% {
    display: none;
    top: -10000vh;
  }
}

.app-div-show {
  animation: prettyShow 900ms ease-in-out;
  display: block;
  opacity: 1;
  max-height: 1000rem;
  visibility: visible;
  top: 0;

  &--static {
    animation: 600ms ease-in-out;
  }

  ::nth-child(&) {
    opacity: 1;
    max-height: 1000rem;
    top: 0;
  }
}

.app-div-hide {
  animation: prettyHide 1200ms ease-in-out;
  display: none;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  top: -10000vh;

  &--static {
    animation: 600ms ease-in-out;
    top: 0;
  }

  ::nth-child(&) {
    opacity: 0;
    max-height: 0;
    top: 0;
  }
}

.content_section {
  align-items: stretch;
  border-radius: 0.5rem;
  display: flex;
  background-color: $background-semi-wrap-color;
  padding: 1.7rem 2rem;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0 0.15rem 1rem 0 rgba(0, 0, 0, 0.1);

  &__container_page_title {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__main_container {
    background-color: $background-semi-wrap-color;
    padding: 1.7rem 2rem;
  }

  &__page_title {
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 1.5rem;
    padding-left: 0.85rem;
    padding-right: 0.85rem;
    text-align: center;
    margin-bottom: 0.5rem;

    background: -webkit-linear-gradient(transparent 50%, #ffc244a6 50%);
    background: -moz-linear-gradient(transparent 50%, #ffc244a6 50%);
    background: -ms-linear-gradient(transparent 50%, #ffc244a6 50%);
    background: linear-gradient(transparent 50%, #ffc244a6 50%);
  }

  &__section_title {
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 1rem;
    line-height: 1.75;
    margin-bottom: 1.25rem;
    padding-left: 0.85rem;
    padding-right: 0.85rem;
    text-align: center;
    text-transform: uppercase;
  }

  // &__page_sub_title {
  //   color: $gray-color;
  //   font-family: Nunito Sans;
  font-weight: 400;
  //   font-size: 0.85rem;
  //   text-align: center;
  //   margin-bottom: 0.2rem;
  // }

  &__nav {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  &__main {
    align-items: stretch;
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.75rem;

    &--center {
      align-items: center;
    }
  }

  &__article_title {
    font-family: Nunito Sans;
    font-weight: 900;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;

    &--left {
      text-align: left;
    }

    &--additional-color {
      color: $element-additional-color;
    }
  }

  &__main_list_item {
    background-color: $white;
    border-bottom: 1px solid #e7e7ec;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    padding: 1.5rem;

    &--active {
      border: 1px solid $orange-fill-color;
      border-radius: 0.5rem;
      margin-bottom: 1rem;
    }
  }

  // &__article_sub_title {
  //   color: $gray-color;
  //   font-family: Nunito Sans;
  font-weight: 400;
  //   font-size: 0.85rem;
  //   text-align: center;
  //   margin-bottom: 0.5rem;
  //   margin-top: 0.5rem;
  // }

  &__article {
    border: 0.1rem #ccc solid;
    border-radius: 0.4rem;
    display: flex;
    font-size: 1rem;
    justify-content: center;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
    max-width: 615px;
    min-width: 20rem;
    padding: 1rem;
    width: auto;
  }

  &__article_text {
    text-align: justify;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;

    &--center {
      text-align: center;
    }
  }

  &__additional_fields {
    width: 100%;
    max-width: 615px;
    min-width: 20rem;
  }

  &__controls_container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 1.5rem;
  }

  &__button {
    padding: 0.5rem 1.5rem;
  }

  &__inputs_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    // padding: 1rem;
    padding: 0;
  }

  &__textarea {
    background-color: $input-background-color;
    margin: 1rem;
    max-width: 30rem;
    min-width: 20rem;
    padding: 0.2rem;

    &:disabled {
      background-color: $input-background-color;
    }

    &::placeholder {
      padding: 0.5rem 1rem;
    }
  }

  &__checkbox_container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

  &__checkbox {
    display: none;
    opacity: 0;
    position: absolute;

    &:disabled {
      background-color: $input-background-color;
    }
  }

  &__checkbox_label {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    margin: 0;
    outline: 0 transparent solid;
    padding-bottom: 1rem;
    padding-left: 0;
    padding-right: 2rem;
    padding-top: 1rem;
    position: relative;
  }

  &__checkbox_checkmark {
    background-color: $input-background-color;
    cursor: pointer;
    position: relative;
    margin-right: 1rem;
    min-width: 1rem;
  }
}

.spinner_box {
  align-items: stretch;
  display: flex;
  position: absolute;
  // min-height: 90vh;
  // min-width: 90vw;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.sub_title {
  color: $gray-color;
  font-family: Nunito Sans;
  font-weight: 400;
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 0.5rem;
}
