@import "colors.scss";
@import "text.scss";
@import "extend/elements.scss";

:host([disabled]) {
  cursor: default !important;
  span {
    color: $grey;
    &.checked {
      color: $grey;
    }
  }
}

:host {
  display: inline-flex;
  cursor: pointer;
  height: 15px;
  user-select: none;
  
  input {
    appearance: none;
    background-color: $white;
    border: 1px solid $primary-color;
    border-radius: 3px;
    box-sizing: border-box;
    color: $primary-color;
    cursor: inherit;
    margin: 0;
    padding: 0;
    position: relative;
    width: 15px;
    height: 15px;
    &:checked {
      background-image: url('/assets/images/icons/check.svg');
      background-repeat: no-repeat;
      background-position: center;
      &:not(:disabled) {
        background-color: $primary-color;
      }
      
    }
    &:not(:checked):indeterminate {
      border-radius: 2px;
      // background-color: $white;
      border-color: $primary-color;
      border-width: 3px;
      border-top-width: 7px;
      border-bottom-width: 6px;
    }
    &:disabled {
      border-color: $grey;
      background-color: $white;
      &:checked {
        background-color: $grey;
      }
    }
  }
  span {
    @include body-text-400;
    color: $black-2;
    &:not(:empty) {
      margin-left: 10px;
    }
    &.checked {
      @include body-text-700;
    } 
  }
}

:host(.online_form) {
  label {
    padding-left: 0.5rem;
  }
}

:host(.circle) {
  .checkbox {
    input[type=checkbox] {
      border-radius: 50%;
    }
  }
}
