<app-data-table-header-title [title]="col.title" [isSort]="col.sort"
                        (sortFilter)="changeSort($event)"></app-data-table-header-title>
<div class="filter-text-container">
  <i *ngIf="!value" class="fas fa-search fa-sm app-text-second filter-text-search-icon"></i>
  <i *ngIf="value" class="fas fa-times fa-xs app-text-danger filter-text-search-icon app-cursor-pointer" (click)="cancelSearch()"></i>
  <input class="form-control app-input-search h-75 py-1"
         type="text"
         [(ngModel)]="value"
         (input)="sendData()"
         [disabled]="!col.search">
</div>
