@import "index";

.input_toggle {
  display: flex;
  align-items: center;
  margin: 0;
  cursor: pointer;
  #input_toggle {
    display: none;
    &:checked {
      & + .input_toggle__slider {
        background-color: $light-purple;
        &:before {
          transform: translateX(14px);
        }
      }
    }
  }
  &__slider {
    width: 30px;
    height: 12px;
    display: inline-block;
    position: relative;
    border: 1px solid $medium-purple;
    box-sizing: border-box;
    cursor: pointer;
    transition: .4s;
    margin-right: 10px;
    &:before {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      top: -2px;
      background: $element-base-color;
      transition: .4s;
    }
    &.round {
      border-radius: 100px;
      &:before {
        border-radius: 50%;
      }
    }
    & + .label {
      font-family: $nunito-sans-regular;
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0.37px;
      color: $black;
    }
  }
}
