<ng-container *ngIf="!!field">
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': !field.options.hideLabel }"
  >
    <sw-dropdown-input
      [formControlName]="field._id"
      [multiple]="isMultiple(field)"
      [options]="
        field.options && field.options.fieldOptions
          ? field.options.fieldOptions
          : list
      "
      [ngClass]="{
        validation_required: isRequired(),
        validation_error: !!validationText,
        online_form: true,
        read_only: !isActive()
      }"
      [isActive]="isActive()"
    >
      <span *ngIf="!field.options.hideLabel" class="label">
        {{ getLabel() }}
      </span>
    </sw-dropdown-input>
    <span
      class="error_icon"
      [ngClass]="{ validation_error: !!validationText }"
      (click)="validationText = ''"
    >
      <i class="fas fa-times fa-xs"> </i>
    </span>

    <span
      class="validation_icon"
      [ngClass]="{
        validation_required: this.field.options.required && !isActive()
      }"
    >
      <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
