<ng-container *ngIf="!!field">
  {{ field.options.multiple }}
  <div
    class="form-group app-input-container position-relative"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': !field.options.hideLabel }"
  >
    <!-- <label *ngIf="!field.options.hideLabel" class="app-input-label">
      {{ field.name | titlecase }}
    </label> -->

    <sw-dropdown-input
      [formControlName]="field._id"
      [multiple]="
        (field.options && field.options.multiple) ||
        field.mapped == 'parent_marital_status'
          ? true
          : false
      "
      [options]="
        field.options && field.options.items ? field.options.items : list
      "
      [ngClass]="{
        validation_required: this.field.options.required,
        validation_error: !!validationText
      }"
    >
      <span *ngIf="!field.options.hideLabel" class="placeholder">
        {{ field.name | titlecase }}
      </span>
    </sw-dropdown-input>
    <!-- <select
      [formControlName]="field._id"
      class="app-input form-control"
      [ngClass]="{ 
        validation_required: this.field.options.required,
        validation_error: !!validationText
      }"
    >
      <option [ngValue]="undefined" selected>{{ field.name }}</option>
      <option *ngFor="let item of field.options.items || list" [ngValue]="item">
        {{ item }}
      </option>
    </select> -->
    <span
      class="error_icon"
      [ngClass]="{ validation_error: !!validationText }"
      (click)="validationText = ''"
    >
      <i class="fas fa-times fa-xs"> </i>
    </span>

    <span
      class="validation_icon"
      [ngClass]="{ validation_required: this.field.options.required }"
    >
      <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
