@import '../../../../../styles/variables/index';
.app_layout_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .app_layout_container {
        flex-direction: row;
        justify-content: flex-start;
        
    }
}

.main-container {
    position: relative;
    flex-grow: 1;
}

.main-container .content-area {
    z-index: 1;
    padding: 0;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: calc(100vh - 40px);
    height: 100%;
}
