<div class="main-container">
    <app-header [menu]="isMenuOpen" (toggleSideMenu)="toggleMenu()"></app-header>
    <div class="content-container">
        <section class="sideNav" [class.isOpen]="isMenuOpen">
            <div class="menuItem" routerLink="/organization" (click)="toggleMenu()">
                <span>DASHBOARD</span>
            </div>
            <div class="menuItem" routerLink="/organization/data-collection" (click)="toggleMenu()">
                <span>DATA COLLECTIONS</span>
            </div>
            <div class="menuItem" routerLink="/organization/persons" (click)="toggleMenu()">
                <span>PARENTS</span>
            </div>
        </section>

        <div class="background" [class.isFade]="isMenuOpen" (click)="toggleMenu()"></div>

        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
