<div class="main-container">
    <app-header [menu]="isMenuOpen" (toggleSideMenu)="toggleMenu()"></app-header>
    <div class="content-container">
        <section class="sideNav" [class.isOpen]="isMenuOpen">
            <div class="menuItem" routerLink="/" (click)="toggleMenu()">
                <span>DASHBOARD</span>
            </div>
            <div class="menuItem" routerLink="/vertical-data-collection" (click)="toggleMenu()">
                <span>DATA COLLECTIONS</span>
            </div>
          <!--<div class="menuItem" routerLink="/vertical-data-collection" (click)="toggleMenu()">-->
                <!--<span>VERTICAL DATA COLLECTIONS</span>-->
            <!--</div>-->
            <div class="menuItem" routerLink="/persons" (click)="toggleMenu()">
                <span>PERSONS</span>
            </div>
        </section>

        <div class="background" [class.isFade]="isMenuOpen" (click)="toggleMenu()"></div>
        <div class="content-area">
            <div class="" style="background-color: white">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
