<sw-back-bar [title]="'Review Forms'"></sw-back-bar>
<sw-document-approval-bar [document]="getSelectForm()"></sw-document-approval-bar>
<div class="content">
  <div class="sidebar">
    <form [formGroup]="form">
      <div class="sidebar-controls">
        <div class="sidebar-filter">
          <sw-dropdown-input
            formControlName="filter"
            [multiple]="true"
            [dropdownSubHeader]="true"
            [options]="filterValue">
            <span class="sidebar-controls-title">Filtered By</span>
          </sw-dropdown-input>
        </div>
        <div class="sidebar-sort">
          sort
        </div>
      </div>
    </form>
    <div *ngIf="documents && documents.length" [ngClass]="{ 'loading': showSpinner }">
      <div *ngFor="let document of documents">
        <app-upload-review-form-item
          [document]="document"
          (selected)="selectItem($event)"
        >
        </app-upload-review-form-item>
      </div>
      <i *ngIf="showSpinner" class="fas fa-spinner spinner"></i>
    </div>
    <div *ngIf="!showSpinner && (!documents || !documents.length)" class="sidebar--empty">
      No documents
    </div>
  </div>
  <div class="workarea">
    <app-upload-review-form-document></app-upload-review-form-document>
  </div>
</div>
<app-upload-review-form-footer></app-upload-review-form-footer>
