@import 'index';

:host {
  .content {
    display: flex;
  }

  .sidebar {
    width: 295px;
    padding: 20px 15px;
    border-radius: 3px;
    background: #fff;


    .loading {
      position: relative;
      opacity: 0.7;
    }

    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }

    .sidebar-controls {
      display: flex;
      margin: 0 0 15px;
    }

    .sidebar-title {
      color: $gray-color;
      font-size: 12px;
      line-height: 15px;
    }

    .sidebar-filter {
      position: relative;
      width: 53%;
      min-width: 159px;
      margin: 0 10px 0 0;
    }

    .sidebar-filter:after {
      position: absolute;
      right: -10px;
      top: 0;
      content: '';
      width: 1px;
      height: 34px;
      background: $dark-grey;
    }

    .sidebar-sort {
      margin: 0 0 0 10px;
    }
  }
}

.workarea {
  width: calc(100vw - 295px);
  overflow: hidden;
}
