<div class="field_settings_container">
  <form [formGroup]="form">
    <section>
      <div class="title">
        <sw-input-toggle formControlName="showHint">
          <span class="input_label">Hint</span>
        </sw-input-toggle>
      </div>
      <sw-input-phone-number *ngIf="form.get('showHint').value" class="settings-field" formControlName="hint">
      </sw-input-phone-number>
    </section>
    <section>
      <sw-radio-group class="flex-row" [options]="displayOptions" formControlName="displayStrategy">
      </sw-radio-group>
    </section>
  </form>
</div>