<div class="row ">
  <div class="col-md-1 ">
    <span *ngIf="!inputField.isValidName" aria-hidden="true" [title]="warningCheckExistingLabelString"><i class="fas fa-exclamation-triangle"></i></span>
    <span *ngIf="!inputField.isValid" aria-hidden="true" [title]="warningCheckUniqString"><i class="fas fa-exclamation-circle"></i></span>
  </div>
  <div class="col-md-2">
  <label class="has-float-label">
    <input (ngModelChange)="nameChange($event)" [disabled]="inputField.mapped!=''" [ngModel]="inputField.name" >
    <span class="spanForLabel">Field Label</span>
  </label>
  </div>

  <div class="col-md-2">
  <label class="has-float-label">
    <select class="form-control"  [disabled]="inputField.mapped!=''" [(ngModel)]="inputField.type">
      <option *ngFor="let item of customFields"  [ngValue]="item.type" [selected]="inputField.type==item.type" >{{item.name}}</option>
    </select>
    <span class="spanForLabel">Field Type</span>
  </label>
  </div>

  <div class="col-md-2">
    <label class="has-float-label">
      <input [(ngModel)]="inputField.options.placeholder" >
      <span class="spanForLabel">Placeholder</span>
    </label>
  </div>
  <div class="col-md-1">
    <label class="has-float-label">
      <select class="form-control"  [(ngModel)]="inputField.options.size" >
        <option *ngFor="let width of size"  [ngValue]="width" [selected]="inputField.options.size==width" >{{width}}</option>
      </select>
      <span class="spanForLabel">Field Width</span>
    </label>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class=" col-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" [(ngModel)]="inputField.options.required" >
          </div>
        </div>
        <p class="form-control">Required</p>
      </div>
      </div>
      <div class=" col-6">
      <div class="input-group" >
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" [(ngModel)]="inputField.options.readonly" >
          </div>
        </div>
        <p class="form-control">Read-only</p>
      </div>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="row">
      <div class=" col-6">
      <div class="input-group " >
        <div class="input-group-prepend">
          <div class="input-group-text">
        <input type="checkbox" [(ngModel)]="inputField.options.hideLabel" >
      </div>
      </div>
      <p class="form-control">Hide Label</p>
      </div>
      </div>
      <div class=" col-6">
      <div class="input-group ">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox"  (ngModelChange)="uniqActivated($event)" [ngModel]="inputField.options.unique" >
          </div>
        </div>
        <p class="form-control">Unique</p>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button class="btn-secondary pull-right" (click)="removeField(inputField._id)">X</button>
  </div>
</div>
