<div
  class="zooming"
  (click)="$event.stopPropagation()"
  xmlns="http://www.w3.org/1999/html"
>
  <div class="pdf_wrapper" [formGroup]="fg">
    <ng-container *ngIf="isStartLoading && !isFinishLoading">
      <sw-main-spinner class="spinner_box"></sw-main-spinner>
    </ng-container>
    <div class="slice-wrap m-3">
      <ng-container *ngIf="isFinishLoading">
        <div class="fields_group">
          <div *ngFor="let div of pdf.form.fieldsPdf[page - 1]">
            <div [ngStyle]="styleObject(div)" class="div-inside">
              <ng-container *ngIf="isShowLinkedFieldForSystem(div)">
                <div
                  class="form-group app-input-container"
                  [ngClass]="{
                    'app-input-fill': !div.linkedField.options.hideLabel
                  }"
                >
                  <sw-input-text
                    [formControlName]="div['id']"
                    class="agile-control pdf-form"
                    [ngStyle]="styleObject(div, true)"
                  >
                    <span
                      class="placeholder"
                      *ngIf="!div.linkedField.options.hideLabel"
                      >{{ div.linkedField.name | titlecase }}</span
                    >
                  </sw-input-text>
                </div>
              </ng-container>

              <ng-container *ngIf="isShowLinkedFieldForTemporary(div)">
                <div
                  *ngIf="isShowLinkedFieldForTemporary(div)"
                  class="form-group app-input-container"
                  [ngClass]="{ 'app-input-fill': div.linkedField.value }"
                >
                  <!-- [(ngModel)]="div.linkedField.value" -->
                  <sw-input-textarea
                    [formControlName]="div['id']"
                    class="agile-control pdf-form"
                    [ngStyle]="styleObject(div, true)"
                  >
                    <span class="input_label">
                      {{ div.linkedField.name | titlecase }}
                    </span>
                  </sw-input-textarea>
                </div>
              </ng-container>
              <ng-container *ngIf="isShowLinkedFieldForSignature(div)">
                <div
                  *ngIf="isShowLinkedFieldForSignature(div)"
                  class="form-group"
                >
                  <sw-input-textarea
                    [formControlName]="div['id']"
                    class="agile-control pdf-form"
                    [ngStyle]="styleObject(div, true)"
                  >
                    <span class="input_label">
                      {{ ' Sign Here' | titlecase }}
                    </span>
                  </sw-input-textarea>
                </div>
              </ng-container>
              <ng-container *ngIf="isShowLinkedFieldForCheckbox(div)">
                <div
                  *ngIf="isShowLinkedFieldForCheckbox(div)"
                  class="form-group"
                >
                  <sw-input-checkbox
                    [formControlName]="div['id']"
                    class="agile-control pdf-form"
                    [ngStyle]="styleObject(div, true)"
                  >
                    <span class="label"></span>
                  </sw-input-checkbox>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="pdf-wrapper" *ngIf="pdf.form">
        <div class="pdf-overlay"></div>
        <pdf-viewer
          [original-size]="false"
          [src]="{ url: pdf.form.link + token }"
          [render-text-mode]="0"
          [autoresize]="true"
          [show-all]="false"
          [page]="page"
          style="display: block;"
          (on-progress)="onProgress($event)"
        >
        </pdf-viewer>
      </div>
    </div>
  </div>

  <div *ngIf="pdf.form && pdf.form.numberOfPages > 1" class="pdf_container">
    <!-- <ngb-pagination
          [collectionSize]="pdf.form.numberOfPages * 10"
          [(page)]="page"
          aria-label="Default pagination"
        ></ngb-pagination> -->
  </div>
</div>
