@import "../../styles/index.scss";

:host {
  display: block;
}

.pdf_wrapper {
  border: 1px dashed #BDBFC9;
  border-radius: 3px;
  background-color: $background-semi-wrap-color;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
  zoom: normal;
}

.slice-wrap {
  height: auto;
  min-height: 54em;
  position: relative;
  width: 55em;
  zoom: normal;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  zoom: normal;
}
.fields_group {
  position: absolute;
  top: 0;
  left: 0;
  width: 54em;
  height: auto;
  min-height: 54em;
  zoom: normal;
}
.div-inside {
  border: 2px solid #000000;
  background-color: white;
  position: absolute;
  z-index: 499;
  /*font-size: 0.5rem!important;*/
  zoom: normal;
}

.form-group {
  align-items: stretch;
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.agile-control {
  align-items: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
}

.app-input {
  border: none;
  min-height: 0;
  zoom: normal;
  resize: none;
  padding-top: 1.3rem;
}

.pdf-wrapper {
  display: block;
  position: relative;
  .pdf-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.15);
    z-index: 1;
  }
}

.zooming {

  @include media-breakpoint-up(xs) {
    zoom: 0.25;
  }

  @include media-breakpoint-up(sm) {
    zoom: 0.5;
  }

  @include media-breakpoint-up(md) {
    zoom: 0.6;
  }

  @include media-breakpoint-up(xl) {
    zoom: normal;
  }
}
