<div class="justify-content-md-center mb-3 pt-3 text-center">
  <span class="pt-4 app-step-title">1. BASIC FORM INFORMATION</span>
</div>
<h4 class="pt-3 text-center font-weight-bold">
  Good {{getDayparting()}}, I am the Form Set­up Wizard.
  I will create your form with you in minutes
</h4>
<h4 class="pt-3 text-center font-weight-bold">What would you like to call this form and what language do you
  need?</h4>
<div class="row my-5" [formGroup]="generalInfoForm">
  <div class="col">
    <app-input-field-container
      [value]="generalInfoForm.get('name').value"
      [isInvalid]="generalInfoForm.get('name').touched&&generalInfoForm.get('name').invalid?'is-invalid':''">
      <span class="label" (click)="nameInput.focus()">Form Name</span>
      <input #nameInput
             type="text"
             formControlName="name"
             id="formName">
      <div class="error">
        Form name is required and contain min 3 and max 50 symbols
      </div>
    </app-input-field-container>
  </div>
  <div class="col">
    <app-select-field-container>
      <ng-select
      [formControlName]="'language'"
      [items]="languages"
      bindLabel="label"
      bindValue="value"
      placeholder="Form Language"
      >
      </ng-select>
    </app-select-field-container>
  </div>
</div>
