<div *ngFor="let field of fields">
  <ng-container *ngIf="field.type === 113 || field.type === 114; else inputs" [formGroup]="field.control">
    {{field.name}}
    <sw-input-dynamic [fields]="field.fields"></sw-input-dynamic>
  </ng-container>
  <ng-template #inputs>
    <ng-container [ngSwitch]="field.type">
      <sw-input-text *ngSwitchCase="101" [formControl]="field.control">
        <span class="label">{{field.name}}</span>
      </sw-input-text>
      <sw-input-number *ngSwitchCase="103" [formControl]="field.control">
        <span class="label">{{field.name}}</span>
      </sw-input-number>
    </ng-container>
  </ng-template>


</div>
