<div class="p-3">
  <div class="mb-2 mt-3">
    <ul class="nav">
      <li class="nav-item">
        <a class="app-nav-link" [ngClass]="{'app-active': tab == 'general'}" (click)="tab = 'general'">General</a>
      </li>
      <li class="nav-item">
        <span class="app-nav-link" [ngClass]="{'app-active': tab == 'settings'}"
              (click)="tab = 'settings'">Settings</span>
      </li>
      <li class="nav-item">
        <a class="app-nav-link" [ngClass]="{'app-active': tab == 'conditional'}" (click)="tab = 'conditional'">Conditional
          Logic</a>
      </li>
      <li class="nav-item">
        <a class="app-nav-link" [ngClass]="{'app-active': tab == 'mapping'}" (click)="tab = 'mapping'">Mapping Logic</a>
      </li>
    </ul>
  </div>
  <div class="settings-wrapper p-3">
    <div class="row" *ngIf="tab === 'settings'">
      <div class="col-sm-4 app-border-right">
        <small><b>FIELD SIZE & MASK</b></small>
      </div>
      <div class="col-sm-4 app-border-right">
        <label class="app-switch mr-2">
          <input type="checkbox" [ngModel]="field.options.isValidator"
                 (ngModelChange)="isValidatorChanged($event)">
          <span class="app-slider app-round"></span>
        </label>
        <small><b>VALIDATE</b></small>
        <div class="form-group">
          <label for="criteria">Validat. Criteria</label>
          <select [ngModel]="rule.rule"
                  (ngModelChange)="addValidatorRule($event)"
                  class="form-control"
                  id="criteria"
                  [disabled]="!field.options.isValidator">
            <option *ngFor="let item of validationRules"
                    [value]="item.rule"
                    [selected]="item.rule == rule.rule">
              {{item.name}}
            </option>
          </select>
        </div>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 placeholder="Text">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6" *ngIf="rule.min !== false">
            <input [(ngModel)]="rule.min"
                   (ngModelChange)="addMinMaxRule()"
                   type="number"
                   class="form-control"
                   placeholder="Min"
                   [disabled]="!field.options.isValidator">
          </div>
          <div class="form-group col-md-6" *ngIf="rule.max !== false">
            <input [(ngModel)]="rule.max"
                   (ngModelChange)="addMinMaxRule()"
                   type="number"
                   class="form-control"
                   placeholder="Max"
                   [disabled]="!field.options.isValidator">
          </div>
        </div>
        <small>If is Data isn't Valid, then</small>
        <div class="form-check">
          <input [ngModel] = "field.options.isErrorMessage"
                 (ngModelChange) = changeIsErrorMessage($event)
                 [disabled]="!field.options.isValidator"
                 class="form-check-input" type="checkbox" id="errorMessage">
          <label class="form-check-label" for="errorMessage">
            Error Message
          </label>
        </div>
        <div class="form-check">
          <input [ngModel] = "field.options.isProhibitDataEntry"
                 (ngModelChange) = changeIsProhibitDataEntry($event)
                 [disabled]="!field.options.isValidator"
                 class="form-check-input" type="checkbox" id="dataEntry">
          <label class="form-check-label" for="dataEntry">
            Prohibit of Data Entry
          </label>
        </div>
      </div>
      <div class="col-sm-4">
        {{this.inputField | json}}
      </div>
    </div>
  </div>
</div>

