@import 'index';

.app-form-table {
  padding: 15px;

  .app-form-table__header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-bottom: 10px;
  }

  .app-form-table__table {
    padding: 15px;
    background: #fff;
  }

  .button-red {
    background: red;
  }
}

.table {
  .filters-row {
    background: #F2F2F2;
    box-shadow: inset 0px -1px 0px #E7E7E7;
    border-radius: 5px;
    padding: 10px 13px;

    .header_container {
      &__title {
        display: flex;
        color: #151515;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font: normal 9px/13px $nunito-sans;
        &_icons {
          margin-left: 6px;
          display: flex;
          flex-flow: column nowrap;
          color: #A3A3A3;
          i {
            line-height: 4px;
            font-size: 10px;
          }
        }
      }
      
    }
  }

}
