@import '../../../../styles/variables/colors';

.app-form-table {
  padding: 15px;

  .app-form-table__header {
    display: flex;
    justify-content: space-between;
    height: 30px;
    padding-bottom: 10px;
  }

  .app-form-table__table {
    padding: 15px;
    background: #fff;
  }
}
