<div class="container">
<div class="row py-3">
  <div class="col-sm-6">
    <span class="h5">FORMS</span>
  </div>
  <div class="col-sm-6 text-right">
        <button type="button"
                class="btn btn-primary btn-sm"
                (click)="addForm()"
                routerLink="./generalinfo"
                routerLinkActive="active">
          Create New Form
        </button>
  </div>
</div>
<table  class="table table-striped" *ngIf="(forms$ | async).length!=0">
<thead>
  <tr>
    <th>Form name</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Type</th>
    <th></th>
  </tr>
</thead>
  <tbody>
  <ng-container *ngFor="let item of forms$ | async">
  <tr *ngIf="permissionService.hasAccess('view', 'form', item.template_sql_link.id)">
    <td>{{item.name}}</td>
    <td>{{item.created_at}}</td>
    <td>{{item.updated_at}}</td>
    <td>Registrations</td>
    <td>
      <div class="btn-group" role="group" aria-label="...">
        <button *ngIf="permissionService.hasAccess('view', 'form', item.template_sql_link.id)"
                type="button"
                class="btn btn-outline-primary btn-sm ml-1"
                routerLink="onlineform/{{item._id}}"
                routerLinkActive="active">
          <span>View</span>
        </button>
        <button
                *ngIf="permissionService.hasAccess('edit', 'form', item.template_sql_link.id)"
                type="button"
                (click)="editForm(item._id)"
                class="btn btn-outline-primary btn-sm ml-1"
                routerLink="generalinfo"
                routerLinkActive="active">
          <span>Edit</span>
        </button>
        <button *ngIf="permissionService.hasAccess('delete', 'form', item.template_sql_link.id)"
                type="button"
                class="btn btn-outline-danger btn-sm ml-1"
                (click)="removeForm(item._id)">
          <span>Delete</span>
        </button>
        <button *ngIf="permissionService.hasAccess('access', 'form', item.template_sql_link.id)"
                type="button"
                class="btn btn-outline-warning btn-sm ml-1"
                data-toggle="modal"
                data-target="#flipFlop"
                (click)="formSelected = item._id">
          <span>Access</span>
        </button>
          <app-form-access-modal (resetFormSelectedEmitter)="resetFormSelected($event)"
                                 [formSelected] = "formSelected">
          </app-form-access-modal>
      </div>
    </td>
  </tr>
  </ng-container>
  </tbody>
</table>
</div>

