<div class="app-form-table">
  <div class="app-form-table__header">
    <div class="app-form-table__text">
      <sw-page-header [header]="'Data Collection'"></sw-page-header>
    </div>
    <div class="app-form-table__controls">
      Edit
      Share
      View
    </div>
  </div>
  <div class="app-form-table__table">
    <sw-block-header [header]="'forms'"></sw-block-header>
    <div>
      <div *ngFor="let form of forms">
        <button [ngClass]="{ 'button-red': form.isSelected}" (click)="selectForm(form.id)">{{ form.name }}</button>
      </div>
    </div>
    <div>
      <div>
        <h4>Popup</h4>
        <div *ngFor="let popupForm of popupForms">{{ popupForm.name }}</div>
        <button *ngIf="action === actionTypes.ARCHIVE" (click)="archiveForms()">Archive</button>
      </div>
      <div>
        <h4>bulks</h4>
        <button (click)="shareForms()">Share</button>
        <button (click)="bulkArchiveForms()">Archive</button>
        <button (click)="exportFormsPDF()">Export PDF</button>
        <button (click)="exportFormsZIP()">Export PDF</button>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>

