@import "../shared/styles/index.scss";

.online_form_nav {
  background-color: $element-additional-color;
  color: $white;
  height: 11rem;
  padding: 0;

  &__line {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5.5rem;
    padding: 1.6rem;
  }

  &__title {
    color: $white;
    font-family: "Nunito Sans", "Helvetica";
    font-weight: 900;
    font-size: 1.35rem;
    line-height: 1.25rem;
  }
}

.thick_icon {
  font-size: 1.5rem;
}

.cursor_pointer {
  cursor: pointer;
}