@import "index";

:host {
  .forms-header {
    width: 100%;
    height: 40px;
    background: #50597A;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    position: relative;
    .title {
      display: flex;
      position: absolute;
      flex-flow: row nowrap;
      align-items: center;
      left: 0;
      .back-btn {
        padding: 8px 10px;
        border-right: 1px solid rgba($color: #fff, $alpha: .6);
        i {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          color: #fff;
          opacity: 0.6;
          font-size: 17px;
        }
      }
      .text {
        color: #fff;
        font: 400 13px/15px $nunito-sans;
        margin-left: 15px;
      }
    }
    .items-wrap {
      display: flex;
      flex-flow: row nowrap;
      color: #fff;
      .item {
        cursor: pointer;
        font: 800 12px/15px $nunito-sans;
        letter-spacing: 0.37px;
        text-transform: uppercase;
        opacity: 0.6;
        &.active {
          cursor: default;
          opacity: 1;
        }
        &:not(:last-of-type) {
          margin-right: 30px;
        }
        &.disabled {
          cursor: not-allowed;
        }
      }
      i {
        opacity: 0.6;
        margin-right: 30px;
      }
    }
    .log-out-btn {
      position: absolute;
      right: 0;
      padding: 8px 10px;
      border-left: 1px solid rgba($color: #fff, $alpha: .6);
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        color: #fff;
        opacity: 0.6;
        font-size: 17px;
      }
    }
  }
}