@import 'index';

:host {
  display: block;
  margin: 0 0 20px 0;
}

.up-block {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px;
  align-items: center;
}

.up-block-info {
  display: flex;
  align-items: center;
}

.up-block-name {
  margin: 0 5px 0 0;
  max-width: 250px;
}

.up-block-buttons {
  display: flex;
  margin: 0;
  list-style: none;
  padding: 0;
}

.up-block-button {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px;

  &:hover {
    .up-block-button-text {
      color: $icon-gray-hover;
    }
  }
}

.icon-button {
  padding: 0;
  background: transparent;
  border: none;
  outline: none;
}

.up-block-button-text {
  margin: 2px 0 0 5px;
  font: 500 9px/13px $nunito-sans;
  text-transform: uppercase;
  color: $gray-color;
}

.up-block-controls {
  display: flex;
}

.up-block-control-button {
  margin: 0 10px 0 0;
}

.up-block-view {
  background: transparent;
  border: none;
}

.hide-dashboard-text {
  font: 500 9px/13px $nunito-sans;
  text-transform: uppercase;
  color: $gray-color;
}

.view-dashboard-text {
  font: 500 9px/13px $nunito-sans;
  text-transform: uppercase;
  color: $element-base-color;
}

.view-dashboard-icon {
  color: $element-base-color;
}

.hide-dashboard-icon {
  color: $gray-color;
}

.up-block-icon {
  font-size: 13px;
  margin: 0 0 0 5px;
}

.down-block {
  display: flex;
  justify-content: space-between;
}

.down-block-info {
  width: 100%;

  &.dashboard-shown {
    width: 23%;
  }
}

.icon-button-share {
  display: inline-block;
  width: 12px;
  height: 15px;
  background-size: cover;
  background: url("/assets/images/icons/share.svg") no-repeat center;
}

.btn-copy-link::ng-deep {
  &:hover {
    button.button  {
      .up-block-button-text {
        color: $icon-gray-hover;
      }
      .icon-button-share {
        background-image: url('/assets/images/icons/share-dark.svg');
      }
    }
  }
}

.down-block-additional {
  width: 76%;
  display: flex;
  justify-content: space-between;

  .down-block-analytics {
    width: 32%;
  }

  .down-block-payments {
     width: 67%;
  }
}
