@import "index";

.date-picker-popup {
  padding: 10px;
  .header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
}

:host(.online_form.read_only) {
  .container {
    background-color: #eee;
  }
}

:host {
  .filter {
    sw-input-text {
      .icon {
        top: 5px;
      }
    }
  }
}
