<div
  #holder
  class="date-picker"
  [class.filter-field]="class === 'filter-field'"
  (click)="openDatepicker($event)"
>

  <div class="input-date">
    <input
      class="input"
      mask="{{mask}}"
      [class.empty]="isEmpty(value)"
      [class.input-range-one-input]="range === 'one-input'"
      [class.input-range-two-inputs]="range === 'two-inputs'"
      [disabled]="!isActive || range === 'one-input' || range === 'two-inputs'"
      [dropSpecialCharacters]="false"
      [(ngModel)]="value"
      (ngModelChange)="changeValue(value)"
      (keyup.enter)="apply()"
    />
    <span class="placeholder">{{ range === 'two-inputs' ? 'From' : placeholder }}</span>
    <i class="far fa-calendar"></i>
    <i *ngIf="!isEmpty(value)" class="fa fa-times" (click)="clear()"></i>
  </div>
  <div class="input-date" *ngIf="range === 'two-inputs'">
    <input
      class="input"
      mask="{{mask}}"
      [class.empty]="isEmpty(valueTo)"
      [class.input-two-inputs]="range === 'two-inputs'"
      [disabled]="!isActive || range === 'two-inputs'"
      [dropSpecialCharacters]="false"
      [(ngModel)]="valueTo"
      (ngModelChange)="changeValueTo(value)"
      (keyup.enter)="apply()"
    />
    <span class="placeholder">To:</span>
    <i class="far fa-calendar"></i>
    <i *ngIf="!isEmpty(valueTo)" class="fa fa-times" (click)="clear()"></i>
  </div>

</div>

<ng-template #datepicker>
  <div class="date-picker-popup">
    <form [formGroup]="form" class="select">
      <div class="select-month">
        <sw-dropdown-input
          formControlName="month"
          type="outline"
          [canDeselect]="false"
          [options]="months"
        ></sw-dropdown-input>
      </div>
      <div class="select-year">
        <sw-dropdown-select-year [date]="viewDate" formControlName="year">
          <span class="text">
            {{ viewDate | calendarDate:(view + 'ViewYearTitle'):'en' }}
          </span>
        </sw-dropdown-select-year>
      </div>
    </form>
    <div class="content">
      <mwl-calendar-month-view
        *ngIf="range === 'none'"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="false"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-month-view
        *ngIf="range === 'one-input' || range === 'two-inputs'"
        [viewDate]="viewDate"
        [events]="events"
        (beforeViewRender)="beforeMonthViewRender($event)"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
    </div>
    <div class="controls-buttons">
      <div class="controls-button">
        <sw-button color="white" (click)="clear()" [expand]="buttonExpand.FULL">
          <span class="text">Reset</span>
        </sw-button>
      </div>
      <div class="controls-button">
        <sw-button (click)="apply()" [expand]="buttonExpand.FULL">
          <span class="text">Apply</span>
        </sw-button>
      </div>
    </div>
  </div>
</ng-template>
