<div
  #holder
  class="date-picker"
  [class.filter-field]="class === 'filter-field'"
  (click)="openDatepicker($event)"
>

  <div class="input-date">
    <input
      class="input"
      mask="{{mask}}"
      [class.empty]="isEmpty(value)"
      [class.input-range]="range"
      [disabled]="!isActive || range"
      [dropSpecialCharacters]="false"
      [(ngModel)]="value"
      (ngModelChange)="changeValue(value)"
    />
    <span class="placeholder">{{ placeholder }}</span>
    <i class="far fa-calendar"></i>
    <i *ngIf="!isEmpty(value)" class="fa fa-times" (click)="clear()"></i>
  </div>

</div>

<ng-template #datepicker>
  <div class="date-picker-popup">
    <div class="header">
      <div class="actions left">
        <sw-icon-button icon="fa-angle-left" (click)="decrement()">
        </sw-icon-button>
      </div>
      <div class="text">
<!--        {{ value }}-->
      </div>
      <div class="actions right">
        <sw-icon-button
          icon="fa-angle-right"
          (click)="increment()"
        ></sw-icon-button>
      </div>
    </div>
    <div class="select">
      <div class="select-month">
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
<!--        <sw-dropdown-input [options]="mouths"></sw-dropdown-input>-->
      </div>
      <div class="select-year">
        {{ viewDate | calendarDate:(view + 'ViewYearTitle'):'en' }}
      </div>
    </div>
    <div class="content">
      <mwl-calendar-month-view
        *ngIf="!range"
        [viewDate]="viewDate"
        [events]="events"
        [activeDayIsOpen]="false"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
      <mwl-calendar-month-view
        *ngIf="range"
        [viewDate]="viewDate"
        [events]="events"
        (beforeViewRender)="beforeMonthViewRender($event)"
        (dayClicked)="dayClicked($event.day)"
      >
      </mwl-calendar-month-view>
    </div>
    <div class="controls-buttons">
      <sw-button>
        <span class="text" color="white">Reset</span>
      </sw-button>
      <sw-button>
        <span class="text">Apply</span>
      </sw-button>
    </div>
  </div>
</ng-template>
