@import "index";

.date-picker-popup {
  padding: 10px;

}

:host {
  .filter-field {
    position: relative;

    .icon {
      position: absolute;
      top: 4px;
      left: 3px;
    }
  }

  .date-picker {
    border: 1px solid $softgray-color;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 0 rgba(85, 85, 85, 0);
    position: relative;
    transition: all 0.4s ease-in-out;

    &:focus-within,
    &:focus,
    &:active,
    &:target {
      background-color: $white;
      border: 1px solid $element-base-color;
      box-shadow: inset 0 0 10px 0 rgba(85, 85, 85, 0.1);
      outline: 0;
    }
  }

  .input-date {
    width: 100%;
    position: relative;
    border-color: transparent;

    .input {
      width: 100%;
      // height: 25px;
      height: 35px;
      background: $white;
      font-size: 1rem;
      line-height: 1.25rem;
      color: $black;
      border: transparent;
      box-sizing: border-box;
      border-radius: 0.25rem;
      outline: none;
      padding: 0.5rem 0.75rem 0.5rem 1.75rem;

      &.empty + .placeholder{
        font-size: 1rem;
        line-height: 1.17rem;
        top: 1rem;
        left: 1.75rem;
      }
    }

    & .placeholder {
      color: $dark-gray-blue-color;
      font-family: $nunito-sans;
      font-size: 0.75rem;
      left: 0.75rem;
      line-height: 0.75rem;
      position: absolute;
      top: 0.125rem;
      transition: all 0.4s ease-in-out;
    }

    .input-range {
      min-height: 23px;
      height: auto;
      white-space: normal;
      font: 500 12px/15px $nunito-sans;
      padding: 6px 19px 5px 19px;
    }

    i {
      position: absolute;
      color: $status-gray;
    }

    .fa-calendar {
      top: 1rem;
      left: 0.5rem;

      @media (min-width: 1280px) {
        top: 1rem;
      }
    }

    .fa-times {
      position: absolute;
      top: 1rem;
      right: 0.5rem;
      cursor: pointer;

      @media (min-width: 1280px) {
        top: 1rem;
      }
    }
  }
}

:host(.online_form) {
  .date-picker {
    align-items: stretch;
    background-color: $white;
    border: 1px solid $softgray-color;
    border-radius: 0.25rem;
    box-shadow: inset 0 0 0 0 rgba(85, 85, 85, 0);
    display: flex;
    min-height: 3rem;
    padding: 0 1rem;
    position: relative;
    transition: all 0.4s ease-in-out;
    width: 100%;

    &:focus-within,
    &:focus,
    &:active,
    &:target {
      background-color: $light-orange-color;
      border: 1px solid $orange-fill-color;
      box-shadow: inset 0 0 1rem 0 rgba(85, 85, 85, 0.1);
      outline: 0;
    }
  }

  .input-date {
    .input {
      color: $dark-gray-blue-color;
      font-family: $nunito-sans;
      font-size: 1rem;
      line-height: 1.17rem;
      min-height: 3rem;
      width: 100%;
      height: 100%;

      &.empty + .placeholder{
        font-size: 1rem;
        line-height: 1.17rem;
        top: 1rem;
        left: 1rem;
      }
    }

    .placeholder {
      color: $dark-gray-blue-color;
      font-family: $nunito-sans;
      font-size: 0.75rem;
      left: 0;
      line-height: 0.75rem;
      position: absolute;
      top: 0.125rem;
      transition: all 0.4s ease-in-out;
    }

    .fa-calendar {
      top: 1.25rem;
      left: -0.25rem;

      @media (min-width: 1280px) {
        top: 1rem;
      }
    }

    .fa-times {
      position: absolute;
      top: 1.25rem;
      right: -0.25rem;
      cursor: pointer;

      @media (min-width: 1280px) {
        top: 1rem;
      }
    }
  }

  &.read_only {
    .container {
      background-color: #eee;
    }
  }

}

.select {
  display: flex;
  justify-content: center;
}

.controls-buttons {
  display: flex;
  justify-content: space-between;
}

.controls-button {
  width: 47%;
}

:host(.settings-field, .filter-field) {
  .input-date {
    & .input {
      height: 23px;
      padding: 5px 14px;
    }
    & i {
      top: 7px !important;
    }
  }
}

:host(.filter-field) {
  .date-picker {
    border-color: transparent;
  }

  .input-date {
    position: relative;

    & .input {
      border-color: transparent;
      height: 23px;
      padding: 5px 10px 5px 19px;
    }

    & .fa-calendar {
      color: #A4A4A4;
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0.75rem;
      left: 0.5rem;

      @media (min-width: 1280px) {
        top: 0.6rem;
      }
    }

    & .fa-times {
      position: absolute;
      top: 0.75rem;
      right: 0.5rem;
      color: #A4A4A4;
      cursor: pointer;

      @media (min-width: 1280px) {
        top: 0.5rem;
      }
    }
  }
}

:host(.ng-invalid.ng-dirty) {
  .date-picker {
    border-color: $error-color;
  }

  .input-date {
    & i {
      color: $error-color;
    }

    & .placeholder {
      color: $error-color;
    }
  }
}

.input-date-range {
  display: flex;
  justify-content: space-between;
  width: 220px;
}

.input-date-range-item {
  width: 47%
}

.input-date {
  margin: 0 0 10px;
}

:host(.settings-field, .filter-field) {
  .input-date {
    & .input {
      height: 23px;
      padding: 5px 14px;
    }
    & i {
      top: 7px !important;
    }
  }
}

:host(.filter-field) {
  .date-picker {
    border-color: transparent;
  }

  .input-date {
    position: relative;

    & .input {
      border-color: transparent;
      height: 23px;
      padding: 5px 10px 5px 19px;
    }

    & .fa-calendar {
      color: #A4A4A4;
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0.75rem;
      left: 0.5rem;

      @media (min-width: 1280px) {
        top: 0.6rem;
      }
    }

    & .fa-times {
      position: absolute;
      top: 0.75rem;
      right: 0.5rem;
      color: #A4A4A4;
      cursor: pointer;

      @media (min-width: 1280px) {
        top: 0.5rem;
      }
    }
  }
}

:host(.ng-invalid.ng-dirty) {
  .date-picker {
    border-color: $error-color;
  }

  .input-date {
    & i {
      color: $error-color;
    }

    & .placeholder {
      color: $error-color;
    }
  }
}
