<div class="row no-gutters">

  <div class="col px-3 py-1">
    <nav class="navbar navbar-expand-lg navbar-light p-0">
      <div class="collapse justify-content-left navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item mr-5">
            <a class="nav-link app-ft-nav-link"
               [ngClass]="{'app-ft-nav-link-active' : activeTab==='form'}"
               (click)="onActiveTab('form')">
              Form
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link app-ft-nav-link"
               [ngClass]="{'app-ft-nav-link-active' : activeTab==='documents'}"
               (click)="onActiveTab('documents')">
              Documents
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="col d-flex justify-content-end align-items-center font-weight-bold p-3">
    <span class="app-text-small app-text-second app-cursor-pointer mr-4">
      <i class="fas fa-file-import mr-1"></i>
      UPLOAD
    </span>
    <span class="app-text-small app-text-primary app-cursor-pointer font-weight-bold">
      <i class="fas fa-download mr-1"></i>
      BULK DOWNLOAD
    </span>
  </div>

</div>

<div class="row no-gutters">
  <div class="col-12 px-3 pt-1 pb-3">
    <div class="app-form-table-block-wrapper p-3">
      <app-v-inside-form-view *ngIf="activeTab==='form'"></app-v-inside-form-view>
      <app-v-inside-documents-view *ngIf="activeTab==='documents'"></app-v-inside-documents-view>
    </div>
  </div>
</div>


