<div class="  row no-gutters  align-items-center">
  <div class="col-2 ">
    <label class="app-checkbox-container">
    <input
      type="checkbox" [ngModel]="field.exist" (ngModelChange)="onBeingChange($event)">
    <span class="app-checkbox-checkmark"></span>
  </label>
  </div>
  <div class="col-10  row align-items-center no-gutters" [ngClass]="style?'side-bar-item-custom':'side-bar-item'">
    <div class="col-1">
      <span><i class="fas fa-ellipsis-v dragable-i"></i></span>
      <span><i class="fas fa-ellipsis-v  dragable-i"></i></span>
    </div>
    <div class="col">
      <span class="side-bar-item-font" [title]="style?'Custom':'Existing'">{{field.name}}</span>
    </div>
    <div *ngIf="style" class="col-1">
      <span><i class="fas fa-trash dragable-i fa-xs" (click)="deleteCustomField(field.name)"></i></span>
    </div>
  </div>
</div>
