<div class="app-person-avatar-container">
  <div class="app-person-avatar-show" (mouseover)="hover=true" (mouseleave)="hover=false"
       [ngStyle]="{
       'background-image': avatarBase64 ? 'url(' + avatarBase64 + ')' :
        avatar ? 'url(' + avatar + ')' : 'url(assets/images/temp/person-foto-placeholder.png)',
        'min-width': size, 'min-height': size
        }">
    <input type="file" hidden #inputFile (change)="onFileChange($event)" />
    <button class="btn app-btn-primary app-person-avatar-btn" *ngIf="hover && editable"
            (click)="inputFile.click(); $event.preventDefault()">
      Upload
      <i class="fas fa-download ml-1"></i>
    </button>
  </div>
</div>
