.app-person-avatar-container {
  display: inline-flex;
  margin: 0;

  .app-person-avatar-show {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: no-repeat center center #9c9d9d;
    background-size: cover;
  }
  .app-person-avatar-btn {
    opacity: 0.7;
    filter: alpha(opacity=70);
  }
}