.side-bar-item-font{
  font-size: 14px;	font-weight: bold; line-height: 13px;
}

.side-bar-item{
  height: 27px;
  border-radius: 3px;
  background-color: #F6F6F6;
/*box-shadow: 0 4px 8px 0 rgba(153,162,215,0.22);*/
}
.side-bar-item-custom{
  height: 27px;
  border-radius: 3px;
  background-color: #E0F7ED;
/*box-shadow: 0 4px 8px 0 rgba(153,162,215,0.22);*/
}
.app-checkbox-container input:checked ~ .app-checkbox-checkmark {
  background-color:#4050A8;
}
.dragable-i{
  color: #9C9D9D;
  height: 13px;
  margin-left: 2px;
}
