@import "./../../styles/index.scss";

*,
:before,
:after {
  box-sizing: border-box;
}

.icon_wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 3rem;
  position: relative;
  width: 2rem;

}

.radial_progress_box {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
}

.status_icon_box {
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0.55rem;
  right: 0.5rem;
}

/*** RADIAL PROGRESS ***/
/* Circumference = 2πr */
/* π = 3.1415926535898 */
/* r = 8 */
.radial_progress {
  height: 2.5rem;
  padding: 0;
  transform: rotate(-90deg);
  min-width: 1.5rem;

  & circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 50.2654824574; /* Circumference */
    stroke-width: 3;

    &.incomplete {
      // opacity: 0.25;
      stroke: #fadde1;
    }
    &.complete {
      stroke-dasharray: 50.2654824574; /* Circumference */
      stroke: $error-color;
    }
  }
}

.percent_text {
  color: $error-color;
  font-family: Nunito Sans;
font-weight: 400;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 0.9rem;
  text-align: center;
}

.status_icon {
  color: $success-color;
  fill: $success-color;
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}
