<div
  *ngIf="fg.controls[field._id].errors && !fg.controls[field._id].pristine"
  class="error_msg"
>
  <div *ngIf="fg.controls[field._id].errors.required">
    {{ field.name | titlecase }} is required.
  </div>
  <div *ngIf="fg.controls[field._id].errors.minlength">
    {{ field.name | titlecase }} cannot has length less than
    {{ fg.controls[field._id].errors.minlength.requiredLength }}.
  </div>

  <!-- <div *ngIf="fg.controls[field._id].errors">
      {{ field.name | titlecase }} is invalid.
    </div> -->
</div>

<div *ngIf="validationText" class="error_msg">
  <div>
    {{ validationText }}
  </div>
</div>
