h2{text-align: center;}

h6{
  color: #BAB8B8;
}

.view-form{
  border: 1px solid bisque;
  border-radius: 10px;
  height: 1000px;
}
body{
  background-color: lightgray;
}

h3, h2{

  color: #BAB8B8;
  font-family: "Co Text Corp", Roboto, Arial, "Droid Sans", sans-serif;

}
