<!-- <ngb-datepicker class="hebrew rtl" #dp [(ngModel)]="model" [displayMonths]="1" [firstDayOfWeek]="7" [dayTemplate]="dt"
                [dayTemplateData]="dayTemplateData">
</ngb-datepicker>

<ng-template #dt let-date let-data="data" let-selected="selected" let-currentMonth="currentMonth">
  <div class="hebrew-day" [class.outside]="date.month !== currentMonth" [class.selected]="selected">
    <div class="gregorian-num">{{ data.gregorian.day + '/' + (data.gregorian.month) }}</div>
    <div class="hebrew-num">{{ i18n.getDayNumerals(date) }}</div>
  </div>
</ng-template>

<hr/>

<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>

<hr/> -->




<!--<form class="form-inline">-->
  <!--<div class="form-group">-->
    <!--<div class="input-group">-->
      <!--<input class="form-control" placeholder="yyyy-mm-dd"-->
             <!--name="dp" [(ngModel)]="model" ngbDatepicker [footerTemplate]="dt"  [displayMonths]="1" [firstDayOfWeek]="7" [dayTemplate]="dt" #dp="ngbDatepicker" [dayTemplateData]="dayTemplateData">-->
      <!--<div class="input-group-addon">-->
        <!--<button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->

<!--<ng-template #dt let-date let-data="data" let-selected="selected" let-currentMonth="currentMonth">-->
<!--<div class="hebrew-day" [class.outside]="date.month !== currentMonth" [class.selected]="selected">-->
<!--&lt;!&ndash;<div class="gregorian-num">{{ data.gregorian.day + '/' + (data.gregorian.month) }}</div>&ndash;&gt;-->
<!--<div class="hebrew-num">{{ i18n.getDayNumerals(date) }}</div>-->
<!--</div>-->
  <!--&lt;!&ndash;<hr/>&ndash;&gt;-->

  <!--&lt;!&ndash;<button class="btn btn-sm btn-outline-primary mr-2" (click)="selectToday()">Select Today</button>&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="btn btn-sm btn-outline-primary mr-2" (click)="dp.navigateTo()">To current month</button>&ndash;&gt;-->

  <!--&lt;!&ndash;<hr/>&ndash;&gt;-->
<!-- </ng-template> -->
