<app-period-page-header
  [titleHeader]="'CREATE PERIOD'"
  [routerLink]="'/period'"
  [isBackArrowEnable] = "true"
  [buttonText]="'Save & exit'"
></app-period-page-header>

<div class="app-period-create">
  <h1 class="app-period-create-header">Create Period</h1>
  <div class="app-period-create-container">
    <div class="app-period-create-left-panel">
      <app-period-duration-setting></app-period-duration-setting>
    </div>
    <div class="app-period-create-right-panel">
      <app-period-general-setting></app-period-general-setting>
    </div>
  </div>
</div>

<div> subscribe <pre>{{ selectPeriod | json}} </pre></div>
