<div class="mt-4 mr-5 text-right">
  <button type="button" class="btn app-btn-outline-primary " routerLink="/vertical-data-collection">Save & Exit</button>
</div>

<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-3 rounded pl-5">
      <app-v-publish-menu (activeMenuItemEmitter)="setActiveMenu($event)"></app-v-publish-menu>
    </div>
    <div class=" col-9 pr-5">
      <app-v-conditions-review *ngIf="activeMenuItem === publishMenuItems.conditions"></app-v-conditions-review>
      <app-v-publish-settings *ngIf="activeMenuItem === publishMenuItems.settings"></app-v-publish-settings>
      <app-v-automation *ngIf="activeMenuItem === publishMenuItems.automation"></app-v-automation>
      <app-v-redirect-pages *ngIf="activeMenuItem === publishMenuItems.redirect"></app-v-redirect-pages>
    </div>
  </div>
</div>
