<div class="mt-4 mr-5 text-right">
  <button
    type="button"
    class="btn app-btn-outline-primary "
    routerLink="/vertical-data-collection"
  >
    Save & Exit
  </button>
</div>

<div class="container-fluid">
  <ng-container *ngIf="publish_settings !== undefined">
    <div class="row mt-5">
      <div class="col-12 col-lg-3 rounded">
        <!-- pl-lg-5 -->
        <app-v-publish-menu
          [stateSub]="publish_settings.state"
          (activeMenuItemEmitter)="setActiveMenu($event)"
          (stateSubEmitter)="setStateSub($event)"
        ></app-v-publish-menu>
      </div>
      <div class="col-12 col-lg-9 openable_item">
        <!-- pr-lg-5 -->
        <app-v-conditions-review
          class="d-block openable_item"
          [ngClass]="{
            'openable_item--close':
              activeMenuItem !== publishMenuItems.conditions
          }"
        ></app-v-conditions-review>
        <app-v-publish-settings
          [publish_settings]="publish_settings"
          (onToggleOnlineCheckbox)="toggleOnlineCheckbox($event)"
          (onTogglePdfCheckbox)="togglePdfCheckbox($event)"
          (onUpdateFormValue)="updateFormValue($event)"
          (onSavePublishSettings)="savePublishSettings($event)"
          class="d-block openable_item"
          [ngClass]="{
            'openable_item--close': activeMenuItem !== publishMenuItems.settings
          }"
        ></app-v-publish-settings>
        <app-v-automation
          class="d-block openable_item"
          [ngClass]="{
            'openable_item--close':
              activeMenuItem !== publishMenuItems.automation
          }"
        ></app-v-automation>
        <app-v-redirect-pages
          class="d-block openable_item"
          [ngClass]="{
            'openable_item--close': activeMenuItem !== publishMenuItems.redirect
          }"
        ></app-v-redirect-pages>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="publish_settings === undefined">
    <main-spinner></main-spinner>
  </ng-container>
</div>
