<clr-tabs>
    <clr-tab>
        <button class="tabBtn" clrTabLink id="link1">GENERAL</button>
        <clr-tab-content id="content1" *clrIfActive="true">
            <section class="innerTab">
                <p>{{person$ | async | json}}</p>
            </section>
        </clr-tab-content>
    </clr-tab>
    <clr-tab>
        <button class="tabBtn" clrTabLink>FORMS LINKS</button>
        <clr-tab-content *clrIfActive>
            <section class="innerTab">
               hhhh
            </section>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

