<div #holder (click)="toggle()">
</div>

<ng-template #list>
  <div class="dialog_container">
    <div class="dialog_header">
      <div class="dialog_title">
        <div class="dialog_title__text">{{ title }}</div>
          <sw-input-toggle>
            <span>Select All</span>
          </sw-input-toggle>
      </div>
      <div class="dialog_close">
        <i class="fas fa-times" (click)="close(false)"></i>
      </div>
    </div>
    <div class="dialog_body">
      <ng-content></ng-content>
    </div>
    <div class="dialog_footer">
      <div class="dialog_footer__button">
        <sw-button (click)="close(false)" [style]="'white'">Cancel</sw-button>
      </div>
      <div class="dialog_footer__button">
        <sw-button (click)="close(true)">{{ action }}</sw-button>
      </div>
    </div>
  </div>
</ng-template>
