@import "../../shared/styles/index.scss";

.field {
  align-items: stretch;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-self: stretch;
  justify-items: stretch;
  justify-content: stretch;
}
