<app-v-form-info-nav></app-v-form-info-nav>
<div class="container-fluid">
  <app-v-form-info-header [form]="form"></app-v-form-info-header>

  <div class="row justify-content-between">
    <div class="col-sm-6">
      <div class="app-form-table-block-wrapper">
        <app-v-form-info-stats></app-v-form-info-stats>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="app-form-table-block-wrapper">
        <app-v-form-info-general></app-v-form-info-general>
      </div>
    </div>
  </div>


  <div class="col-sm-12 app-form-table-block-wrapper mt-3">

    <app-v-form-info-table-nav (activeTabEmitter)="setActiveTab($event)"
                               (searchValueEmitter)="setSearchValue($event)"
                               (bulkActionEmitter)="doBulkAction($event)">
    </app-v-form-info-table-nav>

    <app-v-form-info-submissions *ngIf="activeTab === 'submission'"></app-v-form-info-submissions>
  </div>
</div>


