<div class="app-form-table">
  <div class="app-form-table__header">
    <div class="app-form-table__text">
      <sw-page-header>
        Data Collection
      </sw-page-header>
    </div>
  </div>
  <div class="app-form-table__table">
    <div class="app-form-table__header">
      <div class="app-form-table__text">
        <sw-block-header>
          forms
        </sw-block-header>
      </div>
      <div class="app-form-table__controls">
        <div class="app-form-table__controls-button">
          <sw-button routerLink="/form-creator">Create New Form</sw-button>
        </div>
        <div
          class="app-form-table__controls-bulk"
        >
          <sw-dropdown-select
            [options]="bulkOptions"
            #bulk="dropdown"
            (selected)="bulkAction($event)"
            [panelClass]="'app-form-table-dropdown-overlay'"
            [disabled]="disabledBulkBtn"
          >
            <sw-button
              [disabled]="disabledBulkBtn"
            >
              <span class="app-form-table__controls-bulk-btn-text">Bulk Actions</span>
              <i
                class="fas fa-chevron-down"
                [ngClass]="{'fa-chevron-up': bulk.isOpened}"
              ></i>
            </sw-button>
          </sw-dropdown-select>
        </div>

      </div>
    </div>
    <div>
      <div class="app-form-table__tabs" data-e2e="alltabs">
        <button
          *ngFor="let tab of statusArray"
          class="app-form-table__tab"
          [ngClass]="{'app-form-table__tab--activated': activeTab == tab}"
          (click)="clickTab(tab)"
        >
          {{tab.title}}
        </button>
      </div>
    </div>
    <a [href]="download.url" [download]="download.filename" #link></a>

    <div>
      <div class="table">

        <form [formGroup]="filterForm">

          <table #table cdk-table [dataSource]="dataSource">

            <ng-container cdkColumnDef="name" >
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container" data-e2e="formname">
                  <div class="header_container__title" data-e2e="formnametitle" (click)="sortBy('name')">
                    Form Name
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'name' && sort[1] === false, 'down': sort[0] === 'name' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="name"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span class="text">{{form.name}}</span>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="type">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container" data-e2e="typename">
                  <div class="header_container__title" data-e2e="typenametitle" (click)="sortBy('type')">
                    type
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'type' && sort[1] === false, 'down': sort[0] === 'type' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="type"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span class="main-text">{{form.type}}</span>
                <span class="second-text"></span>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="access">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container" data-e2e="accessname">
                  <div class="header_container__title" data-e2e="accessnametitle" (click)="sortBy('access')">
                    access
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'access' && sort[1] === false, 'down': sort[0] === 'access' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="access"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                asd
              </td>
            </ng-container>


            <ng-container cdkColumnDef="createdBy">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container" data-e2e="createdbyname">
                  <div class="header_container__title" data-e2e="createdbynametitle" (click)="sortBy('createdBy')">
                    created by
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'createdBy' && sort[1] === false, 'down': sort[0] === 'createdBy' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="createdBy"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <sw-user-item [userItem]="getUserInfo(form.owner)"></sw-user-item>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="updatedAt">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container" data-e2e="updateddatename">
                  <div class="header_container__title" data-e2e="updateddatenametitle" (click)="sortBy('updated_at')">
                    update date
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'updated_at' && sort[1] === false, 'down': sort[0] === 'updated_at' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="updatedAt"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span class="date">{{getDate(form.updated_at)}}</span>
                <span class="time">{{getTime(form.updated_at)}}</span>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="status">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container" data-e2e="statusname">
                  <div class="header_container__title" data-e2e="statusnametitle" (click)="sortBy('status')">
                    status
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'status' && sort[1] === false, 'down': sort[0] === 'status' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-suggest class="filter-field" formControlName="status" [options]="statusArray"></sw-input-suggest>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <sw-dropdown-select
                  [options]="statusesOptions"
                  #bulk="dropdown"
                  (selected)="changeStatus($event, [form.id])"
                >
                  <sw-small-button
                    [ngClass]="{'icon-end': true}"
                    [class]="getStatusColor(form.status)"
                    [text]="form.status"
                    [icon]="icons.CARET_DOWN"
                  ></sw-small-button>
                </sw-dropdown-select>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <div class="item">
                  <sw-small-button
                    text="Edit"
                    [icon]="icons.PEN"
                    [routerLink]="['/forms-dashboard/form-constructor/', mongoId]"
                  >
                  </sw-small-button>
                </div>
                <div class="item">
                  <sw-small-button
                    text="View"
                    [icon]="icons.EYE"
                    [routerLink]="['/forms-dashboard/online-form/', mongoId]"
                  >
                  </sw-small-button>
                </div>
                <div class="item">
                  <sw-icon-button
                    [icon]="icons.SHARE"
                    (click)="onShareLink(form)"
                  >
                  </sw-icon-button>
                </div>
                <div class="item">
                  <sw-icon-button
                    [icon]="icons.DOWNLOAD"
                    (click)="onExportPDF(form.mongo_id, link)"
                  >
                  </sw-icon-button>
                </div>
                <div class="item">
                  <sw-icon-button
                    [icon]="icons.COPY"
                    (click)="onDuplicateForm(form.mongo_id)"
                  >
                  </sw-icon-button>
                </div>
              </td>
            </ng-container>

            <tr cdk-header-row class="filters-row" *cdkHeaderRowDef="displayedColumns;"></tr>
            <tr cdk-row class="table-row" [class.selected]="rowSelected(form)" #data
              *cdkRowDef="let form; columns: displayedColumns;" (click)="selectRow(form, $event)">
            </tr>


          </table>

        </form>

      </div>
    </div>
  </div>
  <sw-dialog
    #dialog
    [title]="popupTitle"
    [action]="popupActionBtnText"
    (closed)="popupClosed($event)"
  >
    <span *ngFor="let label of popupContentArray; let i = index">
      <sw-label
        *ngIf="canLabelsRemove"
        (deleteLabel)="deleteLabel(i, popupTitle)"
      >
        {{ label.title }}
      </sw-label>
      <sw-label
        *ngIf="!canLabelsRemove"
      >
        {{ label.title }}
      </sw-label>
    </span>
  </sw-dialog>
</div>
