<div class="app-form-table">
  <div class="app-form-table__header">
    <div class="app-form-table__text">
      <sw-page-header>
        Data Collection
      </sw-page-header>
    </div>
    <div class="app-form-table__controls">
      <div class="control-edit">
        <sw-button color="transparent-gray">
          <i class="fas fa-pen control-icon"></i>
          <span class="control-button-text">Edit Dashboard</span>
        </sw-button>
      </div>
      <div class="control-share">
        <sw-button color="transparent-gray">
          <i class="fas fa-share-alt control-icon"></i>
          <span class="control-button-text">Share</span>
        </sw-button>
      </div>
      <div class="control-view">
        <sw-button color="transparent" (click)="changeDashboardView()">
          <span *ngIf="!isDashboardShown" class="view-dashboard-text">
            View Dashboard
          </span>
          <span *ngIf="isDashboardShown" class="hide-dashboard-text">
            Hide Dashboard
          </span>
          <i
            class="control-view-icon fas"
            [ngClass]="{
              'fa-caret-up hide-dashboard-icon': isDashboardShown,
              'fa-caret-down view-dashboard-icon': !isDashboardShown
            }"
          ></i>
        </sw-button>
      </div>
    </div>
  </div>

  <div *ngIf="isDashboardShown">
    <form class="app-form-table-statistics">
      <div class="app-form-table-statistics-view">
        <sw-form-dashboard-view
          [statistic]="statistic?.views"
          [staticsPeriodOptions]="this.statisticsPeriodOptions"
          [defaultIndexOption]="defaultIndexOption"
          (changeViewPeriod)="changePeriod($event, 'view')"
        ></sw-form-dashboard-view>
      </div>
      <div class="app-form-table-statistics-rate">
        <sw-form-dashboard-rate
          [statistic]="statistic?.submissions_rate"
          [staticsPeriodOptions]="this.statisticsPeriodOptions"
          [defaultIndexOption]="defaultIndexOption"
          (changeRatePeriod)="changePeriod($event, 'rate')"
        ></sw-form-dashboard-rate>
      </div>
      <div class="app-form-table-statistics-invites">
        <sw-form-dashboard-invites
          [statistic]="statistic?.account_invites"
          [staticsPeriodOptions]="this.statisticsPeriodOptions"
          [defaultIndexOption]="defaultIndexOption"
          (changeInvitesPeriod)="changePeriod($event, 'invites')"
        ></sw-form-dashboard-invites>
      </div>
    </form>
  </div>

  <div class="app-form-table__table">
    <div class="app-form-table__header">
      <div class="app-form-table__text">
        <sw-block-header>
          forms
        </sw-block-header>
      </div>
      <div class="app-form-table__controls">
        <div class="app-form-table__controls-bulk" data-e2e="bulkactions">
          <sw-dropdown-select
            #bulk="dropdown"
            panelClass="app-form-table-dropdown-overlay"
            [disabled]="_sm.isEmpty()"
            [noneColor]="true"
            [options]="bulkOptions"
            (selected)="bulkAction($event)"
          >
            <sw-button [disabled]="_sm.isEmpty()" color="white">
              <span class="app-form-table__controls-bulk-btn-text">Bulk Actions</span>
              <i class="fas fa-chevron-down" [ngClass]="{'fa-chevron-up': bulk.isOpened}"></i>
            </sw-button>
          </sw-dropdown-select>
        </div>
        <div data-e2e="createnewformbutton">
          <sw-button routerLink="/form">Create New Form</sw-button>
        </div>
      </div>
    </div>
    <div>
      <div class="app-form-table__tabs" data-e2e="alltabs">
        <button
          *ngFor="let tab of statusArray"
          class="app-form-table__tab"
          [class.app-form-table__tab--activated]="activeTab == tab"
          (click)="clickTab(tab)"
        >
          {{ tab.title }}
        </button>
      </div>
    </div>
    <a [href]="download.url" [download]="download.filename" #link></a>

    <div>
      <div class="table">

        <form [formGroup]="filterForm">

          <table #table cdk-table [dataSource]="dataSource">

            <ng-container cdkColumnDef="checkbox">
              <th cdk-header-cell *cdkHeaderCellDef width="4%">
                <div class="cdk-header-checkbox">
                  <sw-input-dash-checkbox
                    (change)="allSelect($event)"
                    [check]="pageSelection[params.page - 1]?.selectedAnyRow || false"
                    [definition]="!pageSelection[params.page - 1]?.allSelected || false"
                    [disabled]="showSpinner"
                  ></sw-input-dash-checkbox>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <div class="cdk-data-checkbox">
                  <sw-input-checkbox
                    [check]="_sm.isSelected(form.id)"
                    (change)="selectRow(form, $event, true)"
                  ></sw-input-checkbox>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef width="19%">
                <div class="header_container" data-e2e="formname">
                  <div class="header_container__title" data-e2e="formnametitle" (click)="sortBy('name')">
                    Form Name
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                         [ngClass]="{'up': sort[0] === 'name' && sort[1] === false, 'down': sort[0] === 'name' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text
                      class="filter-field"
                      formControlName="name"
                      [isSearch]="true"
                      [isClearable]="true"
                      [trimStart]="true"
                      (keydown)="keyDownFunction($event)"
                    ></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <a [routerLink]="['/form-management', form.mongo_id]" [state]="{ form: form }">
                  <span class="text">{{form.name}}</span>
                </a>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="type">
              <th cdk-header-cell *cdkHeaderCellDef width="10%">
                <div class="header_container" data-e2e="typename">
                  <div class="header_container__title" data-e2e="typenametitle" (click)="sortBy('type')">
                    type
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                         [ngClass]="{'up': sort[0] === 'type' && sort[1] === false, 'down': sort[0] === 'type' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-dropdown-input
                      formControlName="type"
                      type="table-header"
                      typeItem="purpure"
                      [multiple]="true"
                      [isClearable]="true"
                      [options]="typeArray"
                      [isSumDisplay]="true"
                      [isDisplaySelected]="false"
                    >
                    </sw-dropdown-input>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <div>
                  <span class="main-text">{{ form.type }}</span>
                </div>
                <p class="second-text" *ngIf="form.submission_type && form.submission_type.length">
                  <span class="second-text-span">{{form.submission_type.join(', ')}}</span>
                </p>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="access">
              <th cdk-header-cell *cdkHeaderCellDef width="15%">
                <div class="header_container" data-e2e="accessname">
                  <div class="header_container__title" data-e2e="accessnametitle" (click)="sortBy('access')">
                    access
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                         [ngClass]="{'up': sort[0] === 'access' && sort[1] === false, 'down': sort[0] === 'access' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-dropdown-input
                      class="filter-field"
                      formControlName="access"
                      maxHeight="280px"
                      type="table-header"
                      [dropdownUsers]="true"
                      [isClearable]="true"
                      [isDisplaySelected]="false"
                      [isSumDisplay]="true"
                      [multiple]="true"
                      [options]="users"
                      [search]="true"
                    ></sw-dropdown-input>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span *ngIf="form.permissions && form.permissions.length">
                  <div class="main-text" *ngFor="let permission of form.permissions">
                    <sw-user-item [userItem]="getUserName(permission)" [isRoleShown]="false"></sw-user-item>
                  </div>
                </span>
                <div *ngIf="!form.permissions || !form.permissions.length" class="button-invite-user">
                  <sw-button
                    size="small"
                    fill="outline"
                    (click)="inviteUsers()"
                  >
                    <i class="fas fa-plus"></i>
                    <span>Invite users</span>
                  </sw-button>
                </div>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="createdBy">
              <th cdk-header-cell *cdkHeaderCellDef width="13%">
                <div class="header_container" data-e2e="createdbyname">
                  <div class="header_container__title" data-e2e="createdbynametitle" (click)="sortBy('createdBy')">
                    created by
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                         [ngClass]="{'up': sort[0] === 'createdBy' && sort[1] === false, 'down': sort[0] === 'createdBy' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text
                      class="filter-field"
                      formControlName="createdBy"
                      [isSearch]="true"
                      [isClearable]="true"
                      [trimStart]="true"
                      (keydown)="keyDownFunction($event)"
                    ></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <sw-user-item [userItem]="getUserInfo(form.owner)"></sw-user-item>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="updatedAt">
              <th cdk-header-cell *cdkHeaderCellDef width="12%">
                <div class="header_container" data-e2e="updateddatename">
                  <div class="header_container__title" data-e2e="updateddatenametitle" (click)="sortBy('updated_at')">
                    update date
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                         [ngClass]="{'up': sort[0] === 'updated_at' && sort[1] === false, 'down': sort[0] === 'updated_at' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-english-datepicker
                      class="filter-field"
                      formControlName="updatedAt"
                      placeholder=""
                      [range]="true"
                      (keydown)="keyDownFunction($event)"
                    ></sw-input-english-datepicker>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span class="date">{{ dateService.getDate(form.updated_at) }}</span>
                <span class="time">{{ dateService.getTime(form.updated_at) }}</span>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="status">
              <th cdk-header-cell *cdkHeaderCellDef width="10%">
                <div class="header_container" data-e2e="statusname">
                  <div class="header_container__title" data-e2e="statusnametitle" (click)="sortBy('status')">
                    status
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                         [ngClass]="{'up': sort[0] === 'status' && sort[1] === false, 'down': sort[0] === 'status' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-dropdown-input
                      formControlName="status"
                      type="table-header"
                      typeItem="purpure"
                      [multiple]="true"
                      [isClearable]="true"
                      [options]="statusArrayOptions"
                      [isSumDisplay]="true"
                      [isDisplaySelected]="false"
                      [disabled]="activeTab.value !== null"
                    >
                    </sw-dropdown-input>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <sw-dropdown-select
                  [options]="statusesOptions"
                  #bulk="dropdown"
                  (selected)="changeStatus($event, [form.id])"
                >
                  <sw-button
                    size="small"
                    [isRound]="true"
                    [color]="statusService.getStatusColor(form.status)"
                  >
                    <span>{{form.status}}</span>
                    <i class="fas fa-caret-down"></i>
                  </sw-button>
                </sw-dropdown-select>

                <div *ngIf="form.current_round && !checkService.isEmptyObject(form.current_round)"
                     class="status-round-name"
                >
                  {{ form.current_round.name }}
                  <span class="status-round-date">
                    ({{ dateService.getRoundDate(form.current_round.start_date, form.current_round.end_date) }})
                  </span>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef width="17%">
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <div class="item" data-e2e="Editbutton">
                  <sw-button size="small" [routerLink]="['/form', form.mongo_id]">
                    <i class="fas fa-pen"></i>
                    <span>Edit</span>
                  </sw-button>
                </div>
                <div class="item" data-e2e="Viewbutton">
                  <sw-button size="small" [routerLink]="['/view-form', form.mongo_id]">
                    <i class="fas fa-eye"></i>
                    <span>View</span>
                  </sw-button>
                </div>
                <div class="item">
                  <div class="item-icon" data-e2e="Sharebutton">
                    <sw-icon-button [icon]="icons.SHARE" text="Share" (click)="onShareLink(form)">
                    </sw-icon-button>
                  </div>
                  <div class="item-icon" data-e2e="Downloadbutton">
                    <sw-icon-button [icon]="icons.DOWNLOAD" text="Download" (click)="onExportPDF(form.mongo_id)">
                    </sw-icon-button>
                  </div>
                  <div class="item-icon" data-e2e="Copybutton">
                    <sw-icon-button [icon]="icons.COPY" text="Duplicate" (click)="onDuplicateForm(form.mongo_id)">
                    </sw-icon-button>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="paginator">
              <td cdk-footer-cell *cdkFooterCellDef [attr.colspan]="displayedColumns.length">
                <div *ngIf="totalAmount > 0" class="wrapper" data-e2e="paginatorname">
                  <div class="cdk-footer-select">
                    Selected
                    <span [class.cdk-footer-select-value]="_sm.isEmpty() === false">
                      ({{ _sm.selected.length }})
                    </span>
                  </div>
                  <div class="cdk-footer-paginator">
                    <p class="paginator-results">{{ this.totalAmount }} Results</p>
                    <sw-paginator
                      [index]="currentPage"
                      [size]="totalItems"
                      (pageChange)="changePage($event)"
                    ></sw-paginator>
                  </div>
                </div>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="spinner">
              <td cdk-footer-cell *cdkFooterCellDef [attr.colspan]="displayedColumns.length">
                <div class="app_loading">
                  <div class="app_loading__logo">i!</div>
                  <svg class="app_loading__spinner" viewBox="25 25 50 50">
                    <circle class="app_loading__path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
                            stroke-miterlimit="10"/>
                  </svg>
                </div>
              </td>
            </ng-container>

            <tr cdk-header-row class="filters-row" *cdkHeaderRowDef="displayedColumns;"></tr>
            <tr cdk-row class="table-row" [class.selected]="_sm.isSelected(form.id)" #data
                *cdkRowDef="let form; columns: displayedColumns;" [hidden]="showSpinner"
                (click)="selectRow(form, $event)">
            </tr>
            <tr cdk-footer-row *cdkFooterRowDef="['spinner']" [hidden]="!showSpinner">
            </tr>
            <tr cdk-footer-row *cdkFooterRowDef="['paginator']"></tr>

          </table>
        </form>
        <div *ngIf="totalAmount === 0">
          No Records Found
        </div>
      </div>
    </div>
  </div>
  <sw-dialog #dialog [title]="popupTitle" [action]="popupActionBtnText" (closed)="popupClosed($event)">
    <div *ngIf="!showInvite">
      <span *ngFor="let label of popupContentArray; let i = index">
        <sw-label *ngIf="canLabelsRemove" (deleteLabel)="deleteLabel(i, popupTitle)">
          {{ label.title }}
        </sw-label>
        <sw-label *ngIf="!canLabelsRemove">
          {{ label.title }}
        </sw-label>
      </span>
    </div>
    <div *ngIf="showInvite">
    </div>
  </sw-dialog>

  <div *ngIf="isPopupOpen" class="overlay">
  </div>
</div>
