<div class="app-form-table">
  <div class="app-form-table__header">
    <div class="app-form-table__text">
      <sw-page-header [header]="'Data Collection'"></sw-page-header>
    </div>
  </div>
  <div class="app-form-table__table">
    <div class="app-form-table__header">
      <div class="app-form-table__text">
        <sw-block-header [header]="'forms'"></sw-block-header>
      </div>
      <div class="app-form-table__controls">
        <sw-dropdown [options]="bulkOptions" #bulk="dropdown" (selected)="bulkAction($event)">
          <sw-button [icon]="bulk.isOpened ? 'fas fa-chevron-up' : 'fas fa-chevron-down'" [style]="'gray'">Bulk Actions
          </sw-button>
        </sw-dropdown>
      </div>
    </div>
    <div>
      <div *ngFor="let selectedForm of selectedForms"> {{ selectedForm.name }}</div>
      <button (click)="shareForms()">Share</button>
      <button (click)="archiveForms()">Archive</button>
      <button (click)="exportFormsPDF()">Export PDF</button>
      <button (click)="exportFormsZIP()">Export PDF</button>
    </div>
    <div>
      <div class="link-filters">
        <a *ngFor="let filter of linkFilters" [class.active]="activeLinkFilter === filter"
          (click)="filterByLink(filter)">{{filter.title}}</a>
      </div>
      <div class="table">

        <form [formGroup]="filterForm">

          <table #table cdk-table [dataSource]="dataSource">

            <ng-container cdkColumnDef="name">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container">
                  <div class="header_container__title" (click)="sortBy('name')">
                    Form Name
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'name' && sort[1] === false, 'down': sort[0] === 'name' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="name"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span class="text">{{ form.name }}</span>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="type">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container">
                  <div class="header_container__title" (click)="sortBy('type')">
                    type
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'type' && sort[1] === false, 'down': sort[0] === 'type' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="type"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span class="main-text">{{ form.type }}</span>
                <span class="second-text"></span>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="access">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container">
                  <div class="header_container__title" (click)="sortBy('access')">
                    access
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'access' && sort[1] === false, 'down': sort[0] === 'access' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="access"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                asd
              </td>
            </ng-container>


            <ng-container cdkColumnDef="createdBy">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container">
                  <div class="header_container__title" (click)="sortBy('createdBy')">
                    created by
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'createdBy' && sort[1] === false, 'down': sort[0] === 'createdBy' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="createdBy"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <sw-user-item [userItem]="getUserInfo(form.owner)"></sw-user-item>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="updatedAt">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container">
                  <div class="header_container__title" (click)="sortBy('updatedAt')">
                    update date
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'updatedAt' && sort[1] === false, 'down': sort[0] === 'updatedAt' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="updatedAt"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <span class="date">{{getDate(form.updated_at)}}</span>
                <span class="time">{{getTime(form.updated_at)}}</span>
              </td>
            </ng-container>


            <ng-container cdkColumnDef="status">
              <th cdk-header-cell *cdkHeaderCellDef>
                <div class="header_container">
                  <div class="header_container__title" (click)="sortBy('status')">
                    status
                    <div class="header_container__title_icons">
                      <i class="fas icon"
                        [ngClass]="{'up': sort[0] === 'status' && sort[1] === false, 'down': sort[0] === 'status' && sort[1] === true}"></i>
                    </div>
                  </div>
                  <div class="header_container__filter">
                    <sw-input-text class="filter-field" formControlName="status"></sw-input-text>
                  </div>
                </div>
              </th>
              <td cdk-cell *cdkCellDef="let form">
                <sw-dropdown [options]="statusesOptions" #bulk="dropdown" (selected)="''">
                  <sw-small-button [ngClass]="{'icon-end': true}" [class]="getStatusColor(form.status)"
                    [text]="form.status" icon="fa-caret-down"></sw-small-button>
                </sw-dropdown>
              </td>
            </ng-container>

            <ng-container cdkColumnDef="actions">
              <th cdk-header-cell *cdkHeaderCellDef></th>
              <td cdk-cell *cdkCellDef="let form">
                <div class="item">
                  <sw-small-button text="Edit" icon="fa-pen"></sw-small-button>
                </div>
                <div class="item">
                  <sw-small-button text="View" icon="fa-eye"></sw-small-button>
                </div>
                <div class="item">
                  <i class="fas fa-share-alt"></i>
                </div>
                <div class="item">
                  <i class="fas fa-download"></i>
                </div>
                <div class="item">
                  <i class="far fa-copy"></i>
                </div>

              </td>
            </ng-container>

            <tr cdk-header-row class="filters-row" *cdkHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr cdk-row class="table-row" #data *cdkRowDef="let user; columns: displayedColumns;"
              [style.visibility]="showSpinner ? 'collapse' : 'visible'">>
            </tr>


          </table>

        </form>

      </div>
    </div>
  </div>
  <sw-label>123</sw-label>
  <sw-label (deleteLabel)="deleteItem(123)">123
  </sw-label>
  <sw-dialog #dialog title="Bulk share" action="Share items (4)" (closed)="dialogClosed($event)">
    <h1>test</h1>
  </sw-dialog>
</div>