<app-modal
  class="form-payer-account"
  title="Create Payer Account"
  (closeModal)="onCloseFormPayerAccountModal()"
>
  <div
    *ngIf="!persons.length"
    class="test-c d-flex justify-content-center overlay pt-5"
  >
    <div
      class="spinner-border text-light"
      role="status"
    >
      <span class="sr-only">
        Loading...
      </span>
    </div>
  </div>
  <div
    *ngIf="persons.length"
    class="form-payer-account-container"
  >
    <form
      [formGroup]="payerAccountForm"
      (ngSubmit)="onCreatePayerAccount()"
    >
      <div
        class="form-payer-account-members"
      >
        <app-select-multi-search-field
          bindLabel="name"
          formControlName="members"
          labelTitle="Members"
          [isInvalid]="payerAccountForm.get('members').invalid && payerAccountForm.get('members').touched"
          [items]="persons"
        >
        </app-select-multi-search-field>
        <div class="field-has-error"
             *ngIf="payerAccountForm.get('members').invalid && payerAccountForm.get('members').touched && payerAccountForm.get('members')['errors']['required']"
        >
          Members is required
        </div>
      </div>
      <div class="form-payer-account-label">
        Account
      </div>
      <div class="app-form-row">
        <div
          class="form-payer-account-account-name"
        >
          <app-input-field
            formControlName="name"
            label="Account name"
            [isInvalid]="payerAccountForm.get('name').invalid && payerAccountForm.get('name').touched"
          >
          </app-input-field>
          <div class="field-has-error"
            *ngIf="payerAccountForm.get('name').invalid && payerAccountForm.get('name').touched && payerAccountForm.get('name')['errors']['required']"
          >
            Account name is required
          </div>
        </div>
        <div class="form-payer-account-type">
          <app-select-field
            formControlName="type"
            labelTitle="Type"
            [isInvalid]="payerAccountForm.get('type').invalid && payerAccountForm.get('type').touched"
            [items]="types"
          >
          </app-select-field>
          <div class="field-has-error"
               *ngIf="payerAccountForm.get('type').invalid && payerAccountForm.get('type').touched && payerAccountForm.get('type')['errors']['required']"
          >
            Type is required
          </div>
        </div>
      </div>
      <div
        class="form-payer-account-submit"
      >
        <button
          (click)="onCloseFormPayerAccountModal()"
          class="btn app-btn-outline-primary form-payer-account-cancel"
        >
          Cancel
        </button>

        <button
          type="submit"
          class="btn app-btn-primary"
          [disabled]="payerAccountForm.invalid"
        >
          Add Account
        </button>
      </div>
    </form>
  </div>
</app-modal>
