@import '../../../../../../../styles/variables/colors';
.spanForLabel{
  color: #BAB8B8;
}
.field-checked {
  border: 1px solid #4C35A8;
  padding-top: 10px;
}
.field-setting {
  border-top: 1px solid #4C35A8;
  margin-top: 20px;
}
.app-element-color {
  color: $element-base-color;
}
.dragable-i{
  color: #9C9D9D;
}
.vertical-center {

  height: 100%;
  display: flex;
  align-items: center;


}
.rectangle{
  margin-left: 13px;
  background-color: #4050A8  ;
  height: 6px;
  width: 15px;
}



/*Start switcher*/

.app-switch {
  position: relative;
  display: inline-block;
  top: 3px;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.app-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.app-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.app-slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .app-slider {
  background-color: $element-base-color;
}

input:focus + .app-slider {
  box-shadow: 0 0 1px $element-base-color;
}

input:checked + .app-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.app-slider.app-round {
  border-radius: 34px;
}

.app-slider.app-round:before {
  border-radius: 50%;
}

/*End switcher*/


small{
  height: 17px;
  width: 66px;
 // color: #FFFFFF;
 // font-family: "Nunito Sans";
  font-size: 12px;
  font-weight: bold;
  line-height: 11px
}
.dropdown-toggle::after {
  display:none;
}
