<div class="app-period-duration-setting">

  <h2 class="app-period-duration-setting__header">Period Settings</h2>

  <div class="app-period-duration-setting__name">
    <app-input-field
      [(ngModel)]="period.name"
      label="Period Name"
      (ngModelChange)="onChangePeriod()"
      [isInvalid]="!period.name"
    ></app-input-field>
  </div>

  <div class="app-period-duration-setting__range">
    <app-datepicker-field
      label="Period Start"
      [(ngModel)]="period.date_from"
      [width]="'147px'"
      [isInvalid]="period.date_from > period.date_to"
      (ngModelChange)="onChangePeriod()"
    ></app-datepicker-field>

    <app-datepicker-field
      label="Period End"
      [(ngModel)]="period.date_to"
      [width]="'147px'"
      [isInvalid]="period.date_from > period.date_to"
      (ngModelChange)="onChangePeriod()"
    ></app-datepicker-field>
  </div>

  <div *ngIf="period.error" class="app-period-duration-setting__error">
    <p *ngFor="let error of period.error" class="app-period-duration-setting__error">
      {{ error }}
    </p>
  </div>

</div>
