<div class="app-period-duration-setting">
  <div class="app-period-duration-setting__name">
    <app-input-field
      [(ngModel)]="period.name"
      label="Period Name"
      (ngModelChange)="onChangePeriod()"
    >
    </app-input-field>
  </div>

  <div class="app-period-duration-setting__range">
    <app-datepicker-field
      label="Period Start"
      [(ngModel)]="period.date_from"
      [width]="'147px'"
      [isInvalid]="period.date_from > period.date_to"
      (ngModelChange)="onChangePeriod()"
    ></app-datepicker-field>

    <app-datepicker-field
      label="Period End"
      [(ngModel)]="period.date_to"
      [width]="'147px'"
      [isInvalid]="period.date_from > period.date_to"
      (ngModelChange)="onChangePeriod()"
    ></app-datepicker-field>
  </div>
</div>
