.app-period-duration-setting {

  background: white;
  padding: 15px 10px;

  .app-period-duration-setting__header {
    font: 800 13px/15px 'NunitoSans-Bold';
    text-transform: uppercase;
    margin: 0 0 15px;
  }

  .app-period-duration-setting__name {
    margin: 0 0 10px;
  }

  .app-period-duration-setting__range {
    display: flex;
    justify-content: space-between;
  }

  .app-period-duration-setting__error {
    color: red;
    margin: 0;
  }

}
