<ng-container [ngSwitch]="inputField.type">
  <app-short-text-settings *ngSwitchCase="fieldTypes.shortTextField"
                             [inputField]="inputField"></app-short-text-settings>
  <app-long-text-settings *ngSwitchCase="fieldTypes.longTextField"
                            [inputField]="inputField"></app-long-text-settings>
  <app-drop-down-list-settings *ngSwitchCase="fieldTypes.dropDownListField"
                                 [inputField]="inputField"></app-drop-down-list-settings>
  <app-email-settings *ngSwitchCase="fieldTypes.emailField"
                        [inputField]="inputField"></app-email-settings>
  <app-phone-number-settings *ngSwitchCase="fieldTypes.phoneNumberField"
                               [inputField]="inputField"></app-phone-number-settings>
  <app-number-settings *ngSwitchCase="fieldTypes.numberTextField"
                               [inputField]="inputField"></app-number-settings>
  <app-date-settings *ngSwitchCase="fieldTypes.dateTimeField"
                               [inputField]="inputField"></app-date-settings>
</ng-container>
