<br>
<form class="form-inline">

  <button type="button" class="btn btn-outline-secondary text-uppercase form-control" (click)="goBack()">Back</button>
  <!--<div *ngIf="formName.length>3" class="justify-content-end">-->
  <div class="justify-content-end">
    <button type="button" class="btn btn-outline-secondary text-uppercase " (click)="saveForm()">Save</button>
  </div>


  <div *ngIf="warningVisible" class="alert alert-warning alert-dismissible col-md-4 col-md-offset-1">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="disableWarning()">&times;</a>
    <strong>Warning! </strong>{{showWarningMessage}}
  </div>
</form>
<br>


<div class="row no-gutters">
  <div class="col-3 pl-5">

    <div class="row justify-content-center pb-2">

      <div class="col-10 bg-white ">

        <div class="  row no-gutters slider-item align-items-center">
          <div class="col-2">
            <label class="app-switch">
              <input type="checkbox" [(ngModel)]="isFormsFields">
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col">
            <span class="font-weight-bold ">FORM FIELDS</span>
          </div>
        </div>
        <div [hidden]="!isFormsFields" class="bg-white rounded mb-3">
          <input class="form-control mb-3 search-input" [(ngModel)]="searchText" placeholder="Search...">

          <div class="mb-2  " *ngFor="let sideBar of sideBarFields | filter : searchText">
            <app-v-side-bar-group
              *ngIf="sideBar.type==113"
              [group]="sideBar"
              [existingFields]="existingFields"
              [customFields]="customFields"
              (onDeleteNested)="onDelete($event)"
              (onChangeFieldBeing)="onChangeFieldBeing($event)"
              (onChangeGroupBeing)="onChangeGroupBeing($event, sideBar)"
            >

            </app-v-side-bar-group>
            <app-v-side-bar-field
              *ngIf="sideBar.type!=113"
              [field]="sideBar"
              [style]="sideBar.mapped==''"
              (deleteCustom)="onDeleteCustom($event)"
              (onChangeFieldBeing)="onChangeFieldBeing($event)"

            >
            </app-v-side-bar-field>
          </div>
          <div>
            <button
              *ngIf="showAddButton"
              type="button"
              class="btn btn-outline-primary form-control p-0 text-left"
              (click)="showAddButton=false">
              &nbsp;&nbsp;+ Add New Field
            </button>
            <input
              *ngIf="!showAddButton"
              (keyup)="nameChange($event)"
              [ngClass]="!validNewCustomFieldName?'is-invalid':''"
              class="form-control add-input p-0"
              autofocus
              #newField
              (blur)="addNewCustomField(newField.value, sideBarFields); newField.value=''"
              (keyup.enter)="addNewCustomField(newField.value, sideBarFields); newField.value=''">
            <div class="invalid-feedback">
              We have existing field with the same name!
            </div>
          </div>

        </div>

      </div>

    </div>

    <!--    DOCUMENTS & FORMS-->
    <div class="row justify-content-center pb-2">

      <div class="col-10 bg-white ">

        <div class="  row no-gutters slider-item align-items-center">
          <div class="col-2">
            <label class="app-switch">
              <input type="checkbox" [(ngModel)]="isDocumentsForms.isActiveAll">
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col">
            <span class="font-weight-bold ">DOCUMENTS & FORMS</span>
          </div>
        </div>
        <div [hidden]="!isDocumentsForms.isActiveAll" class="bg-white rounded mb-3 ">
          <div class="row no-gutters pt-2 align-items-center">
            <div class="col">
              <span class="font-weight-bold">Documents</span>
              <span><i class="fas fa-question-circle pl-1" title="test"></i></span>
            </div>
            <div class="col-1 align-self-end">
              <span><i class="fas fa-plus-square"></i></span>
            </div>
            <div class="col-1 align-self-end" (click)="isDocumentsForms.isDocuments=!isDocumentsForms.isDocuments">
              <span [hidden]="!isDocumentsForms.isDocuments"><i class="fas fa-caret-up ml-2"></i></span>
              <span [hidden]="isDocumentsForms.isDocuments"><i class="fas fa-caret-down ml-2"></i></span>
            </div>
          </div>
          <div [hidden]="!isDocumentsForms.isDocuments">

          <div class="app-consent-item px-3 pt-3 pb-1 mt-3" *ngFor="let document of documents">
            <div class="row no-gutters">
              <div class="col-10">
                <span class="font-weight-bold">{{document.name}}</span>
              </div>
              <div class="col-2 text-right">
                <span class=" mr-3"><i class="fas fa-trash fa-xs"></i></span>
              </div>
            </div>
            <div class="row no-gutters">
              <div class="btn-group btn-group-toggle w-100 mt-2"
                   ngbRadioGroup [(ngModel)]="document.isUpload"
                   name="isUpload"
              >
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" [value]="true"> Upload
                </label>
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" [value]="false"> Download
                </label>
              </div>
            </div>
            <div class="col mt-4 p-0 no-gutters align-items-center" ngbRadioGroup [(ngModel)]="document.isPerFamily" name="">
            <div class="col-10">
              <label ngbButtonLabel class="app-radio-container text-left">Needed per Family
                <input type="radio"
                       ngbButton
                       [value]="true"
                >
                <span class="app-radio-checkmark mt-2"></span>
              </label>
            </div>
              <div class="col-10">

              <label ngbButtonLabel class="app-radio-container text-left">Needed per Student
                <input type="radio"
                       ngbButton
                       [value]="false"
                >
                <span class="app-radio-checkmark mt-2"></span>
              </label>
              </div>
        </div>

          </div>



          <hr>

          <div class="row no-gutters pt-2 align-items-center">
            <div class="col">
              <span class="font-weight-bold">Forms</span>
              <span><i class="fas fa-question-circle pl-1" title="test"></i></span>
            </div>
            <div class="col-1 align-self-end">
              <span><i class="fas fa-plus-square"></i></span>
            </div>
            <div class="col-1 align-self-end" (click)="isDocumentsForms.isForms=!isDocumentsForms.isForms">
              <span [hidden]="!isDocumentsForms.isForms"><i class="fas fa-caret-up ml-2"></i></span>
              <span [hidden]="isDocumentsForms.isForms"><i class="fas fa-caret-down ml-2"></i></span>
            </div>
          </div>

          <div [hidden]="!isDocumentsForms.isForms">

          <div class="app-consent-item px-3 pt-3 pb-2 mt-3">

            <div class="row no-gutters">
              <div class="col-10">
                <span class="font-weight-bold">Family Survey</span>
              </div>
              <div class="col-2 text-right">
                <span class=" mr-3"><i class="fas fa-trash fa-xs"></i></span>
              </div>
            </div>

            <div class="row no-gutters">
              <div class="btn-group btn-group-toggle w-100 mt-2"
                   ngbRadioGroup
              >
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" value=""> Use Existing
                </label>
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" value=""> Use Existing
                </label>
              </div>
            </div>
            <div class="col mt-4">
              <label class="app-radio-container">Needed per Family
                <input type="radio"
                       value=""
                >
                <span class="app-radio-checkmark"></span>
              </label>
            </div>
            <div class="col">
              <label class="app-radio-container">Needed per Student
                <input type="radio"
                       value=""
                >
                <span class="app-radio-checkmark"></span>
              </label>
            </div>

            <div class="col mt-4">
              <label class="app-switch">
                <input type="checkbox">
                <span class="app-slider app-round"></span>
              </label>
              <span class="ml-1">Fillable Online</span>
            </div>
            <div class="col">
              <label class="app-switch">
                <input type="checkbox">
                <span class="app-slider app-round"></span>
              </label>
              <span class="ml-1">Allow Download/Upload</span>
            </div>


          </div>
        </div>
        </div>
      </div>

    </div>
    </div>

    <!--  END  DOCUMENTS & FORMS-->

    <!--CONSENT-->
    <div class="row justify-content-center pb-2">
      <div class="col-10 bg-white">
        <div class="  row no-gutters slider-item align-items-center">
          <div class="col-2">
            <label class="app-switch">
              <input type="checkbox" [(ngModel)]="isConsent">
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col">
            <span class="font-weight-bold">CONSENT</span>
            <i [hidden]="!isConsent" class="fas fa-plus-square float-right app-plus-i"></i>
          </div>
        </div>
        <div [hidden]="!isConsent" class="bg-white rounded mb-3 ">
          <div class="app-consent-item p-3 mt-3" *ngFor="let item of consentInfo; let i = index">

            <div class="row no-gutters">
              <div class="col-10">
                <span class="app-consent-item-title">{{item.title}}</span>
              </div>
              <div class="col-2 text-right">
                <span class="app-fb-trash mr-3"><i class="fas fa-trash"></i></span>
                <span class="app-fb-caret-up"><i class="fas fa-caret-up"></i></span>
              </div>
            </div>

            <div class="row no-gutters align-items-center pt-3">
              <div class="col-2">
                <label class="app-switch">
                  <input type="checkbox" [(ngModel)]="item.checkbox.isActive">
                  <span class="app-slider app-round"></span>
                </label>
              </div>
              <div class="col">
                <span class="font-weight-bold ">CHECKBOX</span>
              </div>
            </div>

            <div class="  row no-gutters align-items-center pt-3">
              <div class="col-2">
                <label class="app-switch">
                  <input type="checkbox" [(ngModel)]="item.signature.isRequire">
                  <span class="app-slider app-round"></span>
                </label>
              </div>
              <div class="col">
                <span class="font-weight-bold ">REQUIRE SIGNATURE</span>
              </div>
            </div>

            <ng-container *ngIf="item.signature.isRequire">

              <div class="row no-gutters">
                <div class="btn-group btn-group-toggle w-100 mt-2"
                     ngbRadioGroup
                     [name]="'consentSignature' + i"
                     [(ngModel)]="item.signature.type"
                     [ngModelOptions]="{standalone: true}">
                  <label ngbButtonLabel class="btn app-btn-signature">
                    <input ngbButton type="radio" value="e"> E-signature
                  </label>
                  <label ngbButtonLabel class="btn app-btn-signature">
                    <input ngbButton type="radio" value="wet"> Wet Signature
                  </label>
                </div>
              </div>

              <div *ngIf="item.signature.type === 'e'" class="row no-gutters app-consent-signature px-3 pt-3">
                <div class="col">
                  <label class="app-radio-container">System
                    <input type="radio"
                           [name]="'eSignatureType' + i"
                           value="system"
                           [(ngModel)]="item.signature.eType">
                    <span class="app-radio-checkmark"></span>
                  </label>
                </div>
                <div class="col">
                  <label class="app-radio-container">External
                    <span class="pl-2"><i class="fas fa-cog app-fb-gear"></i></span>
                    <input type="radio"
                           [name]="'eSignatureType' + i"
                           value="external"
                           [(ngModel)]="item.signature.eType">
                    <span class="app-radio-checkmark"></span>
                  </label>
                </div>
              </div>

              <div class="row px-4 pt-3">
                <label class="app-checkbox-container">
                  Both Parents' Signature (when applicable)
                  <input type="checkbox" [(ngModel)]="item.signature.isBothParents">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>

            </ng-container>

          </div>
        </div>
      </div>

    </div>
    <!--END CONSENT-->

    <!--TUITION CONTRACT-->
    <div class="row justify-content-center pb-2">
      <div class="col-10 bg-white ">
        <div class="  row no-gutters slider-item align-items-center">
          <div class="col-2">
            <label class="app-switch">
              <input type="checkbox" [(ngModel)]="isTuitionContract">
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col">
            <span class="font-weight-bold ">TUITION CONTRACT</span>
          </div>
        </div>
        <div [hidden]="!isTuitionContract" class="bg-white rounded mb-3">
          <p class="mt-3 font-weight-bold">Table Structure</p>
          <div class="row no-gutters">
            <div class="col">
              <label class="app-radio-container">Split by Student
                <input type="radio" name="split" value="student" [(ngModel)]="tuitionContract.splitBy">
                <span class="app-radio-checkmark"></span>
              </label>
            </div>
            <div class="col">
              <label class="app-radio-container">Split by Fee
                <input type="radio" name="split" value="fee" [(ngModel)]="tuitionContract.splitBy">
                <span class="app-radio-checkmark"></span>
              </label>
            </div>
          </div>
          <hr>
          <p class="font-weight-bold">Show Fees</p>
          <div class="row no-gutters" *ngFor="let item of tuitionContract.showFees">
            <div class="col-6">
              <label class="app-checkbox-container">
                <span class="form-payment-side-bar-text">{{item.title | uppercase}}</span>
                <input type="checkbox" [(ngModel)]="item.isActive">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
            <div class="col" *ngIf="tuitionContract.splitBy === 'student' && item.discount.isAllow">
              <label class="app-switch app-switch-top-0 mr-1">
                <input type="checkbox" [disabled]="!item.isActive" [(ngModel)]="item.discount.isActive">
                <span class="app-slider app-round"></span>
              </label>
              <span>Show Discounts</span>
            </div>
          </div>
          <hr>
          <div class="  row no-gutters slider-item align-items-center">
            <div class="col">
              <label class="app-switch mr-2">
                <input type="checkbox" [(ngModel)]="tuitionContract.signature.isRequire">
                <span class="app-slider app-round"></span>
              </label>
              <span class="font-weight-bold ">Contract Signature</span>
            </div>
          </div>
          <ng-container *ngIf="tuitionContract.signature.isRequire">
            <div class="row no-gutters">
              <div class="btn-group btn-group-toggle w-100 mt-2"
                   ngbRadioGroup
                   name="radioSignature"
                   [(ngModel)]="tuitionContract.signature.type"
                   [ngModelOptions]="{standalone: true}">
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" value="e"> E-signature
                </label>
                <label ngbButtonLabel class="btn app-btn-signature">
                  <input ngbButton type="radio" value="wet"> Wet Signature
                </label>
              </div>
            </div>
            <div class="row no-gutters app-tuition-signature px-3 pt-3" *ngIf="tuitionContract.signature.type==='e'">
              <div class="col">
                <label class="app-radio-container">System
                  <input type="radio" name="signatureType" value="system" [(ngModel)]="tuitionContract.signature.eType">
                  <span class="app-radio-checkmark"></span>
                </label>
              </div>
              <div class="col">
                <label class="app-radio-container">External
                  <span class="pl-2"><i class="fas fa-cog app-fb-gear"></i></span>
                  <input type="radio" name="signatureType" value="external" [(ngModel)]="tuitionContract.signature.eType">
                  <span class="app-radio-checkmark"></span>
                </label>
              </div>
            </div>
            <div class="row px-3 pt-3">
              <label class="app-checkbox-container">
                Both Parents' Signature (when applicable)
                <input type="checkbox" [(ngModel)]="tuitionContract.signature.isBothParents">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <!--END TUITION CONTRACT-->

    <div class="row justify-content-center pb-2">
      <div class="col-10 bg-white slider-item  row no-gutters align-items-center">
        <div class="col-2">
          <label class="app-switch">
            <input type="checkbox">
            <span class="app-slider app-round"></span>
          </label>
        </div>
        <div class="col">
          <span class="font-weight-bold ">PAYMENT SETTINGS</span>
        </div>
      </div>
    </div>


    <!--    FORM PAYMENT-->
    <div class="row justify-content-center pb-2">
      <div class="col-10 bg-white ">
        <div class="  row no-gutters slider-item align-items-center">
          <div class="col-2">
            <label class="app-switch">
              <input type="checkbox" [(ngModel)]="isFormPayment">
              <span class="app-slider app-round"></span>
            </label>
          </div>
          <div class="col">
            <span class="font-weight-bold ">FORM PAYMENT</span>
          </div>
        </div>
        <div [hidden]="!isFormPayment" class="bg-white rounded mb-3 ">
          <div class="row no-gutters pt-2 align-items-center" *ngFor="let item of formPaymentSideBar">
            <div class="col-1">
              <label class="app-checkbox-container">
                <input
                  type="checkbox" [(ngModel)]="item.isActive">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
            <div class="col ">
              <span class="form-payment-side-bar-text">{{item.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  END  FORM PAYMENT-->

  <div class="col-9 pr-5">

    <div
      cdkDropList
      id="workPlaceList"
      [cdkDropListData]="fields"
      [cdkDropListConnectedTo]="['ExistingFieldsList', 'CustomFieldsList', '6372c882-3d14-486f-9c1f-52ae8ab928ef']"
      (cdkDropListDropped)="drop($event)">
      <ul class="list-group" [hidden]="!isFormsFields">
        <li class="list-group-item mb-3 py-0" *ngFor="let field of fields; trackBy: trackByFn" cdkDrag
            cdkDragLockAxis="y"
            [ngClass]="[!field.isValidName||!field.isValid?'list-group-item-warning':'', field.type==113?'app-list-group-item-info':'']">
          <app-v-group-container *ngIf="field.type==113" [inputGroup]="field"
                                 [customFields]="customFields"></app-v-group-container>
          <app-v-field-container *ngIf="field.type!=113"
                                 [customFields]="customFields"
                                 [inputField]="field"
                                 (onChange)="onChange($event, field)"
                                 (onUniq)="onUniq($event)"
                                 (onDelete)="onDelete($event)">
          </app-v-field-container>
        </li>

      </ul>

<!--  documents-forms-->
<!--      <div class="app-section-wrapper" [hidden]="!isDocumentsForms.isActiveAll">-->
        <app-v-documents-forms
          [hidden]="!isDocumentsForms.isActiveAll"
          [isDocumentsForms]="isDocumentsForms"
          [documents]="documents"
        >
        </app-v-documents-forms>
<!--      </div>-->
<!--  end  documents-forms-->

<!--  consent-->
      <app-v-consent [hidden]="!isConsent" [consentInfo]="consentInfo"></app-v-consent>
<!--  end consent-->

<!--  tuition-contract-->
      <app-v-tuition-contract [hidden]="!isTuitionContract" [tuitionContract]="tuitionContract"></app-v-tuition-contract>
      <!--  end tuition-contract-->

<!--  form-payment -->
      <div class="app-section-wrapper" [hidden]="!isFormPayment">
        <app-v-form-payment [formPaymentSideBar]="formPaymentSideBar">
        </app-v-form-payment>
      </div>
<!--  end form-payment-->

    </div>
  </div>
</div>



