<br>
<form class="form-inline">

  <button type="button" class="btn btn-outline-secondary text-uppercase form-control" (click)="goBack()">Back</button>
  <!--<div *ngIf="formName.length>3" class="justify-content-end">-->
  <div class="justify-content-end">
    <button type="button" class="btn btn-outline-secondary text-uppercase " (click)="saveForm()">Save</button>
  </div>


  <div *ngIf="warningVisible" class="alert alert-warning alert-dismissible col-md-4 col-md-offset-1">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="disableWarning()">&times;</a>
    <strong>Warning! </strong>{{showWarningMessage}}
  </div>
</form>
<br>


<div class="row no-gutters">
  <div class="col-3 pl-5">

    <div class="row justify-content-center pb-2">

      <div class="col-8 bg-white ">

        <div class="  row no-gutters slider-item align-items-center">
          <div class="col-9">
            <span class="slider-item-header ">FORM FIELDS</span>
          </div>
          <div class="col">
            <label class="app-switch mr-2">
              <input type="checkbox" [(ngModel)]="isCollapsed">
              <span class="app-slider app-round"></span>
            </label>
          </div>
        </div>
        <div [hidden]="!isCollapsed" class="bg-white rounded mb-3">
          <input class="form-control mb-3 search-input"  [(ngModel)]="searchText" placeholder="Search...">

          <div class="mb-2  " *ngFor="let sideBar of sideBarFields | filter : searchText">
            <app-v-side-bar-group
              *ngIf="sideBar.type==113"
              [group]="sideBar"
              [existingFields]="existingFields"
              [customFields]="customFields"
              (onDeleteNested)="onDelete($event)"
              (onChangeFieldBeing)="onChangeFieldBeing($event)"
              (onChangeGroupBeing)="onChangeGroupBeing($event, sideBar)"
            >

            </app-v-side-bar-group>
            <app-v-side-bar-field
              *ngIf="sideBar.type!=113"
              [field] ="sideBar"
              [style]="sideBar.mapped==''"
              (deleteCustom)="onDeleteCustom($event)"
              (onChangeFieldBeing)="onChangeFieldBeing($event)"

            >
            </app-v-side-bar-field>
          </div>
          <div>
            <button
              *ngIf="showAddButton"
              type="button"
              class="btn btn-outline-primary form-control p-0 text-left"
              (click)="showAddButton=false">
              &nbsp;&nbsp;+ Add New Field
            </button>
            <input
              *ngIf="!showAddButton"
              (keyup)="nameChange($event)"
              [ngClass]="!validNewCustomFieldName?'is-invalid':''"
              class="form-control add-input p-0"
              autofocus
              #newField
              (blur)="addNewCustomField(newField.value, sideBarFields); newField.value=''"
              (keyup.enter)="addNewCustomField(newField.value, sideBarFields); newField.value=''">
            <div class="invalid-feedback">
              We have existing field with the same name!
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="row justify-content-center pb-2">
      <div class="col-8 bg-white slider-item  row no-gutters align-items-center">
        <div class="col-9">
          <span class="slider-item-header ">EXTERNAL FORMS</span>
        </div>
        <div class="col">
          <label class="app-switch mr-2">
            <input type="checkbox">
            <span class="app-slider app-round"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pb-2">
      <div class="col-8 bg-white slider-item  row no-gutters align-items-center">
        <div class="col-9">
          <span class="slider-item-header ">TERMS AND CONSENT</span>
        </div>
        <div class="col">
          <label class="app-switch mr-2">
            <input type="checkbox">
            <span class="app-slider app-round"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pb-2">
      <div class="col-8 bg-white slider-item  row no-gutters align-items-center">
        <div class="col-9">
          <span class="slider-item-header ">TUITION CONTRACT</span>
        </div>
        <div class="col">
          <label class="app-switch mr-2">
            <input type="checkbox">
            <span class="app-slider app-round"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pb-2">
      <div class="col-8 bg-white slider-item  row no-gutters align-items-center">
        <div class="col-9">
          <span class="slider-item-header ">PAYMENT SETTINGS</span>
        </div>
        <div class="col">
          <label class="app-switch mr-2">
            <input type="checkbox">
            <span class="app-slider app-round"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pb-2">
      <div class="col-8 bg-white slider-item  row no-gutters align-items-center">
        <div class="col-9">
          <span class="slider-item-header ">FORM PAYMENT</span>
        </div>
        <div class="col">
          <label class="app-switch mr-2">
            <input type="checkbox">
            <span class="app-slider app-round"></span>
          </label>
        </div>
      </div>
    </div>

    <div class="row justify-content-center pb-2">
      <div class="col-8 bg-white slider-item  row no-gutters align-items-center">
        <div class="col-9">
          <span class="slider-item-header ">EXTERNAL FORMS</span>
        </div>
        <div class="col">
          <label class="app-switch mr-2">
            <input type="checkbox">
            <span class="app-slider app-round"></span>
          </label>
        </div>
      </div>
    </div>

  </div>

  <div class="col-9 pr-5">

    <div
      cdkDropList
      id="workPlaceList"
      [cdkDropListData]="fields"
      [cdkDropListConnectedTo]="['ExistingFieldsList', 'CustomFieldsList', '6372c882-3d14-486f-9c1f-52ae8ab928ef']"
      (cdkDropListDropped)="drop($event)">
      <ul class="list-group">
        <li class="list-group-item mb-3" *ngFor="let field of fields; trackBy: trackByFn" cdkDrag cdkDragLockAxis="y"
            [ngClass]="[!field.isValidName||!field.isValid?'list-group-item-warning':'', field.type==113?'app-list-group-item-info':'']">
          <app-v-group-container *ngIf="field.type==113" [inputGroup]="field" [customFields]="customFields"></app-v-group-container>
          <app-v-field-container *ngIf="field.type!=113"
                                 [customFields]="customFields"
                                 [inputField]="field"
                                 (onChange)="onChange($event, field)"
                                 (onUniq)="onUniq($event)"
                                 (onDelete)="onDelete($event)"
                                 (onFieldChanged)="onFieldChanged($event)">
          </app-v-field-container>
        </li>

      </ul>
    </div>
  </div>
</div>



