<section class="loginFormWrapper">
  <form class="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h3 class="text-center">Login</h3>
    <h5 class="text-center mt-5">Welcome to the ABC School</h5>
    <h6 class="text-center mb-5">Please login for starting</h6>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" formControlName="username" class="form-control"
             [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <section class="passwordWrapper">
        <input type="password" id="password" formControlName="password" class="form-control"
               [type]="shape === 'eye' ? 'password' : 'text'"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
        <img title="password_icon"
             [src]="shape === 'eye' ? '/assets/images/password/eye.svg' : '/assets/images/password/eye_off.svg'"
             (click)="changeShape()">
      </section>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Password is required</div>
      </div>
    </div>
    <span class="smallText">Forgot password?</span>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-secondary mt-5">Login</button>
    </div>
  </form>
</section>