<div class="content">
    <ng-container *ngIf="!isSaving">
  <!-- BEGIN: Online Form -->
  <ng-container>
    <app-publish-settings-online-form
      class="d-block app-div-animation"
      [ngClass]="{
        'app-div-show': publish_settings.state.settings['online'],
        'app-div-hide': !publish_settings.state.settings['online']
      }"
      [onlineConfig]="publish_settings.online_config"
    ></app-publish-settings-online-form>
  </ng-container>
  <!-- END: Online Form -->

  <!-- BEGIN: PDF Form -->
  <ng-container>
    <app-publish-settings-pdf-form
      class="d-block app-div-animation"
      [ngClass]="{
        'app-div-show': publish_settings.state.settings['pdf'],
        'app-div-hide': !publish_settings.state.settings['pdf']
      }"
      [pdfConfig]="publish_settings.pdf_config"
    ></app-publish-settings-pdf-form>
  </ng-container>
  <!-- END: PDF Form -->
  
  <!-- SaveGo -->
  <div class="mt-5 text-center">
    <button class="btn app-btn-primary px-3 py-2" (click)="savePublishSettings()">
      Save & Go Next Step
    </button>
  </div>
</ng-container>

  <ng-container *ngIf="isSaving">
    <main-spinner [spinnerText]="spinnerText"></main-spinner>
  </ng-container>
</div>
<!-- /.content -->