<!-- General Information Form -->
<div *ngIf="isFormReady()" class="container-fluid">
  <div class="row mt-5 px-5">
    <div class="col-3 rounded p-0">
      <app-form-general-menu (activeSectionEmitter)="setActiveSection($event)" [menu]="menu"></app-form-general-menu>
    </div>
    <div class=" col-9">
      <form [formGroup]="generalInfoForm" (ngSubmit)="onSubmit()">

        <!--Basic Info-->
        <div class="container bg-white rounded p-5" #basicInfo>
          <app-form-general-basic-info [generalInfoForm]="generalInfoForm"></app-form-general-basic-info>
          <ng-container *ngIf="!formId">
            <app-form-general-way-create
              (duplicatedFormIdEmitter)="setDuplicatedFormId($event)"
              (typeCreateEmitter)="setFormTypeCreation($event)"></app-form-general-way-create>
          </ng-container>

          <div [hidden]="menu.period.isActive" class="row justify-content-center">
            <button class="btn app-btn-primary" (click)="validateBasicFormInfoFields();$event.preventDefault();">Next
              Step
            </button>
          </div>
        </div>
        <!--End Basic Info-->

        <!--Period-->
        <div
          class="p-5 mt-4 container bg-white rounded"
          [ngClass]="!menu.period.isActive?'hidden-dev':''"
          [style.visibility]="menu.period.isActive ? 'visible' : 'hidden'"
          #period
        >

          <div class="justify-content-md-center mb-3 text-center">
            <span class="pt-4 app-step-title">2. PERIOD</span>
          </div>
          <div class="justify-content-md-center mb-3 text-center">
            <h4 class="pt-3 text-center font-weight-bold">What period is this for? You may select more than one</h4>
          </div>

          <div *ngIf="periods?.length" formGroupName="periodCheckboxGroup" class="form-group pl-5 ml-5">

            <div class="row justify-content-between pt-3 mt-4 mx-5">
              <div class="form-group col-6" *ngFor="let period of periods">
                <label class="app-checkbox-container" [for]="period.id">{{period.name}} ({{period.date_from}} -
                  {{period.date_to}})
                  <input type="checkbox" class="form-check-input" [id]="period.id" [formControlName]="period.id">
                  <span class="app-checkbox-checkmark"
                        [ngClass]="{'app-checkmark-is-invalid' : isInvalidCheckboxGroup('periodCheckboxGroup')}"></span>
                </label>
              </div>
            </div>
            <div
              class="text-center text-danger 
              {{addHiddenClass(!isInvalidCheckboxGroup('periodCheckboxGroup'))}}
              ">
              <small>At least one checkbox is required to check</small>
            </div>
          </div>

          <div [hidden]="menu.dates.isActive" class="row justify-content-center">
            <button class="btn app-btn-primary" (click)="validatePeriodFields();$event.preventDefault()">Next Step
            </button>
          </div>

        </div>
        <!--End Period-->

        <!--Form Dates-->
        <div class="p-5 mt-4 container bg-white rounded"
             [ngClass]="!menu.dates.isActive?'hidden-dev':''"
             [style.visibility]="menu.dates.isActive ? 'visible' : 'hidden'"
             #formDates
        >

          <div class="justify-content-md-center mb-3 text-center">
            <span class="pt-4 app-step-title">3. FORM DATES</span>
          </div>
          <div class="justify-content-md-center mb-3 text-center">
            <h4 class="pt-3 text-center font-weight-bold">When would you like this form to be available for
              accounts?</h4>
          </div>
          <div class="row justify-content-center mb-5">

            <div class="input-group col-4">
              <!--<label for="d1"><span>Start Date</span></label>-->
              <input class="form-control"
                     placeholder="Start Date"
                     name="dp1"
                     formControlName="startDate"
                     ngbDatepicker
                     [ngClass]="generalInfoForm.get('startDate').touched&&generalInfoForm.get('startDate').invalid?'is-invalid':''"
                     id="d1"
                     #d1="ngbDatepicker"
              >
              <!--(change)="logChanges($event)"-->

              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button">
                  <i class="far fa-calendar"></i>
                </button>
              </div>
              <!--              <div class="invalid-feedback">-->
              <!--                This field is required-->
              <!--              </div>-->
            </div>


            <div class="input-group col-4">
              <input class="form-control"
                     placeholder="End Date"
                     name="dp2"
                     [ngClass]="generalInfoForm.get('endDate').touched&&generalInfoForm.get('endDate').invalid?'is-invalid':''"
                     formControlName="endDate"
                     [minDate]="generalInfoForm.value.startDate"
                     ngbDatepicker
                     #d2="ngbDatepicker"
              >
              <!--(change)="logChanges($event)"-->

              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d2.toggle()" type="button">
                  <i class="far fa-calendar"></i>
                </button>
              </div>
              <!--              <div class="invalid-feedback">-->
              <!--                This field is required-->
              <!--              </div>-->
            </div>
          </div>

          <div [hidden]="menu.eligible.isActive" class="row justify-content-center">
            <button class="btn app-btn-primary" (click)="validateDatesFields();$event.preventDefault()">Next Step
            </button>
          </div>

        </div>
        <!--End Form Dates-->

        <!--ELIGIBLE ACCOUNTS-->
        <div class="p-5 mt-4 container bg-white rounded"
             [ngClass]="!menu.eligible.isActive?'hidden-dev':''"
             [style.visibility]="menu.eligible.isActive ? 'visible' : 'hidden'"
             #eligibleAccounts
        >

          <div class="justify-content-md-center mb-3 text-center">
            <span class="pt-4 app-step-title">4. ELIGIBLE ACCOUNTS</span>
          </div>
          <div class="justify-content-md-center mb-3 text-center">
            <h4 class="pt-3 text-center font-weight-bold">Who should be filling out this form?</h4>
          </div>

          <div class="row justify-content-center pl-5 ml-5">
            <div class="form-group col-3">
              <label class="app-checkbox-container" for="allFamilies">All Families
                <input type="radio"
                       formControlName="eligible"
                       name="eligible"
                       value="allFamilies"
                       class="form-check-input"
                       id="allFamilies">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
            <div class="form-group col-3">
              <label class="app-checkbox-container" for="allParents">All Parents
                <input type="radio"
                       formControlName="eligible"
                       name="eligible"
                       value="allParents"
                       class="form-check-input"
                       id="allParents">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
            <div class="form-group col-3">
              <label class="app-checkbox-container" for="allStudents">All Students
                <input type="radio"
                       formControlName="eligible"
                       name="eligible"
                       value="allStudents"
                       class="form-check-input"
                       id="allStudents">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
          </div>

          <div class="row justify-content-center pl-5 ml-5">
            <div class="form-group col-3">
              <label class="app-checkbox-container" for="newFamilies">New Families
                <input type="radio"
                       formControlName="eligible"
                       name="eligible"
                       value="newFamilies"
                       class="form-check-input"
                       id="newFamilies">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
            <div class="form-group col-3">
              <label class="app-checkbox-container" for="newStudents">New Students
                <input type="radio"
                       formControlName="eligible"
                       name="eligible"
                       value="newStudents"
                       class="form-check-input"
                       id="newStudents">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
            <div class="form-group col-3">
              <label class="app-checkbox-container" for="SpecificGrades">Specific Grades
                <input type="radio"
                       formControlName="eligible"
                       name="eligible"
                       value="specificGrades"
                       class="form-check-input"
                       id="SpecificGrades">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
          </div>

          <div class="row justify-content-center ml-5 pl-5">
            <div class="form-group col-9">
              <label class="app-checkbox-container" for="moreDetailed">I have more detailed requirements
                <input type="radio"
                       formControlName="eligible"
                       name="eligible"
                       value="moreDetailed"
                       class="form-check-input"
                       id="moreDetailed">
                <span class="app-checkbox-checkmark"></span>
              </label>
            </div>
          </div>

          <div *ngIf="generalInfoForm.get('eligible').value === 'moreDetailed'" class="row justify-content-center">
            <h4 class="pt-3 font-weight-bold">Coming Soon...</h4>
          </div>

          <div *ngIf="generalInfoForm.get('eligible').value === 'specificGrades'">
            <div class="justify-content-md-center mb-3 text-center">
              <h4 class="pt-3 text-center font-weight-bold">Who should be filling out this form?</h4>
            </div>

            <div class="row justify-content-center pl-5 ml-5">
              <div class="form-group col-2">
                <label class="app-checkbox-container" for="primary">Primary
                  <input type="checkbox" class="form-check-input" id="primary">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
              <div class="form-group col-2 form-check">
                <label class="app-checkbox-container" for="grade1">Grade 1
                  <input type="checkbox" class="form-check-input" id="grade1">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
              <div class="form-group col-2">
                <label class="app-checkbox-container" for="grade2">Grade 2
                  <input type="checkbox" class="form-check-input" id="grade2">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
              <div class="form-group col-2 form-check">
                <label class="app-checkbox-container" for="grade3">Grade 3
                  <input type="checkbox" class="form-check-input" id="grade3">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
              <div class="form-group col-2 form-check">
                <label class="app-checkbox-container" for="grade4">Grade 4
                  <input type="checkbox" class="form-check-input" id="grade4">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
            </div>

            <div class="row pl-5 ml-5">
              <div class="form-group col-2 offset-1">
                <label class="app-checkbox-container" for="grade5">Grade 5
                  <input type="checkbox" class="form-check-input" id="grade5">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
              <div class="form-group col-2 form-check">
                <label class="app-checkbox-container" for="grade6">Grade 6
                  <input type="checkbox" class="form-check-input" id="grade6">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
              <div class="form-group col-2">
                <label class="app-checkbox-container" for="grade7">Grade 7
                  <input type="checkbox" class="form-check-input" id="grade7">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
              <div class="form-group col-2 form-check">
                <label class="app-checkbox-container" for="grade8">Grade 8
                  <input type="checkbox" class="form-check-input" id="grade8">
                  <span class="app-checkbox-checkmark"></span>
                </label>
              </div>
            </div>

          </div>

        </div>
        <!--End ELIGIBLE ACCOUNTS-->

        <div class="row justify-content-center mt-4" [style.visibility]="menu.eligible.isActive ? 'visible' : 'hidden'">
          <button class=" btn  app-btn-primary" [disabled]="isSubmitted" (click)="onSubmit()">Save & Go Next Step
          </button>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- Loading spinner -->
<ng-container *ngIf="!isFormReady()">
  <main-spinner [spinnerText]="spinnerText"></main-spinner>
</ng-container>