<!-- General Information Form -->
<div *ngIf="isFormReady()" class="container-fluid">
  <div class="row mt-5 px-5">
    <div class="col-3 rounded p-0">
      <app-form-general-menu (activeSectionEmitter)="setActiveSection($event)" [menu]="menu"></app-form-general-menu>
    </div>
    <div class=" col-9">
      <form [formGroup]="generalInfoForm" (ngSubmit)="onSubmit()">

        <!--Basic Info-->
        <div class="container bg-white rounded p-5" #basicInfo>
          <app-form-general-basic-info [generalInfoForm]="generalInfoForm"></app-form-general-basic-info>
          <ng-container *ngIf="!formId">
            <app-form-general-way-create
              (duplicatedFormIdEmitter)="setDuplicatedFormId($event)"
              (typeCreateEmitter)="setFormTypeCreation($event)"></app-form-general-way-create>
          </ng-container>

          <div [hidden]="menu.period.isActive" class="row justify-content-center">
            <button class="btn app-btn-primary" (click)="validateBasicFormInfoFields();$event.preventDefault();">Next
              Step
            </button>
          </div>
        </div>
        <!--End Basic Info-->

        <!--Period-->
        <div
          class="p-5 mt-4 container bg-white rounded"
          [ngClass]="!menu.period.isActive?'hidden-dev':''"
          [style.visibility]="menu.period.isActive ? 'visible' : 'hidden'"
          #period
        >

          <div class="justify-content-md-center mb-3 text-center">
            <span class="pt-4 app-step-title">2. PERIOD</span>
          </div>
          <div class="justify-content-md-center mb-3 text-center">
            <h4 class="pt-3 text-center font-weight-bold">What period is this for? You may select more than one</h4>
          </div>

          <div *ngIf="periods?.length" formGroupName="periodCheckboxGroup" class="form-group pl-5 ml-5">

            <div class="row justify-content-between pt-3 mt-4 mx-5">
              <div class="form-group col-6" *ngFor="let period of periods">
                <label class="app-checkbox-container" [for]="period.id">{{period.name}} ({{period.date_from}} -
                  {{period.date_to}})
                  <input type="checkbox" class="form-check-input" [id]="period.id" [formControlName]="period.id">
                  <span class="app-checkbox-checkmark"
                        [ngClass]="{'app-checkmark-is-invalid' : isInvalidCheckboxGroup('periodCheckboxGroup')}"></span>
                </label>
              </div>
            </div>
            <div
              class="text-center text-danger 
              {{addHiddenClass(!isInvalidCheckboxGroup('periodCheckboxGroup'))}}
              ">
              <small>At least one checkbox is required to check</small>
            </div>
          </div>

          <div [hidden]="menu.dates.isActive" class="row justify-content-center">
            <button class="btn app-btn-primary" (click)="validatePeriodFields();$event.preventDefault()">Next Step
            </button>
          </div>

        </div>
        <!--End Period-->

        <!--Form Dates-->
        <div class="p-5 mt-4 container bg-white rounded"
             [ngClass]="!menu.dates.isActive?'hidden-dev':''"
             [style.visibility]="menu.dates.isActive ? 'visible' : 'hidden'"
             #formDates
        >
          <app-form-general-dates [generalInfoForm]='generalInfoForm'></app-form-general-dates>

          <div [hidden]="menu.eligible.isActive" class="row justify-content-center">
            <button class="btn app-btn-primary" (click)="validateDatesFields();$event.preventDefault()">Next Step
            </button>
          </div>

        </div>
        <!--End Form Dates-->

        <!--ELIGIBLE ACCOUNTS-->
        <div class="p-5 mt-4 container bg-white rounded"
             [ngClass]="!menu.eligible.isActive?'hidden-dev':''"
             [style.visibility]="menu.eligible.isActive ? 'visible' : 'hidden'"
             #eligibleAccounts
        >
          <app-form-general-eligible [generalInfoForm]='generalInfoForm'></app-form-general-eligible>
        </div>
        <!--End ELIGIBLE ACCOUNTS-->

        <div class="row justify-content-center mt-4" [style.visibility]="menu.eligible.isActive ? 'visible' : 'hidden'">
          <button class=" btn  app-btn-primary" [disabled]="isSubmitted" (click)="onSubmit()">Save & Go Next Step
          </button>
        </div>
      </form>
    </div>
  </div>

</div>

<!-- Loading spinner -->
<ng-container *ngIf="!isFormReady()">
  <main-spinner [spinnerText]="spinnerText"></main-spinner>
</ng-container>