<div class="general-page" data-e2e="general-page">
  <div class="container h-100" data-e2e="container-h-100">
    <div class="row column" data-e2e="row-column">
      <div class="header" data-e2e="header">
        <div class="text gray" data-e2e="text-gray">
          1. Basic Form Information
        </div>
        <div class="text" data-e2e="textfirst">
          Good {{ getDate() }}, I am the Form Set­up Wizard [name]. I will create your form
          with you in minutes
        </div>
        <div class="text" data-e2e="testsecond">
          What would you like to call this form and what type of form do you need?
        </div>
      </div>
      <div class="content" data-e2e="content">
        <div class="inputs" data-e2e="inputs">
          <sw-input-text class="input input-form-name" [formControl]="form.get('name')">
            <span class="placeholder" data-e2e="titleformname">Form Name</span>
          </sw-input-text>
          <sw-dropdown-input class="input input-form-type" [options]="typeOptions" [formControl]="form.get('type')">
            <span class="label" data-e2e="formtypelabel">Form Type</span>
          </sw-dropdown-input>
        </div>
      </div>

    </div>
    <div class="row second no-m column" data-e2e="row-second">
      <div class="header" data-e2e="headersecond">
        <div class="text" data-e2e="textchooseform">
          Choose the way you want to create your form
        </div>
      </div>
      <div class="content h-100" data-e2e="content-h-100">
        <sw-input-button-group [(ngModel)]="dublicate" [options]="buttonOptions"></sw-input-button-group>
        <div class="row w-100 h-100 no-m" data-e2e="duplicate_block" *ngIf="dublicate">
          <div class="col-3" data-e2e="col-3" style="padding-left: 8px; padding-right: 8px;">
            <div class="search-wrap" data-e2e="search-wrap">
              <input class="search" data-e2e="search" [formControl]="filter" placeholder="Search" />
              <i class="icon fas fa-search"></i>
            </div>
            <cdk-virtual-scroll-viewport itemSize="35" class="forms-viewport" data-e2e="forms-viewport">
              <div *cdkVirtualFor="let item of dataSource" class="form-item" data-e2e="form-item" [class.selected]="isSelected(item)"
                (click)="selectForm(item)">{{item.name}}</div>
            </cdk-virtual-scroll-viewport>
          </div>
          <div class="col-9" data-e2e="col-9" style="padding-left: 8px; padding-right: 8px; height: 100%;">
            <div class="form-preview" data-e2e="form-preview">
              <ng-container *ngIf="selectedItem; else noPdf">
                <div class="title" data-e2e="title">
                  <div class="name" data-e2e="name"> {{ selectedItem.name }}</div>
                </div>
                <div class="pdf-container" data-e2e="pdf-container">
                    <pdf-viewer [src]="selectedItem.src" (on-progress)="onProgress($event)" (error)="onError($event)"
                    style="display: block; margin-top: 60px;" zoom="0.7" [class.dont-display]="pdfLoading || pdfError"></pdf-viewer>
                </div>
                <div class="loader" *ngIf="pdfLoading">
                  <sw-main-spinner class="medium"></sw-main-spinner>
                </div>
                <div class="no-pdf" *ngIf="pdfError && !pdfLoading">
                  PDF does not exist
                </div>
              </ng-container>

              <ng-template #noPdf>
                <div class="no-pdf-text" data-e2e="no-pdf-text">
                  Please select the form you want to use as a duplicate
                </div>
              </ng-template>
            </div>
          </div>
        </div>


      </div>

    </div>
  </div>

</div>

<div class="stepper-wrap" data-e2e="stepper-wrap">
  <sw-button class="outline-btn" style="margin-right: 10px;" (click)="prevStep()">
    Cancel
  </sw-button>
  <sw-button (click)="nextStep()">
    Save & Go Next Step
  </sw-button>
</div>
