@import 'index';

.analytics {
  padding: 4px 15px 10px 15px;
  min-height: 180px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #151515;
  
  .card {
    padding: 15px;
    background: #fff;
  }

  .details {
    hr {
      margin: 8px 16px;
      border: 1px solid #F6F6F6;
      width: 100%;
    }

    .title {
      font-size: 9px;
      line-height: 13px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      color: #909090;
      padding-bottom: 6px;
    }

    .user-avatar {
      width: 13px;
      height: 13px;
      padding-right: 5px;
    }

    .user-name {
      font-weight: bold;
      line-height: 11px;
      padding-right: 5px;
    }

    .details-date {
      padding-top: 5px;
      line-height: 13px;
      color: #909090;
    }

    .registration-text {
      font-weight: bold;
      line-height: 11px;
      color: #4350A2;
      padding-bottom: 3px;
    }
    
    .round-date-range {
      line-height: 13px;
      color: #909090;
    }
  }

  .stats {
    margin-right: 10px;
    margin-left: 10px;

    .title {
      font-weight: bold;
      line-height: 15px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }

    .chart-total-title {
      position: absolute;
      left: 20%;
      top: 42%;
      font-weight: 800;
      font-size: 14px;
      line-height: 20px;
    }

    .chart-total-percent {
      position: absolute;
      left: 22%;
      top: 55%;
      color: #F8BC45;
      height: 20px;
      font-weight: 800;
      font-size: 17px;
      line-height: 20px;
    }

    .status-numbers {
      font-weight: 800;
      font-size: 17px;
      line-height: 20px;

      .type {
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.2px;
        text-transform: uppercase;
      }
    }
  } 
  
  .payments {
    flex: 0 0 48%;

    .title {
      font-weight: bold;
      line-height: 15px;
      letter-spacing: 0.2px;
      text-transform: uppercase;
    }
  }
}