$element-base-color: #4350a2;
$element-second-color: #9fa6cb;
$element-warning-color: #ffb915;
$element-danger-color: red;
$header-logo-color: #f8bc45;
$header-logo-hover-color: #dda538;

$element-additional-color: #004ed9;
$success-color: #4BCC6C;

$background-color: #f3f2f3;
$background-color-content: #a1a1a1;
$background-semi-wrap-color: #F5F5F7;
$background-color-main-menu: #FBFBFB;
$background-color-menu-label: #424242d9;
$white: #fff;
$background-disabled-color: #ced4da;
$background-table-color: #F6F6F6;

$border-color: #d5dfec;
$title-color: #626567;
$sub-title-color: #263853;

$header-background-color: $white;
$subheader-background-color: $background-color-content;
$subheader-hover-background-color: #626567;

$header-border-color: #465873;
$header-splitter-color: #eee;
$header-shadow-inset-color: #E8E8E8;
$header-shadow-color: rgba(0,0,0,0.5);

$input-background-color: #fefefe;
$label-color: #7b8aa1;
$invalid-color: #e94f47;
$red-color: #fc6467;
$error-color: #e65757;

$modal-header-background-color: #eef1f6;
$inactive-input-color: #d0dbea;
$filter-color: #c0cad8;

$icon-light-blue-color: #97CDF4;
$icon-dark-gray-color: #A4A8BE;
$icon-grey-color: #9c9d9d;
$gray-color: #909090;
$lightgray-color: #f2f2f2;
$softgray-color: #b6b6b6;
$darkgray-color: #151515;
$lightblue-color: #E4E7FF;
$dark-gray-blue-color: #131B33;

$table-header-background-color: #F2F2F2;
$table-header-input-background-color: #fff;
$table-row-even-background-color: #fff;
$table-row-odd-background-color: #FAFAFA;

$preview-background-color: #D7D7D7;

$dark-purple: #36405F;
$purple: #4350A2;
$light-purple: #EBEEFF;
$soft-purple: #50597A;
$hover-purple: #3a458c;

$preview-background-color: #D7D7D7;

$orange-fill-color: #FFC244;

$soft-yellow: #FBE2BC;
$dark-yellow: #C87F13;

$soft-blue: #DEF1FF;
$dark-blue: #1079C4;

$gray: #F3F3F3;
$soft-gray: #CACACA;
$dark-grey: #E3E3E3;
$bkg-gray: #E5E5E5;

$soft-red: #FFF3F3;

$button-color: #4350A2;
