$lato-regular: "latoregular", "Helvetica";
$lato-black: "latoblack", "Helvetica";

$nunito-sans-regular: "NunitoSans-Regular", "Helvetica";
$nunito-sans-bold: "NunitoSans-Bold", "Helvetica";
$nunito-sans-extra-bold: "NunitoSans-ExtraBold", "Helvetica";
$nunito-sans: "Nunito Sans";

$lucida-grande-regular: "LucidaGrande", "Helvetica";
$lucida-grande-bold: "LucidaGrande-Bold", "Helvetica";

$nunito-sans-regular: "NunitoSans-Regular", "Helvetica";
$nunito-sans-bold: "NunitoSans-Bold", "Helvetica";
$nunito-sans-extra-bold: "NunitoSans-ExtraBold", "Helvetica";
$nunito-sans: "Nunito Sans";
