@import 'index';

:host {

  .consent-header {
    width: 100%;
    height: 55px;
    display: flex;
    margin: 0 0 10px;
    background: $soft-purple;
    border-radius: 3px;

    &__bubbles {
      display: flex;
      width: 50px;
    }

    &__bubbles-ico {
      margin: auto;
      color: #fff;
      font-size: 18px;
    }

    &__sections {
      display: flex;
      width: 58%;
    }

    &__section-name {
      width: 78%;
      margin: auto 10px auto 0;
    }

    &__section-width {
      width: 19%;
      margin: auto 0;
    }

    &__controls {
      display: flex;
      flex-grow: 2;
      justify-content: flex-end;
    }

    &__controls-ico-container {
      display: flex;
      width: 30px;
    }

    &__controls-ico {
      height: 15px;
      margin: auto 0;
    }

    &__controls-arrow-container {
      display: flex;
      width: 46px;
      border-left: 1px solid $soft-purple;
    }

    &__controls-arrow {
      height: 15px;
      margin: auto;
    }
  }

  .consent-item {
    display: flex;
    min-height: 226px;
    padding: 15px 15px 15px 0;
    margin: 0 0 10px;
    background: #fff;
    border-radius: 3px;

    &:nth-last-of-type(1) {
      margin: 0 0 20px;
    }

    &__bubbles {
      display: flex;
      width: 50px;
      padding: 8px 0 0;
    }

    &__bubbles-ico {
      margin: 0 auto;
      color: $status-gray;
      font-size: 18px;
    }

    &__fields {
      flex-grow: 2;
    }

    &__fields-name {
      width: 45%;
      margin: 0 0 10px;
    }

    &__fields-text {
      width: 100%;
      margin: 0 0 5px;
    }

    &__fields-signatures {
      display: flex;
    }

    &__fields-signature {
      width: 23%;
      margin: 0 10px 0 0;
    }

    &__fields-button {
      display: flex;
      justify-content: flex-end;
    }

    &__fields-checkbox-container {
      position: relative;
      margin: 0 0 10px;
    }

    &__fields-checkbox {
      position: absolute;
      left: -31px;
      top: 10px;
    }
  }

  .consent__buttons {
    display: flex;
    justify-content: flex-end;
  }

  .consent__button:first-of-type {
    margin: 0 10px 0 0;
  }

  animation {
    display: block;
  }
}

