<ng-container *ngIf="field._id; else isHasError">
  <div
    class="form-group multi-div position-relative"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': value && !field.options.hideLabel }"
  >
    <div
      class="checkbox"
      *ngFor="let item of field.options.item || list; let i = index"
    >
      <label>
        <input
          type="checkbox"
          [formControlName]="field._id + i"
          mdInput
          value=""
          [ngClass]="{ validation_error: !!validationText }"
        />{{ item }}
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="" />
        <input
          type="text"
          [formControlName]="field._id + 'other'"
          placeholder="Other"
        />
      </label>
    </div>

    <!-- <span class="error_icon" [ngClass]="{'validation_error': !!validationText}"><i class="fas fa-times fa-xs"></i></span> -->

    <app-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></app-error-list>
  </div>
</ng-container>

<ng-template #isHasError>
  <p>Multiple Options Field has error</p>
  <pre>{{ field | json }}</pre>
</ng-template>
