.app-form-payment-input {
  height: 30px;
  width: 60px;
  border: 1px solid #b6b6b6;
  border-radius: 3px;
}
.app-radio-container {
  margin-bottom: 0;
}
.app-form-payment-div {
  background-color: #f6f6f6;
  border-radius: 5px;
}
.app-form-payment-span {
  height: 20px;
  width: 240px;
  color: #151515;
  /*font-family: "Lucida Grande";	*/
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
.btn {
  padding: 0;
}
legend {
  display: block;
  width: auto;
  padding: 0 5px;
  margin-bottom: 0;
  font-size: inherit;
  line-height: inherit;
  border-bottom: none;
}
fieldset {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
  padding: 5px;
}

.credit-card-div {
  height: 110px;
  //width: 148px;
  border: 1px solid #4350a2;
  border-radius: 6px;
  background-color: #ebeeff;
}
.credit-card-inactive-div {
  height: 110px;
  //width: 148px;
  border-radius: 6px;
  background-color: #ededed;
}
.credit-card-absent-div {
  height: 110px;
  //width: 148px;
  border-radius: 6px;
  border: 1px solid #4350a2;
  border-style: dashed;
}

.credit-card-text-name {
  //height: 13px;
  width: 58px;
  color: #151515;
  font-size: 10px;
  font-weight: bold;
  line-height: 13px;
  text-align: right;
}
.credit-card-text-date {
  //height: 12px;
  width: 31px;
  color: #151515;
  font-size: 10px;
  line-height: 12px;
}
.inactive-text-card {
  color: #ababab;
}

.vertical-center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-absent-text {
  height: 13px;
  width: 79.8px;
  color: #4350a2;
  font-size: 12px;
  font-weight: bold;
  line-height: 13px;
  text-align: center;
}

.app-fb-fp-table {
  border: 1px solid #d7d7d7;
  border-radius: 5px;
}
a {
  cursor: pointer;
}
a.active {
  color: #4350a2;
  font-weight: bold;
}
.bold-for-a {
  font-weight: bold;
}

.italic-for-a {
  font-style: italic;
}

.btn-pay {
  height: 30px;
  width: 117px;
  border-radius: 3px;
  background-color: #4350a2;
}

.is-invalid {
  border: 2px solid red;
}
