<div class="row no-gutters app-card-header px-4 py-2 app-text-white">
  <div class="col-6 text-left app-text-large font-weight-bold">
    Aaron Fishman
  </div>
  <div class="col-6 text-right">
    Father
  </div>
</div>

<div class="app-card-body p-3">

  <div class="row no-gutters border-bottom">
    <div class="col-3">
      <img src="assets/images/temp/person-foto-placeholder.png" width="70%">
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Name:</span><span>Aeron Daniel Fishman</span>
        </div>
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Hebrew Name:</span><span>בר מזל</span>
        </div>
        <div class="col-12 d-flex justify-content-between pb-1">
          <span class="app-text-second">Number of children:</span><span>7</span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      JOB
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Occupation:</span><span>Engineer</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Address:</span><span>New City, High Road, 45 </span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Work number:</span><span>+1 234 567-89-00</span>
    </div>
    <div class="col-12 text-left app-text-small font-weight-bold pt-3 pb-1">
      CONTACTS
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Phone Number:</span><span>+1 234 567-89-00</span>
    </div>
    <div class="col-12 d-flex justify-content-between pb-1">
      <span class="app-text-second">Email Address:</span><span>aaronn@gmial.com</span>
    </div>
  </div>

</div>

