<div class="app-form-payer-account-modal-fee">
  <div
    class="app-form-payer-account-modal-fee__header"
    [ngClass]="{'app-form-payer-account-modal-fee__header--open': isOpen}"
  >
    <div class="app-form-payer-account-modal-fee__header-title-block">
      <div
        class="app-form-payer-account-modal-fee__header-title"
        [ngClass]="{'app-form-payer-account-modal-fee__header-title--open': isOpen}"
      >
        {{recipient.name}}
      </div>
      <div>
        <i
          class="fas fa-trash app-form-payer-account-modal-fee__header-trash"
          (click)="onRemoveRecipientFees()"
        ></i>
      </div>
    </div>
    <div
      class="app-form-payer-account-modal-fee__header-arrow-block"
      [ngClass]="{'app-form-payer-account-modal-fee__header-arrow-block--open': isOpen}"
      (click)="onOpenFees()"
    >
      <i
        class="fas app-form-payer-account-modal-fee__header-arrow"
        [ngClass]="{
          'fa-sort-down app-badge-app-form-payer-account-modal-fee__header-arrow__down': !isOpen,
          'fa-sort-up app-badge-app-form-payer-account-modal-fee__header-arrow__up': isOpen
        }"
      ></i>
    </div>
  </div>
  <div
    class="app-form-payer-account-modal-fee__content"
    [ngClass]="{'app-form-payer-account-modal-fee__content--open': isOpen}"
  >
    <div
      *ngIf="fees && fees.length"
      class="app-form-payer-account-modal-fee__select-fees"
    >
      <app-select-multi-checkbox-field
        bindLabel="name"
        labelTitle="Fees"
        [items]="onlyFees"
        (selectedItems)="onSelect($event)"
        [(ngModel)]="selectedFees"
      ></app-select-multi-checkbox-field>
    </div>
    <app-form-payer-account-modal-responsible-fees
      [fees]="getSelectedFees()"
      (onRemoveFee)="onRemoveFee($event)"
    ></app-form-payer-account-modal-responsible-fees>
  </div>
</div>
