<div class="row">
  <div class="col-8"></div>
  <div class="col-4 app-new-person-role">
    <app-select-field [(ngModel)]="role"
                      labelTitle="Roles"
                      [isInvalid]="!role"
                      [items]="roles">
    </app-select-field>
    <div class="field-has-error" *ngIf="!role">Role is required</div>
  </div>
</div>

<app-family-add-new-parent *ngIf="role === FAMILY_ROLES.father || role === FAMILY_ROLES.mother"
                           [role]="role"
                           [family]="family"
                           (closeModalAddFamilyMember)="onCloseAddFamilyMemberModal()">
</app-family-add-new-parent>

<app-family-add-new-child *ngIf="role === FAMILY_ROLES.child || role === FAMILY_ROLES.student"
                           [role]="role"
                           [family]="family"
                           (closeModalAddFamilyMember)="onCloseAddFamilyMemberModal()">
</app-family-add-new-child>

<app-family-add-new-grandparents *ngIf="role === FAMILY_ROLES.grandfather || role === FAMILY_ROLES.grandmother"
                          [role]="role"
                          [family]="family"
                          (closeModalAddFamilyMember)="onCloseAddFamilyMemberModal()" >
</app-family-add-new-grandparents>
