@import '../../../../../styles/index.scss';

.widgets_control {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;

    &__controls_list {
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 1rem;
        top: -1.25rem;
    }
    
    &__controls_list_item {
        list-style: none;
    }

    &__control {
        color: #909090;
        cursor: pointer;
        margin-left: 1rem;
        text-transform: uppercase;
        text-decoration: none;
        font-family: "NunitoSans-Regular";
        font-size: .75rem;
        letter-spacing: 0.025rem;
        line-height: 1.1rem;
        outline: 0 transparent solid;

        & > i {
            font-size: .75rem;
            margin-right: .3rem; 
        }

        &--extend_control {        
            color: #4350A2;
            font-family: "NunitoSans-ExtraBold";
        }
    }
}


.widgets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-right: -1rem;
    margin-left: -1rem;

    box-sizing: border-box;
    opacity: 1;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s;
    position: relative;
    clear: both;

    @include media-breakpoint-up(lg) {
        flex-direction: row;
        justify-content: space-between;
    }

    &--hidden {
        height: 0;
        min-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
    }

    &--visible {
        height: 0;
        min-height: 450px;
        opacity: 1;
        visibility: visible;
        overflow: hidden;

        @include media-breakpoint-up(lg) {
            min-height: 150px;
        }
    }

    &__item {
        flex: 0 0 33.33%;
        padding: .5rem 1rem;
        width: 100%;

        @include media-breakpoint-up(lg) {
            width: (100% / 3);
        }
    }
}