@import '../../shared/styles/index.scss';

.pdf_container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.controls_load {
  display: flex;
  height: 2rem;
  margin-left: 1.25rem;
  width: 2rem;

  &__icon {
    color: #97CDF4;
  }
}
