<ng-container *ngFor="let pdf of form.forms; let indexPdf = index">
  <!--Title-->
  <h2 class="content_section__article_title">
    {{ pdf.name }}
  </h2>

  <!--SubTitle-->
  <h3 class="sub_title">
    <i class="far fa-clock fa-sm mr-1"></i>
    ~15 minutes
  </h3>

  <!--Text-->
  <div
    class="content_section__article_text content_section__article_text--center text_center_max_w"
    [innerHTML]="pdf.accompanyingText.data"
  ></div>

  <!-- PDF Loader -->
  <app-pdf-loader [pdf]="pdf"></app-pdf-loader>
</ng-container>
