@import '../../shared/styles/index.scss';

.content_section {
  padding: 0;
  &__form {
    display: block;
    padding: 1.25rem 1.666rem 1.666rem 1.666rem;
    overflow: hidden;
    cursor: pointer;
    &:first-of-type {
      border-radius: 5px 5px 0 0;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid #E7E7EC;
    }
    &.active {
      border: 1px solid $orange-fill-color;
      background-color: #FFFCF2;
    }
  }
  .form {
    &__header {
      height: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.833rem;
      &_title {
        font-family: $nunito-sans-extra-bold;
        color: $element-additional-color;
        font-size: 0.833rem;
        letter-spacing: 0.33px;
        text-transform: uppercase;
      }
      &_upload {
        margin: 0 0.833rem 0 0;
        input[type="file"] {
          display: none;
        }
      }
      &_upload,
      &_download {
        svg {
          width: 2rem;
          height: 2rem;
          cursor: pointer;
        }
      }
    }
    &__text {
      font-family: $nunito-sans-regular;
      color: #131B33;
      font-size: 1rem;
      line-height: 1.333rem;
    }
  }
}
