<div class="row no-gutters mb-1 mt-3">
  <div class="col-12 d-flex justify-content-between align-items-center">
    <p class="app-text-small font-weight-bold mb-0">DOCUMENTS</p>
    <i class="fas fa-plus fa-xs app-background-primary app-text-white rounded p-2 app-cursor-pointer"
       (click)="inputDownload.click()"></i>
    <input
      #inputDownload
      type="file"
      accept=".pdf,.doc,.docx,.jpg,.jpeg,.png"
      (change)="fileUpload($event)"
      hidden
    >
  </div>
</div>

<div class="row no-gutters align-items-center">

  <div *ngFor="let attachment of attachments"
       class="col-12 app-background-light-gray rounded row align-items-center no-gutters mb-2">
    <div class="col-10 py-2 pl-3">
      <span class="text-bold">{{attachment.title}}</span>
    </div>
    <div class="col-2 row no-gutters align-items-center justify-content-end">
      <!--<div class="col-4" (click)="openForPreview(document)">-->
      <i class="fas fa-eye mr-3 app-text-second app-cursor-pointer"
         (click)="fileDownload(attachment.link)"></i>
      <i class="fas fa-trash mr-3 app-text-second app-cursor-pointer"
         (click)="fileDelete(attachment.link)"></i>
      <i class="fas fa-paperclip app-background-primary app-text-white rounded p-3 app-cursor-pointer"
         (click)="inputDownload.click()"></i>
    </div>
  </div>
  <div class="col-12 d-flex justify-content-center">
    <app-spinner *ngIf="loader"></app-spinner>
  </div>
</div>
