<!--Title-->
<h2 class="content_section__article_title">
  Parents Information
</h2>

<!--SubTitle-->
<h3 class="sub_title">
  <i class="far fa-clock fa-sm mr-1"></i>
  ~15 minutes
</h3>

<ng-container *ngIf="form">
  <div class="app-of-general-info-section px-3 py-4">
    <ng-container *ngFor="let familyMember of form.fields">
      <ng-container *ngIf="familyMember.prefix !== 'student'">
        <!--Title-->
        <p
          class="content_section__article_title content_section__article_title--left"
        >
          {{ familyMember.name }}
        </p>

        <!--General Fields-->
        <div class="row no-gutters">
          <ng-container *ngFor="let item of familyMember.fields">
            <div
              *ngIf="item.type !== 113"
              class="col-{{ item.options.size }} p-2"
            >
              <app-online-form-fields [field]="item"></app-online-form-fields>
            </div>

            <div class="row no-gutters col-12" *ngIf="item.type === 113">
              <div class="col-12">
                <p class="px-2 py-2 app-text-small app-text-extra-bold">
                  {{ item.name | uppercase }}
                </p>
              </div>
              <ng-container *ngFor="let groupField of item.fields">
                <div class="col-{{ groupField.options.size }} px-2">
                  <app-online-form-fields
                    [field]="groupField"
                  ></app-online-form-fields>
                </div>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
