<p class="text-center app-text-extra-large app-text-extra-bold">
  General Information
</p>

<div class="app-of-wrap">

  <div class="row no-gutters align-items-center">
    <div class="col-12 app-of-nav-wrap">
      <app-general-info-nav (activeSectionEmitter)="onActiveSection($event)"></app-general-info-nav>
    </div>
  </div>

  <div class="row no-gutters p-4">
    <div class="col-12">
      <app-general-info-students *ngIf="activeSection === generalSectionsNames.studentsInfo">
      </app-general-info-students>
      <app-general-info-parents *ngIf="activeSection === generalSectionsNames.parentsInfo"
                                [form]="form">
      </app-general-info-parents>
  </div>

</div>
