<div class="subrow">
  <div class="info">
    <div class="history">
      <sw-form-management-submission-history [historyList]="historyList"></sw-form-management-submission-history>
    </div>
    <div class="missing-fields">
      <sw-form-management-submission-missing-fields
        [missingFields]="missingFields"
      ></sw-form-management-submission-missing-fields>
    </div>
  </div>
  <div *ngIf="isOpen" class="form">
    <div class="tabs-block">
      <div class="tabs">
        <sw-button
          *ngFor="let tab of tabsArray"
          class="button-tab"
          [class.tab-activated]="activeTab === tab"
          (click)="activeTab = tab"
        >
          {{ tab }}
        </sw-button>
      </div>
    </div>
    <div class="online-form" *ngIf="activeTab === 'Forms'">
      <sw-online-form
        [formId]="formId"
        [isViewMode]="true"
        [isMenuShow]="true"
        [isReviewMode]="true"
      ></sw-online-form>
    </div>
    <div *ngIf="activeTab === 'Document'">
      Document
    </div>
  </div>
</div>
