<form [formGroup]="settingsForm">
  <p class="app-text-small app-text-extra-bold">FIELD SIZE</p>
  <div class="row no-gutters mb-4">
    <div class="col-12">
      <app-input-field [formControlName]="'maxSizeChar'"
                       label="Field Size (Max Characters)"
                       type="number"
                       [min]="1"></app-input-field>
    </div>
  </div>
  <div>
    <app-toggle-checkbox-field label="Validate Email"
                               [formControlName]="'validateEmail'"></app-toggle-checkbox-field>
  </div>
  <div>
    <app-toggle-checkbox-field label="Confirmation Text Box"
                               [formControlName]="'confirmationTextBox'"></app-toggle-checkbox-field>
  </div>
  <hr>
  <div class="mb-3">
    <app-toggle-checkbox-field label="EMAIL BLOCKS"
                               [formControlName]="'emailBlocks'"></app-toggle-checkbox-field>
  </div>
  <div class="mb-2">
    <app-checkbox-field label="Disallow Free Email Address"
                        [formControlName]="'emailBlocks'"></app-checkbox-field>
  </div>
  <div>
    <p class="app-text-second mb-1">Email Domains to Block</p>
    <textarea class="w-100 app-email-block-domains"  [formControlName]="'blockDomains'"></textarea>
  </div>
</form>
