<ng-container *ngIf="form">
  <app-online-form-nav [formName]="form?.name" (actionEmitter)="onAction($event)"></app-online-form-nav>
  <div class="container-fluid app-of-background min-vh-100 py-4">
    <div class="row">
      <div class="col-3">
        <app-online-form-menu [form]="form" (activeMenuItemEmitter)="onActiveMenuItem($event)"></app-online-form-menu>
      </div>
      <div class="col-9">
        <app-online-form-general-info *ngIf="activeSection === mainMenuNames.generalInfo"
                                      [form]="form">
        </app-online-form-general-info>
        <app-online-form-documents-forms [form]="form" *ngIf="activeSection === mainMenuNames.documentsForms"></app-online-form-documents-forms>
        <app-online-form-consent [form]="form" *ngIf="activeSection === mainMenuNames.consent"></app-online-form-consent>
      </div>
    </div>
  </div>
</ng-container>

<div *ngIf="!form" class="row min-vh-100 align-items-center">
  <div class="col-12 text-center">
    <div class="spinner-border text-warning" style="width: 4em; height: 4em;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
