<div *ngFor="let document of form.documents" class="mb-3">
  <!--Title-->
  <h2
    class="content_section__article_title content_section__article_title--left"
  >
    {{ document.name }}
  </h2>

  <div
    class="content_section__article_text"
    [innerHTML]="document.accompanyingText.data"
  ></div>

  <div class="document_container">
    <!-- {{ document| json }} -->
    <div class="document_container__icon_container">
      <i class="far fa-file-pdf fa-3x document_container__pdf_icon"></i>
    </div>
    <ng-container *ngIf="document.isUpload">
      <div class="document_container__file_information">
        <span>Choose file...</span>
      </div>
      <div class="document_container__load">
        <button class="btn app-btn-primary form-control">
          Upload Document
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="!document.isUpload">
      <div
        class="document_container__file_information"
        (click)="openForPreview(document)"
      >
        <span>{{ form.attachments[document.data].name }}</span>
        <span class="document_container__file_details">230KB (2 pages)</span>
      </div>
      <div class="document_container__load">
        <!-- <button
          class="btn app-btn-primary form-control text-nowrap"
          (click)="downloadFile(document)"
        ></button> -->
        <button
          class="btn app-btn-primary form-control text-nowrap"
          (click)="openForPreview(document)"
        >
          Download Document
        </button>
      </div>
    </ng-container>
  </div>
  <hr />
</div>
