<div class="p-3 app-group-settings-section">

  <div class="row mb-2 mt-3">
    <div class="col-sm-8">
      <span class="app-text-extra-bold app-text-large">Setting</span>
    </div>
    <div class="col-sm-4">
      <span class="app-text-extra-bold app-text-large">Logic Builder</span>
    </div>
  </div>

  <div class="row">
    <div class="col-8" style="padding-right: 0;">
      <div class="settings-div h-100">
        <div class="field_settings_container h-100">
          <form class="h-100" [formGroup]="groupForm">
            <div class="group_row h-100">
              <div class="group_col h-100">
                <section>
                  <div class="title">
                    Group Options
                  </div>
                  <div class="row_container" style="justify-content: flex-start">
                    <sw-input-checkbox style="margin-right: 20px;" formControlName="required">
                      <span class="label">Required</span>
                    </sw-input-checkbox>
                    <sw-input-checkbox class="settings-field" formControlName="hideLabel">
                      <span class="label">Hide Label</span>
                    </sw-input-checkbox>
                  </div>
                </section>
                <section>
                  <div class="title">
                    <sw-input-toggle formControlName="isSupportText">
                      <span class="input_label">Hint</span>
                    </sw-input-toggle>
                  </div>
                  <sw-input-text *ngIf="groupForm.get('isSupportText').value" class="settings-field" formControlName="hint">
                  </sw-input-text>
                </section>
                <section>
                  <sw-radio-group class="flex-row" [options]="displayOptions" formControlName="displayStrategy">
                  </sw-radio-group>
                </section>
              </div>
              <div class="group_col h-100">
                <section>
                  <div class="title">
                    <sw-input-toggle formControlName="repeatGroup">
                      <span class="input_label">Repeat This Group</span>
                    </sw-input-toggle>
                  </div>
                  <sw-radio-group class="flex-row" *ngIf="groupForm.get('repeatGroup').value" [options]="repeatOptions" formControlName="repeatStrategy">
                  </sw-radio-group>
                </section>
                <section *ngIf="groupForm.get('repeatGroup').value" [ngSwitch]="groupForm.get('repeatStrategy').value">
                  <div *ngSwitchCase="'For Each Student in Family'">
                    <sw-input-checkbox class="settings-field" formControlName="prefill">
                      <span class="label">Prefill with System Information</span>
                    </sw-input-checkbox>
                  </div>
                  <div *ngSwitchCase="'Other'">
                    <section>
                      <div class="title">
                        Online Form
                      </div>
                      <div class="row_container">
                        <div class="row_container__input">
                          <sw-input-number formControlName="minRepetitions">
                            <span class="label">Min Repetitions</span>
                          </sw-input-number>
                        </div>
                        <div class="row_container__input">
                          <sw-input-number formControlName="maxRepetitions">
                            <span class="label">Max Repetitions</span>
                          </sw-input-number>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="title">
                        PDF Form
                      </div>
                      <div class="row_container">
                        <div class="row_container__input small">
                          <sw-input-number formControlName="numOfRepetitions">
                            <span class="label">Number of Repetitions</span>
                          </sw-input-number>
                        </div>
                      </div>
                    </section>
                  </div>
                </section>
              </div>
            </div>
          </form>

        </div>

      </div>
    </div>


    <div class="col-4">
      <div class="settings-div row no-gutters h-100">
        <div class="col p-3">
          <sw-button>Add Logic Builder</sw-button>
        </div>
      </div>
    </div>


  </div>

</div>