<div class="content__box">
  <h2 class="content__title">{{ pdfStructure.title }}</h2>

  <h3 class="content__sub_title">{{ pdfStructure.subtitle }}</h3>
  <!-- General -->
  <div class="content__row_list">
    <ng-container
      *ngFor="
        let checkBoxItem of pdfStructure.checkBoxList['general'];
        let checkBoxIndex = index;
        let checkBoxLastIndex = last
      "
    >
      <label
        class="app-checkbox-container checkbox"
        [ngClass]="{
          'checkbox--mr_2': checkBoxIndex !== checkBoxLastIndex
        }"
        for="{{ checkBoxItem.key }}"
      >
        <p
          class="checkbox__text"
          [ngClass]="{ 'checkbox__text--checked': pdfConfig[checkBoxItem.key] }"
        >
          {{ checkBoxItem.text }}
        </p>
        <input
          type="checkbox"
          id="{{ checkBoxItem.key }}"
          [ngModel]="pdfConfig[checkBoxItem.key]"
          (click)="toggleCheckbox(checkBoxItem.key)"
        />
        <span class="app-checkbox-checkmark"></span>
      </label>
    </ng-container>
  </div>
  <!-- Sending -->
  <div class="row no-gutters slider-item align-items-center">
    <div class="col-auto mr-2">
      <label class="app-switch">
        <input
          type="checkbox"
          [ngModel]="pdfConfig['is_send_mail']"
          (ngModelChange)="
            pdfConfig['is_send_mail'] = pdfConfig['is_send_mail'] = $event
          "
        />
        <span class="app-slider app-round"></span>
      </label>
    </div>
    <div class="col">
      <span
        class="font-weight-bold side-bar-toggle content__toggle_text"
        (click)="toggleCheckbox('is_send_mail')"
        >{{ pdfStructure.checkBoxList["sending"][0].text }}</span
      >
    </div>
  </div>
  <!-- MailForm -->

  <!-- <form [formGroup]="fieldsAddGroup" (ngSubmit)="addField(modal)"> -->
  <!-- (ngSubmit)="sendMail(modal)" -->
  <form
    [formGroup]="pdfMailForm"
    class="mail_form app-div-animation"
    [ngClass]="{
      'app-div-show': pdfConfig['is_send_mail'],
      'app-div-hide': !pdfConfig['is_send_mail']
    }"
  >
    <!-- #ProviderNameID -->
    <div class="form-group app-input-container">
      <label for="ProviderNameID" class="app-input-label">Provider Name</label>
      <select
        class="app-input form-control"
        [ngClass]="{
          'is-invalid': false
        }"
        #ProviderNameID
        id="ProviderNameID"
        name="ProviderNameID"
        formControlName="ProviderName"
        (blur)="onBlurFormField()"
      >
        <option value="" disabled>Provider Name</option>
        <option *ngFor="let field of providers" [ngValue]="field">
          {{ field.name }}
        </option>
      </select>
      <div class="invalid-feedback">
        Field type is required!
      </div>
    </div>
    <div class="row">
      <!-- #AccountNumberID -->
      <div class="col-12 col-md-6 form-group app-input-container">
        <label for="AccountNumberID" class="app-input-label"
          >Account Number</label
        >
        <input
          type="text"
          class="app-input form-control"
          [ngClass]="
            pdfMailForm.get('AccountNumber').touched &&
            pdfMailForm.get('AccountNumber').invalid
              ? 'is-invalid'
              : ''
          "
          #AccountNumberID
          id="AccountNumberID"
          name="AccountNumberID"
          formControlName="AccountNumber"
          placeholder="Account Number"
          (blur)="onBlurFormField()"
        />

        <div class="invalid-feedback">
          Field name is required and contain min 3 and max 50 symbols
        </div>
      </div>

      <!-- #EmailID -->
      <div class="col-12 col-md-6 form-group app-input-container">
        <label for="EmailID" class="app-input-label">Email</label>
        <input
          type="text"
          class="app-input form-control"
          [ngClass]="
            pdfMailForm.get('Email').touched && pdfMailForm.get('Email').invalid
              ? 'is-invalid'
              : ''
          "
          #EmailID
          id="EmailID"
          name="EmailID"
          formControlName="Email"
          placeholder="Email"
          (blur)="onBlurFormField()"
        />

        <div class="invalid-feedback">
          Field Email is required and should be a valid
        </div>
      </div>
    </div>
    <!-- #EmailSubjectID -->
    <div class="form-group app-input-container">
      <label for="EmailSubjectID" class="app-input-label">Email Subject</label>
      <input
        type="text"
        class="app-input form-control"
        [ngClass]="
          pdfMailForm.get('EmailSubject').touched &&
          pdfMailForm.get('EmailSubject').invalid
            ? 'is-invalid'
            : ''
        "
        #EmailSubjectID
        id="EmailSubjectID"
        name="EmailSubjectID"
        formControlName="EmailSubject"
        placeholder="Email Subject"
        (blur)="onBlurFormField()"
      />

      <div class="invalid-feedback">
        Field Email Subject is required
      </div>
    </div>

    <!-- #EmailBodyID -->
    <div class="form-group app-input-container">
      <label for="EmailBodyID" class="app-input-label d-none">Email Body</label>
      <input
        type="text"
        class="app-input form-control d-none"
        [ngClass]="
          pdfMailForm.get('EmailBody').touched &&
          pdfMailForm.get('EmailBody').invalid
            ? 'is-invalid'
            : ''
        "
        #EmailBodyID
        id="EmailBodyID"
        name="EmailBodyID"
        formControlName="EmailBody"
        placeholder="Email Body"
      />

      <div
        class="form-control app-editable-wrapper mail_form__textarea_container"
        [ngClass]="
          pdfMailForm.get('EmailBody').touched &&
          pdfMailForm.get('EmailBody').invalid
            ? 'is-invalid'
            : ''
        "
      >
        <div class="row">
          <div class="col">Email Body</div>
          <div class="col text-right">
            <div class="d-inline-block">
              <a
                (click)="setCommand('bold')"
                (mousedown)="$event.preventDefault()"
                class="app-cursor-pointer"
              >
                <small>Bold</small>
              </a>
              <span><small> | </small></span>
              <a
                (click)="setCommand('italic')"
                (mousedown)="$event.preventDefault()"
                class="app-cursor-pointer"
              >
                <small>Italic</small>
              </a>
              <span><small> | </small></span>
              <a
                (click)="setCommand('removeFormat')"
                (mousedown)="$event.preventDefault()"
                class="app-cursor-pointer"
              >
                <small>Remove Format</small>
              </a>
            </div>
          </div>
        </div>

        <div
          [innerHTML]="
            pdfMailForm.value['EmailBody'] ? pdfMailForm.value['EmailBody'] : ''
          "
          class="mail_form__textarea"
          (blur)="
            onChangeFormValue('EmailBody', {
              EmailBody: $event.target.innerHTML
            });
            onBlurFormField()
          "
          contentEditable="true"
        ></div>
      </div>

      <div class="invalid-feedback">
        Field Email Body is required
      </div>
    </div>

    <!-- FormCheckbox -->
    <label class="app-checkbox-container checkbox" for="FormCheckbox">
      <p
        class="checkbox__text"
        [ngClass]="{
          'checkbox__text--checked': pdfConfig['is_append_cover_letter']
        }"
      >
        {{ pdfStructure.checkBoxList["form"][0].text }}
      </p>
      <input
        type="checkbox"
        id="FormCheckbox"
        #FormCheckbox
        formControlName="FormCheckbox"
        (click)="toggleCheckbox('is_append_cover_letter')"
      />
      <span class="app-checkbox-checkmark"></span>
    </label>
    <!-- #CoverLetterID -->

    <div
      class="form-group app-input-container app-div-animation"
      [ngClass]="{
        'app-div-show': pdfConfig['is_append_cover_letter'],
        'app-div-hide': !pdfConfig['is_append_cover_letter']
      }"
    >
      <label for="CoverLetterID" class="app-input-label d-none">
        Cover Letter
      </label>
      <input
        type="text"
        class="app-input form-control d-none"
        [ngClass]="
          pdfMailForm.get('CoverLetter').touched &&
          pdfMailForm.get('CoverLetter').invalid
            ? 'is-invalid'
            : ''
        "
        #CoverLetterID
        id="CoverLetterID"
        name="CoverLetterID"
        formControlName="CoverLetter"
        placeholder="Cover Letter"
      />

      <div
        class="form-control app-editable-wrapper mail_form__textarea_container"
        [ngClass]="
          pdfMailForm.get('CoverLetter').touched &&
          pdfMailForm.get('CoverLetter').invalid
            ? 'is-invalid'
            : ''
        "
      >
        <div class="row">
          <div class="col">Cover Letter</div>
          <div class="col text-right">
            <div class="d-inline-block">
              <a
                (click)="setCommand('bold')"
                (mousedown)="$event.preventDefault()"
                class="app-cursor-pointer"
              >
                <small>Bold</small>
              </a>
              <span><small> | </small></span>
              <a
                (click)="setCommand('italic')"
                (mousedown)="$event.preventDefault()"
                class="app-cursor-pointer"
              >
                <small>Italic</small>
              </a>
              <span><small> | </small></span>
              <a
                (click)="setCommand('removeFormat')"
                (mousedown)="$event.preventDefault()"
                class="app-cursor-pointer"
              >
                <small>Remove Format</small>
              </a>
            </div>
          </div>
        </div>

        <div
          [innerHTML]="
            pdfMailForm.value['CoverLetter']
              ? pdfMailForm.value['CoverLetter']
              : ''
          "
          class="mail_form__textarea"
          (blur)="
            onChangeFormValue('CoverLetter', {
              CoverLetter: $event.target.innerHTML
            });
            onBlurFormField()
          "
          contentEditable="true"
        ></div>
      </div>

      <div class="invalid-feedback">
        Field Cover Letter is required
      </div>
    </div>
  </form>
</div>
