<div class="row ">
  <div class="col-md-2">
  <label class="has-float-label">
    <input [(ngModel)]="inputField.name">
    <span>Field Label</span>
  </label>
  </div>

  <div class="col-md-2">
  <label class="has-float-label">
    <select class="form-control"  [disabled]="inputField.mapped!='string'" (change)="onFieldTypeChange($event)">
      <option *ngFor="let item of customFields"  [value]="item.type" [selected]="inputField.type==item.type" >{{item.name}}</option>
    </select>
    <span>Field Type</span>
  </label>
  </div>

  <div class="col-md-2">
    <label class="has-float-label">
      <input [value]="inputField.name" [disabled]="true">
      <span>Placeholder</span>
    </label>
  </div>
  <div class="col-md-2">
    <label class="has-float-label">
      <input [value]="4" [disabled]="true">
      <span>Field Width</span>
    </label>
  </div>
  <div class="col-md-3">
    <div class="row">
      <div class=" col-md-6">
      <div class="input-group">
        <p class="list-group-item ">Required</p>
        <span class="input-group-addon"> <input type="checkbox" [(ngModel)]="inputField.options.required"></span>
      </div>
      </div>
      <div class=" col-md-6">
      <div class="input-group" >
        <p class="list-group-item ">Read-only</p>
        <span class="input-group-addon"> <input type="checkbox"  [(ngModel)]="inputField.options.readonly"></span>
      </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-md-6">
      <div class="input-group " >
        <p class="list-group-item ">Hide Label</p>
        <span class="input-group-addon"> <input type="checkbox"  [(ngModel)]="inputField.options.hideLabel"></span>
      </div>
      </div>
      <div class=" col-md-6">
      <div class="input-group ">
        <p class="list-group-item ">Unique</p>
        <span class="input-group-addon"> <input type="checkbox" (ngModelChange)="uniqActivated($event)" [(ngModel)]="inputField.options.unique"></span>
      </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <button class="btn-default" (click)="removeField(inputField._id)">X</button>
  </div>
</div>
