<div class="content__box">
  <h2 class="content__title">{{ onlineStructure.title }}</h2>

  <ng-container
    *ngFor="let checkBoxItem of onlineStructure.checkBoxList"
  >
    <label
      class="app-checkbox-container checkbox checkbox--mb_2"
      for="{{ checkBoxItem.key }}"
    >
      <p
        class="checkbox__text"
        [ngClass]="{ 'checkbox__text--checked': onlineConfig[checkBoxItem.key] }"
      >
        {{ checkBoxItem.text }}
        <span
          placement="right auto"
          [ngbPopover]="checkBoxItem.tipText"
          triggers="mouseenter:mouseleave"
          [openDelay]="100"
          [closeDelay]="1000"
          popoverClass="checkbox__popover"
          ><i class="fas fa-question-circle checkbox__info_icon"></i
        ></span>
      </p>
      <input
        type="checkbox"
        id="{{ checkBoxItem.key }}"
        [ngModel]="onlineConfig[checkBoxItem.key]"
        (click)="toggleOnlineCheckBox(checkBoxItem.key)"
      />
      <span class="app-checkbox-checkmark"></span>
    </label>
  </ng-container>
</div>
