@import "../variables/colors";

//TEXT
.app-text-small {
  font-size: 0.85em;
}

.app-text-large {
  font-size: 1.2em;
}

.app-text-extra-large {
  font-size: 1.5em;
}

.app-text-primary {
  color: $element-base-color!important;
}

.app-text-second {
  //color: #999999;
  color: #909090;
}

.app-text-danger {
  color: #E65757;
}

.app-text-success {
  color: #3CA476;
}

.app-text-white {
  color: #FFFFFF;
}

.app-text-extra-bold {
  font-family: NunitoSans-ExtraBold;
}

.app-text-uppercase {
  text-transform: uppercase; 
}

//CURSOR
.app-cursor-pointer {
  cursor: pointer;
}

//Base Nav Link
.app-nav-link {
  cursor: pointer;
  color: #535353;
}

.app-nav-link-active {
  color: $element-base-color !important;
  border-bottom: 2px solid $element-base-color;
}

.app-position-relative {
  position: relative !important;
}

.app-text-capitalize {
  text-transform: capitalize;
}

.command_text_line {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  &__line_params {
    line-height: 0.85rem;
    padding-bottom: 0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0;
  }
  
  &__item {
    color: $darkgray-color;
    border-right: 0.2rem solid #D7D7D7;
    font-size: 0.85rem;
    font-weight: bold;
    @extend .command_text_line__line_params;
    
    &:last-child {
      border: none;
    }
  }

  &__item_extended {
    @extend .command_text_line__line_params;
    padding-right: 0;
  }
}