@import '../../styles/variables/colors';

.app-btn-outline-primary {
  font-weight: bold;
  color: $element-base-color;
  border: 1px solid $element-base-color;
  border-radius: 3px;

  &:hover, &:active {
    color: #fff;
    background: $element-base-color;
    border: 1px solid $element-base-color;
  }

  &:disabled {
    color: #495057;
    background: transparent;
    background: #e9ecef;
    border: 1px solid $softgray-color;
  }
}

.app-btn-primary {
  font-weight: bold;
  background: $element-base-color;
  color: #fff;
  border-radius: 3px;

  &:hover, &:focus, &:active {
    background: $element-second-color;
    color: #fff;
  }
}

.app-btn-warning {
  font-weight: bold;
  background: $element-warning-color;
  color: #fff;
  border-radius: 3px;

  &:hover, &:focus, &:active {
    color: #fff;
  }
}

.app-btn-danger {
  font-weight: bold;
  background: $element-danger-color;
  color: #fff;
  border-radius: 3px;

  &:hover, &:focus, &:active {
    color: #fff;
  }
}

.app-btn-clear {
  color: $gray-color;
  font: 14px  'NunitoSans-Bold';
  border: none;
  background: transparent;
  padding: 4px;

  &:hover, &:focus, &:active {
    color: $element-base-color;
  }

  &.activated {
    color: $element-base-color;
  }
}

.app-btn-clear-secondary {
  color: $gray-color;
  font: 12px  'NunitoSans-Regular';
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  background: transparent;
  padding: 0;

  &:hover, &:focus, &:active {
    border-bottom: 2px solid $element-base-color;
    color: $element-base-color;
  }

  &.activated {
    border-bottom: 2px solid $element-base-color;
    color: $element-base-color;
  }
}
