@import "../variables/colors";

.app-family-page-header {
  color: #909090;
  background-color: #FBFBFB;
  border: 1px solid rgba(182,182,182,0.3);
}

.app-family-page-header .back {
  border-right: 1px solid rgba(182,182,182,0.3);
}

.app-family-info-wrap {
  background-color: #ffffff !important;
}

.app-family-profile-section {
  background-color: #F6F6F6;
  border-radius: 5px;
}

.app-family-profile-input {
  top: auto;
  padding: .5em 1em;
}

.app-family-view-nav-link {
  cursor: pointer;
  color: #909090;
}

.app-family-view-nav-link-active {
  color: $element-base-color !important;
}

.app-family-card-header {
  background-color: #A4A8BE;
  border-radius: 3px 3px 0 0;
}

.app-family-card-body {
  background-color: #F2F2F2;
  border-radius: 3px 3px;
}

.app-family-input-datepicker {
  border: 1px solid #b6b6b6;
  border-radius: 3px;
  min-height: 36px;
}