.app-family-page-header {
  color: #909090;
  background-color: #FBFBFB;
  border: 1px solid rgba(182,182,182,0.3);
}

.app-family-page-header .back {
  border-right: 1px solid rgba(182,182,182,0.3);
}

.app-family-profile-section {
  background-color: #F6F6F6;
  border-radius: 5px;
}

.app-family-profile-input {
  top: auto;
  padding: .5em 1em;
}