.app-statistic-section {
  height: 100%;
  background-color: white;
}

.app-statistic-total-text {
  font-size: 2.5em;
  font-family: "NunitoSans-ExtraBold";
  margin-bottom: 0;
}

.app-statistic-info-text {
  font-size: 0.8em;
}

.app-statistic-ellipsis {
  color: #B6B6B6;
  cursor: pointer;
}

.app-statistic-dropdown {
  color: #B6B6B6!important;
  font-size: 0.8em;
}