@import "../variables/colors";

.app-form-table-block-wrapper {
  background-color: white;
  border-radius: 3px;
}

.app-ft-reset-link, .app-ft-reset-link:hover{
  color: inherit;
  text-decoration: inherit;
}

.app-form-table-second-color {
  color: #999999;
}

.app-form-table-icon {
  color: #B6B6B6;
  cursor: pointer;
}

/*Status forms buttons*/
.app-btn-status {
  color: #ffffff;
  //font-size: 1em;
  border-radius: 3px;
}

.app-btn-status-active {
  background-color: #3CA476;
}

.app-btn-status-archived {
  background-color: #B6B6B6;
}

.app-btn-status-draft {
  color: #000000;
  background-color: #F2F2F2;
}

.app-btn-status-review {
  background-color: #F8BC45;
}

.app-btn-status-closed {
  background-color: #B6B6B6;
}

.app-dropdown-toggle::after {
  display:none;
}
/*End Status forms buttons*/

.app-ft-nav-link {
  cursor: pointer;
  color: #535353;
}

.app-ft-nav-link-active {
  color: $element-base-color !important;
  border-bottom: 2px solid $element-base-color;
}