.app-fb-section-title {
  font-size: 1.5em;
  font-weight: bold;
}

.app-fb-section-icon {
  color: #9E9E9E;
}

.app-fb-section-icon-white {
  color: #ffffff;
}
.app-fb-section-icon-primary {
  color: $element-base-color;
}

.app-fb-section-icon-right {
  color: white;
  cursor: pointer;
}

.app-section-wrapper {
  background-color: $white;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
  padding: 1rem;
}

.app-section-content-wrapper {
  @extend .app-section-wrapper;
  margin-bottom: 1rem;
  padding: 1.75rem;
}

.app-section-header {
  background-color: #9FA6CB;
}

.app-fb-border {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}

.app-rectangle {
  //margin-left: 13px;
  background-color: #4050A8;
  height: 6px;
  width: 15px;
}

//Tuition Contract
.app-fb-tuition-table {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}

.app-fb-tuition-info {
  color: #797B88;
  font-size: 0.8em;
}

.app-tuition-table-header {
  background-color: #F2F2F2;
}

.app-tuition-table-header th {
  border-top: none;
}

.app-tuition-table-header:last-child {
  vertical-align: top !important;
}

.app-tuition-table-total {
  background-color: #EBEEFF;
}

.app-tuition-table-total-2 {
  background-color: rgba(60,164,118,0.08);
}

.app-th-align-reset {
  vertical-align: unset;
}

.app-tuition-discount {
  color: #797B88;
  font-size: 0.8em;
}
//End Tuition Contract

//Contenteditable div
.app-editable-wrapper {
  border: 1px solid #B6B6B6;
  border-radius: 5px;
}
