.app-fb-section-title {
  font-size: 1.5em;
  font-weight: bold;
}

.app-fb-section-icon {
  color: #9E9E9E;
}

.app-fb-section-icon-white {
  color: #ffffff;
}

.app-fb-section-icon-right {
  color: white;
  cursor: pointer;
}

.app-section-wrapper {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
  padding: 1rem;
  border-radius: 5px;
}

.app-section-header {
  background-color: #9FA6CB;
}

.app-fb-border {
  border: 1px solid #D7D7D7;
  border-radius: 5px;
}

.app-rectangle {
  //margin-left: 13px;
  background-color: #4050A8;
  height: 6px;
  width: 15px;
}