.app-input-container {
  position: relative;
}

.app-input-label {
  color: #909090;
  box-sizing: border-box;
  display: block;
  font-size: 10px;
  line-height: 1;
  opacity: 0;
  overflow: hidden;
  padding: .5em 1.5em;
  pointer-events: none;
  position: absolute;
  text-overflow: ellipsis;
  top: 0;
  text-align: left;
  transform: translateY(0.25rem);
  transition: all .4s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
  z-index: 1;
  .app-input-fill & {
    opacity: 1;
    transform: none;
  }
  .app-input-fill .app-input:placeholder-shown + &{
    opacity: 0;
    transform: translateY(1.4rem);
  }
}

.app-input {
  border: 1px solid #B6B6B6;
  border-radius: 3px;
  font-size: 1em;
  padding: 0 1em;
  min-height: 40px;
  background-color: #FFF;
  transition: all .4s ease-in-out;
  width: 100%;
  &:hover, &:focus {
    /* inset | offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0 0 10px 0 rgba(85, 85, 85, .1);
    outline: 0;
  }
  .app-input-fill & {
    //padding-bottom: 4px;
    padding-top: 10px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #919293;
  transition: all .3s ease-in-out;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #919293;
  transition: all .3s ease-in-out;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #919293;
  transition: all .3s ease-in-out;
}

:-moz-placeholder { /* Firefox 18- */
  color: #919293;
  transition: all .3s ease-in-out;
}
::placeholder {
  color: #919293;
  transition: all .3s ease-in-out;
}

.app-input-text {
  border: 1px solid #DEDEDE;
  border-radius: 3px!important;
}

//Search Input
.app-input-search {
  border: 1px solid #DEDEDE;
  border-radius: 3px!important;
  padding-left: 15%;
}

.app-input-search-grey {
  background-color: #F2F3F5;
}

.app-input-search-container {
  position: relative;
}

.app-input-search-icon {
  z-index: 1000;
  position: absolute;
  top: 30%;
  left: 3%;
  color: #BABABA;
}
