<div class="payer-account-page">
  <div
    class="payer-account-page-info"
  >
    <div *ngIf="payer">
      <div class="payer-account-page-info-title-block">
        <div
          class="payer-account-page-info-title__name"
        >
          {{payer.name}}
        </div>
        <app-tag
          class="payer-account-page-info-title__tags"
        >
          Joint
        </app-tag>
        <div class="payer-account-page-info-title__edit">
        <span class="payer-account-page-info-title__edit-icon">
          <i class="fas fa-pen"></i>
       </span>
        </div>
      </div>
      <div>
      <span class="payer-account-page-info-title__member-role">
        Parents
      </span>
        <span>
        100%
      </span>
        <span>
        All Fees
      </span>
      </div>
      <hr>
      <table class="payer-account-page-info__fees-amount-table">
        <tbody>
        <tr>
          <td>
            <div class="payer-account-page-info__fees-amount-table-number">
              {{payer.fees.length}}
            </div>
            <div>
              Fees
            </div>
          </td>
          <td>
            <div class="payer-account-page-info__fees-amount-table-number">
              {{ payer.paid | currency:'USD':true:'.0' }}
            </div>
            <div>
              Total amount
            </div>
          </td>

          <td>
            <div class="payer-account-page-info__fees-amount-table-number payer-account-page-info__fees-amount-table-outstanding">
              {{ payer.outstanding | currency:'USD':true:'.0' }}
            </div>
            <div>
              Outstanding
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <hr>
      <div class="payer-account-page-info-title">
        Members
      </div>
      <div
        class="payer-account-page-info__members-member"
        *ngFor="let member of payer.members"
      >
        <div
          class="payer-account-page-info__members-member-ro;e"
        >
          Mother:
        </div>
        <div>
          <app-person-show
            [name]="member.full_name"
            [avatar]="member.avatar"
          >
          </app-person-show>
        </div>
      </div>
      <hr>
      <div class="payer-account-page-info-title">
        Students
      </div>
      <div class="payer-account-page-info__students">
        <app-person-show
          *ngFor="let recipient of payer.recipients"
          [name]="recipient.name"
          [avatar]="recipient.avatar"
        >
        </app-person-show>
      </div>
      <hr>
      <div *ngIf="paymentMethods.length">
        <div class="payer-account-page-info-title">
          Primary Payment Method
        </div>
        <div
          class="payer-account-page-info__primary-payment-method"
        >
          <div
            class="payer-account-page-info__primary-payment-method-title"
          >
            Credit card:
          </div>
          <div>
            **5674
          </div>
        </div>
        <div
          class="payer-account-page-info__primary-payment-method"
        >
          <div
            class="payer-account-page-info__primary-payment-method-title"
          >
            Cardholder:
          </div>
          <div>
            {{paymentMethods[0].name}}
          </div>
        </div>
      </div>
      <hr>
      <div class="payer-account-page-info-title">
        Communication
      </div>
      <div>
        3 amount of payment attempt communications in the past 30 days <span style="color: #4350A2; cursor: pointer;">more</span>
      </div>
    </div>
  </div>

  <div class="payer-account-page-data">
    <div class="payer-account-page-data-top">
      <div>
        <button
          class="btn app-btn-clear payer-account-page-data-top__tabs-general"
          [ngClass]="{'activated': activeTab === 'general'}"
          (click)="onTab('general')"
        >
          General
        </button>
        <button
          class="btn app-btn-clear"
          [ngClass]="{'activated': activeTab === 'wallet'}"
          (click)="onTab('wallet')"
        >
          Wallet
        </button>
      </div>
      <div>
        <button
          class="btn app-btn-outline-primary form-payer-account-cancel payer-account-page-data-top__btn-add-fee"
        >
          Add fee
        </button>

        <button
          type="submit"
          class="btn app-btn-primary"
        >
          Make payment
        </button>
      </div>
    </div>

    <div
      class="payer-account-page-data-tab-general"
      *ngIf="activeTab === 'general'"
    >
      <div
        class="payer-account-page-data-tab-general__fees"
      >
        <app-payer-account-fees-table
          fees="fees"
        >
        </app-payer-account-fees-table>
      </div>
    </div>

    <div
      class="payer-account-page-data-tab-wallet"
      *ngIf="activeTab === 'wallet'"
    >
      Wallet Content
    </div>
  </div>
</div>
