<div class="app-section-settings-section p-3">

  <div class="row mb-2 mt-1">
    <div class="col-sm-4">
      <span class="app-text-extra-bold app-text-large">Setting</span>
    </div>
    <div class="col-sm-4">
      <span class="app-text-extra-bold app-text-large">Logic Builder</span>
    </div>
  </div>


  <div class="row">
    <div class="col-4" style="padding-right: 0;">
      <div class="settings-div h-100">
        <div class="field_settings_container">
          <form [formGroup]="sectionForm">
            <section>
              <div class="title">
                <sw-input-toggle formControlName="isSupportText">
                  <span class="input_label">Hint</span>
                </sw-input-toggle>
              </div>
              <sw-input-text  class="settings-field" *ngIf="sectionForm.get('isSupportText').value" formControlName="isSupportTextData">
              </sw-input-text>
            </section>
            <section>
              <sw-radio-group class="flex-row" [options]="displayOptions" formControlName="isDirectlyDisplayed">
              </sw-radio-group>
            </section>
          </form>
        </div>
        
      </div>
    </div>


    <div class="col-8">
      <div class="settings-div row no-gutters h-100">
        <div class="col p-3">
          <sw-button>Add Logic Builder</sw-button>
        </div>
      </div>
    </div>


  </div>

</div>
