<table class="table">
  <thead>
  <tr class="app-tuition-table-header">
    <th scope="col">FEES</th>
    <th scope="col">FEE AMOUNT</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngIf="showFee.dormitory">
    <td class="font-weight-bold">Bais Medrash Winter Dormitory Fee</td>
    <td>$1,600</td>
  </tr>
  <tr *ngIf="showFee.registration">
    <td class="font-weight-bold">Registration</td>
    <td>$1,080</td>
  </tr>
  <tr *ngIf="showFee.activity">
    <td class="font-weight-bold">Activity</td>
    <td>$1,080</td>
  </tr>
  <tr *ngIf="showFee.tuition">
    <td class="font-weight-bold">Tuition</td>
    <td>$9,840</td>
  </tr>
  <tr *ngIf="showFee.scholarship">
    <td class="font-weight-bold">Scholarship</td>
    <td>$3200</td>
  </tr>
  <tr *ngIf="showFee.lunch">
    <td class="font-weight-bold">Lunch Fee</td>
    <td>$3200</td>
  </tr>
  <tr class="app-tuition-table-total font-weight-bold">
    <td>BUILDING FEE</td>
    <td>$1000</td>
  </tr>
  <tr class="app-tuition-table-total font-weight-bold">
    <td>SECURITY FEE</td>
    <td>$520</td>
  </tr>
  <tr class="app-tuition-table-total font-weight-bold">
    <td>Tuition and Family Fees Total</td>
    <td>$27,440</td>
  </tr>
  </tbody>
</table>
