<ng-container *ngIf="isExist(); else elseTemplate">
  <div class="content_section__header">
    <!--Title-->
    <h2 class="content_section__article_title">
      {{ form.packetIntroduction.name }}
    </h2>
  </div>
  <div class="content_section__main content_section__main--center">
    <!--Text-->
    <article class="content_section__article">
      <div
        class="content_section__article_text"
        [innerHTML]="form.packetIntroduction.content"
      ></div>
    </article>
  </div>
  <!-- <div *ngFor="let item of packets; let packetIndex = index"
      class="content_section__main_container app-div-animation"
      [ngClass]="{
        'app-div-show': isShowPacket(packetIndex),
        'app-div-hide': !isShowPacket(packetIndex)
      }"
    >
    </div> -->
</ng-container>
<ng-template #elseTemplate>
  <div class="content_section__header">
    <!--Title-->
    <h2 class="content_section__article_title">
      Not loaded from server valid `form.packetIntroduction`
    </h2>
  </div>
  <div class="content_section__main_container">
    <div class="p-4">
      <p>
        A parent is a child’s first and most important teacher, and children
        benefit academically when parents and educators collaborate. As we
        continue to raise our expectations for students, it is even more
        important than ever that schools and districts work alongside parents to
        increase student achievement.
      </p>
    </div>
  </div>
</ng-template>
