@import "../v-payment-settings.component.scss";

.font_default_bold {  
  color: $darkgray-color;
  font-family: "NunitoSans-Regular";
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.1rem;
}

.fee_table {
  background-color: $background-table-color;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 0.85rem;

  &__row {
    display: flex;
    flex-direction: row;

    &--bottom_effect {
      box-shadow: inset 0 -1px 0 0 #E7E7E7, inset 0 0 0 0 #D8D8D8;
      margin-bottom: 0.85rem;
      padding-bottom: 0.85rem;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;

    &--left {
      flex: 1 1 15rem;
    }

    &--left_option_choice {
      flex: 1 1 4rem;
    }

    &--right {
      flex: 100 100;
    }
  }

  &__label {
    @extend .font_default_bold;
  }

  &__input_terms {
    margin-left: 0.5rem; 
    margin-right: 0.5rem;
    height: 2rem;
    width: 4rem;
  }

  &__select_terms {
    @extend .font_default_bold;

    color: $element-base-color;
    background-color: transparent;
    border: 0 transparent solid;
    outline: 0 transparent;
    width: auto;
  }

  &__option_choice_container {
    align-items: center;
    display: flex;
    flex: 1 1 4rem;
    justify-content: center;
  }

  &__option_content_container {
    align-items: stretch;
    background-color: $white;
    border: 1px solid #D7D7D7;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px 0 rgba(153,162,215,0.22);
    display: flex;
    flex: 100 100;
    justify-content: stretch;

    &--selected {
      background-color: #EBEEFF;
      border: 1px solid rgba(67,80,162,0.2);
      box-shadow: inset 0 -1px 0 0 #D8D8D8;
    }
  }
}


.table_title {
  display: flex;
  flex-direction: row;
  
  &__text {
    @extend .font_default_bold;
    font-size: 1.15rem;
    font-weight: 800;
    line-height: 1.75rem;
    margin-top: 1.75rem;
  }
}