@import '../../../../../styles/variables/colors';

.app-carets {
  width: 12px;
  height: 12px;
  border-radius: 50% 50%;
  border: 1px solid gray;
  background: url('./../../../../../assets/images/icons/icon-carrets.svg');
  background-position: 50%;

  &:hover,
  &:active{
    width: 13px;
    height: 13px;
    cursor: pointer;
  }
}
