<div class="p-3 mt-3 app-field-settings-section">
  <div class="row mb-2 mt-3">
    <div class="col-sm-8">
      <ul class="nav">
        <li class="nav-item">
          <a class="app-nav-link" [ngClass]="{'app-active': tab == 'general'}" (click)="tab = 'general'">General</a>
        </li>
        <li class="nav-item">
        <span class="app-nav-link" [ngClass]="{'app-active': tab == 'settings'}"
              (click)="tab = 'settings'">{{fieldTypeName}} Settings</span>
        </li>
        <li class="nav-item">
          <a class="app-nav-link" [ngClass]="{'app-active': tab == 'conditional'}" (click)="tab = 'conditional'">Conditional
            Logic</a>
        </li>
        <li class="nav-item">
          <a class="app-nav-link" [ngClass]="{'app-active': tab == 'mapping'}" (click)="tab = 'mapping'">Mapping
            Logic</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-4 text-right">
      <button class="btn app-btn-outline-primary">
        Save Field Settings as a Preset
      </button>
    </div>
  </div>
  <div class="settings-wrapper p-3">
    <div class="row" *ngIf="tab === 'general'">
      <div class="col-sm-4 app-border-right pt-2">
        <app-v-general-settings [inputField]="inputField"></app-v-general-settings>
      </div>
    </div>
    <div class="row" *ngIf="tab === 'settings'">
      <div class="col-sm-4 app-border-right pt-2">
        <app-v-field-type-settings-container [inputField]="inputField"></app-v-field-type-settings-container>
      </div>
      <div class="col-sm-4 app-border-right">
        <app-v-field-validation [inputField]="inputField"></app-v-field-validation>
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    <div class="row" *ngIf="tab === 'conditional'">
      <div class="col-sm-4 app-border-right">
        <app-v-fields-conditional-logic [form]="form" [inputField]="inputField"></app-v-fields-conditional-logic>
      </div>
    </div>
  </div>
</div>

