<div
  class="app-checkbox-field"
  [ngClass]="{'app-checkbox-field-has-error': isInvalid}"
>
  <label
    class="app-checkbox-field-label"
    [ngClass]="{'app-checkbox-field-label__text': hasMargin}"
    ([for])="id"
  >
    <div>
      {{label}}
    </div>
    <input
      type="checkbox"
      ([id])="id"
      [value]="isSelected"
      [checked]="isSelected"
      [disabled]="disabled"
      (click)="toggleCheckbox()"
    >
    <div class="app-checkbox-field-checkmark"></div>
  </label>
</div>
