<div class="title-row pdf-color" [hidden]="isReviewMode">
  PDF Form
</div>
<div class="form-preview" style="border: none;" data-e2e="form-preview">
  <ng-container *ngIf="formId">
    <div class="pdf-container" data-e2e="pdf-container">
      <pdf-viewer class="pdf-viewer" [src]="getLink()" (on-progress)="onProgress($event)" (error)="onError($event)"
        zoom="0.7" [class.dont-display]="pdfLoading || pdfError" [class.pdf-for-review]="isReviewMode">
      </pdf-viewer>
    </div>
    <div class="loader" *ngIf="pdfLoading">
      <sw-main-spinner class="medium"></sw-main-spinner>
    </div>
    <div class="no-pdf" *ngIf="pdfError && !pdfLoading">
      PDF does not exist
    </div>
  </ng-container>
</div>
