<table class="table">
  <thead>
  <tr class="app-tuition-table-header">
    <th scope="col">FEES</th>
    <th scope="col">FEE AMOUNT</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let item of tuitionContract.fees; let i = index">
    <tr *ngIf="item.isActive">
      <td class="font-weight-bold">{{item.name}}</td>
      <td>${{item.amount}}<br>
        <ng-container *ngIf="item.isActiveDiscount">
          <span class="app-tuition-discount">$?? discount</span>
        </ng-container>
      </td>
    </tr>
  </ng-container>
  <tr class="app-tuition-table-total font-weight-bold">
    <td>BUILDING FEE</td>
    <td>$??</td>
  </tr>
  <tr class="app-tuition-table-total font-weight-bold">
    <td>SECURITY FEE</td>
    <td>$??</td>
  </tr>
  <tr class="app-tuition-table-total font-weight-bold app-text-large">
    <td>Tuition and Family Fees Total</td>
    <td>${{totalFees}}</td>
  </tr>
  </tbody>
</table>
