.app-input-field {
  border: none;
  border-radius: 0;
  color: #151515;
  padding: 0;
  min-height: 36px;
  max-height: 36px;
  width: auto;
  position: relative;

  &.app-input-field-table {
    min-height: 24px;
    max-height: 24px;

    input {
      min-height: 24px;
      padding: 0 10px;
      font-size: 12px;
    }

    input[type='number'] {
      -moz-appearance:textfield;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .app-input-field-label {
    position: absolute;
    color: #909090;
    transform-origin: 0 0;
    z-index: 1;
    top: 9px;
    left: 11px;
    font-size: 12px;
  }

  .app-input-field-label__value {
    top: 1px;
  }

  input {
    border: 1px solid #b6b6b6;
    border-radius: 3px;
    width: 100%;
    min-height: 36px;
    padding: 0 10px;
    font-size: 12px;

    &:focus {
      border-color: #80bdff;
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }

    &.app-input-field__value {
      padding-top: 14px;
    }
  }

  .app-input-field-error-icon {
    color: #fff;
    background: #e65757;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    text-align: center;
    line-height: 7px;
    position: absolute;
    right: 11px;
    top: 11px;
    padding: 4px 0;
  }

  &.app-input-field-has-error {
    .app-input-field-label {
      color: #e65757;
    }

    input {
      border-color: #e65757;
    }
  }

}
