<div
  class="app-input-field"
  [ngClass]="{
    'app-input-field-has-error': isInvalid,
    'app-input-field-table': fieldType == 'table'
  }"
>
  <label
    *ngIf="label"
    (click)="input.focus()"
    [for]="id"
    class="app-input-field-label"
    [ngClass]="{'app-input-field-label__value': value}"
  >
    {{label}}
  </label>
  <input
    #input
    class="form-control"
    [ngClass]="{
      'app-input-field__value': value && label
    }"
    [id]="id"
    [type]="type"
    [value]="value"
    [pattern]="pattern"
    [maxlength]="maxLength"
    [disabled]="disabled"
    [(ngModel)]="value"
    [min]="min"
    (input)="onChange($event.target.value)"
    (blur)="onTouched()"
  />
  <div
    *ngIf="isInvalid"
    class="app-input-field-error-icon"
  >
    x
  </div>
</div>
