<div
  class="app-select-field"
  [ngClass]="{'app-select-field-has-error': isInvalid}"
  id={{id}}
>
  <ng-select
    [ngClass]="{'app-select-field-remove-clear-btn': !showClearBtn}"
    [items]="items"
    bindLabel={{bindLabel}}
    bindValue={{bindValue}}
    [(ngModel)]="value"
    [searchable]="searchable"
    (change)="onChange($event)"
    placeholder={{labelTitle}}
    (blur)="onTouched()"
  >
  </ng-select>
  <div
    *ngIf="isInvalid"
    class="app-select-field-error-icon"
  >
    x
  </div>
</div>
