.app-select-field {

  .ng-select::ng-deep {

    .ng-select-container {

      .ng-value-container {
        overflow: visible;

        .ng-placeholder {
          position: absolute;
          color: #909090;
          transform-origin: 0 0;
          transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),width 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),-webkit-transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        }

        .ng-value {

          .ng-value-label {
            font-family: 'NunitoSans-Regular';
            font-size: 12px;
            position: absolute;
            bottom: 1px;
          }
        }
      }
    }

    .ng-has-value {

      .ng-placeholder {
        display: block;
        transform: translateY(-7px) scale(0.85) perspective(100px) translateZ(0.001px);
      }
    }
  }

  .ng-select.ng-select-opened::ng-deep {

    .ng-select-container {
      border-color: #4350A2;
    }

    .ng-dropdown-panel::ng-deep {
      border-color: #4350A2;
      border-top: none;

      .ng-dropdown-panel-items {
        font-size: 12px;

        .ng-option.ng-option-selected,
        .ng-option.ng-option-selected.ng-option-marked {
          color: #4350a2;
          background: #ebeeff;
        }
      }
    }

    .ng-select-container .ng-arrow {
      border-color: #4350a2 transparent transparent;
      border-style: solid;
      border-width: 5px 5px 2.5px;
      top: 0;
    }
  }

  .app-select-field-remove-clear-btn.ng-select::ng-deep {
    .ng-clear-wrapper {
      display: none;
    }
  }
}
