<div class="input_text" data-e2e="input_text">
  <input
    [type]="_type"
    class="input_text__input"
    [class.input_text__button]="_style === 'button_type'"
    (blur)="onBlur($event)"
    (input)="onChangeInput(input.value)"
    [class.empty]="isEmpty(input.value)"
    [attr.autocomplete]="_autocomplete"
    #input
    [disabled]="readonly"
  />
  <ng-content></ng-content>
  <i *ngIf="isClearable && !isEmpty(input.value)" class="fa fa-times" (click)="clear()"></i>
  <i *ngIf="isSearch" class="fas fa-search fa-xs"></i>
</div>
