<div
  class="input_text"
  data-e2e="input_text"
  [class.empty]="isEmpty()"
  [class.clearable]="isClearable"
>
  <input
    #input
    class="input_text__input"
    [type]="_type"
    [class.input_text__button]="_style === 'button_type'"
    [attr.inputmode]="_mode"
    [attr.autocomplete]="autocomplete"
    [formControl]="control.control"
    [readonly]="!!readonly || null"
    (focus)="onFocus.emit()"
    (blur)="onBlur.emit()"
  />
  <ng-content></ng-content>
  <i class="fa fa-times clearBut" (click)="clear()" title="Clear input"></i>
  <i *ngIf="isSearchInput()" class="fas fa-search fa-xs"></i>
  <ng-content select=".errors"></ng-content>
</div>
