<ng-container *ngIf="form && fg">
  <form [formGroup]="fg">
    <app-online-form-nav
      [formName]="form?.name"
      (actionEmitter)="onAction($event)"
    ></app-online-form-nav>

    <div class="container-fluid app-of-background online_form_container">
      <div class="online_form_container__nav">
        <app-online-form-menu></app-online-form-menu>
      </div>

      <div class="online_form_container__wrapper">
        <div
          class="online_form_container__content"
          *ngIf="!!activeMainMenuItems"
        >
          <ng-container *ngIf="activeMainMenuItems[mainMenuNames.generalInfo]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeMenuItem === mainMenuNames.generalInfo,
                'app-div-hide': activeMenuItem !== mainMenuNames.generalInfo
              }"
            >
              <app-online-form-general-info [form]="form">
              </app-online-form-general-info>
            </div>
          </ng-container>

          <ng-container
            *ngIf="activeMainMenuItems[mainMenuNames.documentsForms]"
          >
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeMenuItem === mainMenuNames.documentsForms,
                'app-div-hide': activeMenuItem !== mainMenuNames.documentsForms
              }"
            >
              <app-online-form-documents-forms
                [form]="form"
              ></app-online-form-documents-forms>
            </div>
          </ng-container>

          <ng-container *ngIf="activeMainMenuItems[mainMenuNames.consentInfo]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeMenuItem === mainMenuNames.consentInfo,
                'app-div-hide': activeMenuItem !== mainMenuNames.consentInfo
              }"
            >
              <app-online-form-consent [form]="form"></app-online-form-consent>
            </div>
          </ng-container>

          <ng-container
            *ngIf="activeMainMenuItems[mainMenuNames.paymentSettings]"
          >
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show':
                  activeMenuItem === mainMenuNames.paymentSettings,
                'app-div-hide': activeMenuItem !== mainMenuNames.paymentSettings
              }"
            >
              <app-online-form-payment-settings
                [form]="form"
              ></app-online-form-payment-settings>
            </div>
          </ng-container>

          <ng-container *ngIf="activeMainMenuItems[mainMenuNames.payment]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeMenuItem === mainMenuNames.payment,
                'app-div-hide': activeMenuItem !== mainMenuNames.payment
              }"
            >
              <app-online-form-payment [form]="form"></app-online-form-payment>
            </div>
          </ng-container>

          <ng-container
            *ngIf="activeMainMenuItems[mainMenuNames.termsConditions]"
          >
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show':
                  activeMenuItem === mainMenuNames.termsConditions,
                'app-div-hide': activeMenuItem !== mainMenuNames.termsConditions
              }"
            >
              <app-online-form-terms-conditions
                [form]="form"
              ></app-online-form-terms-conditions>
            </div>
          </ng-container>

          <ng-container
            *ngIf="activeMainMenuItems[mainMenuNames.tuitionContract]"
          >
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show':
                  activeMenuItem === mainMenuNames.tuitionContract,
                'app-div-hide': activeMenuItem !== mainMenuNames.tuitionContract
              }"
            >
              <app-online-form-tuition-contract
                [form]="form"
              ></app-online-form-tuition-contract>
            </div>
          </ng-container>
        </div>

        <div class="online_form_container__control_block">
          <button type="button" class="btn btn-link" (click)="goPreviousStep()">
            <!-- [disabled]="isDisabledSaveButton" -->
            Go back
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-lg"
            (click)="saveAndGoNext()"
          >
            <!-- [disabled]="isDisabledSaveButton" -->
            Save & go next step
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="!(form && fg)">
  <main-spinner class="spinner_box"></main-spinner
></ng-container>
