<ng-container *ngIf="form && fg">
  <form [formGroup]="fg">
    <app-online-form-nav
      [formName]="form?.name"
      (actionEmitter)="onAction($event)"
    ></app-online-form-nav>

    <div class="container-fluid app-of-background online_form_container">
      <div class="online_form_container__nav">
        <ng-container *ngIf="(isStartMenu$ | async)">
        
        <app-online-form-menu
          [percents]="percents"
          [isStartMenu]="(isStartMenu$ | async)"
        ></app-online-form-menu></ng-container>
      </div>

      <div class="online_form_container__wrapper">
        <div
          class="online_form_container__content"
          *ngIf="mainMenuNames && activeSections"
        >
          <ng-container *ngIf="activeSections[mainMenuNames.generalInfo]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeSection === mainMenuNames.generalInfo,
                'app-div-hide': activeSection !== mainMenuNames.generalInfo
              }"
            >
              <app-online-form-general-info
                [form]="form"
                (onSetPercent)="setPercent(mainMenuNames.generalInfo, $event)"
              >
              </app-online-form-general-info>
            </div>
          </ng-container>

          <ng-container *ngIf="activeSections[mainMenuNames.documentsForms]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeSection === mainMenuNames.documentsForms,
                'app-div-hide': activeSection !== mainMenuNames.documentsForms
              }"
            >
              <app-online-form-documents-forms
                [form]="form"
                (onSetPercent)="
                  setPercent(mainMenuNames.documentsForms, $event)
                "
              ></app-online-form-documents-forms>
            </div>
          </ng-container>

          <ng-container *ngIf="activeSections[mainMenuNames.consentInfo]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeSection === mainMenuNames.consentInfo,
                'app-div-hide': activeSection !== mainMenuNames.consentInfo
              }"
            >
              <app-online-form-consent
                [form]="form"
                (onSetPercent)="setPercent(mainMenuNames.consentInfo, $event)"
              ></app-online-form-consent>
            </div>
          </ng-container>

          <ng-container *ngIf="activeSections[mainMenuNames.paymentSettings]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeSection === mainMenuNames.paymentSettings,
                'app-div-hide': activeSection !== mainMenuNames.paymentSettings
              }"
            >
              <app-online-form-payment-settings
                [form]="form"
                (onSetPercent)="
                  setPercent(mainMenuNames.paymentSettings, $event)
                "
              ></app-online-form-payment-settings>
            </div>
          </ng-container>

          <ng-container *ngIf="activeSections[mainMenuNames.payment]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeSection === mainMenuNames.payment,
                'app-div-hide': activeSection !== mainMenuNames.payment
              }"
            >
              <app-online-form-payment
                [form]="form"
                (onSetPercent)="setPercent(mainMenuNames.payment, $event)"
              ></app-online-form-payment>
            </div>
          </ng-container>

          <ng-container *ngIf="activeSections[mainMenuNames.termsConditions]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeSection === mainMenuNames.termsConditions,
                'app-div-hide': activeSection !== mainMenuNames.termsConditions
              }"
            >
              <app-online-form-terms-conditions
                [form]="form"
                (onSetPercent)="
                  setPercent(mainMenuNames.termsConditions, $event)
                "
              ></app-online-form-terms-conditions>
            </div>
          </ng-container>

          <ng-container *ngIf="activeSections[mainMenuNames.tuitionContract]">
            <div
              class="app-div-animation"
              [ngClass]="{
                'app-div-show': activeSection === mainMenuNames.tuitionContract,
                'app-div-hide': activeSection !== mainMenuNames.tuitionContract
              }"
            >
              <app-online-form-tuition-contract
                [form]="form"
                (onSetPercent)="
                  setPercent(mainMenuNames.tuitionContract, $event)
                "
              ></app-online-form-tuition-contract>
            </div>
          </ng-container>
        </div>

        <div class="online_form_container__control_block">
          <button type="button" class="btn btn-link" (click)="goPreviousStep()">
            Go back
          </button>
          <button
            type="submit"
            class="btn btn-primary btn-lg"
            (click)="saveAndGoNext()"
            [disabled]="false"
          >
            Save & go next step
          </button>
        </div>
      </div>
    </div>
  </form>
</ng-container>

<ng-container *ngIf="!(form && fg)">
  <main-spinner class="spinner_box"></main-spinner
></ng-container>
