@import "index";

.user-item {
  display: inline-flex;
  align-items: center;
  margin: 0 6px 0 0;

  .user-item__image {
    flex-shrink: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    overflow: hidden;
    background: no-repeat center center $icon-grey-color;
    background-size: cover;
    margin: 0 6px 0 0;
  }

  .user-item__text {
    margin: 0;
    font: 700 12px/15px $nunito-sans;
  }

  .text-small {
    font: 700 10px/11px $nunito-sans;
  }

  .user-item__role {
    margin: 0 0 0 3px;
    font: 400 10px/13px $nunito-sans;
  }

  .role-small {
    font: 400 10px/12px $nunito-sans;
  }
}
