@import "index";

.user-item {
  display: inline-flex;
  align-items: center;
  margin: 0 6px 0 0;

  .user-item__image {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    background: no-repeat center center $icon-grey-color;
    background-size: cover;
    margin: 0 6px 0 0;
  }

  .user-item__text {
    margin: 0;
    font: 800 12px/15px $nunito-sans-regular;
  }

  .user-item__role {
    margin: 0 0 0 3px;
    color: #909090;
    font: 400 10px/12px $nunito-sans;
  }
}
