@import "index";

:host {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  .sidebar-wrap {
    flex: 0.25;
    margin-right: 10px;
    div.header {
      display: flex;
      flex-flow: row nowrap;
    }
    div.content {
      display: none;
      &.expanded {
        display: flex;
      }
    }
    div.sidebar_section {
      padding: 15px;
      display: flex;
      flex-flow: column nowrap;
      background-color: #fff;
      margin-bottom: 15px;
      border-radius: 5px; 
      &__header {
        display: flex;
        flex-flow: row nowrap;
        opacity: 0.6;
        text-transform: uppercase;
        font: 800 13px/15px $nunito-sans;
        span {
          cursor: pointer;
        }
        .actions {
          display: none;
          margin-left: auto;
        }
      }
      &__content {
        display: none;
        flex-flow: column nowrap;
        width: 100%;
        margin-top: 20px;
      }
      &.expanded {
        .sidebar_section__header {
          opacity: 1;
          span {
            cursor: pointer;
          }
          .actions {
            display: flex;
          }
        }
        .sidebar_section__content {
          display: none;
          &.expanded {
            display: flex;
          }
        }
      }
      &.expanded.open {
        .sidebar_section__content {
          display: flex;
        }
      }
    }
  }
  .workarea-wrap {
    flex: 0.75;
    display: flex;
    flex-direction: column;
    // padding: 0 15px;
    .stepper-buttons {
      display: flex;
      justify-content: flex-end;
      margin-top: auto;
      margin-bottom: 20px;
      sw-button:nth-child(1) {
        margin-right: 10px;
      }
    }
  }
}
