@import "../shared/styles/index.scss";

.app-of-menu-wrap {
  background-color: transparent;
  border-bottom: 1px solid #e7e9ef;
  border-radius: 3px;
}

.app-of-menu-i {
  display: inline-block;
  border-radius: 50%;
  padding: 0.6em 0.7em;
  background-color: $lightblue-color;
}

.app-of-menu-active {
  background-color: $white;
  border-left: 3px solid $element-additional-color;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.list-group-item {
  background-color: transparent;
}

.online_form_menu {
  &__group {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
  }

  &__group_item {
    background-color: transparent;
    cursor: pointer;
    list-style-type: none;
    transition: all 0.5s ease-in-out;

    &--active {
      background-color: $white;
      border-left: 3px solid $element-additional-color;
      border-radius: 0.5rem;
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    }
  }
}

.online_form_item {
  align-items: center;
  display: flex;
  flex: 6 1;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;

  &__start {
    align-items: center;
    display: flex;
    flex: 10 1 20rem;
    flex-direction: row;
    justify-content: flex-start;
  }

  &__end {
    align-items: center;
    display: flex;
    flex: 1 1 2rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  &__icon {
    // max-height: 2.5rem;
    // max-width: 2.5rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 10 3em;
  }

  &__text_area {
    align-items: flex-start;
    display: flex;
    flex: 15 2 1rem;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    color: $dark-gray-blue-color;
    font-family: NunitoSans-Regular;
    font-size: 1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin: 0;
    transition: all 0.2s ease-in-out;

    &--active {
      color: $element-additional-color;
      font-family: NunitoSans-ExtraBold;
    }

    &--hover {
      color: $element-additional-color;
    }
  }

  &__status {
  }
  &__status_icon {
    color: $success-color;
    fill: $success-color;
    font-size: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
}
