<sw-back-bar [title]="'Review Forms'" [backRoute]="'/online-form/'+activeIdForm"></sw-back-bar>
<app-document-approval-bar
  [document]="getSelectForm()"
  [loading]="updatingDocumentStatus"
  (skipDocument)="skipDocument()"
  (changeStatus)="changeStatus($event)"
  [isLast]="isLastDocument()"
  [disabled]="isBulkDownload"
>
</app-document-approval-bar>
<div class="content">
  <div class="sidebar-container" [class.opened]="isSideBarShown">
    <div class="sidebar">
      <sw-block-header>
        List of forms
      </sw-block-header>
      <div>
        <form [formGroup]="form">
          <div class="sidebar-search">
            <app-search-field
              placeholder="Search"
              formControlName="search"
              type="controls"
              [disabled]="isBulkDownload"
            ></app-search-field>
          </div>
          <div class="sidebar-controls">
            <div class="sidebar-filter">
              <sw-dropdown-input
                formControlName="filter"
                [multiple]="true"
                [dropdownSubHeader]="true"
                [options]="filterValue"
                [disabled]="isEmptyObject(filterValue) || isBulkDownload"
              >
                <span class="label">
                  Filtered By
                </span>
              </sw-dropdown-input>
            </div>
            <div class="sidebar-sort">
              <sw-dropdown-input
                formControlName="sort"
                [options]="sortValue"
                [disabled]="!(sortValue && sortValue.length) || isBulkDownload"
              >
                <span class="label">
                  Sorted By
                </span>
              </sw-dropdown-input>
            </div>
          </div>
        </form>
        <div class="sidebar-list">
          <div *ngIf="documents && documents.length" [ngClass]="{ 'loading': showSpinner }">
            <div *ngIf="!isBulkDownload">
              <div *ngFor="let document of documents">
                <app-upload-review-form-item
                  [document]="document"
                  [isBulkDownload]="isBulkDownload"
                  (selected)="selectItem($event)"
                  (downLoadForm)="downLoadForm($event)"
                  (deleteForm)="openConfirmPopup($event)"
                >
                </app-upload-review-form-item>
              </div>
            </div>
            <div *ngIf="isBulkDownload">
              <div class="select-all-button">
                <sw-small-button
                  [text]="isAllDocumentsSelected ? 'Unselect all' : 'Select all'"
                  (click)="selectAllDocuments()"
                ></sw-small-button>
              </div>
              <div *ngFor="let document of uploadDocuments">
                <app-upload-review-form-item
                  [document]="document"
                  [isBulkDownload]="isBulkDownload"
                  (selected)="selectItem($event)"
                >
                </app-upload-review-form-item>
              </div>
            </div>
            <div *ngIf="showSpinner" class="spinner">
              <app-spinner></app-spinner>
            </div>
          </div>
          <div *ngIf="!showSpinner && (!documents || !documents.length)" class="sidebar--empty">
            No documents
          </div>
        </div>
      </div>
      <div class="upload-document-controls">
        <hr class="upload-document-controls-hr">
        <app-review-form-controls
          [activeIdForm]="activeIdForm"
          [isBulkDownload]="isBulkDownload"
          [selectedCount]="getSelectedCount()"
          [showBulkDownload]="documents && documents.length"
          (bulkDownload)="clickBulkDownload()"
          (download)="clickDownload()"
          (upload)="clickUpload()"
        ></app-review-form-controls>
        <a [href]="download.url" [download]="download.filename" #link></a>
      </div>
    </div>
  </div>
  <div class="workarea">
    <div class="sidebar-opener" (click)="isSideBarShown = !isSideBarShown">
      <div class="button">
        <sw-icon-button
          [icon]="isSideBarShown ? icons.CARET_LEFT : icons.CARET_RIGHT"
          [color]="colors.WHITE"
          [size]="size.MEDIUM"
        >
        </sw-icon-button>
      </div>
    </div>
    <app-upload-review-form-document
      [isSideBarShown]="isSideBarShown"
      [document]="getSelectForm()"
      (rotateImg)="rotateImg($event)"
      [rotatingPicture]="rotatingPicture"
    ></app-upload-review-form-document>
    <div *ngIf="documentTypes.length && documentFamilies.length">
      <app-upload-review-form-document-settings
        [documentTypes]="documentTypes"
        [documentFamilies]="documentFamilies"
        [document]="getSelectForm()"
        (updateDocumentSettings)="updateDocumentSettings($event)"
      ></app-upload-review-form-document-settings>
    </div>

  </div>

</div>
<div *ngIf="documents && documents.length > 1" class="footer">
  <app-upload-review-form-footer
    [documents]="extremeDocuments"
    [disabled]="isBulkDownload"
    (changeForm)="changeForm($event)"
  ></app-upload-review-form-footer>
</div>
<sw-dialog
    #dialog
    action="Remove"
    title="Remove Document"
    (closed)="deleteForm($event)"
>
  <p>Are you sure you want to remove [Item(s)]?</p>
</sw-dialog>
