<sw-back-bar
  [title]="'Review Forms'"
  (onBackClick)="backPageClick()"
></sw-back-bar>
<app-document-approval-bar
  [document]="getSelectForm()"
  [loading]="updatingDocumentStatus"
  [isLast]="isLastDocument()"
  [disabled]="isBulkDownload"
  [isSaveActive]="isSaveActive"
  (skipDocument)="skipDocument()"
  (changeStatus)="changeStatus($event)"
  (saveDocument)="updateDocumentSettings(true)">
</app-document-approval-bar>
<div class="content" [ngClass]="{'pdf-form': isOnlineForm()}">
  <div class="sidebar-container" [class.opened]="isSideBarShown">
    <div class="sidebar">
      <div>
        <sw-block-header>
          List of forms
        </sw-block-header>
        <form [formGroup]="form">
          <div class="sidebar-search">
            <app-search-field placeholder="Search" formControlName="search" type="controls"
              [disabled]="isBulkDownload || isSaveActive"></app-search-field>
          </div>
          <div class="sidebar-controls">
            <div class="sidebar-filter">
              <sw-dropdown-input formControlName="filter" [multiple]="true" [style]="'filter'"
                [dropdownSubHeader]="true" [isClearable]="true" [options]="filterValue"
                [disabled]="isEmptyObject(filterValue) || isBulkDownload || isSaveActive">
                <span class="label">
                  Filtered By
                </span>
              </sw-dropdown-input>
            </div>
            <div class="sidebar-sort">
              <sw-dropdown-input formControlName="sort" [options]="sortValue" [isClearable]="true"
                [disabled]="!(sortValue && sortValue.length) || isBulkDownload || isSaveActive">
                <span class="label">
                  Sorted By
                </span>
              </sw-dropdown-input>
            </div>
          </div>
          <div *ngIf="isBulkDownload" class="select-all-button">
            <sw-small-button [text]="isAllDocumentsSelected ? 'Unselect all' : 'Select all'"
              (click)="selectAllDocuments()"></sw-small-button>
          </div>
        </form>
        <div class="sidebar-list" [ngClass]="{'sidebar-list-bulk-download': isBulkDownload}">
          <div *ngIf="documents && documents.length" [ngClass]="{ 'loading': showSpinner }">
            <div *ngIf="!isBulkDownload">
              <div *ngFor="let document of documents">
                <app-upload-review-form-item [document]="document" [isBulkDownload]="isBulkDownload"
                  (selected)="selectItem($event)" (downLoadForm)="downLoadForm($event)"
                  (deleteForm)="openDeleteConfirmPopup($event)" id="{{document._id}}">
                </app-upload-review-form-item>
              </div>
            </div>
            <div *ngIf="isBulkDownload">
              <div *ngFor="let document of uploadDocuments">
                <app-upload-review-form-item [document]="document" [isBulkDownload]="isBulkDownload"
                  (selected)="selectItem($event)">
                </app-upload-review-form-item>
              </div>
            </div>
          </div>
          <div *ngIf="!showSpinner && (!documents || !documents.length)" class="sidebar--empty">
            No documents
          </div>
          <div *ngIf="showSpinner" class="spinner">
            <sw-main-spinner [spinnerSize]="size.MEDIUM"></sw-main-spinner>
          </div>
        </div>
      </div>
      <div class="upload-document-controls">
        <hr class="upload-document-controls-hr">
        <div *ngIf="showError" class="upload-document-error">
          {{textError}}
        </div>
        <app-review-form-controls
          [activeIdForm]="activeIdForm"
          [isBulkDownload]="isBulkDownload"
          [disabledButtons]="isSaveActive"
          [selectedCount]="getSelectedCount()"
          [showBulkDownload]="documents && documents.length"
          (bulkDownload)="clickBulkDownload()"
          (errorUpload)="uploadFileError($event)"
          (download)="clickDownload()"
          (upload)="clickUpload()">
        </app-review-form-controls>
        <a [href]="download.url" [download]="download.filename" #link></a>
      </div>
    </div>
  </div>
  <div class="sidebar-opener" [class.opened]="isSideBarShown" (click)="isSideBarShown = !isSideBarShown">
    <div class="button">
      <sw-icon-button [icon]="isSideBarShown ? icons.CARET_LEFT : icons.CARET_RIGHT" [color]="colors.WHITE"
        [size]="size.MEDIUM">
      </sw-icon-button>
    </div>
  </div>
  <div class="workarea">
    <div
      *ngIf="getSelectForm() && getSelectForm().submission_type !== 'onlineForm' && getSelectForm().submission_type !== 'pdfForm'">
      <app-upload-review-form-document
        [isSideBarShown]="isSideBarShown"
        [document]="getSelectForm()"
        (rotateImg)="rotateImg($event)"
        [rotatingPicture]="rotatingPicture"
      ></app-upload-review-form-document>
    </div>

    <div *ngIf="getSelectForm() && getSelectForm().submission_type === 'onlineForm'">
      <sw-online-form
        [formId]="getSelectForm().form_id"
        [isViewMode]="true"
        [isMenuShow]="true"
        [isReviewMode]="true"
        (onBack)="onBack($event)"
        (onSaveNext)="onSaveNext($event)"
      ></sw-online-form>
    </div>
    <div *ngIf="getSelectForm() && getSelectForm().submission_type === 'pdfForm'">
      <app-preview-form
        [formId]='getSelectForm().form_id'
        [isReviewMode]="true"
        (onBack)="onBack($event)"
        (onSaveNext)="onSaveNext($event)"
      ></app-preview-form>
    </div>

    <div
      *ngIf="documentTypes.length && documentFamilies.length && getSelectForm() && getSelectForm().submission_type !== 'onlineForm' && getSelectForm().submission_type !== 'pdfForm'">
      <app-upload-review-form-document-settings [documentTypes]="documentTypes" [documentFamilies]="documentFamilies"
        [document]="getSelectForm()" [isSave]="isSaveActive" (updateDocumentSettings)="changeDocumentSettings($event)">
      </app-upload-review-form-document-settings>
    </div>

  </div>

</div>
<div *ngIf="documents && documents.length > 1" class="footer">
  <app-upload-review-form-footer [documents]="extremeDocuments" [disabled]="isBulkDownload"
    (changeForm)="changeForm($event)"></app-upload-review-form-footer>
</div>
<sw-dialog #dialog [action]="isSaveActive ? (isBackAction ? 'Save and Exit' : 'Save') : 'Remove'"
  [title]="isSaveActive ? 'Save Document' : 'Remove Document'" [style]="'center'" (closed)="closeForm($event)"
  [cancelAction]="isBackAction? 'Discard Changes' : 'Cancel'">
  <p *ngIf="!this.isSaveActive">Are you sure you want to remove
    {{ getDocument(removeDocumentId) && getDocument(removeDocumentId).entity_name ?
          getDocument(removeDocumentId).entity_name : 'this document' }}?
  </p>
  <p *ngIf="this.isSaveActive && !this.isBackAction">
    Do you want to save changes to this document?
  </p>
  <p *ngIf="this.isSaveActive && this.isBackAction">
    Are you sure want to exit review form without saving?
  </p>
</sw-dialog>
<div *ngIf="isPopupOpen" class="overlay">
</div>
