@import 'index';

:host {
  position: relative;
  min-height: calc(100vh - 39px);

  .content {
    display: flex;

    &.pdf-form {
      position: relative;

      .workarea {
        position: absolute;
        max-height: calc(100vh - 200px);
        width: calc(100vw - 50px);
        overflow: scroll;
      }

      .sidebar-container {
        z-index: 2;
      }

      .sidebar-opener {
        left: 0;
        transition: ease-in-out 400ms left;
      }

      .sidebar-opener.opened {
        left: 294px;
        transition: ease-in-out 400ms left;
      }
    }
  }

  .sidebar-opener {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 30px;
    height: 44px;
    background: $element-base-color;
    border-radius: 0 3px 3px 0;
    display: flex;

    .button {
      margin: auto;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .sidebar {
    width: 295px;
    height: calc(100vh - 159px);
    padding: 20px 15px 55px;
    border-radius: 3px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      display: none;
    }

    .loading {
      position: relative;
      opacity: 0.7;
    }

    .sidebar-list {
      height: calc(100vh - 460px);
      min-height: 50px;
      overflow-y: auto;
      overflow-x: hidden;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
      }

      //
      //&::-webkit-scrollbar {
      //  display: none;
      //}
    }

    .sidebar-list-bulk-download {
      height: calc(100vh - 445px);
    }

    .spinner {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 30px;
    }

    .sidebar-controls {
      display: flex;
      margin: 0 0 15px;
    }

    .sidebar-search {
      margin: 0 0 10px;
    }

    .sidebar-title {
      color: $gray-color;
      font-size: 12px;
      line-height: 15px;
    }

    .sidebar-filter {
      position: relative;
      width: 53%;
      min-width: 159px;
      padding: 0 10px 0 0;
      border-right: 1px solid $dark-grey;
    }

    .sidebar-sort {
      margin: 0 0 0 10px;
      width: 95px;
      overflow: hidden;

      sw-dropdown-input::ng-deep .dropdown_input_container__input .text {
        font-size: 10px;
        line-height: 9px;
      }
    }

    .sidebar-controls-title {
      position: absolute;
      top: 9px;
      transition: all 0.5s ease 0s;
      font-size: 12px;
      line-height: 15px;
      color: $gray-color;
    }

    .sidebar-controls-title-with-value {
      position: absolute;
      font-size: 10px;
      top: 2px;
    }

    .upload-document-controls-hr {
      border-top: 1px solid $dark-grey;
      margin: 5px 0 30px;
    }
  }

  .select-all-button {
    margin: 0 0 15px;
    &::ng-deep button.small-button .small-button__text {
      font-size: 10px;
    }
  }
}

.workarea {
  position: relative;
  flex-grow: 2;
  overflow: hidden;
}

.footer {
  position: fixed;
  z-index: 3;
  right: 0;
  bottom: 0;
  width: 100%;
}

.sidebar-container {
  background-color: #fff;
  max-width: 0;
  overflow-x: hidden;
  transition: ease-in-out 400ms max-width;
}

.sidebar-container.opened {
  max-width: 294px;
  transition: ease-in-out 400ms max-width;
}
