@import "index";

:host {
  .email {
    @extend %input-field-container;
    &:focus-within {
      border-color: $button-color;
    }
    &__input {
      @extend %input-field-style;
    }
    &__error_icon {
      @extend %input-error-icon;
    }
  }
}

:host(.ng-invalid) {
  .email {
    border: 1px solid $error-color;
    &__error_icon {
      display: block;
    }
  }
}