@import '../../../../../styles/index.scss';

:host {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.customForm {
  border-top: 2px solid $title-color;
  width: 100%;
  padding: 0 30px 30px;
  background-color: $white;
  box-shadow: 0 0 16px -1px rgba(0,0,0,0.1);
  text-align: center;

  @media (max-width: 500px) {
    width: 90%;
  }

  h2 {
    color: $sub-title-color;
    font-size: 21px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 32px;
  }

  h3 {
    color: $title-color;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 0.55px;
    line-height: 17px;
    text-align: center;
    margin: 32px 0;
  }

  .midText {
      span {
        color: $sub-title-color;
        font-size: 12px;
        letter-spacing: 0.09px;
        line-height: 17px;
      }

      span:first-child {
        padding-bottom: 6px;
      }
      span:last-child {
        padding-bottom: 40px;
      }
  }

  .formInput {
    @extend %form-input;

    padding: .25rem .4rem;
  }

  .smallText{
    color: $title-color;
    font-size: 12px;
    line-height: 14px;
    cursor: pointer;
    transition: all .2s ease;
  }
  .smallText:hover {
    color: darken(($title-color), 20%);
  }

  .btnWrapper{
    display: flex;
    margin-top: 40px;

    button{
      @extend %common-btn;
    }

    .outline {
        margin: 0;
        margin-right: 8px;
    }

    .main {
        margin: 0;
        margin-left: 8px;
    }
  }

  .passwordWrapper{
    position: relative;
    margin-top: 20px;
  
    clr-icon {
      position: absolute;
      top: 55%;
      right: 5%;
      cursor: pointer
    }
  }
}

.sectionWrapper {
  position: relative;
  width: 100%;

  .formBlock{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
  }
}

.flex {
  padding-top: 13px;
  display: flex;
  justify-content: space-around;
}