<h1 class="content_section__page_title">
  General Information
</h1>

<!-- Content Nav -->
<div class="content_section__nav">
  <app-content-nav
    [content]="navContent"
    (activeEmitter)="onActive($event)"
  ></app-content-nav>
</div>

<!-- Content -->
<div class="app-of-wrap content_section__main">
  <div>
    <app-general-info-parents
      *ngIf="activeId === 'parents'"
      [form]="form"
    ></app-general-info-parents>
    <app-general-info-students
      *ngIf="activeId === 'students'"
      [form]="form"
    ></app-general-info-students>
  </div>
</div>
