<div class="content_section__container_page_title">
  <h1 class="content_section__page_title">
    General Information
  </h1>

  <!--SubTitle-->
  <h3 class="sub_title">
    ~{{ getTime() }} minutes
  </h3>
</div>

<!-- Content Nav -->
<div class="content_section__nav">
  <app-content-nav
    [content]="sections"
    [parentMenuItemId]="mainMenuNames.generalInfo"
  ></app-content-nav>
</div>

<!-- Content -->
<div class="content_section__main_container">
  <div>
    <ng-container *ngIf="form.fields">
      <ng-container *ngFor="let section of sections; let sectionIndex = index">
          <div 
            class="app-div-animation"
            [ngClass]="{
              'app-div-show': section._id === activeSectionId,
              'app-div-hide': section._id !== activeSectionId
            }">
            <app-general-info-section
              [section]="section"
              [sectionId]="section._id"
            ></app-general-info-section>
          </div>
      </ng-container>
    </ng-container>
  </div>
</div>
