<div class="content_section__container_page_title">
  <h1 class="content_section__page_title">
    General Information
  </h1>

  <!--SubTitle-->
  <h3 class="sub_title">
    <!-- <i class="far fa-clock fa-sm mr-1"></i> -->
    ~{{ getTime() }} minutes
  </h3>
</div>

<!-- Content Nav -->
<div class="content_section__nav">
  <app-content-nav
    [content]="sections"
    (activeEmitter)="onActive($event)"
  ></app-content-nav>
</div>

<!-- Content -->
<div class="content_section__main_container">
  <div>
    <ng-container *ngIf="form.fields">
      <ng-container *ngFor="let section of sections">
          <div 
            class="app-div-animation"
            [ngClass]="{
              'app-div-show': section._id === activeId,
              'app-div-hide': section._id !== activeId
            }">
            <app-general-info-section
              [section]="section"
              [sectionId]="section._id"
            ></app-general-info-section>
          </div>
      </ng-container>
    </ng-container>

    <!-- <app-general-info-parents
        *ngIf="activeId === 'parents'"
        [form]="form"
      ></app-general-info-parents>
      <app-general-info-students
        *ngIf="activeId === 'students'"
        [form]="form"
      ></app-general-info-students> -->
  </div>
</div>
