@import 'index';

.small-button {
  padding: 2px 7px;
  color: #fff;
  background: $element-base-color;
  border-radius: 5px;
  font: 800 10px/13px $nunito-sans-bold;

  &:hover,
  &:focus {
    background: $hover-purple
  }

  &:active {
    opacity: 0.8;
  }

  .small-button__icon {
    font-size: 11px;

    &.small-button__icon--text{
      margin: 0 3px 0 0;
    }
  }
}
