@import 'index';

:host {
  .small-button {
    padding: 2px 7px;
    color: #fff;
    background: $element-base-color;
    border-radius: 5px;
    border: none;
    font: 800 10px/13px $nunito-sans-bold;
    text-transform: capitalize;
    display: flex;
    &:hover,
    &:focus {
      background: $hover-purple
    }
  
    &:active {
      opacity: 0.8;
    }
  
    .small-button__icon {
      font-size: 11px;
  
      &.small-button__icon--text{
        margin-right: 3px;
      }
    }
  }
}

:host(.icon-end) {
  .small-button {
    flex-direction: row-reverse;
    .small-button__icon {
      width: 14px;
      &.small-button__icon--text{
        margin-right: 0;
        margin-left: 3px;
      }
    }
  }
}

:host(.yellow) {
  .small-button {
    background: $status-yellow;
  }
}

:host(.green) {
  .small-button {
    background: $status-green;
  }
}

:host(.gray) {
  .small-button {
    background: $status-gray;
  }
}

:host(.lite-gray) {
  .small-button {
    color: #0C133D;
    background: $status-lite-gray;
  }
}
