@import 'index';

.progress {
  border-radius: 100px;
  height: 4px;
  background: $gray;
}

.progress-bar {
  border-radius: 100px;
  transform: matrix(1, 0, 0, -1, 0, 0);
  background: $element-base-color;
}
