.list-group-item-secondary{
  background-color: #EBEBEB!important;
}
/*#F9F9F9*/
.color-custom-grey{
  background-color:#F9F9F9;
}
.test{
  vertical-align: middle;
  horiz-align: center;
}
.vertical-center {

  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.text_custom{
  color: #BAB8B8;
  font-family:
    "Co Text Corp",
    Roboto,
    Arial,
    "Droid Sans",
    sans-serif;
}
/*.btn:active{*/
  /*background-color: yellow!important;*/
/*}*/
.app-btn-primary {
  background: #3552A7;
  color: white;
}
/*.btn-primary:active{*/
  /*background-color: yellow!important;*/
/*}*/
.btn-primary {
  background: #E0E6FF;
  border-color: white!important;
  color: #4E67B4;
}
label.btn.btn-primary.active{
  background: #FFB915;
  color: #FFFFFF;
}



