<p>List of Users ({{permissions.length || 0}})</p>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>
<button app-click-stop-propagation class="btn btn-primary btn-sm" *ngIf="!showInvite" (click)="showInvite=true">Invite Users</button>
<section *ngIf="showInvite">
    <div class="row">
        <div class="col-sm-6">
            <div><span *ngFor="let user of selectedUsers">{{user.username}} - {{user.role.role_name}} </span></div>
            <input app-click-stop-propagation class="form-control" #searchUsers [(ngModel)]="name" (focus)="filterUsers(searchUsers.value)"
                   (input)="filterUsers(searchUsers.value)">
            <div app-click-stop-propagation *ngFor="let user of filteredUsers" (click)="selectUsers(user)">
                <ul class="list-group">
                    <li class="list-group-item">{{user.username}}, {{user.role.role_name}}</li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <button app-click-stop-propagation class="btn btn-outline-danger btn-sm" (click)="resetSelectedUsers(); showInvite=false">Cancel</button>
            <button app-click-stop-propagation class="btn btn-success btn-sm ml-1" (click)="addUsersToList(); showInvite=false">Add to list</button>
        </div>
    </div>
</section>
<br><br>
<section *ngIf="permissions.length && users">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">User</th>
            <th scope="col">Role</th>
            <th scope="col">View</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">Invite</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of permissions">
            <td>{{getUsername(item.user_id)}}</td>
            <td>{{getRole(item.user_id)}}</td>
            <td><input app-click-stop-propagation type="checkbox" [ngModel]="item.view" (ngModelChange) = "setPermission($event, item.user_id, 'view')"></td>
            <td><input app-click-stop-propagation type="checkbox" [ngModel]="item.edit" (ngModelChange) = "setPermission($event, item.user_id, 'edit')"></td>
            <td><input app-click-stop-propagation type="checkbox" [ngModel]="item.delete" (ngModelChange) = "setPermission($event, item.user_id, 'delete')"></td>
            <td><input app-click-stop-propagation type="checkbox" [ngModel]="item.access" (ngModelChange) = "setPermission($event, item.user_id, 'access')"></td>
            <td>
                <button app-click-stop-propagation class="btn btn-default btn-sm" (click)="deleteUserPermissions(item)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</section>