@import '../../../../../../../../styles/variables/colors';
canvas {
  cursor: crosshair;
  border: 1px solid #000000;
  width: 816px;
  height: 1056px;
}
.canvas-wrap{
  position:relative;
  width: 816px;
  height: 1056px;

}

canvas { position:absolute;
  top:0; left:0;
  z-index:5}
.test-c{
  position:absolute;
  top:0;
  left:0;
  width: 816px;
  height: 1056px;

}
.app-signature {
  background-color: #F6F6F6;
}

.signature-div{
  height: auto;	width: 279px;	border: 1px solid #000000;	border-radius: 3px;
}


.app-btn-signature {
  background: #E0E6FF;
  border-color: white !important;
  color: $element-base-color;
  cursor: pointer;
}

label.btn.app-btn-signature.active {
  background: #FFB915;
  color: #FFFFFF;
}

//.app-btn-signature{
//  border-color: $element-base-color!important;
//}
.div-inside-wrap{
  z-index: 9900;
  margin-top: -20px!important;

  //position: absolute;
}

p {
  height: 100%;
  line-height: 1;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 0;
}

.div-inside-field-name{
  z-index: 9900;
  margin-bottom: -30px!important;

  //position: absolute;
}
.list-group-item{
  cursor: pointer;
  z-index: 9999;
  height: 27px;	width: 238px;
}
.temporary-div, .signature-div{
  z-index: 9999;

}
.div-inside{
  border: 2px solid #000000;
  background-color: white;
  position: absolute;
  z-index: 9900;
  font-size: 0.5rem!important;
}
.div-inside-active{
  background-color: #EBEEFF;
  position: absolute;
  z-index: 9900;
  &:first-of-type {
    z-index: 9999;
  }
}

.div-active-type, .div-inside-active{
  border: 2px solid #4350A2;
}

.dropdown-toggle::after {
  display:none;
}
.fa-pen, .fa-trash{
  //color: $icon-grey-color;
  color: black;

}

.fa-pen:hover{
  //display: block;
}
#layer3 { z-index: 1; }

.app-consent-section {
  background-color: #9FA6CB;
  /*height: 60px;*/
}

.badge-success{
  background-color: #3CA476;
}
a, .fas {
  cursor: pointer;
}

a.active {
  color: #4350A2;
  font-weight: bold;

}

.bold-for-a {
  font-weight: bold;
}

.italic-for-a {
  font-style: italic;
}
.app-consent-table{
  width: 96.3%;

}
a.active{
  color: #4350A2;
  font-weight: bold;

}
.bold-for-a{
  font-weight: bold;
}

.italic-for-a{
  font-style: italic;
}

.m-con{
  margin-left: 68px;
}

.d-u-button{
  background-color: $element-base-color;
  color: white;
}


.do-not-active{
  height: 27px;	width: 238px;
  border-radius: 3px;	background-color: #F6F6F6;	box-shadow: 0 4px 8px 0 rgba(153,162,215,0.22);
}

.temporary-div{
  height: 300px;	width: 280px;	border: 1px solid #F6F6F6;	border-radius: 3px;
}

.div-list-field{
  height: 300px;	width: 280px;	border: 1px solid #F6F6F6;	border-radius: 3px;
  overflow:auto;
}

.row-button{
  width: 280px;
}

/deep/.pagination .page-link{
  color: $element-base-color;
}
/deep/.pagination .page-item.active .page-link{
  background-color: $element-base-color;
  color: white;
}

.overlay{
  background-color: rgba(0,0,0,0.7);
  //z-index: 9999;
  position: absolute
}

.draw-div{
  height: 56px;	width: 600px;	border: 2px solid #F6F6F6;	border-radius: 3px;
  margin-top: -60px!important;

}
.btn-sm{
  font-weight: bold;
  font-size: .7rem;
  vertical-align: middle;
}
.btn-outline-primary {
  color: $element-base-color;
  border-color: $element-base-color

}

.app-btn-outline-primary.active {

    color: #FFFFFF;
    background-color: $element-base-color;
    border: 1px solid $element-base-color;

}

.btn-sm{
  cursor: pointer;
}
