.side-bar-item-font{
  font-size: 12px;	font-weight: bold; line-height: 13px; color: #151515
}

.side-bar-item{
  height: 27px;
  border-radius: 3px;
  background-color: #F6F6F6;
}
.side-bar-item-custom{
  height: 27px;
  border-radius: 3px;
  background-color: #E0F7ED;
}
.app-checkbox-container input:checked ~ .app-checkbox-checkmark {
  background-color:#4050A8;
}
.dragable-i{
  color: #9C9D9D;
  height: 13px;
}

.v-eclipse-padding{
  padding-left: 2px;
}
