<div class="section_header" id="automation-{{automationItem['_id']}}">
  <!-- Name -->
  <div class="section_header__item app-input-fill">
    <input
      id="section-name"
      type="text"
      class="app-input"
      placeholder="Automation Name"
      [value]="automationItem['name']"
      (input)="onChangeAutomationName(automationItem['_id'], $event.target.value)"
    />
    <label class="app-input-label" for="section-name">Automation Name</label>
  </div>

  <!-- Type -->
  <div class="section_header__item app-input-fill">
    <select class="app-input" id="section-type"
      (input)="onChangeAutomationType(automationItem['_id'], $event.target.value)"
    >
      <ng-container *ngFor="let itemType of automation['type_list']">
        <option
          [value]="itemType['id']"
          [selected]="automationItem['type_id'] === itemType['_id']"
        >
          {{ itemType["name"] }}
        </option>
      </ng-container>
    </select>
    <label class="app-input-label" for="section-type">Automation Type</label>
  </div>

  <!-- Created by -->
  <div class="section_header__item app-input-fill">
    <input
      id="section-created"
      type="text"
      class="app-input"
      placeholder="Created by"
      readonly
      [value]="createdBy"
    />
    <label class="app-input-label" for="section-created">Created by</label>
  </div>

  <!-- Lasted Updated by -->
  <div class="section_header__item app-input-fill">
    <input
      id="section-updated"
      type="text"
      class="app-input"
      readonly
      [value]="updatedBy"
    />
    <label class="app-input-label" for="section-updated"
      >Lasted Updated by</label
    >
  </div>

  <!-- Trash -->
  <div
    class="section_header__control_item"
    (click)="removeAutomationItem(automationItem['_id'])"
  >
    <span class="app-fb-section-icon-white">
      <i class="fas fa-trash"></i>
    </span>
  </div>

  <!-- Caret -->
  <div
    class="section_header__control_item section_header__control_item--border_left"
    (click)="switchAutomationItemContent(automationItem['_id'])"
  >
    <span class="app-fb-section-icon-primary">
      <i class="fas {{getStatusContent(automationItem['_id']) ? 'fa-caret-up' : 'fa-caret-down'}}"></i>
    </span>
  </div>
</div>
