<ng-container *ngIf="true">
  <div
    class="form-group app-input-container position-relative date_controls"
    [formGroup]="fg"
  >
    <sw-input-english-datepicker
      [formControlName]="field._id"
      [separator]="getSeparator()"
      [format]="getFormat()"
      [placeholder]="getLabel()"
      [value]="getValue()"
      [ngClass]="{
        online_form: true
      }"
      [isActive]="isActive()"
    ></sw-input-english-datepicker>

    <span
      class="error_icon"
      [ngClass]="{ validation_error: !!validationText }"
      (click)="validationText = ''"
    >
      <i class="fas fa-times fa-xs"> </i>
    </span>

    <span
      class="validation_icon"
      [ngClass]="{
        validation_required: isRequired()
      }"
    >
      <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
