<ng-container *ngIf="true">
  <div
    class="form-group app-input-container position-relative date_controls"
    [formGroup]="fg"
    [ngClass]="{ 'app-input-fill': !field.options.hideLabel }"
  >
    <label *ngIf="!field.options.hideLabel" class="app-input-label">
      {{ field.name | titlecase }}
    </label>

    <sw-input-english-datepicker
      [formControlName]="field._id"
    ></sw-input-english-datepicker>

    <span
      class="error_icon"
      [ngClass]="{ validation_error: !!validationText }"
      (click)="validationText = ''"
    >
      <i class="fas fa-times fa-xs"> </i>
    </span>

    <span
      class="validation_icon"
      [ngClass]="{
        validation_required:
          this.field.options.required && !this.field.options.readonly
      }"
    >
      <i class="fas fa-asterisk fa-xs"></i>
    </span>

    <sw-error-list
      [fg]="fg"
      [field]="field"
      [validationText]="validationText"
    ></sw-error-list>
  </div>
</ng-container>
