/*.fa-plus-circle{*/
/*  background-color: white;*/
/*  color: #4350A2;*/
/*}*/
.circle{
  width:50px;
  height:50px;
  border-radius:25px;
  font-size:40px;
  color:#fff;
  line-height:50px;
  text-align:center;
  background:#4350A2;
  cursor: pointer;
}

.position_wrapper {
  position: relative;
  min-height: 0;
}

.custom-circle-wrapper {
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: -25px;
}
.fields-wrapper{
  z-index: 1;
  position: relative;
}


.dropdown-add-menu{
  height: 319px;	width: 206px;	border-radius: 3px;	background-color: #50597A;
}
.dropdown-toggle::after {
  display:none;
}

.menu-dropdown-header{
  height: 40px;	width: 206px;	border-radius: 5px 5px 0 0;	background-color: #36405F;
}


.menu-dropdown-item{
  height: 27px;	width: 176px;	border-radius: 3px;	background-color: #EBEEFF;	box-shadow: 0 4px 8px 0 rgba(153,162,215,0.22);
  cursor: pointer;

}

.menu-hr{
  background-color: #818AAC;
}
.span-zero-m-t{
  margin-top: 0!important;
}


.dr-menu-item-span{
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}


//.modal-content{
//  height: 212px!important;	width: 623px!important;	border-radius: 8px;	background-color: #FFFFFF;
//}
//.has-error {
//  .form-control { @extend .is-invalid; }
//}
.without-section{
  background-color: red!important;
}
