<!--<div>-->
<!--&lt;!&ndash;  cdkDropList&ndash;&gt;-->
<!--&lt;!&ndash;  id="workPlaceList"&ndash;&gt;-->
<!--&lt;!&ndash;  [cdkDropListData]="fields"&ndash;&gt;-->
<!--&lt;!&ndash;  [cdkDropListConnectedTo]="['ExistingFieldsList', 'CustomFieldsList', '6372c882-3d14-486f-9c1f-52ae8ab928ef']"&ndash;&gt;-->
<!--&lt;!&ndash;  (cdkDropListDropped)="drop($event)">&ndash;&gt;-->
<!--  <ul class="list-group" >-->
<!--    <li class="list-group-item mb-3 py-0" *ngFor="let field of form.fields; " cdkDrag-->
<!--        cdkDragLockAxis="y"-->
<!--        [ngClass]="[!field.isValidName||!field.isValid?'list-group-item-warning':'', field.type==113?'app-list-group-item-info':'']">-->
<!--      <app-v-group-container *ngIf="field.type==113" [inputGroup]="field"-->
<!--                             [customFields]="customFields"></app-v-group-container>-->
<!--      <app-v-field-container *ngIf="field.type!=113&&field.type==114"-->
<!--                             [customFields]="customFields"-->
<!--                             [inputField]="field">-->
<!--&lt;!&ndash;                             (onChange)="onChange($event, field)"&ndash;&gt;-->
<!--&lt;!&ndash;                             (onUniq)="onUniq($event)"&ndash;&gt;-->
<!--&lt;!&ndash;                             (onDelete)="onDelete($event)">&ndash;&gt;-->
<!--      </app-v-field-container>-->
<!--    </li>-->

<!--  </ul>-->
<!--</div>-->
<div class="position_wrapper">

  
<ng-template #contentSection let-modal>
  <div class="row no-gutters align-items-center text-center mt-4">
    <div class="offset-1 col-10 text-center">
      <h4 class=" app-text-extra-bold " id="modal-basic-title">Adding New Section</h4>
    </div>
    <div class="col justify-content-end pr-3">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>
  <div class="modal-body">
      <div class="">
        <div class="text-center font-weight-bold"><span>Please enter section name and select section width</span></div>
      </div>
    <form [formGroup]="sectionAddGroup" (ngSubmit)="addSection(modal)">
      <div class="row mt-2">
        <div class="col  form-group app-input-container"
             [ngClass]="{'app-input-fill': sectionNameId.value}">
          <label for="sectionNameID" class="app-input-label">Section Name</label>
          <input type="text"
                 #sectionNameId
                 formControlName="sectionName"
                 class="app-input form-control"
                 id="sectionNameID"
                 [ngClass]="sectionAddGroup.get('sectionName').touched&&sectionAddGroup.get('sectionName').invalid?'is-invalid':''"
                 placeholder="Form Name">

          <div class="invalid-feedback">
            Section name is required and contain min 3 and max 50 symbols
          </div>
        </div>
        <div class="col form-group app-input-container"
             [ngClass]="{'app-input-fill': sizeID.value}" >
          <label for="sectionSize" class="app-input-label">Section Width</label>
          <select class="app-input form-control"
                  name="sectionSize"
                  #sizeID
                  formControlName="sectionSize"
                  [ngClass]="sectionAddGroup.get('sectionSize').touched&&sectionAddGroup.get('sectionSize').invalid?'is-invalid':''"
                  id="sectionSize">
            <option value=""   disabled [selected]="true">Section Width</option>
            <option *ngFor="let width of size"
                    >{{width}}</option>
          </select>
          <div class="invalid-feedback">
            Section size is required
          </div>
        </div>
      </div>
    <div class="row mt-4">
      <div class="col-2 offset-8">
        <button type="button" class="btn app-btn-outline-primary form-control" (click)="modalClose(modal)">Cancel</button>
      </div>
      <div class="col-2">
        <button type="submit" class="btn app-btn-primary form-control">OK</button>
      </div>
    </div>
    </form>
  </div>
<!--  <div class="modal-footer">-->
<!--    <button type="submit" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>-->
<!--  </div>-->
</ng-template>

<div class=" d-flex  justify-content-end custom-circle-wrapper" ngbDropdown placement="bottom-right" autoClose="outside">
  <div class="circle" id="dropdownBasic1" ngbDropdownToggle>+</div>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-add-menu pt-0 mt-0">
    <div class="row no-gutters align-items-center text-center text-white menu-dropdown-header">
      <div class="col">
        <span class="app-text-extra-bold">Additional Options</span>
      </div>
    </div>
    <div class="pl-0 text-white my-1 col-10 offset-1"><span>Formatting Options</span></div>

    <div class=" pl-1 menu-dropdown-item my-1 col-10 offset-1 align-items-center row no-gutters" (click)="openModal(contentSection)">
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span class=" ml-1 dr-menu-item-span" >New Section</span>
    </div>
    <div class=" pl-1 menu-dropdown-item my-1 col-10 offset-1 align-items-center row no-gutters" appClickStopPropagation placement="left"
         ngbPopover="This feature is under developing"
         popoverTitle="Notice"
    >
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span class=" ml-1 dr-menu-item-span">Divider</span>
    </div>
    <div class=" pl-1 menu-dropdown-item my-1 col-10 offset-1 align-items-center row no-gutters" appClickStopPropagation placement="left"
         ngbPopover="This feature is under developing"
         popoverTitle="Notice">
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span class=" ml-1 dr-menu-item-span">New Group</span>
    </div>
    <hr class="menu-hr">
    <div class="pl-0  text-white my-1 col-10 offset-1 span-zero-m-t"><span>Widgets</span></div>
    <div class=" pl-1 menu-dropdown-item my-1 col-10 offset-1 align-items-center row no-gutters" appClickStopPropagation placement="left"
         ngbPopover="This feature is under developing"
         popoverTitle="Notice">
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span class=" ml-1 dr-menu-item-span">Input Table</span>
    </div>
    <div class=" pl-1 menu-dropdown-item my-1 col-10 offset-1 align-items-center row no-gutters" appClickStopPropagation placement="left"
         ngbPopover="This feature is under developing"
         popoverTitle="Notice">
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span class=" ml-1 dr-menu-item-span">Configurable Matrix</span>
    </div>
    <div class=" pl-1 menu-dropdown-item my-1 col-10 offset-1 align-items-center row no-gutters" appClickStopPropagation placement="left"
         ngbPopover="This feature is under developing"
         popoverTitle="Notice">
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span><i class="fas fa-ellipsis-v app-text-second "></i></span>
      <span class=" ml-1 dr-menu-item-span">Custom Embedded Code</span>
    </div>
  </div>
</div>

<div class="fields-wrapper"  *ngFor="let section of form?.fields;">
  <app-v-section-conteiner *ngIf="section.type==114" [section]="section" [form]="form" [customFields]="customFields"></app-v-section-conteiner>
</div>

</div>