@import 'index';

:host {
  .item {
    display: flex;
    padding: 15px 15px 15px 0;
    margin: 0 0 10px;
    background: #fff;
    border-radius: 3px;

    &:nth-last-of-type(1) {
      margin: 0 0 20px;
    }

    .bubbles {
      display: flex;
      width: 50px;
      padding: 8px 0 0;
    }

    .bubbles-ico {
      margin: 0 auto;
      color: $status-gray;
      font-size: 18px;
    }

    .fields {
      flex-grow: 2;
    }

    .fields-name {
      width: 45%;
      margin: 0 0 10px;
    }

    .fields-text {
      width: 100%;
      margin: 0 0 5px;
    }

    .fields-signatures {
      width: 23%;
    }

    .fields-button {
      display: flex;
      justify-content: flex-end;
    }

    .fields-checkbox-container {
      position: relative;
      margin: 0 0 10px;
    }

    .fields-checkbox {
      position: absolute;
      left: -31px;
      top: 10px;
    }
  }
}


