@import 'index';

:host {
  .button {
    border-radius: 3px;
    background: $button-color;
    outline: none;
    border: none;
    color: #fff;
    padding: 7px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    &--gray {
      padding: 6px 15px;
      background: $background-color;
      color: $button-color;
      border: 1px solid $button-color;
    }

    &--white {
      padding: 6px 15px;
      background: #fff;
      color: $button-color;
      border: 1px solid $button-color;
    }

    &--full {
      width: 100%;
    }

    span {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }
}

:host(.btn-with-icon) {
  .button {
    padding: 3px 3px 3px 20px;
    span {
      margin-right: 3px;
    }
    @extend %icon-for-button;
  }
}

:host(.outline-btn) {
  .button {
    padding: 6px 16px;
    background-color: inherit;
    border: 1px solid $button-color;
    box-sizing: border-box;
    color: $button-color;
  }
}

:host(.icon-btn) {
  .button {
    padding: 3px;
    @extend %icon-for-button;
  }
}

:host(.full) {
  .button {
    width: 100%;
    height: 100%;
  }
}

:host(.rigth) {
  .button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

:host(.input_button) {
  .button {
    white-space: nowrap;
    font-size: 12px;
    line-height: 15px;
    color: $black;
    background: $dark-grey;
    border: 1px solid $soft-gray;
    border-radius: 0;
    margin-left: -1px;
  }
  &.active {
    .button {
      position: relative;
      background-color: $light-yellow;
      border: 1px solid $header-logo-color;
      z-index: 2;
    }
  }
}

:host(.full_width)  {
  width: 100%;
  .button {
    width: 100%;
  }
}

:host(.widget-icon) {
  .button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

:host(.widget-icon.active) {
  .button {
    background-color: #fff;
    border: 1px solid #4350A2;
    color: #4350A2;
  }
}

:host(.small) {
  .button {
    width: 100%;
    padding: 1px 15px;
  }
}

:host(.gray) {
  .button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 3px;
  }
}

:host(.yellow) {
  .button {
    background: #F8BC45;
    border: none;
  }
}

:host(.green) {
  .button {
    background: #3CA476;
    border: none;
  }
}

:host(.icon-green) {
  .button {
    border: 1px solid #3CA476;
    padding: 1px;
  }
}

:host(.icon-gray) {
  .button {
    border: 1px solid #909090;
    padding: 1px;
  }
}

:host {
  button:disabled {
    background: $gray;
    padding: 6px 15px;
    border: 1px solid $icon-gray;
    color: $icon-gray;
  }
}
