<button
  type="button"
  [ngClass]="{
    'button--gray': style === 'gray',
    'button--white': style === 'white',
    'button--green': style === 'green',
    'button--transparent': style === 'transparent',
    'button--transparent-with-border': style === 'transparent-with-border',
    'button--green-with-border': style === 'green-with-border',
    'button--with-border': style === 'with-border',
    'button--full': size === sizeButton.FULL
  }"
  class="button" data-e2e="button"
  [name]="name"
  [value]="value"
  [disabled]="disabled"
>
  <ng-content></ng-content>
</button>
