<form [formGroup]="form">
  <sw-input-text formControlName="short">
    <span class="placeholder">Placeholder</span>
  </sw-input-text>

  <sw-input-toggle formControlName="toggle">
    <span class="input_label">default value</span>
  </sw-input-toggle>

  <sw-input-checkbox formControlName="checkbox">
    <span class="input_label">default value</span>
  </sw-input-checkbox>

  <sw-input-buttons-group formControlName="buttonGroup">
    <sw-button
      class="input_button_group"
      *ngFor="let button of buttons"
      [value]="button.value"
    >
      {{button.label}}
    </sw-button>
<!--    <button class="input_button_group" *ngFor="let button of buttons" [value]="button.value">{{button.label}}</button>-->
  </sw-input-buttons-group>

</form>
