<form [formGroup]="form">
  <sw-input-text formControlName="short">
    <span class="input_label">Placeholder</span>
  </sw-input-text>

  <sw-input-toggle formControlName="toggle">
    <span class="input_label">default value</span>
  </sw-input-toggle>

  <sw-input-checkbox formControlName="checkbox">
    <span class="input_label">default value</span>
  </sw-input-checkbox>

  <sw-input-button-group formControlName="buttonGroup" [options]="buttonsOptions"></sw-input-button-group>

  <sw-input-number formControlName="number">
    <span class="input_label">default value</span>
  </sw-input-number>

  <sw-dropdown-input formControlName="dropdown" [multiple]="true" [options]="dropdownList">
    <span class="input_label">Placeholder</span>
  </sw-dropdown-input>

  <sw-input-phone-number formControlName="phone">
    <span class="input_label">Placeholder</span>
  </sw-input-phone-number>

  <sw-input-email formControlName="email">
    <span class="input_label">Placeholder</span>
  </sw-input-email>

</form>