<section class="loginFormWrapper">
  <section class="formWrapper">
    <form clrForm class="customForm" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate autocomplete="new-password">
      <h2 class="text-center">Login</h2>
      <h5 class="text-center app-text-primary mt-5">Welcome to the ABC School</h5>
      <h6 class="text-center mb-5">Please login for starting</h6>
      <sw-input-text formControlName="username">
        <span class="label">Username</span>
      </sw-input-text>
      <section class="passwordWrapper">
        <sw-input-text formControlName="password">
          <span class="label">Password</span>
    
        </sw-input-text>
        <img [attr.title]="iconText" [attr.src]="iconUrl" (click)="changeField($event)">
      </section>
      <a routerLink="/restore-password" class="smallText">
        Forgot password?
      </a>
      <button [disabled]="!form.valid" type="submit" class="btn app-btn-warning mt-4">
        Log In
      </button>
    </form>
  </section>
</section>
