<form clrForm class="customForm" [formGroup]="form" novalidate>
  <h2>Reset Password</h2>

  <section class="sectionWrapper" [style.min-height]="stage === 0 ? '230px' : '300px'">
      <section [@fadeInOut]="stage === 0 ? 'open' : 'close'" class="formBlock">
        <div class="midText">
            <span>Forgot your password?</span><br>
            <span>Enter your email address below and we'll get you back on track</span>
        </div>

            <app-input-container>
              <span class="label">Email</span>
              <input type="text" placeholder="Email" formControlName="email" class="formInput" autocomplete="off">
            </app-input-container>

            <section class="btnWrapper">
              <a routerLink="/login" class="btn btn-outline outline">Cancel</a>
              <button class="btn btn-secondary main" [disabled]="!form.valid"
                      (click)="stage = 1">
                  Reset password
              </button>
            </section>
      </section>

      <section [@fadeInOut]="stage === 0 ? 'close' : 'open'" class="formBlock">
        <h3>{{form.get('email').value}}</h3>

        <div class="midText">
            <span>If this email address is associated with a login you will<br> receive an email with instructions to reset your password</span>
        </div>

        <div class="flex">
          <span class="smallText">Send it again</span>
          <span class="smallText" (click)="stage = 0">Change email</span>
        </div>

        <section class="btnWrapper">
            <a routerLink="/login" class="btn btn-secondary main">Back to Login</a>
        </section>
      </section>
  </section>
</form>
