<ng-container>
  <label class="file_field" [class.invalid]="formControl.touched && formControl.invalid">
    <input
      type="file"
      class="file_field__input"
      [accept]="field.options?.acceptedFormats?.join(',')"
      (change)="onFileSelected($event)"
    >
    <span class="file_field__label">{{field.name}}</span>
    <span class="file_field__filename">
    {{filename}}
  </span>
    <i class="file_field__icon"></i>
  </label>
  <sw-error-list
    [fg]="fg"
    [field]="field"
    [validationText]="validationText"
  ></sw-error-list>
</ng-container>
