<!--Section Header-->
<app-section-header [sectionName]="documentsForms.formsPDF.sectionName"
  [sectionWidth]="documentsForms.formsPDF.sectionWidth" [isExpand]="isExpand"
  (onChangeSectionName)="changeSectionName($event)" (onChangeSectionWidth)="changeSectionWidth($event)"
  (onToggleExpand)="toggleExpand()"></app-section-header>
<!--End Section Header-->

<!-- Section body -->
<div class="app-div-animation app-div-hide" [ngClass]="{
    'app-div-show': isExpand,
    'app-div-hide': !isExpand
  }">

  <div class="documents-item" *ngFor="let forms of formsPDF">
    <div class="row item-row justify-content-between">
      <div class="document-info align-items-center">
        <div class="document-name">
          <sw-input-text [(ngModel)]="forms.name">
            <span class="placeholder">Form Name</span>
          </sw-input-text>
        </div>

        <div class="lable green" *ngIf="forms.isPerFamily">
          Family
        </div>
        <div class="lable blue" *ngIf="!forms.isPerFamily">
          Student
        </div>
      </div>

      <sw-button class="outline-btn">Add Specific Criteria</sw-button>

    </div>
    <div class="row item-row">
      <sw-input-textarea [(ngModel)]="forms.accompanyingText.data">
        <span class="label">Text</span>
      </sw-input-textarea>
    </div>
    <div class="row item-row form-actions">
      <sw-dropdown-input style="width: 20%; margin-right: 10px;">
        <span class="label">Fillable Form Type</span>
      </sw-dropdown-input>
      <sw-input-text [(ngModel)]="forms.form.formName" style="width: 20%; margin-right: 10px;">
        <span class="placeholder">Fillable Form Name</span>
      </sw-input-text>
      <sw-dropdown-input style="width: 45%; margin-right: 10px;" [(ngModel)]="uploadedForm"
        (ngModelChange)="upladedFileChange(forms)" *ngIf="!forms.isNew; else new" [options]="existingFormsPDF">
        <span class="label">Uploaded Form</span>
      </sw-dropdown-input>
      <ng-template #new>
        <div class="file" style="width: 40%;">
          <div class="input">
            <span class="file-name">{{forms.form?.name}}</span>
            <div class="actions" style="margin-left: auto; width: fit-content;">
              <sw-icon-button style="height: 15px;" (click)="forms.form = null" icon="fa-trash"></sw-icon-button>
            </div>
            <input #uploader type="file" accept=".pdf" (change)="fileChange($event, forms)" hidden />
          </div>
          <sw-button class="full rigth" (click)="uploader.click()">
            Upload
          </sw-button>
        </div>
      </ng-template>
      <sw-input-checkbox [(ngModel)]="forms.publicly">
        <span class="label">Share Publicly</span>
      </sw-input-checkbox>

    </div>
    <app-form-drawing [existingFields]="existingFields" *ngIf="forms?.form && forms?.form?.name"
    [pages]="forms.form.numberOfPages" [formsPDF]="forms"></app-form-drawing>
    <!-- <div class="row justify-content-center">
      <
    </div> -->
  </div>

</div>