<div
  #holder
  (click)="toggle()"
  [class.dropdown-disabled]="disabled"
>
  <ng-content></ng-content>
</div>

<ng-template #list>
  <div
    class="dropdown_items_container"
    data-e2e="dropdown_items_container"
    [class.none-color]="noneColor"
  >
    <div
      class="item" data-e2e="item"
      *ngFor="let item of items; let i = index;"
      swSelectOption
      [option]="item"
      [class.selected]="isSelected(i)"
      (click)="select(i)"
    >
      {{ item }}
    </div>
  </div>
</ng-template>
