@import "./shared/styles/index.scss";

.app-of-background {
  background-color: $background-color;
}

.online_form_container {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: auto;
  padding: 1rem;

  @include media-breakpoint-up(lg) {
    flex-direction: row;
  }

  &__nav {
    width: auto;
    width: -webkit-fill-available;

    @include media-breakpoint-up(lg) {
      padding-right: 1rem;
      width: 32rem;
    }
  }

  .online_form_container__controls {
    background: #fff;
  }

  &__wrapper {
    background-color: transparent;
    position: relative;
    top: 1rem;
    width: auto;
    width: -webkit-fill-available;

    @include media-breakpoint-up(lg) {
      top: -5.5rem;
    }
  }

  &__content {
    background-color: $white;
    border-radius: 0.5rem;
    box-shadow: 0 0.15rem 1rem 0 rgba(0, 0, 0, 0.1);
    padding-top: 1.5rem;

    @include media-breakpoint-up(lg) {
      border-radius: 0.5rem;
    }
  }

  &__control_block {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 2.5rem;
  }
}

.btn {
  font-family: "Nunito Sans", "Helvetica";
  font-weight: 400;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 1.1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.btn-link {
  color: $element-additional-color;

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  &:focus,
  &:hover {
    color: lighten($color: $element-additional-color, $amount: 10);
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $element-additional-color;
  color: $white;

  &:not(:disabled):not(.disabled).active,
  &:not(:disabled):not(.disabled):active,
  &:focus,
  &:hover {
    background-color: lighten($color: $element-additional-color, $amount: 5);
    text-decoration: none;
  }
}
