<div class="justify-content-md-center mb-3 text-center">
  <span class="pt-4 app-step-title">4. ELIGIBLE ACCOUNTS</span>
</div>
<div class="justify-content-md-center mb-3 text-center">
  <h4 class="pt-3 text-center font-weight-bold">Who should be filling out this form?</h4>
</div>
<div [formGroup]="generalInfoForm" class="pl-5">
  <div class="row offset-1 col-10 justify-content-start pl-5">
    <div class="form-group col-4" *ngFor="let item of eligibleAccounts">
      <app-checkbox-field-container>
        <span class="label">{{item.label}}</span>
        <input type="radio"
               formControlName="eligible"
               name="eligible"
               [value]="item.value"
               [id]="item.value">
      </app-checkbox-field-container>
    </div>
  </div>

  <div *ngIf="generalInfoForm.get('eligible').value === 'moreDetailed'" class="row justify-content-center">
    <h4 class="pt-3 font-weight-bold">Coming Soon...</h4>
  </div>

  <div *ngIf="generalInfoForm.get('eligible').value === 'specificGrades'">
    <div class="justify-content-md-center mb-3 text-center">
      <h4 class="pt-3 text-center font-weight-bold">Who should be filling out this form?</h4>
    </div>

    <div class="row justify-content-start px-5 mx-5">
      <div class="form-group col-2" *ngFor="let item of grades">
        <app-checkbox-field-container>
          <span class="label">{{item.label}}</span>
          <input type="checkbox"
                 name="eligible"
                 [id]="item.value">
        </app-checkbox-field-container>
    </div>
  </div>
</div>