.app-eligible-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;

  .app-eligible-item {
    flex-basis: 33%;
    margin-bottom: 2%;
  }

  .app-eligible-grade-item {
    flex-basis: 20%;
    margin-bottom: 2%;
  }

  :last-child {
    flex-grow: 1;
  }
}