<div class="justify-content-md-center mb-3 text-center">
  <span class="pt-4 app-step-title">4. ELIGIBLE ACCOUNTS</span>
</div>
<div class="justify-content-md-center mb-3 text-center">
  <h4 class="pt-3 text-center font-weight-bold">Who should be filling out this form?</h4>
</div>
<div [formGroup]="generalInfoForm" class="pl-5">
  <div class="row offset-1 col-10 justify-content-start pl-5">
    <div class="form-group col-4" *ngFor="let item of eligibleAccounts">
      <app-checkbox-field-container>
        <span class="label">{{item.label}}</span>
        <input type="radio"
               formControlName="eligible"
               name="eligible"
               [value]="item.value"
               [id]="item.value">
      </app-checkbox-field-container>
    </div>
  </div>

  <div *ngIf="generalInfoForm.get('eligible').value === 'moreDetailed'" class="row justify-content-center">
    <h4 class="pt-3 font-weight-bold">Coming Soon...</h4>
  </div>

  <div *ngIf="generalInfoForm.get('eligible').value === 'specificGrades'">
    <div class="justify-content-md-center mb-3 text-center">
      <h4 class="pt-3 text-center font-weight-bold">Who should be filling out this form?</h4>
    </div>

    <div class="row justify-content-center pl-5 ml-5">
      <div class="form-group col-2">
        <label class="app-checkbox-container" for="primary">Primary
          <input type="checkbox" class="form-check-input" id="primary">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
      <div class="form-group col-2 form-check">
        <label class="app-checkbox-container" for="grade1">Grade 1
          <input type="checkbox" class="form-check-input" id="grade1">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
      <div class="form-group col-2">
        <label class="app-checkbox-container" for="grade2">Grade 2
          <input type="checkbox" class="form-check-input" id="grade2">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
      <div class="form-group col-2 form-check">
        <label class="app-checkbox-container" for="grade3">Grade 3
          <input type="checkbox" class="form-check-input" id="grade3">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
      <div class="form-group col-2 form-check">
        <label class="app-checkbox-container" for="grade4">Grade 4
          <input type="checkbox" class="form-check-input" id="grade4">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
    </div>

    <div class="row pl-5 ml-5">
      <div class="form-group col-2 offset-1">
        <label class="app-checkbox-container" for="grade5">Grade 5
          <input type="checkbox" class="form-check-input" id="grade5">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
      <div class="form-group col-2 form-check">
        <label class="app-checkbox-container" for="grade6">Grade 6
          <input type="checkbox" class="form-check-input" id="grade6">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
      <div class="form-group col-2">
        <label class="app-checkbox-container" for="grade7">Grade 7
          <input type="checkbox" class="form-check-input" id="grade7">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
      <div class="form-group col-2 form-check">
        <label class="app-checkbox-container" for="grade8">Grade 8
          <input type="checkbox" class="form-check-input" id="grade8">
          <span class="app-checkbox-checkmark"></span>
        </label>
      </div>
    </div>
  </div>
</div>